<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">

        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPod");
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }
        if(!IsPC()){
            window.location.href='//m.allinmd.cn/html/m/activity/1449026372937/works_details.html';
        }

    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>要求&范例专题页 - 唯医,allinmd</title>
    <meta name="Keywords" content="病例专题，视频专题，骨科示教病例及手术视频选拔赛－要求&范例，骨科专题，学术专题，文献专题，手术汇总，">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="dns-prefetch" href="//comm.allinmd.cn">
    <link rel="dns-prefetch" href="//modules.allinmd.cn">
    <link rel="dns-prefetch" href="//plugins.allinmd.cn">
    <link rel="dns-prefetch" href="//other.allinmd.cn">
    <link rel="dns-prefetch" href="//scene.allinmd.cn">
    <link rel="dns-prefetch" href="//img00.allinmd.cn">
    <link rel="dns-prefetch" href="//img10.allinmd.cn">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <!-- <link href="//comm.allinmd.cn/base.css" rel="stylesheet" type="text/css"/> -->
    <link href="/dest/column/videoPK/works_details.css" rel="stylesheet" type="text/css"/>
    <meta name="data-alcode" content="a1">
    <!--[if lte IE 8]>
    <script src="/js/third-party/html5shiv.js"></script>
    <![endif]-->
</head>

<body data-alcode="114">
<!--#include virtual="/includes/header.jsp"-->
<input type='hidden' id='activityId' />
<div class="video_pk">
    <!--最大的块-->
    <div class="middledasai_qr-code" ><!--二维码-->
        <div class="erweima_nav" style="margin:0;"><img src="//img00.allinmd.cn/column/videoPK/erweima.png" /></div>
    </div>

    <!--新版广告位-->
    <#if adPosition_list??>
        <#list adPosition_list as adPositionList>
            <#if adPositionList_index==0>
                <#assign v_adPositionAttachmentList = adPositionList.adProfileAttachment_list>
                    <#if v_adPositionAttachmentList??>
                        <#list v_adPositionAttachmentList as list>
                            <div class="video_pk_shouye_lunbo" style="background: url(//img99.allinmd.cn/${list.adAttUrl}) no-repeat center;">
                                <div class="video_pk_shouye_center">
                                    <div class="video_pk_shouye_share" id="hr_share" data-alcode-mod='199' data-alcode-item-selector="a"> <span>分享至:</span> <a href="javascript:;" class="share_ico_tsina"><img src="//img00.allinmd.cn/column/videoPK/homepageweibo.png" /></a>
                                        <!--<a href="javascript:;" class="share_weixin"><img src="//img00.allinmd.cn/column/videoPK/homepageweixin.png" /></a>-->
                                        <a href="javascript:;" class="share_ico_tqq"><img src="//img00.allinmd.cn/column/videoPK/homepageqq.png" /></a> <a href="javascript:;" class="share_ico_qzone"><img src="//img00.allinmd.cn/column/videoPK/homepageqqkongjian.png" /></a> </div>
                                </div>
                            </div>
                        </#list>
                    </#if>
            </#if>
        </#list>
    </#if>

    <div class="video_pk_shouye_navhuodongjianjie hide"><!-- 导航和活动简介-->
        <ul class="video_pk_shouye_nav" id="Ev-NavList"  data-alcode-mod='200'>
            <#if (activityMenu??)&&(activityMenu?size>0)>
                <#list activityMenu as MenuList>
                    <#if MenuList_index  ==2>
                        <li class="nav_homgpage"><a href="${MenuList.activityMenuUrl}?activityId=${MenuList.activityId?c}">${MenuList.activityMenuName}</a></li>
                        <#else>
                            <li><a href="${MenuList.activityMenuUrl}?activityId=${MenuList.activityId?c}">${MenuList.activityMenuName}</a></li>
                    </#if>
                </#list>
            </#if>
            <li class="nav_zx myWork"><a href="//www.allinmd.cn/v2/pages/column/videoPK/personal_center.html?activityId=${MenuList.activityId?c}" class="nav_zx_a">我的作品</a></li>
            <li class="nav_bm"><a href="javascript:;">立即报名</a><div></div></li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="zp_main">
        <!-- 详情的内容 -->
        <div class="zp_text"> <#if (cms_news_list??)&&(cms_news_list?size>0)>
            <#list cms_news_list as newsList>
                ${newsList.newsBody}
            </#list>
        </#if>
            <div class="zp_shili" data-alcode-mod='202'>
                <!--示例 -->
                <div class="production_cont_list">
                    <div class="production_cont_list_nav font_yahei">
                        <ul id="ev_tabBtn">
                            <li>
                                <div class="production_cont_nav_li on" data-type="2">视频</div>
                            </li>
                            <li>
                                <div class="production_cont_nav_li" data-type="7">病例</div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="production_cont_main font_yahei">
                        <#if activityDetial??>
                            <#list activityDetial as recommList>

                                <#assign v_id = recommList.id>

                                    <!--推荐视频-->
                                    <#if v_id==2>
                                        <#assign v_VideoList = recommList.recommendVideoList>
                                            <#if v_VideoList??>
                                                <div class="ev_tadCont production" data-type="2"><!-- 视频列表 -->
                                                    <ul>
                                                        <#list v_VideoList as recommendList>
                                                            <li>
                                                                <div class="production_cont_main_l_mr">
                                                                    <div class="production_cont_name"> <a href="${recommendList.pageStoragePath}" target="_blank">${recommendList.videoName}</a> </div>
                                                                    <div class="production_cont_author">
                                                                        <ul>
                                                                            <li>${recommendList.videoAuthor}</li>
                                                                            <li class="pointer"></li>
                                                                            <li>播放：${recommendList.playNum}</li>
                                                                            <li class="pointer"></li>
                                                                            <li>评论数：${recommendList.reviewNum}</li>
                                                                            <li class="time">${recommendList.publishTime}</li>
                                                                            <div class="clear"></div>
                                                                        </ul>
                                                                    </div>
                                                                    <#if (recommendList.videoAbstract??) && (recommendList.videoAbstract?length > 140)>
                                                                        <div class="production_cont_text font_yahei">${recommendList.videoAbstract[0..140]}...</div>
                                                                        <#else>
                                                                            <div class="production_cont_text font_yahei">${recommendList.videoAbstract}</div>
                                                                    </#if>
                                                                </div>
                                                                <div class="production_cont_main_r"> <a href="${recommendList.pageStoragePath}" target="_blank"> <img src="${recommendList.videoLogoUrl}" data-original="${recommendList.videoLogoUrl}" width="225" height="150" style="display: inline;"></a> <div class="v_tj_img_time_bg"></div><div class="v_tj_img_time">${recommendList.playTime}</div></div>
                                                                <div class="clear"></div>
                                                            </li>
                                                        </#list>
                                                    </ul>
                                                </div>

                                            </#if>
                                            <#elseif v_id==7>
                                                <#assign v_caseList = recommList.recommendCaseList>
                                                    <#if v_caseList??>
                                                        <div class="ev_tadCont production" data-type="7" style="display:none;"><!-- 病例列表 -->
                                                            <ul>
                                                                <#list v_caseList as recommendList>
                                                                    <li>
                                                                        <div class="production_cont_main_l_mr">
                                                                            <div class="production_cont_name"> <a href="${recommendList.pageStoragePath}" target="_blank">${recommendList.caseName}</a> </div>
                                                                            <div class="production_cont_author">
                                                                                <ul>
                                                                                    <li>${recommendList.discussion}</li>
                                                                                    <li class="pointer"></li>
                                                                                    <li>阅读：${recommendList.browseNum}</li>
                                                                                    <li class="pointer"></li>
                                                                                    <li>评论数：${recommendList.reviewNum}</li>
                                                                                    <li class="time">${recommendList.publishTime}</li>
                                                                                    <div class="clear"></div>
                                                                                </ul>
                                                                            </div>
                                                                            <#if (recommendList.mainNarrate??)&&(recommendList.mainNarrate?length > 140)>
                                                                                <div class="production_cont_text font_yahei">主诉：${recommendList.mainNarrate[0..140]}...</div>
                                                                                <#else>
                                                                                    <div class="production_cont_text font_yahei">主诉：${recommendList.mainNarrate}</div>
                                                                            </#if>
                                                                        </div>
                                                                        <div class="production_cont_main_r"> <a href="${recommendList.pageStoragePath}" target="_blank"> <img src="${recommendList.reason}" data-original="${recommendList.reason}" width="225" height="150" style="display: inline;"></a> </div>
                                                                        <div class="clear"></div>
                                                                    </li>
                                                                </#list>
                                                            </ul>
                                                        </div>

                                                    </#if>
                                                    <#else>
                                    </#if>
                            </#list>
                        </#if>
                    </div>
                    <!--示例 -->

                </div>
            </div>
        </div>
        <!-- 详情的内容 -->
    </div>
</div>
<!--最大的块-->

<!--#include virtual="/includes/footer.jsp"-->

</body>

<script src='/js/lib/jquery/jquery-1.8.3.js'></script>
<script src='/js/lib/jquery/jquery.json-2.4.js'></script>
<script src='/js/lib/jquery/jquery.cookie.js'></script>
<script src="/dest/column/videoPK/works_details.js"></script>
</html>