@charset "utf-8";
//公共方法模块调用
@import "../../modules/common-modules";

//文库终端页
@import "../../components/classes/_classes_doc";
.al-eBookDetailsHead{
  position:relative;
  height:330px;
  margin-top:20px;
  background-color:#fff;
  border: 1px solid rgba(199, 211, 223, 0.5);
  box-shadow: 2px 2px 4px rgba(215, 222, 229, 0.1), -2px -2px 4px rgba(215, 222, 229, 0.1);
  @include clearfix();
}

.al-eBookShow{
  position:relative;
  width:156px;
  height:220px;
  float:left;
  margin:20px 20px 30px 24px;
  img{
    width:100%;
    height:100%;
    border-radius: 6px;
    box-shadow: 0 7px 15px 0 rgba(2,15,42,0.30);
  }
  b{  //中英图标
    position:absolute;
    width:78px;
    height:78px;
    top:0;
    left:0;
    background:transparent url('//img10.allinmd.cn/v3/terminal/eBookChangeIcon.png') center center no-repeat;
  }
}

.al-eBookShowInfo{
  float:left;
  position:relative;
  height:220px;
  margin:20px 24px 30px 0;
  h5{
    padding-top:10px;
    font-size:24px;
    color:#333;
    line-height:32px;
    font-weight:400;
    max-width:484px;
    word-wrap: break-word;
  }
  p{
    font-size:15px;
    color:#909090;
    margin-top:18px;
  }
  .al-readWholeBookBtn{
    /*&:before{
      content:'';
      display:inline-block;
      width:25px;
      height:25px;
      margin:0 8px -6px 0;
      background:transparent url('//img10.allinmd.cn/v3/terminal/readBrowseIcon.png') center center no-repeat;
    }*/
    position: absolute;
    bottom:0;
    left:0;
    width:120px;
    height:40px;
    background-color:#2899e6;
    color:#fff;
    font-size:15px;
    text-align:center;
    line-height:40px;
    border-radius:20px;
    behavior: url("/js/third-party/pie/pie.htc");
    &:hover{background-color:#52a9e4;}
  }
}


      //简介 目录 评论
.al-eBook_ProductInfo{
  position:absolute;
  width:663px;
  top:270px;
  left:0;
  @include clearfix();
  padding:0 15px 0 30px;
  border-top:1px solid #e4e9ed;
  li{
    float:left;
    height:58px;
    line-height:60px;
    font-size:17px;
    color:#777;
    padding:0 20px;
    margin:0 63px;
    text-align:center;
    &:hover{
      color: #2899e6;
    }
  }
  a{
    &:hover{
      color: #2899e6;
    }
  }
  .active{
    color:#3598db;
    border-bottom:2px solid #3598db;
    a{
      color: #2899e6;

    }
  }
}

    //图书简介
.al-booksIntrBox{
  margin:20px  0;
  background-color:#fff;
  border: 1px solid rgba(199, 211, 223, 0.5);
  box-shadow: 2px 2px 4px rgba(215, 222, 229, 0.1), -2px -2px 4px rgba(215, 222, 229, 0.1);
  figcaption{
    font-weight:400;
    padding:0 24px;
    height:52px;
    line-height:52px;
    border-bottom:1px solid #e4e9ed;
    font-size:18px;
    color:#333;
  }
  .al-booksIntr{  //图书简介
    padding:24px 24px 30px 24px;
    font-size:17px;
    h5{
      font-size:17px;
      color: #222222;
      font-weight:400;
      margin-bottom:15px;
      &:before{
        content:'';
        display:inline-block;
        width:0;
        height:18px;
        border-right:4px solid #2899e6;
        border-radius:10px;
        margin-right:10px;
        margin-bottom:-3px;
      }
    }
    .al-booksIntrText{
      color:#555;
      line-height:32px;
      word-break: break-all;
      margin-bottom:15px;
    }
    .al-tranListBox{
      margin-bottom: 20px;
      line-height: 28px;
      span{
        display: inline-block;
        color: #333333;
        padding-right: 7px;
      }
      p{
        display: inline-block;
        width: 558px;
        vertical-align: top;
        a{
          font-size:17px;
          color: #777777;
          padding-right:12px;
          &:hover{
            color: #2899e6;
          }
        }
      }
    }
    .al-TranslatorCount{
      display: inline-block;
      font-size:17px;
      color:#626F8C;
      cursor: pointer;
      &:hover{
        color: #2899E6;
        .al-checkMoreBtn{
          background:transparent url('//img10.allinmd.cn/v3/eBook/checkMoreHover.png') center center no-repeat;
        }
      }
      .al-checkMoreBtn{
        background:transparent url('//img10.allinmd.cn/v3/eBook/checkMoreBtn.png') center center no-repeat;
        width: 6px;
        height: 12px;
        display: inline-block;
        margin-left: 6px;
        &:hover{
          background:transparent url('//img10.allinmd.cn/v3/eBook/checkMoreHover.png') center center no-repeat;
        }
      }
    }
  }
}
     //目录
.al-bookListInfo{
  margin:20px 0;
  background-color:#fff;
  border: 1px solid rgba(199, 211, 223, 0.5);
  box-shadow: 2px 2px 4px rgba(215, 222, 229, 0.1), -2px -2px 4px rgba(215, 222, 229, 0.1);
  @include clearfix();
  >figcaption{
    padding:0 24px;
    font-size:18px;
    color:#333;
    height:52px;
    line-height:52px;
    border-bottom:1px solid #e4e9ed;
  }
}

.al-bookListItem{
  border-bottom:1px solid #ecf0f2;
  margin:0 24px;
  padding:24px 0;
  @include clearfix();
  .al-bookListNum{    //序号
    float:left;
    color:#909090;
    font-size:17px;
    margin-top:6px;
  }
  .al-bookListContent{
    float:left;
    padding-left:10px;
    font-size:17px;
    max-width:615px;
    h4{
      font-weight: 400;
      color:#333;
      cursor: pointer;
      line-height:28px;
      word-wrap: break-word;
      &:hover{color:#3598db;}
    }
    b{
      padding-left:12px;
      font-weight:400;
    }
  }
  .al-allArticleAndVideoBox{  //全部文章  全部视频
    margin-top:14px;
    .al-allArticle,.al-allVideo{
      font-size:14px;
      color:#777;
      cursor: pointer;
      &:hover{color:#3598db;}
      i{
        padding-left:5px;
        vertical-align: baseline;
      }
    }
    .al-allVideo{padding-left:40px;}
  }
}

//右侧栏 最多浏览、最多评论
.al-eBookResource{
  h6{
    span{
      padding-left:12px;
      font-size:13px;
      font-family:"宋体";
      color:#909090;
      cursor: pointer;
      &:hover{
        color: #2899e6;
      }
    }
    .active{color:#3598db;}
    .al-splitLine{
      display: inline-block;
      height:13px;
      margin:0 -5px -2px 10px;
      border-right:1px solid #DFDFDF;
    }
  }
}




//译者列表弹层：begin
  .al-translatorListPop{
    display:none;
    position:fixed;
    z-index:5;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(10,30,43,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2103043,endColorstr=#B2103043);  /*IE8支持*/
  .al-translatorListContentBox{
    background-color:#fff;
    width:708px;
    height:650px;
    border:1px solid #e4e9ed;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    figcaption{
      i{padding-left:8px;}
      b{
        float: right;
        cursor: pointer;
        width: 13px;
        height: 13px;
        background: url("//img10.allinmd.cn/v3/common/icon/icon_close.png") center center no-repeat;
        margin-top:22px;
      }
    }
  }

    //译者列表：暂无内容
    .al-translatorIntrItemBox{
      position: relative;
      overflow: auto;
    }
    .al-noFansTips{
      position:absolute;
      margin-top:12px;
      border:none;
      border-top:1px solid #e4e9ed;
      width:100%;
    }
}



.al-translatorSelectPart{ //译者弹层：右侧下拉样式
  padding:20px 26px 0 24px;
  position:relative;
  text-align: right;
  span{
    font-size:15px;
    color:#626f8c;
    cursor: pointer;
  }
  b{
    display:inline-block;
    width:10px;
    height:6px;
    background: transparent url("//img10.allinmd.cn/v3/discover/downArrow.png") center center no-repeat;
    margin-bottom:2px;
    margin-left:5px;
    cursor: pointer;
  }
  .al-upArrowIcon{background: transparent url("//img10.allinmd.cn/v3/discover/topArrow.png") center center no-repeat;}
  ul{
    position: absolute;
    right:0;
    z-index:3;
    width:100px;
    padding:6px 0;
    background-color:#fff;
    border: 1px solid #E4E9ED;
    box-shadow: 4px 4px 8px rgba(197, 206, 214, 0.5), -4px -4px 8px rgba(197, 206, 214, 0.5);
    border-radius: 4px;
    behavior: url("/js/third-party/pie/pie.htc");
    margin:13px 0 0 -34px;
    &:before{
      content:'';
      position:absolute;
      top:-8px;
      left:41px;
      width:18px;
      height:9px;
      background:transparent url("//img10.allinmd.cn/v3/discover/discover_topArrow.png") center center no-repeat;

    }
    li{
      display: none;
      text-align:center;
      padding:15px 0;
      color:#555;
      cursor:pointer;
      &:hover{background-color:#F6F9FB;}
    }
    .active{color:#3598db;}
  }
}

.al-translatorIntrItemBox{
  overflow-y: scroll;
  height:560px;
}
.al-translatorIntrItem{   //列表项样式
  padding:0 24px 0 24px;
//  display: table;
  .fellowBtn{
//    display: table-cell;
    display: inline-block;
    width: 88px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
    img{
      width: 88px;
      height: 34px;
      border-radius: 0;
    }
  }
  >a{
    display: inline-block;
    width:54px;
    height:54px;
    vertical-align: middle;
    margin-right: 18px;
  }
  img{
//    display: table-cell;
    display: inline-block;
    width:54px;
    height:54px;
    border-radius:50%;
    behavior: url("/js/third-party/pie/pie.htc");
    margin-bottom: 30px;
    vertical-align: middle;
  }
  .al-translatorInfo{
//    display: table-cell;
    display: inline-block;
    vertical-align: middle;
    border-bottom:1px solid #ecf0f2;
    padding-top:0;
    width:576px;
    .al-translatorInfoContent{
      margin-left:0;
      border-bottom:none;
      padding:32px 0;
      >a{
        color:#333;
        &:hover{color:#3598db;}
      }
      p{
        margin-top:12px;
        font-size:15px;
        color:#555;
        .al-translatorUnit{padding-left:14px;}
      }
    }
  }
}
//译者列表弹层：end



.al-translatorIntrItemBox::-webkit-scrollbar {width:10px;height:10px;}
.al-translatorIntrItemBox::-webkit-scrollbar-track,
.al-translatorIntrItemBox::-webkit-scrollbar-thumb {
  border-radius:50px;
  border: 2px solid transparent;
  behavior: url("/js/third-party/pie/pie.htc");
  position:relative;
}
//::-webkit-scrollbar-track {box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;}  //滚动条轨道
.al-translatorIntrItemBox::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px #DBDBDB inset;
}


//书籍详情页屏蔽社交样式
.al-booksMainPart{
  .al-contentCommentOtherMsg{display: none;}
}

.al-translatorInfo{
  .al-translatorUserText{
    display: inline-block;
    width: 480px;
    vertical-align: middle;
  }
  .fellowBtn{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }
}



.al-ebookDetailBtn{
  .al-collageBtn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border: 1px solid #2899E6;
    border-radius: 100px;
    font-size: 15px;
    color: #2899E6;
    position: absolute;
    bottom: 0;
    left: 140px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    &.active{
      border: 1px solid #B4B4B4;
      color: #AAAAAA;
    }
  }
}
@import "../../components/medplusDownLoad";