@charset "utf-8";
//公共方法模块调用
@import "../../modules/common-modules";
@import "../../components/terminal_SideBar";  //页面右侧栏组件
@import "../../components/_doctorRecommend";   //医师推荐组件
@import "../../components/_shareBoxModule"; //分享按钮盒

.al-followCase{
  .btnBox{
    img{margin-bottom:0;}
  }
}

.al-caseTitle{
  border: 1px solid #E5EBF2;
  background-color: #fff;
  height:78px;
  padding:0 20px;
  margin:20px 0;
  h4{
    font-size:24px;
    line-height:80px;
  }
}

//查看更多
.al-lookMore_comment{
  margin:20px 0;
  background-color:#fff;
  height:52px;
  line-height:52px;
  text-align:center;
  color:#626f8c;
  border:1px solid #DEE6EE;
  cursor:pointer;
  b{  //向下箭头
    display:inline-block;
    width:14px;
    height:7px;
    background:url("//img10.allinmd.cn/v3/terminal/downArrowIcon.png") center center no-repeat;
    vertical-align: middle;
  }
}
