.popups-container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.popups-container .popups-content {
    width: 8.4rem;
    height: 9.86667rem;
    border-radius: 0.10667rem;
    background: url("/static/college/popups-bg.png") no-repeat;
    background-size: 100%;
    position: relative;
    text-align: center;
}

.popups-container .popups-content .popups-header-bg {
    display: inline-block;
    width: 2.13333rem;
    height: 2.13333rem;
    border-radius: 50%;
    background: url("/static/college/popups-header.png") no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0.8rem;
    top: 0.53333rem;
}

.popups-container .popups-content .popups-header-bg::before {
    content: '';
    width: 0.74667rem;
    height: 0.74667rem;
    display: inline-block;
    background: url("/static/college/popups-kingVip.png") no-repeat;
    background-size: 100%;
    position: absolute;
    right: -0.08rem;
    top: -0.08rem;
}

.popups-container .popups-content .popups-header-img {
    display: inline-block;
    width: 1.86667rem;
    height: 1.86667rem;
    border-radius: 50%;
    background: #63afe2;
    position: absolute;
    right: 0.93333rem;
    top: 0.66667rem;
    z-index: 1;
}

.popups-container .popups-content .popups-close {
    display: inline-block;
    width: 0.74667rem;
    height: 0.74667rem;
    position: absolute;
    right: 0;
    top: -1.28rem;
    background: url("/static/college/popups-close.png") no-repeat;
    background-size: 100%;
}

.popups-container .popups-content .popups-item-title {
    margin: 3.54667rem 0 0.61333rem 0;
}

.popups-container .popups-content .popups-item-title p {
    font-size: 0.50667rem;
    height: 0.69333rem;
    line-height: 0.69333rem;
}

.popups-container .popups-content .popups-item-tip p {
    color: #555;
    font-size: 0.37333rem;
    font-weight: 300;
    height: 0.53333rem;
    line-height: 0.53333rem;
}

.popups-container .popups-content .popups-item-page {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 0.8rem;
    height: 1.01333rem;
    line-height: 1.01333rem;
    background: -webkit-gradient(linear, left top, right top, from(#f4e0ab), to(#ecd184));
    background: -webkit-linear-gradient(left, #f4e0ab 0%, #ecd184 100%);
    background: -o-linear-gradient(left, #f4e0ab 0%, #ecd184 100%);
    background: linear-gradient(90deg, #f4e0ab 0%, #ecd184 100%);
    border-radius: 0.50667rem;
    text-align: center;
    margin: 0.8rem auto 0.16rem;
}

.popups-container .popups-content .popups-item-page button {
    font-size: 0.4rem;
    color: #3F3E3A;
}

.popups-container .popups-content .popups-item-page button i {
    display: inline-block;
    font-style: normal;
    width: 0.21333rem;
    height: 0.26667rem;
    background: url("/static/college/popups-right.png") no-repeat;
    background-size: 100%;
    position: relative;
    left: 0.10667rem;
}

.popups-container .popups-content .popups-item-time {
    color: #787878;
    font-size: 0.32rem;
    height: 0.45333rem;
    line-height: 0.45333rem;
}
