<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script type="text/javascript">
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPod");
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }
        if(!IsPC()){
            window.location.href='//m.allinmd.cn';
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"
    />
    <meta name="Keywords" content="vue2 multiple entry" />
    <meta name="Description" content="vue2 multiple entry" />
    <link href="//paas.allinmd.cn/modules/allinmdplayer/css/video-js.css" rel="stylesheet" type="text/css"/>
    <link href="//paas.allinmd.cn/modules/allinmdplayer/css/videojs.allinmd.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="app"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//paas.allinmd.cn/modules/allinmdplayer/video.js"></script>
    <script type="text/javascript" src="//paas.allinmd.cn/modules/allinmdplayer/videojs.allinmd.js"></script>
    <script src="//paas.allinmd.cn/compose/ucr_vu/seed.js"></script>
    <% if (htmlWebpackPlugin.options.isProd) { %>
        <script>
            window.onload = function () {
                var script = document.createElement('script')
                var firstScript = document.getElementsByTagName('script')[0]
                script.type = 'text/javascript'
                script.async = true
                script.src = '/sw-register.js?v=' + Date.now()
                firstScript.parentNode.insertBefore(script, firstScript)
            }

        </script>
    <% } %>
</body>

</html>
