html, body {
    background-color: #fff;
}

.al-errorImg {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4.58667rem;
}

.al-errorImg > img {
    width: 5rem;
    height: 4.76rem;
    vertical-align: top;
}

.al-errorImg .al-errorBackBtn {
    display: inline-block;
    margin-top: 1.06667rem;
    width: 2.66667rem;
    height: 0.8rem;
    font-size: 0.4rem;
    color: #fff;
    background-color: #2899e6;
    border-radius: 6.66667rem;
    line-height: 0.8rem;
    text-align: center;
}
