@charset "UTF-8";
html, body, .al-mainInner {
    background: #fff;
    height: 100%;
    padding-bottom: 0;
}

.al-mainInner {
    /*落地页，申请加入前*/
    /*申请加入成功后*/
    /*认证成功后的提示*/
    /*申请加入按钮*/
}

.al-mainInner .applyInfo {
    position: relative;
    width: 10rem;
    margin: 0 auto;
}

.al-mainInner .applyInfo .applyInfoText_01 {
    margin-top: 0.74667rem;
    background: url("//img50.allinmd.cn/v3/teamApply/bg_01_01.png") no-repeat;
    background-size: 100% 100%;
    height: 2.72rem;
}

.al-mainInner .applyInfo .applyInfoText_02 {
    padding-top: 0.8rem;
    background: url("//img50.allinmd.cn/v3/teamApply/bg_01_02.png") repeat-y;
    background-size: 100% 100%;
}

.al-mainInner .applyInfo .applyInfoText_02 p {
    font-size: 0.53333rem;
    color: #222222;
    text-align: center;
    line-height: 0.8rem;
    padding: 0 1.2rem 0.45333rem 1.2rem;
}

.al-mainInner .applyInfo .applyInfoText_02 p:last-child {
    padding-bottom: 0.90667rem;
}

.al-mainInner .applyInfo .applyInfoText_02 p .infoOne, .al-mainInner .applyInfo .applyInfoText_02 p .infoThree {
    font-size: 0.53333rem;
    color: #5e7fe8;
}

.al-mainInner .applyInfo .applyInfoText_03 {
    background: url("//img50.allinmd.cn/v3/teamApply/bg_01_03.png") no-repeat;
    background-size: 100% 100%;
    width: 10rem;
    height: 4.05333rem;
}

.al-mainInner .applyInfo .applyInfoText_03 .bg_box {
    padding-top: 0.53333rem;
}

.al-mainInner .applyInfo .applyInfoText_03 .bg_box .applyInfoPerson {
    background: rgba(216, 216, 216, 0.25);
    border-radius: 0.08rem;
    width: 8.4rem;
    height: 2.08rem;
    font-size: 0;
    margin-left: 0.8rem;
}

.al-mainInner .applyInfo .applyInfoText_03 .bg_box .applyInfoPerson figure {
    display: inline-block;
    vertical-align: middle;
    margin: 0.42667rem 0.26667rem 0.48rem 0.4rem;
}

.al-mainInner .applyInfo .applyInfoText_03 .bg_box .applyInfoPerson figure img {
    width: 1.17333rem;
    height: 1.17333rem;
    border-radius: 50%;
}

.al-mainInner .applyInfo .applyInfoText_03 .bg_box .applyInfoPerson aside {
    vertical-align: middle;
    display: inline-block;
    width: 6.56rem;
    font-size: 0;
}

.al-mainInner .applyInfo .applyInfoText_03 .bg_box .applyInfoPerson aside p .medInfo, .al-mainInner .applyInfo .applyInfoText_03 .bg_box .applyInfoPerson aside p .comInfo {
    font-size: 0.4rem;
    color: #555555;
}

.al-mainInner .applyInfo .applyInfoText_03 .bg_box .applyInfoPerson aside p .medInfo {
    margin-right: 0.21333rem;
}

.al-mainInner .applyInfo .applyInfoText_03 .bg_box .applyInfoPerson aside .nameInfo {
    font-size: 0.45333rem;
    color: #222222;
    margin-bottom: 0.10667rem;
}

.al-mainInner .alreadyApply {
    position: relative;
    background: url("//img50.allinmd.cn/v3/teamApply/bg_02.png") no-repeat;
    background-size: 100% 100%;
    width: 10rem;
    height: 8rem;
    margin: 0.74667rem auto 0 auto;
}

.al-mainInner .alreadyApply aside {
    width: 9.2rem;
    position: absolute;
    top: 3.36rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
}

.al-mainInner .alreadyApply aside .medAccept {
    position: relative;
    display: inline-block;
    font-size: 0.53333rem;
    color: #222222;
    margin-bottom: 0.98667rem;
}

.al-mainInner .alreadyApply aside .medAccept i {
    display: inline-block;
    background: url("//img50.allinmd.cn/v3/teamApply/conpleteIcon.png") no-repeat;
    background-size: contain;
    width: 0.69333rem;
    height: 0.69333rem;
    vertical-align: middle;
    margin-right: 0.21333rem;
}

.al-mainInner .alreadyApply aside .medAccept span {
    vertical-align: middle;
}

.al-mainInner .alreadyApply aside .medAccept span.highLight {
    color: #5e7fe8;
}

.al-mainInner .alreadyApply aside .medAccept:after {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.02667rem;
    background: rgba(216, 216, 216, 0.4);
    position: absolute;
    top: 1.22667rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.al-mainInner .alreadyApply aside .remindText {
    font-size: 0.42667rem;
    color: #909090;
}

.al-mainInner .authSuccess {
    position: relative;
    background: url("//img50.allinmd.cn/v3/teamApply/bg_03.png") no-repeat;
    background-size: 100% 100%;
    width: 10rem;
    height: 8.64rem;
    margin: 0.74667rem auto 0 auto;
}

.al-mainInner .authSuccess aside {
    width: 9.2rem;
    position: absolute;
    top: 3.36rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-size: 0;
}

.al-mainInner .authSuccess aside .authRemind {
    position: relative;
    display: inline-block;
    font-size: 0.53333rem;
    color: #6483e9;
    margin-bottom: 0.98667rem;
}

.al-mainInner .authSuccess aside .authRemind i {
    display: inline-block;
    background: url("//img50.allinmd.cn/v3/teamApply/conpleteIcon.png") no-repeat;
    background-size: contain;
    width: 0.69333rem;
    height: 0.69333rem;
    vertical-align: middle;
    margin-right: 0.21333rem;
}

.al-mainInner .authSuccess aside .authRemind span {
    vertical-align: middle;
}

.al-mainInner .authSuccess aside .authRemind:after {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.02667rem;
    background: rgba(216, 216, 216, 0.4);
    position: absolute;
    top: 1.22667rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.al-mainInner .authSuccess aside .remindText {
    font-size: 0.42667rem;
    color: #909090;
}

.al-mainInner .applyTeamBtn {
    text-align: center;
    font-size: 0;
    position: fixed;
    bottom: 0.8rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.al-mainInner .applyTeamBtn p {
    display: inline-block;
    background: #5e7fe8;
    box-shadow: 0 -2px 10px 0 rgba(94, 127, 232, 0.09);
    border-radius: 3px;
    width: 9.2rem;
    height: 1.33333rem;
    line-height: 1.33333rem;
    color: #fff;
    font-size: 0.48rem;
    text-align: center;
}
