@charset "UTF-8";
$indexBackgroundColor:#eff4f8;				//首页背景色
$outerBorderColor:#d7dbde;					//模块下边框色
$innerBorderColor:#e4e9ed;					//内容条目底边色
$smallTextColor:#909090;					//淡色文本颜色
$navbarColor:#666666;						//导航条文本色
$contentTitleColor:#222222;					//标题深色
