@charset "UTF-8";
//终端——话题首页
//公共方法模块调用
@import "../../modules/common-modules";
//公共变量引用
@import "../../variables/_allinmdV2-variables";
//样式模块调用
@import "../../components/_iconModule"; //小图标组件
@import "../../components/_buttonModule"; //按钮组件
.al-mainInner {
    overflow-x: visible;
}
@import "../../components/_terminalDoc";
@import "../../components/_terminalContent";
@import "../../components/_terminalFooter";
@import "../../components/_bottomBtns";

.al-terminalContextItem p{
    white-space:pre-wrap;
}
.al-terminalImgBox .al-terminalImg>img{
    max-width:100%;
}
.Ev-videoBcImg{
    width:100%;
}
.icon-terminalComment {
    @extend %icon-terminalComment;
}

.icon-terminalLike {
    @extend %icon-terminalLike;
}
.icon-terminalLiked {
    @extend %icon-terminalLiked;
}
.icon-terminalBack {
    @extend %icon-terminalBack;
}

.icon-terminalJoin {
    @extend %icon-terminalJoin;
}

.icon-terminalCommentNum {
    @extend %icon-terminalCommentNum;
}

.icon-terminallike {
    @extend %icon-terminallike;
}

.icon-terminalCollect {
    @extend %icon-terminalCollect;
}
.icon-simCase{
	@extend %icon-simCase;
}
.icon-fixedTopShare{
	@extend %icon-fixedTopShare;
}
.icon-terminalConfig {
    @extend %icon-terminalConfig;
}

/*.al-vipUser {
    @extend %al-vipUser;
}*/
.icon-terminalFollowed{
	@extend %icon-terminalFollowed;
}

.al-terminalHeader > section {
    padding-bottom: 0;
    border-bottom: 0;
}