/* reset.css */
body,p,h1,h2,h3,h4,h5,h6,dl,dd,ol,ul,form,input,span,textarea,select,blockquote,i{margin:0;font-size:100%; 
font-family:"微软雅黑";}
ul,ol,input,textarea,td,th{padding:0;}
input,button,textarea，select{outline:0;}
li{list-style:none;}
b,em{ font-weight:normal;}
i,strong{ font-style:normal;}
table{border-collapse:collapse;}
a{text-decoration: none;color: black;text-align: center;margin:0px;padding:0px;}
img{border:none;}
textarea{overflow:auto;resize:none;outline:none;}
.clear:after{content:'';display:block; clear:both;}
.clear{zoom:1;}
.cur_hover:hover{cursor:pointer;}
.cur_zoom:hover{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in;}
.iline{display:inline-block;*display:inline;*zoom:1;}
.bsizec{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}/*border和padding不计算入width之内(default)---大*/
.bsizep{-webkit-box-sizing:padding-box;-moz-box-sizing:padding-box;box-sizing:padding-box;}/*padding计算入width内*/
.bsizeb{-moz-box-sizing:border-box;-webkit-box-sizing:content-box;box-sizing:border-box;}/*border和padding计算入width之内*/
.ellipsis{text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
::-moz-selection{background:#5d9cec; color:#FFFFFF;} 
::selection {background:#5d9cec; color:#fff;} 
._fl{float:left;}
._fr{float:right;}
#fMask{position:fixed;top:0px;left:0px;width:100%;height:100%;
background:#000;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;
z-index:10;display:none;}
/* end reset.css */

/*首页*/
.YE_index{padding-top:59.6875%;background: url(/image/column/YE_check/YE_indexBg.jpg) no-repeat #e6f0ed;background-size: 100%;padding-bottom:18.4375%;}
.YE_indexTxt{width:91.5625%;margin:0 auto;font-size:0.9375em;line-height:1.53em;color:#333;text-align: center;}
.YE_index ul a{display: block;}
.YE_index dl{width:94.375%;margin:0 auto;margin-top:0.875em;padding-top:40.9375%;position:relative;}
.YE_index li:nth-child(1) dl{background:url(/image/column/YE_check/YE_index_video.png) no-repeat;background-size: 100%;}
.YE_index li:nth-child(2) dl{background:url(/image/column/YE_check/YE_index_case.png) no-repeat;background-size: 100%;}
.YE_index li:nth-child(3) dl{background:url(/image/column/YE_check/YE_index_doc.png) no-repeat;background-size: 100%;}
.YE_index li:nth-child(4) dl{background:url(/image/column/YE_check/YE_index_hot.png) no-repeat;background-size: 100%;}
.YE_index dt{position:absolute;left:2.1%;top:3.8%;width:12px;height:3.255em;padding:0.62em 0.7em 0 0.958em;font-size:0.75em;line-height:1.38125em;color:#fff;background: url(/image/column/YE_check/YE_index_book.png) no-repeat 0 0;background-size: 2.67em 3.875em;}
.YE_index dd{position: absolute;right:2.1%;bottom:3.3%;}
.YE_index dd img{width:4.375em;height:1.25em;}
.YE_indexBtn{margin-top:0.59375em;}
.YE_indexBtn a{display: block;width:93.75%;margin:0 auto;text-align: center;background: #309bdf;border-radius: 4px;}
.YE_indexBtn a img{width:39.6875%;}

/*年终盘点_病例*/
.YE_caseBan{padding:3.125% 0 44.6875% 0;background: url(/image/column/YE_check/YE_case.jpg) no-repeat;background-size: 100%;}
.YE_caseBan a{padding-left: 3.125%;}
.YE_caseBan a img{width:23.28%;}
.YE_caseTxt{border-bottom: 1px solid #dbdbdb;}
.YE_caseTxt_top img{width:22.34375%;}
.YE_caseTxt_title{padding:2.34375% 3.125% 4.375% 3.125%;}
.YE_caseTxt_title a{font-size:0.9375em;color:#333;line-height: 1em;font-weight: bold;}
.YE_caseTxt_info{width:93.75%;margin:0 auto;}
.YE_caseTxt_info a{display: block;}
.YE_caseTxt_info div{font-size:0.875em;color:#111;line-height:1.07em;text-align:left;margin-bottom:3.125%;float: left;}
.YE_caseTxt_author{background:url(/image/column/YE_check/YE_case_author.png) no-repeat;padding-left:1.64em;height:1.07em;background-size:1.07em;padding-right:1.42857em;}
.YE_caseTxt_address{background:url(/image/column/YE_check/YE_case_address.png) no-repeat;padding-left:1.427em;height:1.07em;background-size:0.857em 1.07em;}
.YE_caseTxt_main{font-size:0.875em;line-height:1.64em;color:#666;padding:0 3.125%;text-align: left;}
.YE_caseTxt_bottom{width:93.75%;margin:0 auto;padding-bottom: 4.53125%;}
.YE_caseTxt_bottom div{float:left;font-size:0.875em;line-height:2.92857em;color:#000;font-style: italic;}
.YE_caseTxt_bottom div:nth-child(1){background:url(/image/column/YE_check/YE_case_pk.png) no-repeat right center;background-size:1.42857em;padding-right:2.5em;margin-right:1.07em;}
.YE_caseTxt_bottom span{color: #969696;}
.YE_caseTxt_bottom2{padding-top:3.125%;padding-bottom:8.5%;}
.YE_caseTxt_bottom2 div{line-height:1.42857em;}
.YE_caseTxt_bottom2 div span{display:block;}
.YE_caseBottom{background:#f8f8f8;padding:3.125% 0 15.3125% 0;text-align: center;}
.YE_caseBottom ul{background:#fff;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;margin-bottom:3.125%;}
.YE_caseBottom li{width:33%;float:left;}
.YE_caseBottom dl{padding:0.9375em 0;}
.YE_caseBottom dl.caseLine{background: url(/image/column/YE_check/YE_case_line.png) no-repeat right 0;background-size:1px 6.0625em; }
.YE_caseBottom dt{padding-bottom: 0.625em;}
.YE_caseBottom dt img{width:40.722%;}
.YE_caseBottom dd{font-size:0.875em;line-height:1em;color:#333;}
.YE_caseBtn{margin:3.125% 0;}
.YE_caseBtn a{display: block;width:93.75%;margin:0 auto;text-align: center;background: #309bdf;border-radius: 4px;}
.YE_caseBtn a img{width:39%;}
.YE_caseShare{width:100%;position:fixed;bottom:0;left:0;}
.YE_caseShare img{width:100%;display: block;}

/*文库*/
.YE_docBan{background: url(/image/column/YE_check/YE_doc.jpg) no-repeat;background-size: 100%;}
.YE_docNav{padding:4.6875% 0;background:#f8f8f8;border-bottom: 1px solid #dbdbdb;}
.YE_docNav ul{width:81.25%;margin:0 auto;border:1px solid #a7020a;border-right:none;}
.YE_docNav li{width:25%;float:left;font-size:0.875em;line-height:2.2em;}
.YE_docNav li a{display:block;text-align:center;background:#fff;color:#96030b;border-right:1px solid #a7020a;}
.YE_docNav li.cur a{background:#a7020a;color:#fff;}
.YE_docTxt_top img{width:16.40625%;}
.YE_docTxt_title a{color:#96030b;font-weight:normal;}
.YE_docTxt_main{padding-bottom:6.25%;border-bottom: 1px solid #dbdbdb;}

/*视频*/

/*头部a*/
.YE_videoBan{width: 100%;height: auto;background: url("/image/column/YE_check/YE_video.jpg") no-repeat;background-size: 100%;padding:3.125% 0 44.6875% 0;}
.YE_videoBan a{padding-left:3.125%;}
.YE_videoBan a img{width: 22.1875%;display: inline-block;}
.YE_videoBan_bot{background-color: #f8f7f8;width: 100%;text-align: center;line-height:1em;padding: 4.6875% 0;border-bottom: 1px solid #dbdbdb;}
.YE_videoBan_bot ul{width:81.25%;margin:0 auto;}
.YE_videoBan_bot li{float:left;width:49%;line-height: 2.2em;font-size: 0.9375em;background-color: #fff;color: #4a498e;font-family: "microsoft yahei";font-weight: bold;border: 1px solid #4a498e;cursor: pointer;}
.YE_videoBan_bot01{border-radius: 2px 0 0 2px;}
.YE_videoBan_bot02{border-radius: 0 2px 2px 0;}
.YE_videoBan_bot .YE_videoBan_botCur{background-color: #4a498e;color: #fff;}
/*主体a*/
.YE_videocon{width: 100%;height: auto;}
.YE_videoTxt{width: 100%;height: auto;padding-bottom: 1.5625em ;border-bottom:1px solid #dbdbdb;}
.YE_videoTxt .YE_videoTxt_top{padding-bottom:0.6875em;}
.YE_videoTxt .YE_videoTxt_top img{width: 22.8125%;}
.YE_videoTxt_title {font-size: 0.9375em;color: #4a498e;line-height: 1em;padding: 0 0 0.97em 3.28125%;}
.YE_videoTxt_title a{color:#48478e;}
.YE_videoTxt_info{width: 93.75%;margin: 0 auto;padding-bottom: 1.25em;}
.YE_videoTxt_info div{font-size: 0.875em;color: #101010;float: left;}
.YE_videoTxt_info .YE_videoTxt_author{background:url(/image/column/YE_check/YE_case_author.png) no-repeat;width: 1.07em;height: 1.07em;margin-right: 0.57em;background-size: 1.07em;}
.YE_videoTxt_info .YE_videoTxt_address{background: url("/image/column/YE_check/YE_case_address.png") no-repeat;width: 0.875em;height: 1.07em;margin: 0 0.57em 0 1em;background-size: 0.857em 1.07em;}
.YE_videoTxt_main{font-size: 0.875em;line-height: 1.64em;color: #666;padding: 0 3.125%;text-align: left;}
/*底部*/
.YE_videoBot{background-color: #f8f8f8;width: 100%;padding: 1.25em 0 7.5em 0;}
.YE_videoBot_ul{background-color: #fff;width: 100%;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
.YE_videoBot_ul li{float: left;}
.YE_videoBot_ul .YE_videoBot_li{width: 33.12%;text-align: center;}
.YE_videoBot_ul .YE_videoBot_01{padding: 1.875em 0 1.375em 0;}
.YE_videoBot_ul .YE_videoBot_text{font-size: 1.75em;font-family: "microsoft yahei";color: #363636;line-height: 1em;padding-bottom: 1.07em;}
.YE_videoBot_ul .YE_videoBot_li img{margin: 0 auto;}
.YE_videoBot_ul .YE_hotBot_04 {width: 2px;}
/*底部按钮a*/
.YE_videoBot_btn{width: 93.75%;margin: 0 auto;background-color: #329bdf;margin-top: 1.25em;border-radius: 4px;}
.YE_videoBot_btn a{display: block;text-align: center;color: #fff;font-family: "microsoft yahei";font-size: 2.25em;line-height: 1em;padding:0.78em 0; }
/*视频end*/


/*热词*/

/*头部a*/
.YE_hotBan{width: 100%;height: auto;background: url("/image/column/YE_check/YE_hotWords.jpg") no-repeat;background-size: 100% 100%;padding:3.125% 0 44.6875% 0;}
.YE_hotBan a{padding-left:3.125%;}
.YE_hotBan a img{width: 22.1875%;display: inline-block;}
/*主体*/
.YE_hotCon{width: 100%;height: auto;}
.YE_hotTxt{width: 100%;height: auto;}
.YE_hotTxt .YE_hotTxt_top{padding:6.25% 0 3.3% 0; }
.YE_hotTxt_top img{display: block;margin: 0 auto;height: auto;}
.YE_hotTxt_top .hot_top01{width:36.7%;}
.YE_hotTxt_top .hot_top02,.YE_hotTxt_top .hot_top03{width:36.9%;}
.YE_hotTxt_top .hot_top04{width:60.6%;}
.YE_hotTxt_top .hot_top05{width:74.2%;}
.YE_hotTxt_top .hot_top06,.YE_hotTxt_top .hot_top10{width:58.4%;}
.YE_hotTxt_top .hot_top07,.YE_hotTxt_top .hot_top09{width:74.1%;}
.YE_hotTxt_top .hot_top08{width:36.6%;}
.YE_hotTxt .YE_hotTxt_middle{font-size:0.875em;font-family: "microsoft yahei";color: #666; padding: 0 3.125% 4.8% 3.125%;line-height: 1.64em;}
.YE_hotTxt_bottom{width: 100%;border-bottom: 1px solid #dbdbdb;}
.YE_hotTxt_bottom .YE_hotTxt_ul{width:91.875%;padding-left: 3.125%; padding-bottom: 3.3%;}
.YE_hotTxt_ul li{font-family: "microsoft yahei";padding-bottom:2%; }
.YE_hotTxt_ul .YE_hotTxt_li01{font-size: 0.8125em;color: #666;line-height: 1.4em;}
.YE_hotTxt_ul .YE_hotTxt_li02 a{font-size: 0.875em;color: #4084c6;background: url("/image/column/YE_check/YE_hotTxt_bg.png") no-repeat right 50%;background-size:0.375em 0.6875em;padding-right: 4.6875%;}



/*底部*/
.YE_hotBot{background-color: #f8f8f8;width: 100%;padding: 1.25em 0 7.5em 0;}
.YE_hotBot_ul{background-color: #fff;width: 100%;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
.YE_hotBot_ul li{float: left;}
.YE_hotBot_ul .YE_hotBot_li{width: 33.12%;text-align: center;}
.YE_hotBot_ul .YE_hotBot_01{ padding:1.875em 0 1.375em 0; }
.YE_hotBot_ul .YE_hotBot_text{font-size: 1.75em;font-family: "microsoft yahei";color: #363636;line-height: 1em;padding-bottom: 1.07em;}
.YE_hotBot_ul .YE_hotBot_li img{margin: 0 auto;}
.YE_hotBot_ul .YE_hotBot_04{width: 2px;padding-top: 0.48em;}
/*底部按钮a*/
.YE_hotBot_btn{width: 93.75%;margin: 0 auto;background-color: #329bdf;margin-top: 1.25em;border-radius: 4px;line-height:5.625em;}
.YE_hotBot_btn a{display: block;text-align: center;color: #fff;font-family: "microsoft yahei";font-size: 1.875em; }



/*从pk 拷来的分享样式 */

.share_popup{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    box-shadow: 7px 3px 10px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #b8b8b8;
    width: 100%;
    background: white;
    height: 50px;
    line-height: 50px;
}
.share_popup #share {
    background: rgba(255, 255, 255, .9);
    text-align: center;
    margin:0 auto;
    display:block;
    width: 23%;
    height: 2.5em;

}

.share_popup #share img {
    width: 100%;
    margin-top: 15px;

}






/*新增分享区域*/
.videoPK_share_pop {
    width: 100%;
    height: 14em;
    background: #efeff4;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    box-shadow: 7px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.vPK_share_cont {
    position: absolute;
    top: 0;
    width: 81.25%;
    z-index: 12;
    left: 0;
    height: 10em;
    border-bottom: 1px solid #e6e9ea;
    background: #fff;
    padding: 0 9.375% 0.5em 9.375%;
}

.vPK_share_list {
    width: 70%;
    height: 10em;
    margin: 0 auto;
}

#videoPK_sharebtn a {
    display: block;
    width:34%;
    margin: 0 auto;
    float: left;
    text-align: center;
}
.share_sina_icon{
    width:80%;
    margin: 0 auto;
}
.share_qzone_icon{
    width:80%;
    margin: 0 auto;
}
.share_sina_icon img {
    width: 100%;
    margin: 0 auto;
}

.share_sina_text {
 /*   font-size: 1.5em;*/
    color: #333;
    margin-top: 0.3em;
    text-align: center;
}

.share_qq_icon img {
    width: 100%;
    margin: 0 auto;
}

.share_qzone_icon img {
    width: 100%;
    margin: 0 auto;
}

#videoPK_sharebtn .share_qq {
    margin: 0 22%;
}

#videoPK_sharebtn .share_qzone {
    float: right;
}

.share_dao {
   /* font-size: 1.75em;*/
    color: #333;
    line-height: 1em;
    text-align: center;
    margin: 1.43em 0 0.7em 0;
}

.share_quxiao {
    background: #868c95;
    border-radius: 3px;
    width: 93.75%;
    line-height: 2.53em;
    border: solid 1px #7a7f89;
    position: absolute;
    bottom: 0.47em;
    left: 3.125%;
   /* font-size: 2.125em;*/
    color: #fff;
    text-align: center;
}

















