@charset "UTF-8";
.al-iconConfig {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_config.png") center center no-repeat;
    margin: 0 5px;
}

.al-iconSuccess {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_success.png") center center no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.al-iconMyCollect {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_collection_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyFollow {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_follow_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyBrowsed {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_browser_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyComment {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_comment_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyDraft {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_draft_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyWebcast {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_video.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyCollect {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_collection_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyFollow {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_follow_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyBrowsed {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_browser_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyComment {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_comment_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyDraft {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_draft_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyWebcast {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_video_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyIndex {
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_index_off.png") center center no-repeat;
}

.al-iconMyContribution {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_contribution_off.png") center center no-repeat;
}

.al-iconMyActive {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_active_off.png") center center no-repeat;
}

.al-iconMyMsg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_msg_off.png") center center no-repeat;
}

.active .al-iconMyIndex {
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_index_on.png") center center no-repeat;
}

.active .al-iconMyContribution {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_contribution_on.png") center center no-repeat;
}

.active .al-iconMyActive {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_active_on.png") center center no-repeat;
}

.active .al-iconMyMsg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_msg_on.png") center center no-repeat;
}

.al-contentAuthor {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_user.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: sub;
    margin-right: 5px;
    margin-top: 0;
}

.al-contentAuthor.authorNoUserId {
    width: 13px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon-book.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-contentWatchedNum {
    display: inline-block;
    width: 18px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_watchNum.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-contentTime {
    content: "";
    display: inline-block;
    width: 14px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_time.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 5px;
}

.al-contentPlace {
    display: inline-block;
    width: 13px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_place.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-mark {
    width: 31px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
}

.al-mark img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.al_imgMark {
    right: 3px;
}

span i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span .al-commentBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_btn_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-shareBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_share_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_off.png") center center no-repeat;
    min-width: 14px;
}

span:hover .al-commentBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_btn_on.png") center center no-repeat;
}

span:hover .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_on.png") center center no-repeat;
}

span:hover .al-shareBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_share_on.png") center center no-repeat;
}

span:hover .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_on.png") center center no-repeat;
}

span:hover .al-contentWatchedNum {
    width: 18px;
    height: 12px;
}

span.active i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span.active .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_active_off.png") center center no-repeat;
}

span.active .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_active_off.png") center center no-repeat;
}

span.active:hover i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span.active:hover .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_active_on.png") center center no-repeat;
}

span.active:hover .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_active_on.png") center center no-repeat;
}

.al-refreshFans {
    display: inline-block;
    width: 18px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_refresh.png") center center no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    vertical-align: middle;
}

.al-commentBtnImg {
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 6px;
}

.al-commentPic {
    width: 16px;
    height: 13px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_pic.png") center center no-repeat;
    margin-right: 10px;
}

.al-commentVideo {
    width: 20px;
    height: 13px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_video.png") center center no-repeat;
}

.al-commentAt {
    width: 14px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_at.png") center center no-repeat;
}

.al-commentQuote {
    width: 20px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_quote.png") center center no-repeat;
}

.al-iconOthersLike {
    width: 17px;
    height: 17px;
    background: transparent url("//img10.allinmd.cn/v3/others/icon_like.png") center center no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-right: 7px;
}

.al-othersLikeOn {
    background: transparent url("//img10.allinmd.cn/v3/others/icon_likeActive.png") center center no-repeat;
}

.al-vipBigUser {
    display: inline-block;
    width: 18px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip.png") center center no-repeat;
    margin-left: 3px;
}

.al-vipNewBigUser {
    width: 35px;
    height: 18px;
}

.al-vipUser {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
    margin-left: 6px;
}

.al-unlikeBtn {
    display: inline-block;
    width: 26px;
    height: 18px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_unlike.png") center center no-repeat;
    margin: 0 15px;
    float: right;
}

.al-unlikeBtn:hover {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/unlikeHover.png") center center no-repeat;
}

.al-contentCommentOtherMsg b {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.al-followBtn {
    width: 98px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.al-mesMainR {
    width: 268px;
    float: right;
    border-radius: 3px;
    behavior: url("/js/third-party/pie/pie.htc");
    border: 1px solid rgba(199, 211, 223, 0.45);
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    position: relative;
}

.al-mesMainR img {
    margin: 36px 0 20px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    behavior: url("/js/third-party/pie/pie.htc");
    display: inline-block;
    position: relative;
}

.al-mesMainR.al-index-mesMainR {
    margin: 0 0 20px;
}

.al-mesMainR.al-index-mesMainR:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.al-mesMainR:hover {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.al-mesMainR .al-mesMainR-userName {
    display: block;
    color: #333;
    margin-bottom: 14px;
    padding-left: 15px;
    font-size: 18px;
}

.al-mesMainR .al-mesMainR-userName:hover {
    color: #2899e6;
}

.al-mesMainR .al-mesMainR-userName i {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
    background-size: 100% 100%;
    margin-left: 6px;
}

.al-mesMainR .al-mesMainR-userTitle,
.al-mesMainR .al-mesMainR-userUnit {
    font-size: 13px;
    color: #909090;
    font-family: "宋体";
    line-height: 18px;
}

.al-mesMainR .al-mesMainR-userUnit {
    padding-bottom: 30px;
}

.al-mesMainR ul {
    background-color: #f9fbfd;
    padding: 8px 0;
    border-top: 1px solid #ECF0F2;
}

.al-mesMainR ul:after {
    content: '';
    display: table;
    clear: both;
}

.al-mesMainR li {
    display: inline-block;
    position: relative;
}

.al-mesMainR li span {
    display: inline-block;
    font-size: 20px;
    color: #626F8C;
    font-family: Arial;
    margin-bottom: 8px;
}

.al-mesMainR li a {
    font-size: 14px;
    display: block;
    color: #626F8C;
    padding: 10px;
}

.al-mesMainR li a:hover {
    color: #2899e6;
}

.al-mesMainR li a.al-indexPersonal {
    margin-top: 0;
}

.al-mesMainR .al-mesMain-ul_Notice {
    padding: 0 12px;
    margin: 0 12px;
    position: relative;
}

.al-mesMainR .al-mesMain-ul_Notice:before {
    content: '';
    position: absolute;
    width: 0;
    height: 24px;
    border-right: 1px solid #dfdfdf;
    left: 0;
    top: 12px;
}

.al-mesMainR .al-mesMain-ul_Notice:after {
    content: '';
    position: absolute;
    width: 0;
    height: 24px;
    border-right: 1px solid #dfdfdf;
    right: 0;
    top: 12px;
}

.al-mesMainR .al-followBtn,
.al-mesMainR .al-followedBtn,
.al-mesMainR .al-doubleFollowBtn {
    float: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.al-mesMainR .al-hrLine {
    margin: 0 2px;
}

.al-shareBox {
    max-width: 267px;
    cursor: auto;
    height: 90px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e4e9ed;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    margin-left: -160px;
    margin-top: 16px;
    -webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px -2px 8px rgba(0, 0, 0, 0.14);
            box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px -2px 8px rgba(0, 0, 0, 0.14);
    behavior: url("/js/third-party/pie/pie.htc");
}

.al-shareBox:before {
    content: "";
    height: 0;
    width: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid #fff;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    position: absolute;
    right: 72px;
    top: -14px;
}

.al-shareBox .al-shareListItem {
    display: inline-block;
    margin: 20px 0;
    cursor: pointer;
}

.al-shareBox .al-shareListItem img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

.al-shareBox .al-shareListItem figcaption {
    margin-top: 10px;
    font-size: 12px;
    font-family: "宋体";
    color: #777;
    white-space: nowrap;
}

.al-shareBox .al-weixinErweiCodeBox {
    background: transparent url("//img10.allinmd.cn/v3/friends/weixin_boxbg.png") center center no-repeat;
    width: 268px;
    height: 232px;
    padding: 25px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    -webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px 4px 8px rgba(0, 0, 0, 0.14);
            box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px 4px 8px rgba(0, 0, 0, 0.14);
    margin-top: -15px;
    margin-left: -1px;
}

.al-shareBox .al-weixinErweiCodeBox > span {
    display: inline-block;
    font-size: 14px;
    color: #909090;
    margin-left: 2px !important;
    margin-bottom: 12px;
    margin-top: 5px;
    line-height: 1;
}

.al-shareBox .al-weixinErweiCodeBox > img {
    width: 150px;
    height: 150px;
    vertical-align: top;
}

.al-onlyFriendCircle {
    display: none !important;
    margin-left: -18px;
}

.al-onlyFriendCircle:before {
    right: 30px;
}

.al-onlyFriendCircle .al-shareListItem {
    margin-right: 8px;
}

.meetingListCont li {
    padding: 30px 24px 26px;
    border-bottom: 1px solid #E4E9ED;
}

.meetingListCont li:hover {
    background: #F6F9FB;
}

.meetingListCont li a {
    font-size: 18px;
    color: #333333;
    line-height: 18px;
    line-height: 21px\9;
    margin-bottom: 24px;
    display: inline-block;
}

.meetingListCont li a span {
    background: #626F8C;
    border-radius: 2px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    vertical-align: bottom;
    margin-right: 10px;
    padding: 0 6px;
}

.meetingListCont li article {
    font-size: 13px;
    color: #909090;
    line-height: 14px;
}

.meetingTime {
    margin-right: 30px;
}

.meetingTime:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("//img10.allinmd.cn/common/icon/png/icon_calander.png") no-repeat;
    vertical-align: top;
    margin-right: 6px;
}

.meetingAddress:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("//img10.allinmd.cn/common/icon/png/icon_location.png") no-repeat;
    vertical-align: top;
    margin-right: 6px;
}

.meetingLiving {
    float: right;
    background: #F34B4B;
    border-radius: 2px;
    width: 60px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -40px;
}

.meetingLiving i {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-right: 4px;
    min-width: auto;
}

.results {
    font-size: 14px;
    color: #808080;
    line-height: 14px;
    margin-top: 20px;
    padding-left: 24px;
}

.meetingListMore {
    width: 1000px;
    margin: 0 auto;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.3), 0 0 2px 0 rgba(199, 211, 223, 0.5);
            box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.3), 0 0 2px 0 rgba(199, 211, 223, 0.5);
    font-size: 16px;
    color: #626F8C;
    text-align: center;
    height: 52px;
    line-height: 52px;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.meetingListMore i {
    display: inline-block;
    width: 14px;
    height: 7px;
    background: url("//img10.allinmd.cn/common/icon/png/icon_arrow_more.png") no-repeat;
    vertical-align: middle;
    margin-left: 7px;
}

.screenNone {
    text-align: center;
    padding: 100px 0 134px;
}

.meetingFellow {
    width: 1000px;
    margin: 0 auto;
}

.meetingFellow .title {
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.5), 0 0 2px 0 #C7D3DF;
            box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.5), 0 0 2px 0 #C7D3DF;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    color: #333333;
    padding-left: 24px;
    margin-top: 20px;
}

.meetingFellow .meetingFellowList {
    background: #FFFFFF;
    margin-top: 20px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.5), 0 0 2px 0 #C7D3DF;
            box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.5), 0 0 2px 0 #C7D3DF;
}

.meetingFellow .meetingFellowList .titleTab {
    height: 51px;
    line-height: 51px;
    background: #F9FBFD;
    font-size: 17px;
    color: #AAAAAA;
    border-bottom: solid 1px #E8EDF0;
}

.meetingFellow .meetingFellowList .titleTab:after {
    content: '';
    display: table;
    clear: both;
}

.meetingFellow .meetingFellowList .titleTab p {
    float: left;
    width: 189px;
    text-align: center;
}

.meetingFellow .meetingFellowList .titleTab p.active {
    font-size: 18px;
    color: #3598DB;
    background: #fff;
    border-bottom: #fff solid 1px;
    border-top: solid 2px #3598DB;
}

.meetingFellow .meetingFellowList .titleTab .firstTab {
    border-right: solid 1px #E8EDF0;
}

.meetingFellow .meetingFellowList li {
    padding: 30px 24px 24px;
    border-bottom: 1px solid #E4E9ED;
}

.meetingFellowNone {
    padding: 220px 0 219px;
    text-align: center;
}

.meetingListCont li a {
    height: 18px;
    height: 21px\9;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
