@charset "utf-8";
/* CSS Document */

.video_pk .video_pk_shouye_huodong{
	background:#f5f5fa;	
}

.video_pk .xq_main{
	background:#efeff4;	
	
}
.video_pk_shouye_navhuodongjianjie{
	margin:0 auto;
    background:#ffffff;
	position:relative;
}
.video_pk  .xq_text{
	margin:0 auto;
	width:1000px;
}
.video_pk .xq_text .hd_zhuzhi{
	padding-top:180px;	
	background:url(//img00.allinmd.cn/column/videoPK/hd_zhuzhi.png) no-repeat 416px 70px;	
}
.video_pk .xq_text .hd_zhuzhi div{
	font-family:microsoft yahei;
	font-size:16px;
	line-height:31px; 
	color:#333;	
    text-indent:2em;
}
.video_pk .hd_zhuzhi_zi{
	padding-bottom:32px;		
}
.video_pk .zige{
	 background:url(//img00.allinmd.cn/column/videoPK/cansai.png) no-repeat 416px 60px ;
	 padding:175px 0px 32px 0px;	 
}
.video_pk .zige_top{
	 background:url(//img00.allinmd.cn/column/videoPK/dajiang_biankuang.png) repeat-x top;
	 height:7px;		
}
.video_pk .zige ul{
	color:#333;
	font-family:microsoft yahei;
	font-size:16px;
	line-height:31px;
}
.video_pk .sai_zhishuoming{
	padding-top:176px; 
	background:url(//img00.allinmd.cn/column/videoPK/saiz_shuoming.png) no-repeat 416px 60px;
}
.video_pk  .sm_left{
	padding-right:76px;		
}
.video_pk  .vd_one{
	color: #0b83e0;
	font-family:microsoft yahei;
	font-size:18px;
	line-height:31px;
}
.video_pk .sm_left_main{
	padding-bottom:34px; 

}
.video_pk .sm_left_bottom{
	padding-bottom:0px; 
}
.video_pk .vd_wenzi{
	color:#333333;
	font-family:microsoft yahei;
	font-size:16px;
	line-height:31px;

}
.video_pk  .vd_zuizhongwenzi{
	line-height:33px;
	color:#333333;
	font-family:microsoft yahei;
	font-size:15px;
}
.video_pk  .vd_pingwei{
	clear:both;
	padding-top:169px;
	background:url(//img00.allinmd.cn/column/videoPK/zhujia_pinwei.png) no-repeat 416px 60px;
}
.vd_pingwei .pw_top li{
	float:left;
	font-family:microsoft yahei;
	font-size:16px;
	text-align:center;
	width:121px;	
	line-height:50px;
	background:#f6f7f9;
	border:1px solid #e1e3e4;
	border-right:0px;
}
.vd_pingwei .pw_top li div{	
	color:#627288;
	border:1px solid #ffffff;
	width:119px;
	display:block;
}
.vd_pingwei .pw_top .active{
	border-bottom:1px solid #ffffff;
}
.vd_pingwei .pw_top .hover{
	background:url(//img00.allinmd.cn/column/videoPK/nav_hover.png) no-repeat;
	border-bottom:1px solid #ffffff;
	
}
.vd_pingwei .pw_top .hover div{
	border-top:none;
}
.vd_pingwei .pw_top .ts{
	width:143px;
	border-right:1px solid #e1e3e4;
}
.vd_pingwei .pw_top .ts a{
	width:142px;
	border-left:0px;
}
.vd_pingwei .ev_tadCont_shuang{ /*双排表格*/
	border:1px solid #e1e3e4;
	font-family:microsoft yahei;
	font-size:15px;		
	border-top:none;	
	color:#333333;
}
.vd_pingwei .ev_tadCont_shuang .td_bs{
	background:#fff; 
}
.vd_pingwei .ev_tadCont a{
	color:#333333;
}
.ev_tadCont .ev_tadCont_shuang .td_left_name{
	padding-left:33px;	
	width:85px;
}
.ev_tadCont .ev_tadCont_shuang .td_right_name{
	padding-left:33px;	
	border-left:16px solid #ffffff;	
}
.ev_tadCont .ev_tadCont_shuang .td_left_zhicheng{
	text-align:center;
	padding:10px 0;
}
.vd_pingwei .ev_tadCont_shuang tr {
	height:46px;
	background:#f6f7f9;		
}
.vd_pingwei .ev_tadCont_shuang tr .td_ts{
	font-size:16px;	
	padding-left:33px;	
	color:#333333;
}
.vd_pingwei .ev_tadCont_dan{   /*单排*/
	width:999px; 
	border:1px solid #e1e3e4;
	font-family:microsoft yahei;
	font-size:15px;	
	border-top:0px;	
	color:#333333;
}
.vd_pingwei .td_dan_name{	
	padding-left:48px;
}
.vd_pingwei .ev_tadCont_dan tr {
	height:46px;
	background:#f6f7f9;		
}
.vd_pingwei .ev_tadCont_dan tr .td_ts{
	font-size:16px;		
	padding-left:48px;
	color:#333333;
}
.vd_pingwei .ev_tadCont_dan .td_bs{
	background:#fff; 
}

.video_pk .vd_banquan{
	clear:both;
	padding-top:169px;
	background:url(//img00.allinmd.cn/column/videoPK/banquan.png) no-repeat 371px 60px;
	padding-bottom:22px;	
}
.video_pk .vd_hd_top{
	font-family:microsoft yahei;
	font-size:16px;
	line-height:31px; 
    text-indent:2em;
    padding-bottom:31px;
    color:#333333;	
}
.video_pk  .vd_hd_footer{
	text-indent:0em;	
}











