.gr_center_con{ width: 100%; height: auto; background: #efeff4; font-family:Microsoft Yahei; padding:38px 0 50px;}
.gr_center_main{ width:998px; margin: 0 auto; border: 1px solid #eee;box-shadow: 0 0 2px #dddde2; background: #fff;}
.gr_center_main .gr_top{ width: 100%; height: auto; line-height: 58px; border-bottom: 1px solid #e1e3e4; }
.gr_top h2{ font-size: 18px; font-weight: normal;margin-left: 29px; }
.gr_down_list{padding:0 29px;}
.gr_list{ width: 100%; height: auto; border-bottom: 1px solid #e2e2e7; padding: 29px 0;}
.gr_list .gr_list_l{ width: 229px; height: 154px;position: relative; float: left;}
.gr_list .gr_list_l a{ position:absolute; height:100%; width:100%; display:block;}
.gr_list .gr_list_l img.tu{width: 225px; height: 150px; border:1px solid #e2e2e7; padding: 1px; float: left; }
.gr_list .gr_list_l .hm{ width: 55px; height:20px;font-size: 12px; text-align: center; background:#000; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; position: absolute; left:2px; bottom:2px;z-index: 1;}
.gr_list .gr_list_l .tu_time{ width: 55px; line-height: 20px; font-size: 12px; text-align: center;position: absolute; left:2px; bottom:2px;z-index: 2; color: #fff;}
.gr_list_r{ width:695px; float: right; height: 154px;position: relative;}
.gr_list_r h3{color: #333;font-size: 16px;line-height: 16px; font-weight: normal;}
.gr_list_r h3 a{ color:#333; text-decoration:none;}
.gr_list_r h3 a:hover{ text-decoration:none;}
.fubiao{ width: 100%; height: auto; overflow: hidden;}
.gr_fb{ width: 100%;padding: 15px 15px 15px 0;/*overflow: hidden;*/ }
.gr_fb ul{ width: 100%;}
.gr_fb ul li{ color: #909090;float: left;font-size: 13px;line-height:20px;margin: 0 20px 0 0 !important;padding: 0 ;}
.gr_fb ul .gr_pointer {background:url('//img00.allinmd.cn/column/videoPK/pointer.png') no-repeat scroll left center;height:18px;width: 5px;}
.gr_fb ul .gr_time{ float: right;}
.fenxiang{ width:100%;float: left; margin: 0 20px 0 0;padding: 0; }
.fenxiang a{ display: inline-block; width: 20px; height: 15px; margin: 0 3px; }
.fenxiang span{font-size: 13px; display: inline-block;}
.gr_fb ul .new_li{ width: 210px; float: left; }
.gr_list_r .gr_con_p{ font-size: 13px; line-height: 24px; color: #909090; width: 100%;height:48px;overflow: hidden; }
.zp_state{margin-top: 13px; background: url(//img00.allinmd.cn/column/videoPK/zt_cg.png) no-repeat 0 center; font-size: 13px; color: #909090; line-height: 20px; padding-left: 23px;position:relative;}
.zp_state_d{ background:url('//img00.allinmd.cn/column/videoPK/zt_ds.png') no-repeat 0 center;}
.zp_state_sb{ background:url('//img00.allinmd.cn/column/videoPK/zt_sb.png') no-repeat 0 center;}
.gr_list_r .refusal_rea{ display: inline-block; margin-left: 14px; }
.gr_list_r .upload_again{ width: 93px; height: 27px; background: url('//img00.allinmd.cn/column/videoPK/zcsc.png') no-repeat; display: inline-block; text-align: center; line-height: 26px; font-size: 13px; position: absolute; right:0; /*bottom:12px;*/ color: #fff;}
.gr_list_r .upload_again:hover{ text-decoration: none; }


/*��������--��ʾҳ*/
.gr_center_con_ts{ border: 0; background: none;box-shadow:none;}
.gr_cen_ts{ height: 370px;/* border: 1px solid #e2e2e7;*/border: 1px solid #eee;box-shadow: 0 0 2px #dddde2; margin-bottom: 40px; background: #fff; }
.gr_cen_ts .mark_words{ width:200px;height: auto; margin:135px auto 20px; background: url('//img00.allinmd.cn/column/videoPK/kl.png') no-repeat 3px center; line-height: 28px; font-size: 20px; font-weight: normal; padding-left:40px; color: #909090; }
.gr_btn{ width: 242px; height: 53px; margin: 0 auto;}
.gr_upload{display: inline-block; width: 100%; background: url('//img00.allinmd.cn/column/videoPK/gr_upl01.png') no-repeat; height: 53px;}
.gr_cen_ts .mark_words_dl{ text-align: center;  background: url('//img00.allinmd.cn/column/videoPK/kl.png') no-repeat 36px center;padding-left: 43px;width: 205px;}
.gr_upload_dl{background: url('//img00.allinmd.cn/column/videoPK/gr_upl02.png') no-repeat; height: 53px;}

/*��ѡ��Ʒҳ*/
.elec_work_con{ border: 0; overflow: hidden; width: 1000px; box-shadow: none; background: none; position: relative;}
.elec_work_con .elec_list{ width: 202px; height: auto; float: left; }
.elec_l_t{ border: 1px solid #eee;box-shadow: 0 0 2px #e5e5e9; background: #fff; margin-bottom: 20px; }
.elec_l_t dl{ width: 100%; height: auto; }
.elec_l_t dl dt{padding-left: 28px; line-height: 47px; font-size: 18px; font-weight: normal; color: #333; border-bottom: 1px solid #ebedee;}
.elec_l_t dl dd{width: 100%;}
.elec_l_t dl dd:hover{background: #73859e ;}
.elec_l_t dl dd.l_t_cur{background: #73859e ;}
.elec_l_t dl dd a{line-height: 47px; font-size: 16px; color: #7f8fa5; border-bottom: 1px solid #ebedee; display: block; }
.elec_l_t dl dd a:hover{ text-decoration: none; }
.elec_l_t dl dd .common_sp{ background: url('//img00.allinmd.cn/column/videoPK/list_iconsp.png') no-repeat 28px center;padding-left: 63px;}
.elec_l_t dl dd.l_t_cur .common_sp{background:url('//img00.allinmd.cn/column/videoPK/list_iconsp_h.png') no-repeat 28px center;padding-left: 63px; color: #fff;}
.elec_l_t dl dd.l_t_cur .common_bl{ background:url('//img00.allinmd.cn/column/videoPK/list_iconbl_h.png') no-repeat 28px center;padding-left: 63px; color: #fff;}
.elec_l_t dl dd .common_sp:hover{background:url('//img00.allinmd.cn/column/videoPK/list_iconsp_h.png') no-repeat 28px center;padding-left: 63px; color: #fff; }
.elec_l_t dl dd .common_bl:hover{ background:url('//img00.allinmd.cn/column/videoPK/list_iconbl_h.png') no-repeat 28px center;padding-left: 63px; color: #fff; }
.elec_l_t dl dd .common_bl{background: url('//img00.allinmd.cn/column/videoPK/list_iconbl.png') no-repeat 28px center;padding-left: 63px;}
.elec_l_d{ border: 1px solid #eee;box-shadow: 0 0 2px #e5e5e9; background: #fff;  }
.elec_l_d dl{ height: auto; width: 100%; }
.elec_l_d dl dt{padding-left: 28px; line-height: 47px; font-size: 18px; font-weight: normal; color: #333; border-bottom: 1px solid #ebedee;}
.elec_l_t dl dd{width: 100%;}
.elec_l_d dl dd a{line-height: 47px; font-size: 16px; color: #7f8fa5; border-bottom: 1px solid #ebedee; display: block; padding-left: 28px;}
.elec_l_d dl dd a:hover{ text-decoration: none; background: #73859e; color: #fff; }
.elec_l_d dl dd a.zhuanye_cur{ background: #73859e; color: #fff;}

.elec_main{ width: 778px; float: right;}
.elec_con{border: 1px solid #eee;box-shadow: 0 0 2px #e5e5e9; background: #fff;margin-bottom:29px;}
.elec_main_nav{ border-top: 1px solid #e1e3e4;overflow: hidden; background: #f6f7f9;}
.elec_main_nav ul{ width: 100%;overflow: hidden; }
.elec_main_nav ul li{ width:121px;height: 50px; border-right: 1px solid #e1e3e4; float: left; border-bottom: 1px solid #e1e3e4; }
.elec_main_nav a{ float: left; background: #f6f7f9; width: 119px; text-align: center; border:1px solid #fff; line-height: 48px; color: #333; font-size: 16px; font-weight: normal;}
.elec_main_nav a:hover{ text-decoration: none;}
.elec_main_nav a.ele_main_nav_cur{ text-decoration: none; background: #fff; border-top: 2px solid #3d9eeb; color: #3d9eeb; border-bottom: 0; height: 50px;}
.elec_main_nav .li_last{ width: 410px; border-right: 0; }
.elec_main_nav .li_last a{ width: auto;height: 48px; }
/**/
.elec_main_con{ width: 100%; }
.elec_main_con .gr_down_list{padding:0 29px;}
.elec_main_con .gr_list{ width: 100%; height: auto;padding: 29px 0; overflow: hidden; border-bottom: 0; }
.elec_main_con .gr_list .gr_list_l{ width: 229px; height: 154px;position: relative; float: right;}
.elec_main_con .gr_list .gr_list_l img.tu{width: 225px; height: 150px; border:1px solid #e2e2e7; padding: 1px; float: left; }
.elec_main_con .gr_list .gr_list_l .hm{ width: 55px; height:20px;font-size: 12px; text-align: center; background:#000; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; position: absolute; left:2px; bottom:2px;z-index: 1;}
.elec_main_con .gr_list .gr_list_l .tu_time{ width: 55px; line-height: 20px; font-size: 12px; text-align: center;position: absolute; left:2px; bottom:2px;z-index: 2; color: #fff;}
.elec_main_con .gr_list_r{ width:472px; float: left; height: 154px; position: relative;}
.elec_main_con .gr_list_r h3{color: #333;font-size: 16px;line-height: 16px; font-weight: normal;}
.elec_main_con .fubiao{ width: 100%; height: auto; overflow: hidden;}
.elec_main_con .gr_fb{ width: 100%;padding: 15px 15px 15px 0;overflow: hidden; }
.elec_main_con .gr_fb ul{ width: 100%; overflow: hidden; }
.elec_main_con .gr_fb ul li{ color: #909090;float: left;font-size: 13px;line-height:20px;margin: 0 20px 0 0 !important;padding: 0 ;}
.elec_main_con .gr_fb ul .gr_pointer {background:url(//img00.allinmd.cn/column/videoPK/pointer.png) no-repeat scroll left center;height:18px;width: 5px;}
.elec_main_con .gr_fb ul .gr_time{ float: right;}
.elec_main_con .gr_list_r .gr_con_p{ font-size: 13px; line-height: 24px; color: #909090; width: 100%; }
.elec_main_con .zp_state{ width: 100%; margin-top: 13px; background: url('//img00.allinmd.cn/column/videoPK/zt_cg.png') no-repeat 0 center; font-size: 13px; color: #909090; line-height: 20px; padding-left: 23px;}
.elec_main_con .zp_state_d{ background:url('//img00.allinmd.cn/column/videoPK/zt_ds.png') no-repeat 0 center;}
.elec_main_con .zp_state_sb{ background:url('//img00.allinmd.cn/column/videoPK/zt_sb.png') no-repeat 0 center;}
.elec_main_con .gr_list_r .refusal_rea{ display: inline-block; margin-left: 14px; }
.elec_main_con .gr_list_r .upload_again{ width: 93px; height: 27px; background: url('//img00.allinmd.cn/column/videoPK/zcsc.png') no-repeat; display: inline-block; text-align: center; line-height: 26px; font-size: 13px; position: absolute; right:0; bottom:12px; color: #fff;}
.elec_main_con .gr_list_r .upload_again:hover{ text-decoration: none; }
.elec_main_box{ border-bottom: 1px solid #e2e2e7; width: 100%; }




.fenxiang a{
	position:relative;
	height:auto;
}
.Pk_ewm_cont{
	display: none;
	position:absolute;
	left:-78px;
	bottom:26px;
	z-index:2;
	background:url(//img00.allinmd.cn/column/videoPK/ewm_bg.png) no-repeat;
	height:191px;
	width:169px;
	text-align: center;
}
.Pk_ewm_cont canvas{
	margin-top:7px;
}
.Pk_ewm_cont table{
	margin-top:7px;
	margin-left:15px;
	*margin-left:0;
	
}

.clear{
	overflow:hidden;
	clear:both;
	height:0;
}
.pk_ewm_text{
	font-szie:14px;
	color:#333;
	text-align:center;
	font-family:"����";
	line-height:14px;
	margin-top:11px;
}
.Pk_ewm_cont img{
    margin:10px 0 0 15px;
}