body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
li{list-style:none}
a,a:hover{text-decoration:none;color:#ffe400;}
html,body{ height: 100%;}
body{line-height:1.5;font-size:12px;font-family:"hiragino sans gb",Arial;color:#fff;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.wrap{position:relative;color:#fff; height: 100%; overflow: hidden;}
.hide {display: none;}

@-webkit-keyframes slide_up {
    0%,30%{opacity: 0;-webkit-transform: translate3d(0,10px,0);}
    60% {opacity: 1;-webkit-transform: translate3d(0,0,0);}
    100% {opacity: 0;-webkit-transform: translate3d(0,-8px,0);}
}

.item-1 {}
.item-2 {}
.item-3 {}
.item-4 {}
.item-5 {}
.item-6 {}
.item-7 {}
.item-8 {}

/*common*/
.mod_container {position: absolute;left: 50%;top: 50%;margin-top: -36px;-webkit-transform: translate3d(-50%, -50%, 0);-webkit-backface-visibility:hidden;z-index: 2;}
.sprite_global {background-image: url(img/sprite_global.png);background-repeat: no-repeat;}
.item .sprite {background-repeat: no-repeat;-webkit-transform: translate3d(0, 200px, 0);opacity: 0;}
.item .text_2 {margin: 10px 20px 20px;}
.item .scene {margin: 10px auto;}

