/*
    author:liuyutao
    找回密码弹层
    邮箱验证功能，也用到这个
*/
@import url("../../../less/zIndex.less");

.m-findPwd-pop {
	font-family: "microsoft yahei";
	position: fixed;
	top: 0;
	left: 0;
	z-index: @zIndex_FindBack;
	.mask {
		background: #000;
		width: 100%;
		position: fixed;
		z-index: 20;
		opacity: 0.6;
		filter: ~"alpha(60)";
	}
	.center-box {
		width: 600px;
		min-height: 400px;
		background: #fff;
		position: fixed;
		z-index: 50;
		.top {
			background: #9da6b0;
			border-left: 40px solid #3d84c6;
			height: 5px;
			overflow: hidden;
		}

		/* 关闭 */
		.close {
			float: right;
			background: url(images/close.png);
			width: 15px;
			height: 15px;
			margin: 19px 15px 0 0;
			cursor: pointer;
			&:hover {
				@-webkit-keyframes btnRotate {
					0% {
						-webkit-transform: rotateZ(0deg);
					}
					100% {
						-webkit-transform: rotateZ(360deg);
					}
				}
				-webkit-animation: btnRotate 1.5s linear ; //infinite
				background: url(images/close-hover.png);
			}
		}
		/* 返回 */
		.back {
			float: left;
			background: url(images/back.png);
			width: 22px;
			height: 22px;
			margin: 15px 0 0 16px;
			display: none;
			cursor: pointer;
			&:hover {
				background: url(images/back-hover.png);
			}
		}
		.content {
			clear: both;
			.title {
				color: #666666;
				font-weight: bold;
				text-align: center;
				font-size: 18px;
				line-height: 47px;
			}
			.text {
				margin: 0 auto;
				text-align: center;
				line-height: 20px;
				font-size: 15px;
				margin-bottom: 32px;
				float: none;
			}
			/*按钮 */
			.btn {
				background: #0b83e0;
				color: white;
				width: 270px;
				height: 40px;
				line-height: 40px;
				font-size: 18px;
				text-align: left;
				text-align: center;
				margin: 20px auto 0;
				border-radius: 3px;
				cursor: pointer;
				&:hover{
					box-shadow: 0 2px 2px #aaa;
				}
			}
			/*用户名 */
			.username {
				margin: 20px auto 0;
				width: 270px;
				input {
					width: 225px;
					color: #3f464d;
					height: 38px;
					padding-left: 43px;
					background: url("images/user.png") 15px center no-repeat;
				}
				&.disable {
					input {
						color: #808080;
						background: #e8e8e8 url("images/user.png") 15px center no-repeat;
					}
				}
                &.new-email{
                    margin: 12px auto 0;
                }
			}
			.password {
				width: 270px;
				margin: 12px auto 0;
				input {
					width: 225px;
					height: 38px;
					/*border: 1px solid #c2cad3;
					border-radius: 3px;*/
					
					padding-left: 43px;
					background: url("images/pwd.png") no-repeat 15px center;
				}
			}
			.validate-box {
				margin: 12px auto 0;
				width: 270px;
				clear: both;
				.code {
					float: left;
					clear: left;
					height: 38px;
					&.w-100 {
						width: 98px;
						input {
							width: 98-23-2px;
						}
					}
					&.w-134 {
						width: 134px;
						input {
							width: 134-23-2px;
						}
					}
					input {
						height: 38px;
						width: 133-23px;
						padding-left: 23px;
						color: #3f464d;
					}
				}
				.resend {
					float: right;
					clear: right;
					border-radius: 3px;
					height: 38px;
					line-height: 38px;
					text-align: center;
					font-size: 14px;
					color: #555555;
					background: url("images/btn-bg.png") repeat-x;
					border: 1px solid #dbdbdb;
					cursor: pointer;
					&.w-160 {
						width: 158px;
					}
					&.w-125 {
						width: 125px;
					}

					span {
						font-size: 12px;
						color: #969696;
					}
				}
			}
			.input-parent {
				border: 1px solid #c2cad3;
				border-radius: 3px;
				input {
					border: none;
					font-size: 14px;
					&:-moz-placeholder{
						color:#9eafc2;
					}
					&:-ms-input-placeholder{
						color:#9eafc2;
					}
					&::-webkit-input-placeholder{
						color:#9eafc2;
					}
					&::-moz-placeholder{
						color:#9eafc2;
					}
				}
				&.input-error, &.input-error.hover {
					border: 1px solid #e24a4a;
					box-shadow: 0 0 6px #e24a4a;
				}
				&.hover {
					border: 1px solid #63ade4;
					box-shadow: 0 0 3px #3997d5;
				}
			}

			.valid-error {
				background: url(images/error_icon.png) left center no-repeat;
				padding-left: 20px;
				margin-top: 8px;
				span{
					cursor: pointer;
					color: #3881FF;
				}
			}
			/*底部链接*/
			.bot-link{
				margin: 0 auto;
				text-align: center;
				a{
					color: #969696;
					font-size: 12px;
					line-height: 40px;
					&:hover,&:active{
						color: #0b83e0;
					}
				}
			}
		}
	}

}

/* 邮件找回密码链接页 */
/* WEB-INF/page/allin/comm/passport/reset_password_email.jsp */
.find-back{
	.disabled{
		background: #e8e8e8;
		input{

		}
	}
}