@charset "UTF-8";
//消息——关注提醒
//公共方法模块调用
@import "../../modules/common-modules";
//公共变量引用
@import "../../variables/_allinmdV2-variables";
//样式模块调用
@import "../../components/_indexHeader"; //首页头部信息栏
@import "../../components/_iconModule"; //小图标组件
@import "../../components/_buttonModule"; //按钮组件
@import "../../components/_msgListModule";  //信息列表组件
@import "../../components/_confirmModal";    //中部悬浮弹窗
@import "../../components/_contentModule";	//基础内容组件
.al-content{
	margin-top: 0;
}

.icon-newTips:after{
	top: 0;
	right: 0.1rem;
}

.al-personalNoneTipsImg{
    figure{
        width: rem(183px);
        height: rem(317px);
    }
}
.al-noContentTips{
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    padding: rem(380px) 0; 
    figure{
        width: rem(232px);
        height: rem(366px);
        display: inline-block;
        img{
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
        
    }
}
/*.al-vipUser{
    @extend %al-vipUser;
}*/
.icon-newTips{
    @extend %icon-newTips;
}