.scroll_container {
  overflow: hidden;
  position: relative;
  background-color: #F8F8F8;
  width:100%;
  border-top:1px solid #E4E9ED;
  border-bottom:1px solid #E4E9ED;
  box-shadow: 8px 8px 3px rgba(0,0,0,0.1),-8px -8px 3px rgba(0,0,0,0.1);
}
.scroll_absolute {
  position: absolute;
}
.scroll_vertical_bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
}
.scroll_track {
  position: relative;
  background-color: transparent;
}
.scroll_drag {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: #dbdbdb;
}
.scroll_arrow {
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  background-color: #369DB4;
}
.scroll_vertical_bar .scroll_arrow {
  height: 16px;
}