.al_feedback_main{
  width:450px;
  border-radius:4px;
  background-color: #fff;
  position: absolute;
  top:50%;
  left:50%;
  .al_feedback_titleMain{
    padding:19px 20px 18px 20px;
    height:15px;
    border-bottom: 1px solid #e4e9ed;
  }
  .al_feedback_title{
    font-size: 15px;
    color:#666666;
    line-height: 15px;
    float: left;
  }
  .al_feedback_close{
    float: right;
    width:20px;
    height:20px;
    cursor: pointer;
  }
  .al_feedback_content{
    padding:0 20px;
    width:410px;
  }
  .al_feedback_textarea{
    width:369px;
    height: 113px;
    padding: 12px 19px 25px 20px;
    margin-top: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    position: relative;
    textarea{
      height:100%;
      width:100%;
      border: none;
      font-size: 13px;
      line-height: 24px;
      overflow: auto;
      resize: none;
    }
    span{
      position: absolute;
      bottom:8px;
      right:10px;
      color:#aaaaaa;
      font-size: 13px;
    }
  }
  .al_feedback_submit{
    margin:50px 0 30px 120px;
    height:36px;
    div{
      width:80px;
      height:36px;
      line-height: 36px;
      font-size: 15px;
      text-align: center;
      float: left;
      border-radius: 4px;
    }
    .al_feedback_sure{
      color:#d1e9f9;
      background-color: #2899e6;
    }
    .active{
      color:#ffffff;
      cursor: pointer;
    }
    .al_feedback_cancel{
      color:#ffffff;
      background-color: #bdc3cf;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
