@charset "UTF-8";
//按钮组件
//Created by qiangkailiang on 2016/08/04
//公共方法模块调用
@import "../modules/_common-modules";
//公共变量引用
@import "../variables/_allinmdV3-variables";

.al-dis_subSideBar {
    figure{   //专题页右侧输入框 9/14 14:00
        text-align:center;
        position:relative;
        border:1px solid #dbdbdb;
        margin:20px;
        height:198px;
        width:226px;
        overflow: hidden;
        //padding-left:15px;
        //padding-right:5px;
        textarea{
            resize:none;
            //border:1px solid #dbdbdb;
            //margin-top:20px;
            font-size:16px;
            // padding:15px 15px 15px 0;
            padding:12px 0 0 5px;
            width:200px;
            height:168px;
            border:none;
            background:#fff;
        }
        span{
            position:absolute;
            bottom:10px;
            right:15px;
            color:#aaa;
        }
    }
    a{
        padding:7px 22px;
        float:left;
        margin-left:22px;
        margin-top:10px;
    }
    .al-sub_aTag{ //取消按钮
        background:none;
        color:#AAAAAA;
        font-size:15px;
        margin-left:0;
    }
}