@charset "UTF-8";
//标签列表组件
//Created by qiangkailiang on 2016/08/04
//公共方法模块调用
@import "../modules/_common-modules";
//公共变量引用
@import "../variables/_allinmdV3-variables";


.al-personalFollowTag {
    padding-top:20px;
    background-color:#fff;
    border: 1px solid #e4e9ed;
    border-top:none;
    @include clearfix();
    box-sizing: border-box;
    .al-personalFollowTagItem {
        padding: 20px;
        border: 1px solid #e4e9ed;
        width: 45%;
        float: left;
        margin-left:24px;
        box-sizing: border-box;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
            background-color:#fafbfd;
            .al-personalFollowTagNums b {
                display: block;
            }
        }
    }
    .al-personalFollowTagTitle {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.5;
        &:hover{
            color: #2899e6;
        }
    }
    .al-personalFollowTagNums {
        color: $smallContentColor;
        font-size: 12px;
        b {
            float: right;
            font-size: 13px;
            color: #626f8c;
            display: none;
            font-weight: normal;
            &:hover {
                color: #3598db;
            }
        }
    }
}
