//终端页领取优惠券公共样式
.al-receive-coupon{
  width:268px;
  height:87px;
  //background-color:linear-gradient(131deg,rgba(242,226,187,1) 0%,rgba(234,199,127,1) 100%);
  background: url("/images/img00/detail/reviewCoupon.png") no-repeat center center;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  .couponPrice{
    width: 106px;
    height: 100%;
    text-align: center;

    .icon{
      width:9px;
      height:20px;
      font-size:14px;
      font-weight:500;
      color:rgba(117,83,16,1);
      line-height:20px;
      margin-top: 39px;
      display: inline-block;
    }
    .price-num{
      //width:63px;
      height:100%;
      font-size:52px;
      font-weight:600;
      color:rgba(117,83,16,1);
      line-height:87px;
      display: inline-block;
      &.price-num0{
        font-size: 52px;
      }
      &.price-num1{
        font-size: 52px;
      }
      &.price-num2{
        font-size: 52px;
      }
      &.price-num3{
        font-size: 36px;
      }
      &.price-num4{
        font-size: 26px;
      }
      &.price-num5{
        font-size: 26px;
      }
    }
  }
  .receive-coupon{
    margin-left: 24px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    .coupon-strategy{
      width:127px;
      font-size:13px;
      font-weight:400;
      color:rgba(117,83,16,1);
      line-height:16px;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      vertical-align:bottom;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
    .getStrategyBtn{
      width:68px;
      height:22px;
      background:rgba(117,83,16,1);
      border-radius:2px;
      font-size:13px;
      font-weight:500;
      color:rgba(238,212,157,1);
      line-height:22px;
      text-align: center;
      cursor: pointer;
    }
  }
}
//终端页唯医学院课程侧边栏样式
.al-college-sideBar{
  width:268px;
  height:256px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(199,211,223,0.34);
  .college-title{
    width:248px;
    height: 52px;
    padding-left: 20px;
    font-size:18px;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
    line-height:52px;
    border-bottom:1px solid rgba(228,233,237,1);
    font-weight:400;
  }
  .al-college-logo{
    width:268px;
    padding-top: 20px;
    padding-bottom:10px;
    margin: 0 auto;
    .college-logo{
      width: 228px;
      height: 137px;
      margin: 0 auto;
      background:linear-gradient(273deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    }
  }
  .al-college-courseTitle{
    height:20px;
    font-size:15px;
    font-family:MicrosoftYaHei;
    color:rgba(85,85,85,1);
    line-height:20px;
    width:228px;
    padding: 0 20px 20px 20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }
}
