@charset "UTF-8";

.al-translatorIntrItem{   //列表项样式
  padding:0 24px 0 24px;
  //  display: table;
  .fellowBtn{
    //    display: table-cell;
    display: inline-block;
    width: 88px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
    img{
      width: 88px;
      height: 34px;
      border-radius: 0;
    }
  }
  >a{
    display: inline-block;
    width:54px;
    height:54px;
    vertical-align: middle;
    margin-right: 18px;
  }
  img{
    //    display: table-cell;
    display: inline-block;
    width:54px;
    height:54px;
    border-radius:50%;
    behavior: url("/js/third-party/pie/pie.htc");
    margin-bottom: 30px;
    vertical-align: middle;
  }
  .al-translatorInfo{
    //    display: table-cell;
    display: inline-block;
    vertical-align: middle;
    border-bottom:1px solid #ecf0f2;
    padding-top:0;
    width:576px;
    .al-translatorInfoContent{
      margin-left:0;
      border-bottom:none;
      padding:32px 0;
      >a{
        color:#333;
        &:hover{color:#3598db;}
      }
      p{
        margin-top:12px;
        font-size:15px;
        color:#555;
        .al-translatorUnit{padding-left:14px;}
      }
    }
  }
  .al-translatorInfo{
    .al-translatorUserText{
      display: inline-block;
      width: 480px;
      vertical-align: middle;
    }
    .fellowBtn{
      display: inline-block;
      vertical-align: middle;
      padding: 0;
    }
  }
}