@charset "UTF-8";
//发现——发送想看的专题
//公共方法模块调用
@import "../../modules/common-modules";
//公共变量引用
@import "../../variables/_allinmdV2-variables";
//样式模块调用
@import "../../components/_indexHeader"; //首页头部信息栏
@import "../../components/_iconModule"; //小图标组件
@import "../../components/_buttonModule"; //按钮组件

@import "../../components/_bottomBtns"; //底部按钮组件
@import "../../components/_bottomSharePart"; //底部分享组件
@import "../../components/_tableModule"; //表单组件
@import "../../components/_confirmModal"; //中部悬浮弹窗
.al-tableModuleItem {
    textarea {
        height: rem(400px);
        &:focus ~ .al-textareaInputNum {
            display: inline;
        }
    }
    .al-textareaInputNum {
        @include font-dpr(12px);
        color: #b4b4b4;
        position: absolute;
        right: 0;
        bottom: 0;
        display: none;
    }
}

.btn-primary-lg {
    opacity: 1;
}

.al-msgWriting {
    opacity: 0.5;
}

.al-buttonBox {
    margin-top: 0;
}
.al-cancelSend a{
	color: #f34b4b;
}
.al-confirmModal .al-confirmModalBtns button{
	width: 100%;
}
.EV-inputLengthTips{
    position: absolute;
    right: rem(0px);
    bottom: rem(30px);
    color: #b4b4b4;
    @include font-dpr(12px);
    font-style: normal;
    display: none;
}
.al-tableModuleItem textarea{
    @include font-dpr(16px);
}
.al-tableModuleItem{
    border-bottom: none;
}
.EV-textarea{
    border-bottom: 1px solid $innerBorderColor;
}
html, body{
    background-color: #fff;
}