/*css reset*/
html, body, section, header, footer, figure, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, form, input, span, table, tr, td, img, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-family: 'Microsoft Yahei';
    color: #666;
    background-color: #eff4f8;
    position: relative;
}

ol, ul, li {
    list-style: none;
}

i, em {
    font-weight: normal;
}

b, strong {
    font-style: normal;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.clear:after {
    height: 0;
    overflow: hidden;
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
}

/*common css改版750*/
#head {
    width: 100%;
}

.backHome {
    position: absolute;
    left: 0.5rem;
    top: 0.18rem;
}

.backHome a {
    display: block;
}

.backImg {
    width: 2rem;
    height: 0.6rem;
    display: block;
}

.bannerBox {
    position: relative;
}

.bannerImg {
    width: 100%;
    display: block;
}

.naver {
    background: #fff;
    border-bottom: 1px solid #d7dbde;
    width: 100%;
}

.naverBox {
    width: 100%;
}

.naverBox li {
    float: left;
    width: 27.5%;
}

.naverBox li:nth-child(1) {
    width: 15%;
}

.naverBox li:nth-child(1) a {
    text-align: left;
    text-indent: 0.3rem;
}

.naverBox li:nth-child(5) a {
     text-align: left;
     text-indent: 0.3rem;
     padding-top: 0;
}
.naverBox li:nth-child(6) a {
    text-align: left;
    padding-top: 0;
}

.naverBox li a {
    display: block;
    width: 100%;
    color: #666;
    font-size: 0.32rem;
    padding: 0.26rem 0;
    text-align: center;
}

.naverBox .cuter {
    color: #2899e6;
}

.apply_and_share {
    width: 100%;
    height: 0.89rem;
    border-top: 1px solid #d7dbde;
    line-height: 0.89rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 5;
    font-size: 0.3rem;
    color: #2899e6;
    overflow: hidden;
    opacity: 0.9;
}

.apply_and_share .applyLeft {
    width: 49%;
    border-right: 1px solid #d7dbde;
    text-indent: 20%;
    background: url(/images/img50/column/videoPK_v2/baoming_bg.png) no-repeat 32% center;
    background-size: 0.3rem 0.3rem;
}

.apply_and_share .shareRight {
    width: 49%;
    text-indent: 20%;
    background: url(/images/img50/column/videoPK_v2/fenxiang_bg.png) no-repeat 32% center;
    background-size: 0.3rem 0.3rem;
}

.onlyShare {
    width: 100%;
    height: 0.89rem;
    border-top: 1px solid #d7dbde;
    line-height: 0.89rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff url(/images/img50/column/videoPK_v2/fenxiang_bg.png) no-repeat 40% center;
    background-size: 0.3rem 0.3rem;
    z-index: 5;
    font-size: 0.3rem;
    color: #2899e6;
    opacity: 0.9;
    text-indent: 45%;
}

#zhezhao_baomingSuc {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
}

.zhezhao_baomingSucCenter, .zhezhao_fabuTip {
    background: #fff;
    width: 5.4rem;
    text-align: center;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    margin: -1.88rem 0 0 -2.7rem;
    border-radius: 6px;
}

.zhezhao_baomingSucCenter h3 {
    font-size: 0.34rem;
    color: #333;
    padding: 0.5rem 0 0.2rem 0;
}

.zhezhao_baomingSucCenter p, .zhezhao_fabuTip p {
    font-size: 0.3rem;
    color: #333;
    line-height: 0.4rem;
}

.baoming_success {
    display: block;
    font-size: 0.32rem;
    color: #2899e6;
    padding: 0.3rem 0;
    border-top: 1px solid #dfdfdf;
}

.zhezhao_dianzanSuc, .zhezhao_dianzanDef {
    width: 3.2rem;
    height: 1rem;
    background: #333;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -1.6rem;
    top: 0.15rem;
    font-size: 0.3rem;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    line-height: 1rem;
    display: none;
    z-index: 8;
}

/*run css*/
#run_main {
    background: #fff;
    margin-top: 0.15rem;
    margin-bottom: 0.8rem;
}

.run_main_top {
    border-bottom: 1px solid #e2e2e2;
}

.run_main_nav {
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.3rem;
}

.run_main_nav li {
    font-size: 0.28rem;
    color: #909090;
    float: left;
}

.run_main_nav li:nth-child(2) {
    width: 1.3rem;
}

.run_main_nav .search {
    width: 1.16rem;
    height: 0.42rem;
    line-height: 0.42rem;
    border: 1px solid #bbbbbb;
    border-radius: 15px;
    text-indent: 0.5rem;
    font-size: 0.24rem;
    color: #aaa;
    background: url(/images/img50/column/videoPK_v2/works_run.png) no-repeat 0.18rem center;
    background-size: 0.24rem 0.24rem;
}

.run_main_nav .allWorks {
    padding-right: 0.2rem;
    background: url(/images/img50/column/videoPK_v2/works_xiajiao.png) no-repeat right center;
    background-size: 0.12rem 0.06rem;
}

.run_main_nav .worksSort {
    position: relative;
    margin-left: 0.2rem;
    background: url(/images/img50/column/videoPK_v2/works_sort_blue.png) no-repeat right center;
    background-size: 0.12rem 0.22rem;
    padding-right: 0.2rem;
    color: #2899e6;
}

.run_main_nav .worksSort .sortList {
    width: 2.09rem;
    height: 2.93rem;
    background: url(/images/img50/column/videoPK_v2/searchBackG.png) no-repeat;;
    background-size: 2.09rem 2.93rem;
    position: absolute;
    left: -0.6rem;
    top: 0.6rem;
    z-index: 10;
    display: none;
}

.run_main_nav .worksSort .sortList div {
    height: 0.9rem;
    border-bottom: 1px solid #e4e9ed;
    line-height: 0.9rem;
    text-align: center;
    font-size: 0.3rem;
    color: #555;
}

.run_main_nav .worksSort .sortList div:nth-child(1) {
    margin-top: 7px;
}

.run_main_nav .worksSort .sortList div:nth-child(3) {
    border: none;
}

.run_main_nav .worksSort .sortList .col_change {
    color: #3598db;
}

.run_main_cont {
    position: relative;
}

.allWorks_select {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #f4f4f4;
    display: none;
}

.allWorks_select ul li {
    line-height: 0.97rem;
    text-indent: 0.6rem;
    font-size: 0.3rem;
    color: #333;
    border-bottom: 1px solid #e2e2e2;
    background: #fff;
}

.allWorks_select .col_change {
    color: #3598db;
}

.allWorks_select_zhezhao {
    background: #333;
    opacity: 0.5;
    margin-top: 0.4rem;
}

.run_main_cont_piece {
    border-bottom: 1px solid #e4e9ed;
}

.run_main_cont_piece_center {
    padding: 0.3rem;
    position: relative;
}

.run_main_cont_piece_center_left {
    width: 65%;
    margin-right: 5%;
}

.run_main_cont_piece_center_left h3 {
    font-size: 0.34rem;
    line-height: 0.56rem;
    color: #222;
    font-weight: normal;
    word-break: break-all;
}

.mine_main_cont_piece_center_left .pk_selectBtn {
    display: inline-block;
    margin-left: 0.3rem;
    border: 1px solid #FFB265;
    color: #FFB265;
    font-size: 0.28rem;
    padding: 0.016rem 0.15rem;
    border-radius: 0.6rem;
    line-height: initial;
}

.mine_main_cont_piece_center_left .totalScoreBox,.run_main_cont_piece_center_left .totalScoreBox{
    margin-top: 0.15rem;
    font-size: 0.22rem;
    color: #909090;
}

.mine_main_cont_piece_center_left .totalScoreBox span,.run_main_cont_piece_center_left .totalScoreBox span{
    color: #FF9224;
    font-size: 0.34rem;
}
.mine_main_cont_piece_center_left .totalScoreBox i,.run_main_cont_piece_center_left .totalScoreBox i{
    color: #FF9224;
    font-style: normal;
    font-size: 0.22rem;
}



/*待评作品提示UI-登录PC提示*/
.assessWorksLoginPc {
    padding-top: 27%;
}

.assessWorksLoginPc p {
    text-align: center;
    font-size: 0.26rem;
    color: #626f8c;
    margin-bottom: 0.1rem;
}

.assessWorksLoginPc p a {
    color: #626f8c;
    padding-right: 0.1rem;
}

.run_main_cont_piece_center_left ul {
    margin-top: 0.08rem;
    line-height: 18px;
}

.run_main_cont_piece_center_left ul li {
    float: left;
    padding-left: 0.33rem;
    margin-right: 0.4rem;
    color: #969696;
    font-size: 0.22rem;
}

.run_main_cont_piece_center_left ul .casePK_play_i {
    background: url(/images/img50/column/videoPK_v2/works_play.png) no-repeat left center;
    background-size: 0.3rem 0.2rem;
}

.run_main_cont_piece_center_left ul .casePK_comment_i {
    background: url(/images/img50/column/videoPK_v2/works_pinglun.png) no-repeat left center;
    background-size: 0.2rem 0.2rem;
}

.run_main_cont_piece_center_left ul .casePK_support_i {
    background: url(/images/img50/column/videoPK_v2/works_zan.png) no-repeat left center;
    background-size: 0.22rem 0.22rem;
}

.run_main_cont_piece_center_left dl {
    margin-top: 0.14rem;
    line-height: 0.28rem;
    font-size: 0.24rem;
    color: #555;
}

.run_main_cont_piece_center_left dl dd {
    margin-right: 0.2rem;
    float: left;
}

.run_main_cont_piece_center_left dl dd:nth-child(3) {
    float: right;
}

.run_main_cont_piece_center_left .assist {
    display: block;
    width: 0.68rem;
    height: 0.32rem;
    line-height: 0.32rem;
    text-align: center;
    border-radius: 0.15rem;
}

.run_main_cont_piece_center_left .assist_Def {
    border: 1px solid #68b7ed;
    color: #68b7ed !important;
}

.run_main_cont_piece_center_left .assist_Win {
    border: 1px solid #a6a6a6;
    color: #a6a6a6 !important;
}

.primaryResult_score li:nth-child(1) {
    padding-left: 0;
    margin-top: -0.18rem;
}

.worksTypeBox {
    background-color: #eff4f8 !important;
}

.worksTypeBox .mine_main_cont_piece_box {
    margin-top: 0.2rem;
    padding-top: 0.5rem;
    position: relative;
    background-color: #fff;
}

.worksTypeBox .primaryResult_score {
    margin-top: 0.16rem;
}

.worksTypeBox .worksTypeTitle {
    font-size: 0.32rem;
    position: relative;
    text-align: center;
    margin: 0 0.3rem;
}

.worksTypeBox .worksTypeTitle p {
    display: inline-block;
    position: relative;
    z-index: 3;
    background-color: #fff;
    padding: 0 0.2rem;
}

.worksTypeBox .worksTypeTitle b {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    border-top: 1px solid #dfdfdf;
    z-index: 0;
}

.run_main_cont_piece_center_right {
    width: 30%;
}

.run_main_cont_piece_center_right .videoImgBox {
    position: relative;
}

.run_main_cont_piece_center_right .videoImgBox img {
    display: block;
    width: 2.1rem;
    height: 1.4rem;
    padding-top: 6px;
}

.run_main_cont_piece_center_right .videoImgBox .videoBtn {
    display: block;
    width: 0.57rem;
    height: 0.57rem;
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.run_main_cont_piece_center_right .videoImgBox span {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1rem;
    height: 0.3rem;
    background: url(/images/img50/column/videoPK_v2/works_time_opa.png);
    line-height: 0.3rem;
    text-align: center;
    font-size: 0.18rem;
    color: #fff;
}

.run_main_cont_piece_center_right .up_time {
    margin-top: 0.25rem;
    font-size: 0.22rem;
    color: #909090;
    float: right;
}

.noMore {
    text-align: center;
    font-size: 0.26rem;
    color: #626f8c;
    display: none;
}

.run_main_cont_piece_center:after {
    content: '';
    display: table;
    clear: both;
}

/*search css*/
.pk_searchBox {
    background: #fff;
    width: 100%;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    padding: 0.2rem;
}

.pk_searchBox_left {
    background: #f8f8f8;
    width: 80%;
    float: left;
    height: 0.6rem;
    line-height: 0.6rem;
    border: 1px solid #e5e5e5;
    outline: none;
    border-radius: 3px;
}

.pk_searchBox_left .pk_works_search {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    padding: 0.15rem 0.2rem;
}

.pk_searchBox_left .pk_works_search_input {
    display: block;
    width: 0.3rem;
    height: 0.6rem;
    width: 75%;
    box-shadow: none;
    font-size: 12px;
    color: #222;
    background: #f8f8f8;
}

.pk_searchBox_left .pk_works_quxiao {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    padding: 0.15rem 0.2rem;
}

.pk_searchBox_right {
    width: 19%;
    float: left;
    height: 0.6rem;
    line-height: 0.6rem;
}

.pk_searchBox_right a {
    display: block;
    color: #3598db;
    font-size: 0.3rem;
    text-indent: 0.35rem;
}

/*mine css*/
.mine_main {
    background: #fff;
    margin-top: 0.15rem;
    margin-bottom: 0.88rem;
}

.mine_main_top {
    border-bottom: 1px solid #e2e2e2;
}

.mine_main_nav {
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.3rem;
}

.mine_main_nav li {
    font-size: 0.28rem;
    color: #909090;
}

.mine_main_cont {
    position: relative;
}

.mine_main_cont_piece {
    border-bottom: 1px solid #e4e9ed;
}

.mine_main_cont_piece_center {
    padding: 0.3rem;
}

.mine_main_cont_piece_center_left {
    width: 65%;
    margin-right: 5%;
}

.mine_main_cont_piece_center_left h3 {
    font-size: 0.34rem;
    line-height: 0.48rem;
    color: #222;
    font-weight: normal;
}

.mine_main_cont_piece_center_left ul {
    margin-top: 0.2rem;
    line-height: 22px;
}

.mine_main_cont_piece_center_left ul li {
    float: left;
    padding-left: 0.33rem;
    margin-right: 0.4rem;
    color: #969696;
    font-size: 0.22rem;
}

.mine_main_cont_piece_center_left ul li:nth-child(1) {
    background: url(/images/img50/column/videoPK_v2/works_play.png) no-repeat left center;
    background-size: 0.3rem 0.2rem;
}

.mine_main_cont_piece_center_left ul li:nth-child(2) {
    background: url(/images/img50/column/videoPK_v2/works_pinglun.png) no-repeat left center;
    background-size: 0.2rem 0.2rem;
}

.mine_main_cont_piece_center_left ul li:nth-child(3) {
    background: url(/images/img50/column/videoPK_v2/works_zan.png) no-repeat left center;
    background-size: 0.22rem 0.22rem;
}

.mine_main_cont_piece_center_left .aduitBox {
    margin-top: 0.2rem;
    line-height: 0.34rem;
    font-size: 0.24rem;
    color: #555;
}

.mine_main_cont_piece_center_left .aduitBox dd {
    margin-right: 0.2rem;
    padding-left: 0.34rem;
}

.mine_main_cont_piece_center_left .aduitBox .aduit_yes {
    background: url(/images/img50/column/videoPK_v2/shenhe_tongguole.png) no-repeat left center;
    background-size: 0.24rem 0.24rem;
}

.mine_main_cont_piece_center_left .aduitBox .aduit_wait {
    background: url(/images/img50/column/videoPK_v2/shenhe_tongguo.png) no-repeat left center;
    background-size: 0.24rem 0.24rem;
}

.mine_main_cont_piece_center_left .aduitBox .aduit_no {
    background: url(/images/img50/column/videoPK_v2/shenhe_weiguo.png) no-repeat left center;
    background-size: 0.24rem 0.24rem;
}

.mine_main_cont_piece_center_left .aduitBox .aduit_reason {
    width: 6.5rem;
}

.mine_main_cont_piece_center_right {
    width: 30%;
}

.mine_main_cont_piece_center_right .videoImgBox {
    position: relative;
}

.mine_main_cont_piece_center_right .videoImgBox img {
    display: block;
    width: 2.1rem;
    height: 1.4rem;
    padding-top: 6px;
}

.mine_main_cont_piece_center_right .videoImgBox span {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1rem;
    height: 0.3rem;
    background: url(/images/img50/column/videoPK_v2/works_time_opa.png);
    line-height: 0.3rem;
    text-align: center;
    font-size: 0.18rem;
    color: #fff;
}

.mine_main_cont_piece_center_right .up_time {
    margin-top: 0.25rem;
    font-size: 0.22rem;
    color: #909090;
    float: right;
}

.nowork {
    width: 100%;
    height: 8rem;
    background: #eff4f8 url(/images/img50/column/videoPK_v2/no_works_bg.png) no-repeat center;
    background-size: 3.9rem 3.15rem;
    display: none;
}

/*personal css*/
.pk_personal {
    width: 100%;
    text-align: center;
    background: #fff;
    font-size: 0.34rem;
    color: #333;
    padding: 0.3rem 0;
    border-bottom: 1px solid #d7dbde;
    margin-bottom: 0.15rem;
}

.pk_personal .personal_gt {
    display: inline-block;
    height: 0.34rem;
    width: 0.18rem;
    float: left;
    margin-left: 0.3rem;
    margin-top: 4px;
}

.pk_personal_formBox {
}

.pk_personal_form {
    background: #fff;
    padding-left: 0.3rem;
}

.per_ple {
    font-size: 0.3rem;
    color: #808080;
    padding: 0.36rem 0 0 0;
}

.per {
    font-size: 0.3rem;
    padding: 0.36rem 0;
    border-bottom: 1px solid #d7dbde;
}

.per span {
    margin-right: 1rem;
    color: #555;
}

.per input {
    color: #000;
    font-weight: bold;
    width: 5rem;
}

.pk_submit {
    width: 92%;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    margin: 0.6rem 0 0 4%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.36rem;
}

.pk_submit_no {
    color: #afd6f5;
    background: #63b4eb;
}

.pk_submit_yes {
    color: #fff;
    background: #2899e7;
}

.per_yx, .per_phone, .per_zc {
    position: relative;
}

.email_tip {
    position: absolute;
    left: 1.6rem;
    top: 1rem;
    width: 3.8rem;
    height: 0.9rem;
    display: none;
}

.phone_tip {
    position: absolute;
    left: 1.6rem;
    top: -0.6rem;
    width: 3.8rem;
    height: 0.9rem;
    display: none;
}

.titleShow_tip {
    position: absolute;
    left: 1.6rem;
    top: 1rem;
    width: 2.42rem;
    height: 0.9rem;
    display: none;
}

/*yishixuanze css*/
.al-selectorBarMask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
}

.al-selectorBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EFF4F8;
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.al-selectorBarTitle {
    border-bottom: 1px solid #d7dbde;
    height: 0.8rem;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.28rem;
}

.al-selectorBarTitle .al-selectorBarTitleItem {
    font-size: 15px;
}

.al-selectorBarTitle .al-selectorBarTitleItem:nth-child(1) a {
    color: #515c74;
    text-align: left;
}

.al-selectorBarTitle .al-selectorBarTitleItem:nth-child(2) h2 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    text-align: center;
}

.al-selectorBarTitle .al-selectorBarTitleItem:nth-child(3) a {
    color: #3598db;
    text-align: right;
}

.al-selectorBarList {
    margin-bottom: 0.14rem;
    padding-left: 0.28rem;
    background-color: #fff;
}

.al-selectorBarItem {
    border-bottom: 1px solid #e4e9ed;
    height: 0.8rem;
    line-height: 0.8rem;
    box-sizing: border-box;
    background-color: #fff;
}

.al-selectorBarItem .al-selectorBarItemName {
    margin-left: 0.28rem;
    font-size: 15px;
    color: #333;
    display: inline-block;
    vertical-align: top;
}

.al-selectorBarItem .al-selectorBarItemIcon {
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #b4b4b4;
    display: inline-block;
    vertical-align: 0.15rem;
}

.al-selectorBarItem.selected .al-selectorBarItemIcon {
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #2899e6;
    display: inline-block;
    vertical-align: 0.15rem;
    background: transparent url("/images/img50/pages/personal/selected.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-selectorBarMask.on {
    visibility: visible;
    opacity: 1;
}

.al-selectorBarMask.on .al-selectorBar {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
