.crm-pushSetting {
  width: 1200px;
  min-height: 500px;
  height: auto;
  background-color: #F6F7FA;
  margin: 0 auto;

  .crm-pushSetting-title {
    font-size: 20px;
    color: #222222;
    font-weight: bold;
    display: inline-block;
    margin: 32px 0 20px 0;
  }
  .crm-pushSetting-ruleForm{
    position: relative;
    width: 1200px;
    min-height: 190px;
    height: auto;
    background: white;
    box-shadow: 0 4px 10px 0 rgba(42, 53, 102, 0.04);
    border-radius: 3px;
    margin-bottom: 32px;
    padding: 25px 15px;
    box-sizing: border-box;
    .crm-form-item.el-form-item{
      display: block;
    }
    .el-form-item{
      display: inline-block;
      margin-bottom: 20px;
      .el-input{
        width: 197px;
      }
    }
    .crm-pushSetting-line{
      text-align: center;
    }
  }
}
