@charset "UTF-8";
//base
@function rem($px, $base-font-size: 75px) {
  @return ($px / $base-font-size) * 1rem;
}
body,
html {
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
//loading
.loading {
  background: #48424f;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  .loadbox {
    position: relative;
    height: rem(240px);
    margin: 0 auto;
    margin-top: 50%
  }
  .loadbg,.loadbox {
    display: block;
    width: rem(240px)
  }
  .loadbg {
    position: absolute;
    z-index: 1000;
    height: rem(240px);
    width: rem(240px);
    background: url('/pages/column/allinmdNew/images/logo.gif') no-repeat;
    background-size: contain;
  }
  .loading-logo {
    display: block;
    position: relative;
    width: rem(236px);
    height: rem(236px);
    margin: 50% auto 0
  }

  .logo-image {
    width: 100%
  }

  .loading-tip {
    position: absolute;
    font-size: rem(40px);
    z-index: 9999;
    width: rem(400px);
    left: 50%;
    margin-left: rem(-200px);
    text-align: center;
    color: #7986cb
  }
}
//进度条
.eqx-progress-bar {
  position: absolute;
  height: rem(6px);
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.2);
   span {
    display: block;
    height: 100%;
    width: 0;
    background-color: #08a1ef;
    transition: width .8s cubic-bezier(.26,.86,.44,.985)
  }

   em.page-tip {
    display: inline-block;
    position: absolute;
    right:rem(10px);
    top: rem(-26px);
    font-size: rem(24px);
    font-style: normal;
    color: #fff;
  }
}


//声音
.music_box{
  width: rem(70px);
  height: rem(70px);
  position: absolute;
  top:rem(35px);
  right: rem(20px);
  z-index: 98;
  img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.m_on{
  animation: 1s rotateAni infinite linear;
  -webkit-animation: 1s rotateAni infinite linear;
}
@keyframes rotateAni{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateAni{
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

//箭头
.u-arrow-bottom {
  position: absolute;
  bottom: rem(60px);
  left: 50%;
  z-index: 50;
  width: rem(48px);
  height: rem(28px);
  margin-left: rem(-14px);
  .pre-wrap-bottom {
    width: rem(48px);
    height: rem(28px);
    position: relative;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
  }
  .pre-box1, .pre-box2 {
    height: rem(30px);
    width: rem(24px);
    position: absolute;
    top: rem(-10px);
    overflow: hidden;
  }
  .pre1, .pre2 {
    background-color: #fff;
    width: rem(28px);
    height: rem(10px);
    border-radius: rem(4px);
    position: absolute;
    box-shadow: rem(2px) rem(-2px) rem(2px) #646464;
    top: rem(10px);
  }
  .pre-box2{
    left: rem(20px);
  }
  .pre1 {
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    left: rem(2px);
  }
  .pre2 {
    left: rem(-9px);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}
@-webkit-keyframes start {
  0%,30% {
    opacity: 0;
    -webkit-transform: translateY(rem(20px))
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0)
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(rem(-16px))
  }
}

@keyframes start {
  0%,30% {
    opacity: 0;
    transform: translateY(rem(20px))
  }

  60% {
    opacity: 1;
    transform: translate(0)
  }

  to {
    opacity: 0;
    transform: translateY(rem(-16px))
  }
}
.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
//第一页
.slideOneBg{
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 100%;
  &.puffIn{
    animation: puffIn 2s ease 1s 1 normal both running;
  }
}
.slideOneper{
  position: absolute;
  z-index: 3;
  //width: 100%;
  left: rem(10px);
  bottom: rem(100px);
  width: rem(740px);
  &.slideOneBo{
    width: rem(698px);
    left: rem(26px);
    z-index: 4;
    bottom: rem(-200px);
  }
}
@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(3)
  }

  to {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1)
  }
}

@keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(3)
  }

  to {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1)
  }
}
//第二页
.slideTwoP{
  width: 100%;
  position: absolute;
  &.slide1_w1{
    height: 100%;
  }
  &.slide1_w2{
    top: rem(110px);
  }
  &.slide1_w5{
    top: rem(510px);
    left:rem(-10px);
  }
  &.slide1_w6{
    top: rem(535px);
    left: 0;
    width: 108%;
  }
  &.slide1_w8{
    left: 0;
    bottom: rem(120px);
    z-index: 4;
  }
}
.slide2{
  .slide1_w3{
    position: absolute;
    width: rem(366px);
    right: rem(25px);
    top: rem(260px);
    z-index: 2;
  }
  .slide1_w7{
    position: absolute;
    width: rem(506px);
    //height: rem(864px);
    top: rem(350px);
    left: 0;
    //bottom: rem(-100px);
    z-index: 3;
  }
  .slide1_w4{
    position: absolute;
    width: rem(366px);
    right: rem(25px);
    top: rem(260px);
    z-index: 3;
    display: none;
   &.slidePuffout{
     display: block;
     animation: puffOut 1s ease 0s infinite normal both running;
   }
  }
  .slide1_w9{
    position: absolute;
    right: rem(305px);
    top: rem(560px);
    z-index: 2;
    width: rem(60px);
  }
  .slide1_w10{
    position: absolute;
    right: rem(245px);
    top: rem(515px);
    width: rem(104px);
    z-index: 2;
  }
  .slide1_w11{
    position: absolute;
    right: rem(180px);
    top: rem(450px);
    width: rem(155px);
    z-index: 2;
  }
  .slide1_w12{
    position: absolute;
    right: rem(25px);
    top: rem(300px);
    width: rem(342px);
    z-index: 3;
  }
  .slide1_w13{
    position: absolute;
    right:0;
    top: rem(210px);
    z-index: 5;
    width: rem(435px);
  }
}
//第三页
.slide3{
  .thirdP{
    position: absolute;
    width: 100%;
    z-index: 1;
    &.slide1_w1{
      height: 100%;
    }
    &.slide1_w2{
      .flie{
        width: 100%;
        display: none;
        &.show{
          display: block;
        }
      }
    }
    &.slide1_w10{
      z-index: 2;
      top:rem(150px);
      left: 0;
    }
    &.slide1_w5{
      z-index: 3;
      left: -8%;
      bottom: 0;
      width: 110%;
    }
    &.slide1_w8{
      left: 0;
      bottom: rem(150px);
      z-index: 4;
      .slide1_w8_1{
        position: absolute;
        left: 0;
        bottom: rem(130px);
        width: rem(285px);
        &.puffOut{
          animation: puffOut 0.7s ease 1.4s 1 normal both running;
        }
      }
      .slide1_w8_2{
        position: absolute;
        left: rem(200px);
        bottom: rem(20px);
        width: rem(237px);
        &.puffOut{
          animation: puffOut 0.7s ease .7s 1 normal both running;
        }

      }
      .slide1_w8_3{
        position: absolute;
        right: 0;
        bottom: rem(130px);
        width: rem(330px);
        &.puffOut {
          animation: puffOut 0.7s ease 0s 1 normal both running;
        }
      }
    }
  }
  .slide1_w6{
    width: rem(672px);
    position: absolute;
    left: rem(36px);
    bottom: rem(160px);
    z-index: 5;
  }
  .slide1_w3,.slide1_w4{
    position: absolute;
    z-index: 5;
    opacity: 0;
    &.puffOut{
      animation: puffOut 0.7s ease 0s 3 normal both running;
    }

  }
  .slide1_w7,.slide1_w9{
    position: absolute;
    z-index: 3;
  }
  .slide1_w7,.slide1_w3{
    width: rem(517px);
    left: rem(128px);
    top:rem(300px)
  }
  .slide1_w9,.slide1_w4{
    width: rem(628px);
    left: rem(61px);
    top:rem(500px)
  }
}
//第四页
.slide4,.slide5{
  .fourP{
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    &.slide1_w1{
      height: 100%;
    }
    &.slide1_w2{
      top:rem(190px);
      z-index: 2;
    }
    &.slide1_w3{
      top:rem(340px);
      z-index: 3;
      height: rem(980px);
    }
    &.slide1_w4{
      bottom:rem(160px);
      z-index: 4;
    }
  }
  .slide1_w5{
    position: absolute;
    width: rem(672px);
    left: rem(40px);
    bottom:rem(150px);
    z-index: 5;
  }
}
//第五页
.slide5{
  .fourP{
    &.slide1_w4{
      //width: rem(612px);
      left: 0;
      bottom:rem(190px);
    }
  }
  .slide1_w5{
    bottom:rem(130px);
  }
  .slide1_w6{
    position: absolute;
    z-index: 5;
    width: rem(124px);
    left: rem(400px);
    top: rem(190px);
    display: none;
    &.puffOut{
      display: block;
      animation: puffOut 1s ease 0s infinite normal both running;
    }
  }
}

//第六页
.slide6{
  .sixp{
    position: absolute;
    z-index: 1;
    width: 100%;
    &.slide1_w1{
      height: 100%;
    }
    &.slide1_w3{
     width: 120%;
      z-index: 2;
      left: rem(-80px);
      bottom:rem(10px);
    }
  }
  .slide1_w4{
    position: absolute;
    z-index: 3;
    width: rem(672px);
    left: rem(40px);
    bottom: rem(150px);
  }
  .slide1_w2{
    position: absolute;
    z-index: 2;
    width: rem(461px);
    left:rem(50px);
    bottom: rem(650px);
    //top: rem(350px);
  }
}
//第七页
.slide7{
  .sevenP{
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    &.slide1_w1{
      height: 100%;
    }
    &.slide1_w5{
      width: 110%;
      left: rem(-60px);
      bottom: 0;
    }
  }
  .slide1_w2{
    position: absolute;
    z-index: 3;
    left: rem(10px);
    width: rem(401px);
    //top: rem(160px);
    bottom: rem(700px);
  }
  .slide1_w3{
    position: absolute;
    z-index: 2;
    left: rem(65px);
    width: rem(290px);
    height: rem(360px);
    overflow: hidden;
    //top: rem(210px);
    bottom: rem(810px);
    img{
      width: rem(290px);
      &.slideOn{
        animation: slideOn 20s ease 0s infinite normal both running
      }


    }
    //animation: slideOn 1s ease 2s infinite normal both running;
  }
  .slide1_w4{
    position: absolute;
    z-index: 2;
    //top: rem(220px);
    bottom: rem(935px);
    right: rem(60px);
    width: rem(178px);
  }
  .slide1_w6{
    position: absolute;
    z-index: 2;
    bottom: rem(140px);
    left: rem(40px);
    width: rem(672px);
  }
}

//第八页
.slide8{
  .slide1_w1{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .slide1_w2{
    position: absolute;
    z-index: 2;
    left: 0;
    height: 90%;
    width: rem(262px);
  }
  .slide1_w3{
    width: rem(262px);
    position: absolute;
    z-index: 2;
    right: 0;
    height: 90%;
  }
  .slide1_w4{
    position: absolute;
    z-index: 5;
    left: rem(120px);
    //top: rem(300px);
    bottom: rem(800px);
    width: rem(453px);
  }
  .slide1_w5{
    position: absolute;
    z-index: 4;
    left: 0;
    width: rem(340px);
    bottom: rem(160px);
  }
  .slide1_w6{
    position: absolute;
    z-index: 4;
    right: rem(20px);
    width: rem(320px);
    bottom: rem(300px);
  }
  .slide1_w7{
    position: absolute;
    width: rem(672px);
    z-index: 4;
    left: rem(40px);
    bottom: rem(120px);
  }
}
//第九页
.slide9{
  .slide1_w1{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .slide1_w2{
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
  }
  .slide1_w3{
    position: absolute;
    width: rem(376px);
    z-index: 3;
    left: rem(200px);
    top: rem(180px);
  }
  .slide1_w4{
    position: absolute;
    width: rem(717px);
    z-index: 4;
    left: rem(16px);
    bottom: rem(100px);
  }
}
//第十页
.slide10{
  .slide1_w1{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .slide1_w2{
    position: absolute;
    z-index: 2;
    top: rem(100px);
    width: rem(672px);
    left: rem(40px);
  }
  .slide1_w3{
    position: absolute;
    z-index: 2;
    top: rem(280px);
    left: rem(40px);
    width: rem(372px);
  }
  .slide1_w4{
    position: absolute;
    z-index: 2;
    top: rem(370px);
    width: rem(607px);
    left: rem(120px);

  }
  .slide1_w5{
    position: absolute;
    z-index: 2;
    top: rem(675px);
    left: rem(-20px);
    //bottom: rem(20px);
    width: rem(721px);
  }
  .slide1_w6{
    position: absolute;
    z-index: 3;
    //bottom: rem(290px);
    top: rem(925px);
    width: rem(100px);
    right: rem(120px);
    &.rubber{
      animation: rubberBand 1s ease 0s infinite normal both running;
    }

  }
  .slide1_w7{
    position: absolute;
    z-index: 2;
    width: rem(229px);
    right: rem(70px);
    top: rem(1020px);
    //bottom: rem(160px);
  }

}
.slide11{
  .slide1_w1{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .swiperCon{
    position: absolute;
    z-index: 2;
    height: rem(1067px);
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    width: rem(533px);
    .slide1_w2,.slide1_w3,.slide1_w4,.slide1_w5,.slide1_w6{
      position: absolute;
      z-index: 3;
    }
    .slide1_w2{
      width: rem(533px);
      z-index: 2;
    }
    .slide1_w3{
      width: rem(324px);
      right: rem(-95px);
      top: rem(245px);
      opacity: 0;
      &.puffOut{
        opacity: 1;
        animation: puffOut 1.5s ease 0s infinite normal both running;
      }

    }
    .slide1_w5{
      width: rem(376px);
      right: rem(-100px);
      top: rem(225px);
    }
    .slide1_w4{
      width: rem(72px);
      left: rem(230px);
      top: rem(848px);
      opacity: 0;
      &.puffOut{
        opacity: 1;
        animation: puffOut 1.5s ease 0s infinite normal both running;
      }
    }
    .slide1_w6{
      width: rem(643px);
      left: rem(-35px);
      top: rem(818px);
    }

  }
}
@-webkit-keyframes slideOn {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-70%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes slideOn1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(0);
  }

}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  30% {
    -webkit-transform: scale3d(1.25,.75,1);
    transform: scale3d(1.25,.75,1)
  }

  40% {
    -webkit-transform: scale3d(.75,1.25,1);
    transform: scale3d(.75,1.25,1)
  }

  50% {
    -webkit-transform: scale3d(1.15,.85,1);
    transform: scale3d(1.15,.85,1)
  }

  65% {
    -webkit-transform: scale3d(.95,1.05,1);
    transform: scale3d(.95,1.05,1)
  }

  75% {
    -webkit-transform: scale3d(1.05,.95,1);
    transform: scale3d(1.05,.95,1)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  30% {
    -webkit-transform: scale3d(1.25,.75,1);
    transform: scale3d(1.25,.75,1)
  }

  40% {
    -webkit-transform: scale3d(.75,1.25,1);
    transform: scale3d(.75,1.25,1)
  }

  50% {
    -webkit-transform: scale3d(1.15,.85,1);
    transform: scale3d(1.15,.85,1)
  }

  65% {
    -webkit-transform: scale3d(.95,1.05,1);
    transform: scale3d(.95,1.05,1)
  }

  75% {
    -webkit-transform: scale3d(1.05,.95,1);
    transform: scale3d(1.05,.95,1)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}
@-webkit-keyframes puffOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1)
  }

  to {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2)
  }
}

@keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1)
  }

  to {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2)
  }
}