.al-dyn-entry {
    background: #fff;
    border: 1px solid #e9edf1;
    text-align: center;
    margin-bottom: 20px;
    padding: 16px 8px 8px 8px;
}

.al-dyn-entry .al-dyn-item {
    float: left;
    width: 114px;
    margin-left: 8px;
}

.al-dyn-entry .al-dyn-item a {
    display: block;
}

.al-dyn-entry .al-dyn-item img {
    width: 114px;
    height: 56px;
    margin-bottom: 8px;
}

.al-dyn-entry .al-dyn-item p {
    font-size: 15px;
    color: #333;
}

.al-dyn-entry .al-dyn-item:nth-last-child {
    border-right: none;
}

.al-dyn-entry.al-dyn-three .al-dyn-item {
    width: 88px;
}

.al-dyn-entry.al-dyn-three .al-dyn-item:nth-child(3) {
    border-right: none;
}

.al-dyn-entry.al-dyn-four {
    height: 198px;
}

.al-dyn-entry.al-dyn-four .al-dyn-item {
    width: 133px;
    height: 99px;
}

.al-dyn-entry.al-dyn-four .al-dyn-item:nth-child(even) {
    border: none;
}

.al-dyn-entry.al-dyn-four .al-dyn-item:nth-child(3) {
    border-top: 1px solid #e9edf1;
}

.al-dyn-entry.al-dyn-four .al-dyn-item:nth-child(4) {
    border-top: 1px solid #e9edf1;
}

.al-dyn-entry:after {
    clear: both;
    content: '';
    width: 0;
    height: 0;
    display: block;
}

.al-bySubject {
    background: #fff;
    padding: 24px 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.al-bySubject h2 {
    font-weight: normal;
    font-size: 18px;
    color: #333;
    margin-bottom: 2px;
}

.al-bySubject .al-hrLine {
    display: inline-block;
    width: 110px\9  !important;
    width: 115px;
    height: 1px;
    background: #e9edf1;
    margin: 10px 8px;
}

.al-bySubject .al_dis_more {
    font-family: "Helvetica Neue";
    font-size: 13px;
    color: #9ea7bb;
}

.al-bySubject .al_dis_more:after {
    content: "";
    background: url("//img10.allinmd.cn/v3/common/icon/content_title_more.png") no-repeat;
    width: 6px;
    height: 10px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.al-bySubject .al_dis_more:hover {
    color: #2899e6;
}

.al-bySubject .al-bySubjectItem {
    width: 100%;
    margin-top: 22px;
}

.al-bySubject .al-bySubjectItem p {
    margin-top: 10px;
    color: #666;
    font-size: 15px;
}

.al-bySubject .al-bySubjectItem p a {
    color: inherit;
}

.al-bySubject .al-bySubjectItem a {
    display: block;
    position: relative;
}

.al-bySubject .al-bySubjectItem img {
    width: 100%;
    height: 88px;
}

.al-bySubject .al-bySubjectItem i {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;
}

.al-bySubject .al-bySubjectItem .al-bySub-live {
    width: 60px;
    height: 22px;
    background: url("//img00.allinmd.cn/v3/index/live.png") no-repeat;
}

.al-bySubject .al-bySubjectItem .al-bySub-newest {
    background: url("//img00.allinmd.cn/v3/index/newest.png") no-repeat;
}

.al-bySubject .al-bySubjectItem .al-bySub-hotest {
    background: url("//img00.allinmd.cn/v3/index/hotest.png") no-repeat;
}

.al-bySubject.al-byMajor p {
    margin-top: 22px;
    width: 100%;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.al-bySubject.al-byMajor p a:hover {
    color: #2899e6;
}
