@charset "UTF-8";
.al-iconConfig {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_config.png") center center no-repeat;
    margin: 0 5px;
}

.al-iconSuccess {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_success.png") center center no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.al-iconMyCollect {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_collection_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyFollow {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_follow_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyBrowsed {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_browser_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyComment {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_comment_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyDraft {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_draft_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyWebcast {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_video.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyCollect {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_collection_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyFollow {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_follow_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyBrowsed {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_browser_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyComment {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_comment_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyDraft {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_draft_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyWebcast {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_video_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyIndex {
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_index_off.png") center center no-repeat;
}

.al-iconMyContribution {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_contribution_off.png") center center no-repeat;
}

.al-iconMyActive {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_active_off.png") center center no-repeat;
}

.al-iconMyMsg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_msg_off.png") center center no-repeat;
}

.active .al-iconMyIndex {
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_index_on.png") center center no-repeat;
}

.active .al-iconMyContribution {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_contribution_on.png") center center no-repeat;
}

.active .al-iconMyActive {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_active_on.png") center center no-repeat;
}

.active .al-iconMyMsg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_msg_on.png") center center no-repeat;
}

.al-contentAuthor {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_user.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: sub;
    margin-right: 5px;
    margin-top: 0;
}

.al-contentAuthor.authorNoUserId {
    width: 13px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon-book.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-contentWatchedNum {
    display: inline-block;
    width: 18px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_watchNum.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-contentTime {
    content: "";
    display: inline-block;
    width: 14px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_time.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 5px;
}

.al-contentPlace {
    display: inline-block;
    width: 13px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_place.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-mark {
    width: 31px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
}

.al-mark img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.al_imgMark {
    right: 3px;
}

span i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span .al-commentBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_btn_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-shareBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_share_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_off.png") center center no-repeat;
    min-width: 14px;
}

span:hover .al-commentBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_btn_on.png") center center no-repeat;
}

span:hover .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_on.png") center center no-repeat;
}

span:hover .al-shareBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_share_on.png") center center no-repeat;
}

span:hover .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_on.png") center center no-repeat;
}

span:hover .al-contentWatchedNum {
    width: 18px;
    height: 12px;
}

span.active i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span.active .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_active_off.png") center center no-repeat;
}

span.active .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_active_off.png") center center no-repeat;
}

span.active:hover i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span.active:hover .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_active_on.png") center center no-repeat;
}

span.active:hover .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_active_on.png") center center no-repeat;
}

.al-refreshFans {
    display: inline-block;
    width: 18px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_refresh.png") center center no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    vertical-align: middle;
}

.al-commentBtnImg {
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 6px;
}

.al-commentPic {
    width: 16px;
    height: 13px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_pic.png") center center no-repeat;
    margin-right: 10px;
}

.al-commentVideo {
    width: 20px;
    height: 13px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_video.png") center center no-repeat;
}

.al-commentAt {
    width: 14px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_at.png") center center no-repeat;
}

.al-commentQuote {
    width: 20px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_quote.png") center center no-repeat;
}

.al-iconOthersLike {
    width: 17px;
    height: 17px;
    background: transparent url("//img10.allinmd.cn/v3/others/icon_like.png") center center no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-right: 7px;
}

.al-othersLikeOn {
    background: transparent url("//img10.allinmd.cn/v3/others/icon_likeActive.png") center center no-repeat;
}

.al-vipBigUser {
    display: inline-block;
    width: 18px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip.png") center center no-repeat;
    margin-left: 3px;
}

.al-vipNewBigUser {
    width: 35px;
    height: 18px;
}

.al-vipUser {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
    margin-left: 6px;
}

.al-unlikeBtn {
    display: inline-block;
    width: 26px;
    height: 18px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_unlike.png") center center no-repeat;
    margin: 0 15px;
    float: right;
}

.al-unlikeBtn:hover {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/unlikeHover.png") center center no-repeat;
}

.al-contentCommentOtherMsg b {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.al-followBtn {
    width: 98px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.al-mesMainR {
    width: 268px;
    float: right;
    border-radius: 3px;
    behavior: url("/js/third-party/pie/pie.htc");
    border: 1px solid rgba(199, 211, 223, 0.45);
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    position: relative;
}

.al-mesMainR img {
    margin: 36px 0 20px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    behavior: url("/js/third-party/pie/pie.htc");
    display: inline-block;
    position: relative;
}

.al-mesMainR.al-index-mesMainR {
    margin: 0 0 20px;
}

.al-mesMainR.al-index-mesMainR:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.al-mesMainR:hover {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.al-mesMainR .al-mesMainR-userName {
    display: block;
    color: #333;
    margin-bottom: 14px;
    padding-left: 15px;
    font-size: 18px;
}

.al-mesMainR .al-mesMainR-userName:hover {
    color: #2899e6;
}

.al-mesMainR .al-mesMainR-userName i {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
    background-size: 100% 100%;
    margin-left: 6px;
}

.al-mesMainR .al-mesMainR-userTitle,
.al-mesMainR .al-mesMainR-userUnit {
    font-size: 13px;
    color: #909090;
    font-family: "宋体";
    line-height: 18px;
}

.al-mesMainR .al-mesMainR-userUnit {
    padding-bottom: 30px;
}

.al-mesMainR ul {
    background-color: #f9fbfd;
    padding: 8px 0;
    border-top: 1px solid #ECF0F2;
}

.al-mesMainR ul:after {
    content: '';
    display: table;
    clear: both;
}

.al-mesMainR li {
    display: inline-block;
    position: relative;
}

.al-mesMainR li span {
    display: inline-block;
    font-size: 20px;
    color: #626F8C;
    font-family: Arial;
    margin-bottom: 8px;
}

.al-mesMainR li a {
    font-size: 14px;
    display: block;
    color: #626F8C;
    padding: 10px;
}

.al-mesMainR li a:hover {
    color: #2899e6;
}

.al-mesMainR li a.al-indexPersonal {
    margin-top: 0;
}

.al-mesMainR .al-mesMain-ul_Notice {
    padding: 0 12px;
    margin: 0 12px;
    position: relative;
}

.al-mesMainR .al-mesMain-ul_Notice:before {
    content: '';
    position: absolute;
    width: 0;
    height: 24px;
    border-right: 1px solid #dfdfdf;
    left: 0;
    top: 12px;
}

.al-mesMainR .al-mesMain-ul_Notice:after {
    content: '';
    position: absolute;
    width: 0;
    height: 24px;
    border-right: 1px solid #dfdfdf;
    right: 0;
    top: 12px;
}

.al-mesMainR .al-followBtn,
.al-mesMainR .al-followedBtn,
.al-mesMainR .al-doubleFollowBtn {
    float: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.al-mesMainR .al-hrLine {
    margin: 0 2px;
}

.al-shareBox {
    max-width: 267px;
    cursor: auto;
    height: 90px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e4e9ed;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    margin-left: -160px;
    margin-top: 16px;
    -webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px -2px 8px rgba(0, 0, 0, 0.14);
            box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px -2px 8px rgba(0, 0, 0, 0.14);
    behavior: url("/js/third-party/pie/pie.htc");
}

.al-shareBox:before {
    content: "";
    height: 0;
    width: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid #fff;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    position: absolute;
    right: 72px;
    top: -14px;
}

.al-shareBox .al-shareListItem {
    display: inline-block;
    margin: 20px 0;
    cursor: pointer;
}

.al-shareBox .al-shareListItem img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

.al-shareBox .al-shareListItem figcaption {
    margin-top: 10px;
    font-size: 12px;
    font-family: "宋体";
    color: #777;
    white-space: nowrap;
}

.al-shareBox .al-weixinErweiCodeBox {
    background: transparent url("//img10.allinmd.cn/v3/friends/weixin_boxbg.png") center center no-repeat;
    width: 268px;
    height: 232px;
    padding: 25px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    -webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px 4px 8px rgba(0, 0, 0, 0.14);
            box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px 4px 8px rgba(0, 0, 0, 0.14);
    margin-top: -15px;
    margin-left: -1px;
}

.al-shareBox .al-weixinErweiCodeBox > span {
    display: inline-block;
    font-size: 14px;
    color: #909090;
    margin-left: 2px !important;
    margin-bottom: 12px;
    margin-top: 5px;
    line-height: 1;
}

.al-shareBox .al-weixinErweiCodeBox > img {
    width: 150px;
    height: 150px;
    vertical-align: top;
}

.al-onlyFriendCircle {
    display: none !important;
    margin-left: -18px;
}

.al-onlyFriendCircle:before {
    right: 30px;
}

.al-onlyFriendCircle .al-shareListItem {
    margin-right: 8px;
}

.al-ad-delivery {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background: rgba(10, 30, 43, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb0A1E2B, endColorstr=#bb0A1E2B);
}

.al-ad-delivery .al-ad-delivery-details {
    width: 450px;
    position: absolute;
    margin-left: -210px;
    margin-top: -146px;
    top: 50%;
    left: 50%;
    height: 406px;
}

.al-ad-delivery .al-ad-delivery-details .al-ad-delivery-banner {
    width: 420px;
    padding: 0 15px 0 15px;
    height: 406px;
    border-radius: 12px;
    background: url("http://desk.fd.zol-img.com.cn/t_s960x600c5/g4/M03/0A/01/Cg-4WVS3Q36ILhfGAAvMITHC4DMAASvIwAAAAAAC8w5065.jpg") no-repeat center 50%;
    background-size: cover;
    display: block;
}

.al-ad-delivery .al-ad-delivery-details .al-ad-delivery-close {
    width: 50px;
    height: 50px;
    background: url("/images/img00/index/close-popup_pc.png") no-repeat center 50%;
    background-size: cover;
    position: absolute;
    top: -50px;
    right: -63px;
    cursor: pointer;
}

.al-mainIndex {
    width: 100%;
}

.al-indexInner {
    width: 1000px;
    margin: 20px auto;
}

.al-indexInner:after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
}

.al-indexCarouselBanner {
    height: 274px;
    width: 708px;
    position: relative;
    border: 1px solid #dee6ee;
}

.al-indexMainContent {
    float: left;
    width: 710px;
    margin-right: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.al-pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #fff;
    margin: 0 5px;
    opacity: 0.5;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
}

.swiper-active-switch {
    background: #fff;
    opacity: 1;
}

.swiper-button-prev {
    background: url(//img10.allinmd.cn/v3/common/icon/left_banner.png) no-repeat;
    width: 27px;
    height: 46px;
    position: absolute;
    left: 30px;
    top: 115px;
    z-index: 6;
    cursor: pointer;
    display: none;
}

.swiper-button-next {
    background: url(//img10.allinmd.cn/v3/common/icon/right_banner.png) no-repeat;
    width: 27px;
    height: 46px;
    position: absolute;
    right: 30px;
    top: 115px;
    z-index: 6;
    cursor: pointer;
    display: none;
}

.al-recommendLinks {
    border: 1px solid #dee6ee;
    margin: 20px 0;
    background-color: #fff;
    text-align: center;
    padding: 12px 0 18px 19px;
}

.al-recommendLinks:after {
    content: '';
    display: table;
    clear: both;
}

.al-recommendLinks .al-recommendLinksWrap {
    /*display: inline-block;*/
    width: 24.5%;
    float: left;
    margin-bottom: 12px;
}

.al-recommendLinks .al-recommendLinkItem {
    display: inline-block;
    width: 98px;
    height: 91px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.al-recommendLinks .al-recommendLinkItem:hover figcaption {
    color: #2899e6;
}

.al-recommendLinks .al-recommendLinkItem img {
    width: 98px;
    height: 70px;
    vertical-align: top;
}

.al-recommendLinks .al-recommendLinkItem .al-newNumTips {
    right: 5px;
    top: 3px;
}

.al-recommendLinks figcaption {
    margin-top: 8px;
    color: #909090;
    font-size: 15px;
}

.al-contentItemTitle {
    padding: 16px 24px;
    border: 1px solid #e4e9ed;
    background-color: #fff;
    margin-top: 20px;
}

.al-contentItemTitle h2 {
    font-weight: 400;
    font-size: 18px;
    color: #333;
}

.al-contentItemTitle h2 .al-contentItemOtherMsg {
    font-size: 14px;
    color: #a1a9ba;
    float: right;
    cursor: pointer;
}

.al-contentItemTitle h2 .al-contentItemOtherMsg:hover {
    color: #2899e6;
}

.al-contentItemTitle h2 .al-autoUser {
    color: #555;
    font-size: 16px;
}

.al-contentItemTitle h2 .al-autoUser:hover {
    color: #2899e6;
}

.al-contentItemTitle h2 .al-unauthorizedBtn {
    font-size: 13px;
    font-family: "宋体";
    background-color: #ff9224;
    border-radius: 30px;
    color: #fff;
    padding: 8px 35px;
    cursor: pointer;
    float: right;
    margin-top: -5px;
}

.al-contentItemTitle h2 .al-unauthorizedBtn:hover {
    background-color: #ffa245;
}

.al-contentItemTitle .al-contentTipTitleLeft {
    display: inline-block;
}

.al-contentItemTitle .al-contentTipTitleRight {
    margin-left: 10px;
    font-size: 14px;
    color: #909090;
}

.al_mtb_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.al-tableBox {
    padding: 20px 24px 0 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ecf0f2;
    border-top: none;
    border-bottom: none;
}

.al-tableBox:after {
    content: '';
    display: table;
    clear: both;
}

.al-tableBox:hover {
    background-color: #fafbfd;
}

.al-tableBoxInnerWrap {
    height: 128px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ecf0f2;
}

.al-contentInALine .al-resourceTypeBox {
    padding-top: 25px;
    margin: 0 24px -15px !important;
}

.al-resourceTypeBox {
    margin-bottom: 15px;
    height: 24px;
}

.al-resourceTypeBox:after {
    content: '';
    display: inline-block;
    clear: both;
}

.al-resourceTypeBox .stickIcon {
    display: inline-block;
    float: left;
    margin-right: 12px;
    margin-top: 2px;
    background: url("//img10.allinmd.cn/v3/common/icon/stickIcon.png") no-repeat;
    width: 53px;
    height: 20px;
}

.al-resourceTypeBox span {
    float: right;
    background: url("//img10.allinmd.cn/v3/common/icon/al-resourceTypeIcon_B.png") center center no-repeat;
    width: 76px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: #909090;
}

.al-resourceTypeBox span > i {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("//img10.allinmd.cn/v3/common/icon/videoResourceIcon.png") center center no-repeat;
    margin-right: 5px;
}

.al-resourceTypeBox .al-surgeryVideo {
    width: 106px;
    height: 24px;
    background: url("//img10.allinmd.cn/v3/common/icon/resourceTypeImg.png") center center no-repeat;
}

.al-resourceTypeBox .al-surgeryVideo > i {
    background: url("//img10.allinmd.cn/v3/common/icon/videoResourceIcon.png") center center no-repeat;
}

.al-resourceTypeBox .al-libraryType i {
    background: url("//img10.allinmd.cn/v3/common/icon/libraryResourceIcon.png") center center no-repeat;
}

.al-resourceTypeBox .al-topicType i {
    background: url("//img10.allinmd.cn/v3/common/icon/topicResourceIcon.png") center center no-repeat;
}

.al-resourceTypeBox .al-caseType i {
    background: url("//img10.allinmd.cn/v3/common/icon/caseResourceIcon.png") center center no-repeat;
}

.al-resourceTypeBox .al-videoType i {
    background: url("//img10.allinmd.cn/v3/common/icon/videoResourceIcon.png") center center no-repeat;
}

.al-contentInALine {
    background-color: #fff;
    border: 1px solid #ecf0f2;
    border-top: none;
    border-bottom: none;
    /*overflow: hidden;*/
}

.al-contentInALine:after {
    content: '';
    display: table;
    clear: both;
}

.al-contentInALine:hover {
    background-color: #fafbfd;
}

.al-contentInALine .al-contentImgBox {
    float: none;
}

.al-contentInAlineDefault:hover {
    background-color: #fff;
}

.al-contentInAlineDefault .al-contentTitle {
    color: #909090;
    cursor: text;
}

.al-contentText {
    float: left;
    width: 438px;
    vertical-align: top;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.al-tableBox .al-contentTitle {
    max-width: 438px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

.al-tableItemText {
    display: inline-block;
    margin-left: 10px;
}

.al-contentImgBox {
    float: right;
    width: 192px;
    height: 128px;
    position: relative;
    vertical-align: top;
    font-size: 0;
}

.al-contentImgBox a {
    width: 192px;
    height: 128px;
    position: relative;
    display: block;
}

.al-contentImgBox img {
    width: 192px;
    height: 128px;
    vertical-align: top;
}

.al-contentTitle {
    color: #333333;
    font-size: 17px;
    display: inline-block;
    position: relative;
    /*margin-top:7px;*/
    margin-bottom: 16px;
    /*line-height: 1.5;*/
    line-height: 25px;
}

.al-contentTitle:hover {
    color: #2899e6;
}

.al-contentMainText {
    color: #666666;
    margin: 0 0 16px 0;
    font-size: 15px;
    line-height: 26px;
    word-break: break-all;
    height: 52px;
}

.al-contentMainText a {
    color: inherit;
}

.al-contentMainText a:hover {
    color: #2899e6;
}

.al-contentVideoBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -25px;
    margin-top: -25px;
    top: 50%;
    left: 50%;
}

.al-contentVideoBtn img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.al-contentVideoTime {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 81px;
    height: 25px;
    font-size: 14px;
    color: #fff;
    font-style: normal;
    text-align: center;
    line-height: 25px;
    background: url("//img10.allinmd.cn/v3/terminal/video_time.png") center center no-repeat;
    text-indent: 10px;
}

.al-contentOtherMsg {
    font-size: 12px;
    position: relative;
    color: #909090;
}

.al-contentOtherMsg span {
    margin-right: 30px;
    font-family: Arial,"宋体";
}

.al-contentOtherMsg .al-contentAuthorBox {
    display: inline-block;
    max-width: 215px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.al-contentOtherMsg i {
    font-style: normal;
}

.al-contentOtherMsg .al-unlikeBtn {
    margin-right: 0;
    margin-top: -2px;
    cursor: pointer;
}

.al-contentInALine:hover .al-contentDelete {
    display: block;
    margin-right: 0;
}

.al-contentInALine .al-contentText {
    padding: 20px 0 30px 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: block;
    margin: 0 auto;
    width: 660px;
    margin-left: 24px;
    margin-right: 24px;
    position: relative;
    border-bottom: 1px solid #ecf0f2;
}

.al-contentInALine .al-followCancel {
    position: absolute;
    font-size: 15px;
    color: #acb4c3;
    right: 24px;
    top: 50px;
    display: none;
}

.al-contentInALine .al-followCancel:hover {
    color: #3598db;
}

.al-contentInALine .al-contentImgBox {
    display: block;
    width: 660px;
    height: 255px;
}

.al-contentInALine .al-contentImgBox a,
.al-contentInALine .al-contentImgBox img {
    width: 100%;
    height: 100%;
    /*&:hover{
                -webkit-transform: scale(1.04);
                -moz-transform: scale(1.04);
                transform: scale(1.04);
            }*/
}

.al-contentInALine .al-contentImgBox img {
    vertical-align: top;
}

.al-contentInALine .al-contentImgList-one {
    margin-top: 10px;
}

.al-contentInALine .al-contentOtherMsg {
    margin-top: 20px;
}

.al-contentInALine .al-contentMainText {
    height: auto;
    max-width: 660px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    margin: -4px 0 18px;
}

.al-meetingListBox {
    border-top: 1px solid #efefef;
}

.al-meeting_timePlace {
    margin-top: 20px;
}

.al-meeting_timePlace figure {
    display: inline-block;
    font-size: 13px;
    color: #909090;
    margin-right: 30px;
}

.al-meeting_timePlace .al-meeting_time .al-meetingTimeIcon {
    display: inline-block;
    width: 14px;
    height: 15px;
    background: url("//img10.allinmd.cn/v3/common/icon/meeting_time.png") center center no-repeat;
    margin: 0 2px -2px 0;
}

.al-meeting_timePlace .al-meeting_time .al-line {
    padding: 0 4px;
}

.al-meeting_timePlace .al-meeting_place .al-meetingPlaceIcon {
    display: inline-block;
    width: 13px;
    height: 15px;
    background: url("//img10.allinmd.cn/v3/common/icon/meeting_place.png") center center no-repeat;
    margin: 0 2px -2px 0;
}

.al-meeting_timePlace .al-meeting_place .roundDot {
    padding: 0 4px;
    font-weight: 500;
}

.al-contentNewest {
    color: #9bcc4e;
    border: 1px solid #9bcc4e;
    border-radius: 3px;
    position: relative;
    padding: 0 2px;
    margin-right: 20px !important;
}

.al-contentHotest {
    color: #e84953;
    border: 1px solid #e84953;
    border-radius: 3px;
    position: relative;
    padding: 0 2px;
    margin-right: 20px !important;
}

.al-contentAward {
    color: #bd98f7;
    border: 1px solid #bd98f7;
    border-radius: 3px;
    position: relative;
    padding: 0 2px;
    margin-right: 20px !important;
}

.al-contentJoin {
    color: #44bbed;
    border: 1px solid #44bbed;
    border-radius: 3px;
    position: relative;
    padding: 0 2px;
    margin-right: 20px !important;
}

.al-contentPdf {
    color: #f34b4b;
    border: 1px solid #f34b4b;
    border-radius: 3px;
    position: relative;
    padding: 0 2px;
    margin-right: 20px !important;
}

.al-contentPPT {
    color: #f34b4b;
    border: 1px solid #f34b4b;
    border-radius: 3px;
    position: relative;
    padding: 0 2px;
    margin-right: 20px !important;
}

.al-contentActivityTag {
    border: 1px solid #fff;
    border-radius: 3px;
    position: relative;
    padding: 0 2px;
    margin-right: 10px !important;
}

.al-commentVideoPart {
    display: inline-block;
    vertical-align: top;
}

.al-commentVideoItem {
    position: relative;
    width: 327px;
    height: 218px;
    margin-bottom: 5px;
}

.al-commentVideoItem img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.al-contentImagePart {
    margin-top: 15px;
    display: block;
    vertical-align: top;
    overflow: hidden;
}

.al-contentImagePart .al-contentImgBox {
    float: left;
    position: relative;
    width: 160px;
    height: 160px;
    display: inline-block;
    margin-right: 5px;
}

.al-contentImagePart .al-contentImgBox img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.al-contentImgList {
    height: auto !important;
}

.al-contentImgList:after {
    content: '';
    display: table;
    clear: both;
}

.al-contentImgList .al-contentImgListItem {
    display: inline-block !important;
}

.al-contentImgList.al-contentImgList-two .al-contentImgListItem {
    width: 324px;
    height: 216px;
    margin-right: 5px;
}

.al-contentImgList.al-contentImgList-three .al-contentImgListItem {
    width: 210px;
    height: 140px;
    margin-right: 5px;
}

.al-more i {
    display: inline-block;
    width: 6px;
    height: 11px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/content_title_more.png") center center no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
}

.al-refreshFans i {
    display: inline-block;
    width: 18px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_refresh.png") center center no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    vertical-align: middle;
}

.al-contentArticleTitle {
    color: #626f8c;
    display: inline-block;
    word-break: break-all;
    margin: 20px 0 10px;
}

.al-contentArticleTitle:hover {
    color: #2899e6;
}

.al-contentImgMaskBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0A1E2B;
    opacity: 0.5;
}

.al-contentImgMask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 16px;
}

.al-contentImgMask:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.al-contentImgMask b {
    display: inline-block;
    width: 8px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/right_arrow.png") center center no-repeat;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -1px;
}

.al-videoAlbumContent {
    padding-top: 30px;
    padding-left: 24px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #efefef;
    background-color: #fff;
    margin-top: -1px;
}

.al-videoAlbumContent:after {
    content: '';
    display: table;
    clear: both;
}

.al-videoAlbumItem {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 212px;
    float: left;
    margin-right: 12px;
    margin-bottom: 15px;
}

.al-videoAlbumItem a {
    display: block;
    width: 100%;
    position: relative;
}

.al-videoAlbumItem a > img {
    vertical-align: top;
    width: 100%;
    height: 212px;
}

.al-videoAlbumTitle {
    margin-top: 5px;
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    height: 48px;
}

.al-contentItemTitleIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/content_title.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-videoAlbumRank {
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #efefef;
    margin-top: -1px;
}

.al-videoAlbumRankItem {
    margin: 30px 0;
}

.al-videoAlbumRankItem:after {
    content: '';
    display: table;
    clear: both;
}

.al-videoAlbumRankImg {
    float: left;
    width: 130px;
    height: 130px;
}

.al-videoAlbumRankImg img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.al-videoAlbumRankMsg {
    padding: 15px 0;
    margin-left: 160px;
}

.al-videoAlbumRankMsg a {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    line-height: 1.5;
}

.al-videoAlbumRankMsg p {
    font-size: 14px;
    color: #909090;
    margin-top: 26px;
}

.al-contentBlueBtn {
    background: transparent url("//img10.allinmd.cn/v3/default/btn_blue.png") center center no-repeat;
    background-size: 100% 100%;
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img10.allinmd.cn/v3/default/follow_btn.png',sizingMethod='scale');
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.al-meetingJoin {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_join.png") center center no-repeat;
    background-size: 100% 100%;
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img10.allinmd.cn/v3/common/icon/follow_btn.png',sizingMethod='scale');
    width: 70px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.al-contentReaded {
    margin-bottom: 15px;
}

.al-contentReaded i {
    width: 31px;
    height: 31px;
    display: inline-block;
    vertical-align: middle;
}

.al-contentReaded i img {
    width: 100%;
    vertical-align: top;
}

.al-contentReaded strong {
    font-size: 16px;
    color: #333333;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
}

.al-contentReaded span {
    color: #909090;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.al-doctorRecommend {
    padding: 30px 24px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    border-left: 1px solid #e4e9ed;
    border-right: 1px solid #e4e9ed;
    width: 100%;
    display: table;
}

.al-doctorRecommend:after {
    content: '';
    display: table;
    clear: both;
}

.al-doctorRecommend:hover {
    background-color: #fafbfd;
}

.al-doctorImg {
    display: table-cell;
    width: 54px;
}

.al-doctorImg a {
    display: inline-block;
    width: 54px;
    height: 54px;
    vertical-align: top;
    border-radius: 50%;
    overflow: hidden;
}

.al-doctorImg a img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    position: relative;
}

.al-doctorRecommend:last-child .al-doctorMsg {
    border: none;
}

.al-doctorMsg {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 17px;
    border-bottom: 1px solid #ecf0f2;
}

.al-doctorMsg:after {
    content: '';
    display: table;
    clear: both;
}

.al-doctorMsgContent {
    float: left;
    margin-left: 18px;
}

.al-doctorMsgContent > a {
    font-weight: 400;
    color: #333333;
}

.al-doctorMsgContent > a:hover {
    color: #3598db;
}

.al-doctorMsgContent p {
    margin: 10px 0 13px;
    font-size: 14px;
    color: #909090;
}

.al-doctorMsgContent p .al-doctorJob, .al-doctorMsgContent p .al-doctorHospital {
    font-size: 15px;
    color: #666;
    padding-right: 12px;
}

.al-contentTagRecommend {
    padding: 24px 24px 9px;
    background-color: #fff;
    border: 1px solid #efefef;
    margin-top: -1px;
}

.al-contentTagRecommend .al-contentTagItem {
    color: #666666;
    font-size: 15px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    border: 1px solid #e5e7ed;
}

.al-contentTagRecommend .al-contentTagItem:hover {
    background: rgba(224, 225, 231, 0.2);
}

.al-commonHospital {
    color: #73859e;
    padding: 0 5px;
}

.al-newNumTips {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f34d4d;
    position: absolute;
    right: -10px;
    top: 0;
}

.al-contentCollapse {
    color: #626f8c;
    margin-left: 20px;
    cursor: pointer;
}

.al-hrLine {
    width: 1px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e4e9ed;
    margin: 0 14px;
    border: 0;
}

.al-noFollowTips {
    height: 350px;
    text-align: center;
    cursor: default;
}

.al-noFollowTips:hover {
    background-color: #fff;
}

.al-noFollowTips:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.al-noFollowTips img {
    width: 310px;
    height: 248px;
    vertical-align: middle;
}

.al-contentDelete {
    float: right;
    font-size: 14px;
    color: #acb4c3;
    display: none;
    cursor: pointer;
}

.al-contentDelete:hover {
    color: #2899e6;
}

.al-tableBox:hover .al-contentDelete {
    display: block;
    margin-right: 0;
}

.al-noFansTips {
    background-color: #fff;
    line-height: 310px;
    height: 310px;
    text-align: center;
    font-size: 17px;
    color: #909090;
    border: 1px solid #E4E9ED;
    margin-top: -1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.al-noFansTips a {
    color: #3598db;
}

.al-noFansTips a:hover {
    text-decoration: underline;
}

.al-resourceTypeBox .al-littleScoreStarBox {
    display: inline-block;
    margin-top: 6px;
}

.al-resourceTypeBox .al-littleScoreStarBox:after {
    content: '';
    display: table;
    clear: both;
}

.al-resourceTypeBox .al-littleScoreStarBox li {
    float: left;
    width: 13px;
    height: 12px;
    background: url("//img10.allinmd.cn/v3/terminal/star_gray.png") center center no-repeat;
    margin-right: 4px;
}

.al-resourceTypeBox .al-littleScoreStarBox li > b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("//img10.allinmd.cn/v3/terminal/star_blue.png") center center no-repeat;
}

.al-indexSidebar {
    width: 270px;
    float: left;
}

.module-index-login-area {
    margin-bottom: 20px;
}

.al-allActive {
    background-color: #fff;
    overflow: hidden;
    width: 268px;
    border: 1px solid #e4e9ed;
}

.al-allActive .al-allActiveTitle {
    font-size: 18px;
    color: #333333;
    padding: 15px 20px;
    border-bottom: 1px solid #efefef;
}

.al-allActive .al-checkFirendCircle {
    display: block;
    margin: 20px auto;
    width: 230px;
    height: 40px;
    position: relative;
    border-radius: 20px;
    background: #2899e6;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    display: none;
}

.al-allActive .al-checkFirendCircle:hover {
    background: #52a9e4;
}

.al-allActive .al-checkFirendCircle:active {
    background: #0e81cf;
}

.al-allActive .al-activeItem {
    padding: 0 20px;
    margin: 20px 0;
}

.al-allActive .al-activeItem p {
    color: #626f8c;
    font-size: 13px;
}

.al-allActive .al-activeItem .al-activeItemAuthor {
    margin-right: 8px;
    color: #626f8c;
    font-family: '宋体';
}

.al-allActive .al-activeItem .al-activeItemAuthor:hover {
    color: #2899e6;
}

.al-allActive .al-activeItem .al-activeItemTime {
    float: right;
    font-family: '宋体';
    color: #909090;
}

.al-allActive .al-activeItem .al-activeItemName {
    font-style: normal;
    color: #909090;
    font-family: '宋体';
}

.al-allActive .al-activeItem .al-activeItemLink {
    color: #666666;
    margin: 10px 0;
    display: inline-block;
    line-height: 1.5;
    font-size: 15px;
}

.al-allActive .al-activeItem .al-activeItemLink:hover {
    color: #3598db;
}

.userMsg a {
    display: block;
}

.al-loginErrorPanel {
    position: absolute;
    text-align: left;
    top: 0;
    left: -340px;
    color: #666;
    font-size: 12px;
    width: 305px;
    z-index: 70;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px #444;
            box-shadow: 0 1px 2px #444;
    background-color: #fff;
    padding: 0 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.al-loginErrorPanel:after {
    content: "";
    height: 0;
    width: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-left: 7.5px solid #fff;
    border-right: 7.5px solid transparent;
    position: absolute;
    top: 50%;
    right: -14px;
    margin-top: -7.5px;
}

.al-loginErrorPanel .error-title {
    color: red;
    height: 40px;
    line-height: 40px;
    margin-left: 3px;
    background: #fff;
    border-bottom: 1px solid #e1e3e4;
}

.al-loginErrorPanel li {
    margin: 10px 0;
}

.al-inputError .al-loginUser,
.al-inputError .al-loginPwd {
    border: 1px solid #e24a4a;
    -webkit-box-shadow: 0 0 6px #e24a4a;
            box-shadow: 0 0 6px #e24a4a;
    border-radius: 5px;
    position: relative;
}

.dislikeDialog {
    width: 308px;
    height: 50px;
    position: absolute;
    z-index: 5;
    right: -45px;
    bottom: -64px;
    text-align: center;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 4px #ccc;
            box-shadow: 0 0 4px #ccc;
}

.dislikeDialog img {
    width: 18px;
    height: 9px;
    display: block;
    position: absolute;
    top: -9px;
    right: 48px;
}

.dislikeDialog span.des {
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    color: #808080;
    display: inline-block;
    text-align: center;
    margin: 0;
    font-family: "microsoft yahei";
}

.dislikeDialog span.dislikeBtn {
    width: 52px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    display: inline-block;
    background: #3598db;
    font-size: 15px;
    color: #fff;
    position: relative;
    right: 5px;
    top: -2px;
    cursor: pointer;
    border-radius: 20px;
    font-family: "微软雅黑";
}
