@charset "utf-8";
@import "../../components/_tagListModule"; //标签列表";

.al-discover-tagMain{
  .al-discover_noMatchMain_head{
    i{
      background-color:#2899E6;
      color:#fff;
      text-align: center;
      padding:2px 5px;
      margin-right:10px;
    }
  }
}
//列表项
.al-discover-tagMain{
  .al-personalFollowTag{
    padding:25px 0 0 6px;
    //border:1px solid #e4e9ed;
  }
  .al-personalFollowTagItem{
    padding:0;
    margin:0  0 21px 21px;
    position:relative;
    a{
      display: block;
      padding:14px;
    }
    &:hover{
      box-shadow:0 0 8px #b2b7bb;
      background-color:#fff;
      behavior: url("/js/third-party/pie/pie.htc");
    }

  }
  .al-personalFollowTagTitle{
    margin-bottom:0;
    height:54px;
  }
  .al-personalFollowTagNums{
    font-size:13px;
    font-family: "宋体";
  }
}

.al-discover_noMatchMain{
  font-size:16px;
  //cursor: pointer;
}
.al-discover_noMatchMain_head{
  padding:0 24px;
  figure{
    padding:35px 0 10px;
    color:#909090;
    i{
      font-size:15px;
      padding-right:5px;
    }
    >span{ //26个字母
      padding-right:3px;
    }
    p{
      float:right;
      font-size:13px;
      font-family: "宋体";
      letter-spacing: 1px;
    }
  }
}
.al-discover_noMatchMain_body{
  text-align:center;
  padding:210px 0;
  img{
    //width:220px;
    //height:260px;
    width:203px;  //标签页——无匹配便签时 9/14 16:00
    height:242px;
  }
}
//右侧栏：热门标签样式
.al-discover_noMatchSideBar{
  border:1px solid #e4e9ed;
  background-color:#fff;
  //cursor: pointer;
  h4{
    padding:18px 20px;
    font-size:18px;
    font-weight:normal;
    border-bottom:1px solid #E4E9ED;
  }
}
.al-discover_MatchSide{
  padding:12px 20px;
  &:hover{
    background-color:#F6F9FB;
  }
  .ev_tag_follow{
    cursor: pointer;
  }
  .al-discover_MatchSideText{
    display:inline-block;
    a{
      color:#555555;
    }
    p{
      width:138px;
      overflow:hidden;
      font-size:15px;
      line-height:20px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp:2;
      -webkit-box-orient: vertical;
    }
    div{
      font-size:14px;
      margin-top:10px;
      color:#909090;
      a{
        color:#FF9224;
        font-family: Arial;
      }
    }
  }
  i{//关注图标
    float:right;
    position:static;
    margin-top:0;

  }

}
.followBtn{  //关注按钮
  position:absolute;
  right:14px;
  bottom:8px;
  width:66px;
  height:26px;
  background:url("//img10.allinmd.cn/v3/discover/discover_follow.png") no-repeat;
  margin-top:40px;
}
.followedBtn{  //已关注按钮
  position:absolute;
  right:14px;
  bottom:8px;
  width:66px;
  height:26px;
  margin-top:40px;
  background:url("//img10.allinmd.cn/v3/discover/followedBtnXL.png") no-repeat;
}