@charset "utf-8";
//公共方法模块调用
@import "../../modules/common-modules";

//主体内容头部样式:begin
.al-personal {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
.al-personalInnerContent {
  float: left;
  width: 708px;
}
.al-contentItem {
  box-sizing: border-box;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #dee6ee;
  margin-top: 20px;
}
.al-disMajorMainBox_head{
  border-bottom:1px solid #E4E9ED;
  .al-disMajorMain_ul{
    .al-secLi{
      /*border-left:1px solid #DFDFDF;
      border-right:1px solid #DFDFDF;*/
      /*margin:0 15px;
      padding:0 15px;*/
    }
    li{
      &:after{
        content: '';
        display: inline-block;
        width: 1px;
        height: 16px;
        background: #dfdfdf;
      }
//      border-right:1px solid #DFDFDF;
      a{
        display: inline-block;
        margin-right:0;
        padding:0;
        padding:25px 24px 18px;
      }
      &.active a{
        color:#3598DB;
      }
     /* a:hover{  标签专题页 9/29
        color:#3598DB;
        background-color:transparent;
      }
      */
    }
  }
}

        //全部-----------下拉弹出样式
.al-disMajorAll{
  float:right;
// margin-right:-20px;
  margin: 25px 0 18px;
}


  //主体内容头部样式:end

.al-allTag_Foot{
  height:60px;
  background-color:#fff;
  font-size:13px;
  color:#909090;
  padding:0 25px;
  line-height:60px;
  p{
    display:inline-block;
    span{
      padding:0 2px;
    }
  }
}
.al-allTag_Foot{
  .al-imgBox{
    float:right;
    height:60px;
    font-size:0;
    a{
      display:inline-block;
      margin-left:12px;
      img{
        width:30px;
        height:30px;
        border-radius: 50%;
        vertical-align: middle;
      }
    }
  }
}



.al-discover_sidebar {
  float: right;
  width: 270px;
  margin-top: 20px;
}
//标签无资源
.al-noTag_iconBox{
  text-align:center;
  margin:127px 0;
  img{
    width:200px;
    height:230px;
  }
}
