@charset "utf-8";
.al-discover_subMainContent figure img{
  height: 250px;
}
.al-personal {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
.al-personalInnerContent {
  float: left;
  width: 708px;
}

.al-discover_hotActivity{
  .ev_hotActs{
    .al-discover_SMC_NewIcon,.al-discover_SMC_hotActivity,.al-discover_SMC_endIcon{ //正在进行图标
      /*width:97px;
      height:28px;
      background:url("//img10.allinmd.cn/v3/discover/hotActivity.png") no-repeat;*/
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 10px;
      height: 28px;
      //background: #F34B4B;
      border-radius: 2px;
      line-height: 28px;
      text-align: center;
      font-size: 16px;
      color: #FFFFFF;
      em{
        display: inline-block;
        background: #FFFFFF;
        width: 8px;
        height: 8px;
        border-radius: 100px;
        vertical-align: middle;
        margin-right: 6px;
      }
    }
    .al-discover_SMC_NewIcon{
      background: #55c823;
    }
    .al-discover_SMC_hotActivity{
      background: #F34B4B;
    }
    .al-discover_SMC_endIcon{
      /*width:60px;
      height:60px;
      background:url("//img10.allinmd.cn/v3/discover/endIcon.png") no-repeat;*/
      background: #1596ee;
    }
  }
}
//侧边栏样式:begin
  .al-discover_activitySideBar{
    float: right;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #E0E8EF;
    width: 272px;
    //cursor: pointer;
    .title{
      font-size:18px;
      padding:0 20px;
      height:51px;
      line-height:51px;
      border-bottom:1px solid #E9EDF1;
    }
    figure{
      text-align:center;
      padding:20px 0;
      img{
        width:228px;
        height:88px;
      }
      p{
        text-align:left;
        margin: 0 22px;
        font-size:15px;
        color:#666666;
        line-height:26px;
      }
    }
  }
//侧边栏样式:end