@charset "UTF-8";

@import "./common";

.page04-bg {
  background-color: #e2e5f7;
  padding-bottom: rem(100px);
}

.page04-title {
  img {
    width: 100%;
  }
}

.page04-contact {
  margin: rem(24px) rem(0px) rem(48px) rem(40px);
  font-size: rem(30px);
  line-height: rem(30px);
  img {
    width: rem(30px);
    vertical-align: middle;
  }
  span {
    padding-left: rem(10px);
    font-family: PingFangSC-Medium;
    color: #3E4065;
    font-weight: bold;
  }
}

.page04-desc{
  margin: rem(40px);
  opacity: 0.9;
  font-family: PingFangSC-Regular;
  font-size: rem(30px);
  color: #3E4065;
  line-height: 1.5;
}

.page04-reward{
  padding: rem(0px) rem(20px);
  margin: rem(8px) 0 ;
  img{
    width: rem(710px);
  }
}

.page04-rules{
  margin: rem(40px);
  h3{
    font-family: PingFangSC-Medium;
    font-size: rem(30px);
    color: #3E4065;
    font-weight: bold;
  }

  ul{
    padding-left: rem(30px);
    li{
      list-style-type: square;
      margin-top: rem(34px);
      opacity: 0.9;
      font-family: PingFangSC-Regular;
      font-size: rem(30px);
      color: #3E4065;
      line-height: 1.5;
    }
  }
}

.page04-next{
  margin-top: rem(100px);
  text-align: center;
  a{
    background:#d0d3e7;
    padding: rem(30px) rem(40px);
    opacity: 0.9;
    font-family: PingFangSC-Regular;
    font-size: rem(30px);
    color: #fc7152;
    font-weight: bold;
  }
}



