@charset "UTF-8";
//个人主页——修改密码
//公共方法模块调用
@import "../../modules/common-modules";
//公共变量引用
@import "../../variables/_allinmdV2-variables";
//样式模块调用
@import "../../components/_indexHeader"; //首页头部信息栏
@import "../../components/_iconModule"; //小图标组件
@import "../../components/_tableModule"; //表单组件
@import "../../components/_buttonModule"; //按钮组件
html,body{
    background-color:#fff;
}
.al-tableModuleItem{
    border-bottom: 1px solid $innerBorderColor;
    .icon-searchCancel{
        position: absolute;
        right: 0;
        display: none;
    }
}
.al-tableModuleItemInput{
    width: 75%;
    input:focus ~ .icon-searchCancel{
        display: inline-block;
    }
    .close{
        background: url('/images/img50/new-login/close.png') no-repeat;
        display: inline-block;
        width: rem2(29px);
        height: rem2(29px);
        -webkit-background-size: contain;
        background-size: contain;
        vertical-align: middle;
        margin:0 rem2(20px) 0 rem2(15px);
        position: absolute;
        top: 50%;
        margin-top: rem2(-15px);
    }
    .eye{
        display: inline-block;
        width: rem2(38px);
        vertical-align: middle;
        margin:0 rem2(20px) 0 rem2(15px);
        position: absolute;
        top: 50%;
        margin-top: rem2(-10px);
    }
    .eyeOpen{
        background: url('/images/img50/new-login/eye.png') no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        height: rem2(20px);
    }
    .eyeClose{
        background: url('/images/img50/new-login/Eye_Close.png') no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        height: rem2(27px);
        margin-top: rem2(-14px);
    }
}
.btn-primary-lg{
    opacity: 1;
}
.al-msgWriting{
    opacity: 0.5
}
.icon-searchCancel{
    @extend %icon-searchCancel;
}

@import "../../components/_recordListModule";    //记录列表组件