@charset "UTF-8";
.fixedHeader {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
}

.al-indexHeader {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.4rem;
    height: 1.17333rem;
    overflow: hidden;
}

.al-indexHeader h1 {
    font-size: 17px;
    color: #222222;
}

[data-dpr="2"] .al-indexHeader h1 {
    font-size: 34px;
}

[data-dpr="3"] .al-indexHeader h1 {
    font-size: 51px;
}

.al-indexHeader a {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #515c74;
}

[data-dpr="2"] .al-indexHeader a {
    font-size: 26px;
}

[data-dpr="3"] .al-indexHeader a {
    font-size: 39px;
}

.al-indexHeader a:link {
    color: #515c74;
}

.al-indexHeader a:visited {
    color: #515c74;
}

.al-indexHeader a:hover {
    color: #515c74;
}

.al-indexHeader a:active {
    color: #515c74;
}

.al-indexHeader .al-indexHeaderItem {
    width: 3rem;
    height: 100%;
    line-height: 1.17333rem;
    white-space: nowrap;
}

.al-indexHeader .al-indexHeaderItem:nth-last-child(1) {
    text-align: right;
}

.al-indexHeader .al-indexHeaderItem:nth-child(1) {
    text-align: left;
}

.al-indexHeader .al-indexHeaderItem:nth-child(2) {
    text-align: center;
}

.al-indexHeaderItem:nth-child(1) a {
    display: block;
    height: 100%;
    width: 1rem;
    margin-left: -0.25rem;
}

.al-indexHeaderItem:nth-child(1) a:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.al-indexHeaderItem:nth-child(1) a img {
    width: 0.8rem;
    height: 0.8rem;
    vertical-align: middle;
}

.al-indexHeaderItem:nth-child(3) a {
    color: #626f8c;
    font-size: 14px;
}

[data-dpr="2"] .al-indexHeaderItem:nth-child(3) a {
    font-size: 28px;
}

[data-dpr="3"] .al-indexHeaderItem:nth-child(3) a {
    font-size: 42px;
}

/*搜索框*/
.searchCont {
    background: #fff;
    padding: 0 0 0 0.4rem;
    height: 1.12rem;
    line-height: 1.12rem;
    overflow: hidden;
}

.searchCont:after {
    content: '';
    display: table;
    clear: both;
}

.searchCont .searchInput {
    float: left;
    width: 7.81333rem;
    height: 1.12rem;
    overflow: hidden;
    background: rgba(205, 205, 205, 0.2) url("//img50.allinmd.cn/index/searchBorder.png") no-repeat;
    background-size: contain;
    font-size: 0.4rem;
    color: #a0a0a0;
}

.searchCont .searchInput i {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("//img50.allinmd.cn/index/search.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0.17333rem 0 0.29333rem;
}

.searchCont button {
    float: left;
    background: #3CAEFA;
    border-radius: 0 6px 6px 0;
    width: 1.4rem;
    height: 1.12rem;
    line-height: 1.12rem;
    font-size: 0.4rem;
    color: #FFFFFF;
}

/*%al-newsNum {
    border-radius:rem(50px);
    background-color: #F34B4B;
    font-style: normal;
    position: absolute;
    top: rem(-10px);
    right: rem(12px);
    display: block;
    height: rem(32px);
    max-width: rem(42px);
    line-height: rem(32px);
    @include font-dpr(10px);
    color: #fff;
    padding: 0 rem(10px);
}*/
html, body {
    background-color: #fff;
}

.al-aboutBox {
    margin-top: 0.26667rem;
    padding: 1.13333rem 0.8rem;
    background-color: #fff;
}

.al-aboutLogo {
    width: 2.98667rem;
    height: 1.06667rem;
    text-align: center;
    margin: 0 auto;
}

.al-aboutLogo img {
    width: 100%;
    vertical-align: top;
}

.al-aboutContentItem {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    margin: 0.66667rem 0;
}

[data-dpr="2"] .al-aboutContentItem {
    font-size: 30px;
}

[data-dpr="3"] .al-aboutContentItem {
    font-size: 45px;
}

.al-aboutOtherContent {
    font-size: 12px;
    color: #aaa;
    line-height: 1.5;
    padding-bottom: 1.06667rem;
}

[data-dpr="2"] .al-aboutOtherContent {
    font-size: 24px;
}

[data-dpr="3"] .al-aboutOtherContent {
    font-size: 36px;
}

.al-versionContent {
    padding-top: 1.06667rem;
    border-top: 0.05333rem dashed #e4e9ed;
}

.al-versionContent .al-versionContentItem > h2 {
    color: #333;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0.66667rem;
}

[data-dpr="2"] .al-versionContent .al-versionContentItem > h2 {
    font-size: 36px;
}

[data-dpr="3"] .al-versionContent .al-versionContentItem > h2 {
    font-size: 54px;
}

.al-versionContent ol {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    color: #777;
}

[data-dpr="2"] .al-versionContent ol {
    font-size: 30px;
}

[data-dpr="3"] .al-versionContent ol {
    font-size: 45px;
}

.icon-numCircle {
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #999;
    display: inline-block;
    vertical-align: baseline;
    font-style: normal;
    width: 0.42667rem;
    height: 0.42667rem;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    line-height: 0.42667rem;
    margin-right: 0.26667rem;
}

[data-dpr="2"] .icon-numCircle {
    font-size: 32px;
}

[data-dpr="3"] .icon-numCircle {
    font-size: 48px;
}

.al-versionContent .al-aboutOtherContent {
    margin-top: 1.6rem;
    text-align: center;
}
