@charset "UTF-8";
html, body {
    background-color: #fff;
}

.al-idSureHead ul {
    padding: 0 0.4rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    border-bottom: 1px solid #d7dbde;
}

.al-idSureHead ul:after {
    content: '';
    display: table;
    clear: both;
}

.al-idSureHead p {
    height: 0.2rem;
    background-color: #eff4f8;
}

.al-idSureHeadItem {
    width: 33.33%;
    height: 100%;
    float: left;
    list-style: none;
}

.al-idSureHeadItem:nth-child(1) {
    text-align: left;
}

.al-idSureHeadItem:nth-child(1) img {
    width: 0.8rem;
    height: 0.8rem;
    vertical-align: middle;
}

.al-idSureHeadItem:nth-child(2) {
    text-align: center;
    color: #333;
    white-space: nowrap;
    font-size: 17px;
}

[data-dpr="2"] .al-idSureHeadItem:nth-child(2) {
    font-size: 34px;
}

[data-dpr="3"] .al-idSureHeadItem:nth-child(2) {
    font-size: 51px;
}

.al-idSureHeadItem:nth-child(3) {
    text-align: right;
    color: #626f8c;
    white-space: nowrap;
    font-size: 13px;
    margin-top: 0.05333rem;
}

[data-dpr="2"] .al-idSureHeadItem:nth-child(3) {
    font-size: 26px;
}

[data-dpr="3"] .al-idSureHeadItem:nth-child(3) {
    font-size: 39px;
}

.alAuthentication .al-tableModuleSelect select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 0.8rem;
    border-bottom: solid #e4e9ed 1px;
    color: #222;
    text-align: center;
}

.alAuthentication .al-tableModuleSelect:nth-child(1) select {
    width: 1.33333rem;
    text-align: center;
}

.alAuthentication .alWidth {
    width: 92%;
    margin: 0 auto;
}

.alAuthentication .authStep {
    overflow: hidden;
    margin: 0.4rem auto 0;
    width: 100%;
    position: relative;
}

.alAuthentication .authStep:before {
    content: '';
    background: url("/images/img50/authentication/nav_line.png") repeat-x center;
    position: absolute;
    left: 0.4rem;
    top: 0;
    height: 0.48rem;
    width: 87%;
}

.alAuthentication .authStep section {
    width: 1.46667rem;
    text-align: center;
    font-size: 0.34667rem;
    color: #B4B4B4;
    line-height: 0.34667rem;
    position: relative;
    z-index: 5;
    float: left;
}

.alAuthentication .authStep section aside {
    border-radius: 50%;
    font-size: 0.32rem;
    text-align: center;
    width: 0.48rem;
    height: 0.48rem;
    line-height: 0.48rem;
    background: #E4E9ED;
    border: 4px solid #FFFFFF;
    color: #fff;
    display: inline-block;
    margin-bottom: 0.13333rem;
}

.alAuthentication .authStep section:last-child {
    float: right;
}

.alAuthentication .authStep section:nth-child(2) {
    margin-left: 2.4rem;
}

.alAuthentication .authStep section.active {
    color: #3598DB;
}

.alAuthentication .authStep section.active aside {
    background: #3598DB;
    border: 2px solid #DEF2FF;
    box-shadow: 0 2px 4px 0 rgba(98, 170, 219, 0.58);
    margin-bottom: 0.2rem;
}

.alAuthentication .authStep section.success {
    color: #3598DB;
    opacity: 0.6;
}

.alAuthentication .authStep section.success aside {
    background: #86C1E9;
    border: 4px solid #FFFFFF;
    margin-bottom: 0.13333rem;
}

.alAuthentication .choseDepartment {
    font-size: 0.4rem;
    color: #808080;
    position: relative;
    border-bottom: solid 1px #DFDFDF;
    height: 0.4rem;
    width: 7.73333rem;
    margin: 3.25333rem auto 0;
}

.alAuthentication .choseDepartment span {
    position: absolute;
    background: #fff;
    height: 0.4rem;
    line-height: 30px;
    left: 50%;
    width: 4.13333rem;
    margin-left: -2.06667rem;
    display: inline-block;
    top: 50%;
    text-align: center;
}

.alAuthentication .authStepBtn {
    margin-top: 1.05333rem;
    text-align: center;
}

.alAuthentication .authStepBtn a {
    width: 7.73333rem;
    height: 1.33333rem;
    text-align: center;
    line-height: 1.33333rem;
    font-size: 0.48rem;
    color: #FFFFFF;
    border-radius: 1.33333rem;
    display: block;
    margin: 0 auto;
}

.alAuthentication .authStepBtn .firstBtn {
    background: #4AA8E2;
}

.alAuthentication .authStepBtn .firstBtn i {
    display: inline-block;
    background: url("/images/img50/authentication/gk.png") no-repeat;
    background-size: cover;
    width: 0.56rem;
    height: 0.77333rem;
    vertical-align: middle;
    margin-right: 0.2rem;
}

.alAuthentication .authStepBtn .secondBtn {
    background: #A1D06E;
    margin-top: 0.66667rem;
}

.alAuthentication .authStepBtn .secondBtn i {
    display: inline-block;
    background: url("/images/img50/authentication/sw.png") no-repeat;
    background-size: cover;
    width: 0.56rem;
    height: 0.77333rem;
    vertical-align: middle;
    margin-right: 0.2rem;
}

.alAuthentication .authStepBtn .firstBtn:active {
    background: #4298CD;
}

.alAuthentication .authStepBtn .secondBtn:active {
    background: #8BB85A;
}

.alAuthentication .al-tableModule {
    margin-top: 0.85333rem;
}

.alAuthentication .informationBtn {
    width: 92%;
    margin: 0 auto;
    opacity: 0.6;
    background: #2899E6;
    border-radius: 4px;
    height: 1.2rem;
    line-height: 1.2rem;
    margin-top: 0.8rem;
    text-align: center;
}

.alAuthentication .informationBtn span {
    opacity: 0.4;
    font-size: 0.53333rem;
    color: #FFFFFF;
}

.alAuthentication .informationBtn.active {
    opacity: 1;
}

.alAuthentication .informationBtn.active span {
    opacity: 1;
}

/*认证类型*/
.authType {
    margin-top: 1.46667rem;
}

.authType .title {
    font-size: 0.4rem;
    line-height: 0.4rem;
    color: #808080;
    padding-bottom: 0.4rem;
    border-bottom: solid 1px #E4E9ED;
}

.authType .title i {
    display: inline-block;
    width: 0.36rem;
    height: 0.2rem;
    background: url("/images/img50/authentication/arrow_up.png") no-repeat;
    background-size: cover;
    float: right;
    vertical-align: middle;
}

.authType .title i.down {
    background: url("/images/img50/authentication/arrow_down.png") no-repeat;
    background-size: cover;
}

.authType .title span {
    color: #222;
    margin-left: 0.4rem;
}

.authType .al-selectorBarList {
    padding: 0;
}

.authType .al-selectorBarItem {
    border-bottom: solid 1px #E4E9ED;
}

.authType .al-selectorBarItem.selected .al-selectorBarItemIcon {
    background: transparent url("/images/img50/authentication/Radio_Act.png") center center no-repeat;
    background-size: 100% 100%;
}

.authType .al-tableModuleItem {
    margin: 0;
}

.authType .al-tableModuleItem:last-child {
    border-bottom: solid 1px #E4E9ED;
}

.authType .al-tableModuleItem h3 {
    font-size: 0.4rem !important;
    color: #808080;
}

.authType .typeTitle {
    font-size: 0.4rem;
    line-height: 0.4rem;
    color: #808080;
    margin: 0.45333rem 0 0 0;
}

.authType .typeTitle span {
    font-size: 0.34667rem;
    color: #AAAAAA;
}

.authType .authUpload {
    margin: 0.90667rem 0 0.8rem 0;
    overflow: hidden;
}

.authType .authUpload fieldset {
    width: 4.24rem;
    height: 2.82667rem;
    background: url("/images/img50/authentication/border.png") no-repeat;
    position: relative;
    background-size: cover;
    text-align: center;
    float: left;
}

.authType .authUpload fieldset img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.authType .authUpload fieldset i {
    background: url("/images/img50/authentication/photo.png") no-repeat;
    background-size: cover;
    width: 0.56rem;
    height: 0.45333rem;
    display: block;
    position: absolute;
    top: 0.93333rem;
    left: 1.84rem;
}

.authType .authUpload fieldset span {
    font-size: 0.32rem;
    color: #3598DB;
    position: absolute;
    top: 0.93333rem;
    margin-top: 0.66667rem;
    left: 0;
    width: 100%;
    z-index: 0;
}

.authType .authUpload figure {
    float: right;
    height: 2.82667rem;
    width: 4.25333rem;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.authType .authUpload figure img {
    width: 100%;
    height: 100%;
}

.moreChose {
    font-size: 0.34667rem;
    color: #909090;
    line-height: 0.34667rem;
    background-color: #eff4f8;
    padding: 0.4rem 0 0.26667rem 0.4rem;
}

.choseMajor .al-tableModule {
    margin: 0;
}

.al-idSureContent .al-tableModuleItemInput a {
    color: #333;
}

.al-tableModuleItemIcon {
    position: relative;
}

.al-tableModuleItemIcon:after {
    position: absolute;
    background: url("//img50.allinmd.cn/user/renzheng/arrow_03.jpg") no-repeat;
    height: 0.4rem;
    width: 0.26667rem;
    right: -0.13333rem;
    content: "";
}

.selectTagNext {
    color: #dbdbdb;
    font-size: 0.4rem;
}

.selectTagNext.active {
    color: #3598db;
}

.selectTag {
    display: table;
    text-align: center;
    width: 100%;
}

.selectTag p {
    color: #333;
    font-size: 0.34667rem;
    margin: 0.53333rem 0;
}

.selectTag span {
    padding: 0.26667rem 0.32rem;
    margin: 0 0.4rem 0.37333rem 0;
    border: 1px solid #626f8c;
    border-radius: 0.05333rem;
    display: inline-block;
}

.selectTag span.active {
    background: #2899e6;
    color: #fff;
}

.al-tableModuleItemInput > input {
    padding-left: 1px;
}
