@charset "UTF-8";
$mainBackgroundColor:#eef3f8; 			//全页主背景色
$blackTextColor1:#555555;				//导航条文本颜色
$outerBorderColor:#dee6ee;				//底部边框颜色
$innerBorderColor:#efefef;				//内部边框颜色
$deepTextColor:#626f8c;					//深色文本颜色
$mainTitleColor:#333333;				//正文标题颜色
$mainContentColor:#666666;				//正文颜色
$smallContentColor:#909090;				//小文字颜色
$linkContentColor:#2899e6;				//蓝色链接文本颜色