/*新认证*/
.auth .auth_lh {
    font-size: 28px;
    color: #036eb8;
}
.clear{
    clear:both;
}
.auth .auth_tishi {
    font-size: 18px;
    color: #808080;
    text-align: center;
    line-height: 28px;
    margin: 15px 0 55px 0;
}
.auth .auth_tishi_sh{
    margin: 15px 0 37px -70px;
    float: left;
    width: 487px;
    height: 56px;
}
.auth .login_content .no_auth {
    margin-top: 30px;
    color: #9eafc2;
    cursor: pointer;
}
.auth .other_auth{
    margin-top: 22px;
    color: #9eafc2;
    cursor: pointer;
}
.auth_bottom{
    z-index: 100;
    position:fixed;
    bottom:62px;
    left:50%;
    margin-left: -279px;
    width:558px;
}
.auth_bottom .auth_b_po{
    width:108px;
    margin:0 auto;
}
.auth_bottom .auth_b_po li{
    float: left;
    width:16px;
    height:16px;
    margin:0 10px;
    background:url("//modules.allinmd.cn/auth/images/a_pointer_def.png") no-repeat center;
}
.auth_bottom .auth_b_po .active{
    background:url("//modules.allinmd.cn/auth/images/a_pointer_act.png") no-repeat center;
}
.auth_bottom .auth_b_link{
    color: #8fa9c4;
    font-size: 12px;
    width:558px;
    margin:60px auto 0;
    text-align: center;
    font-family: "microsoft yahei";
}
.auth_bottom .auth_b_link span{
    margin-right: 10px;
}

.auth .authName_input {
    float:left;
    width: 232px;
    margin-right: 10px;
}

.auth .authAge_input {
    float:left;
    width: 98px;
}
.auth .authName_input input {
    width: 206px;
    margin-left: 14px;
    overflow: hidden;
    background:#fff;
}
.auth .authAge_input input {
    width: 72px;
    margin-left: 14px;
    overflow: hidden;
    background:#fff;
}
.auth .auth_up_logo{
    width:100%;
}
.auth .auth_tishi02{
    float: left;
    width:356px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px;
    color:#808080;
}
.auth .auth_uploadfile{
    position:relative;
    width:110px;
    height:110px;
    margin:0 auto;
}
.auth .auth_sc{
    color:#9eafc2;
    font-size:16px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.auth .lk_input{
    position:relative;
}
.auth .p_l_zc_xl {
    position: absolute;
    left: -1px;
    z-index: 3;
    width: 339px;
    border: 1px solid #e2e3e3;
    box-shadow: 0 0 3px #e2e3e3;
    padding: 0 0 20px 0;
    background: #fff;
    display:none;
}
.auth .p_l_zc_xl li {
    font-size: 12px;
    line-height: 12px;
    margin-left: 12px;
    background:none;
    margin-top: 0;
    height:auto;
}
.auth .p_l_zc_xl li .p_l_zc_xl_li li {
    color: #333;
    float: left;
    background: 0 0;
    margin-right: 18px;
    margin-top: 20px;
    margin-left: 0;
    cursor: pointer;
    padding:0;
}
.auth .p_l_zc_xl li .p_l_zc_xl_li .hover {
    color: #3d84c6;
}
.auth .p_l_zc_xl li .p_l_zc_xl_li .active{
    color:#b4b4b4;
}
.auth .a_tag{
    padding-top: 12px;
    height: 34px;
    overflow: auto;
}
.auth .a_tag li{
    width: auto;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    float: left;
    margin: 0 10px 10px 0;
}
.auth .a_tag .p_baseinfo_tag_close, .auth .a_tag .p_baseinfo_tag_list_c li,.auth .a_tag .p_baseinfo_tag_text {
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 12px;
}
.auth .a_tag .p_baseinfo_tag_close {
    margin: 1px 0 0 7px;
    cursor: pointer;
}
.auth .zj_sc_title{
    font-size: 16px;
    color:#707c89;
    text-align: left;
}
.auth .zj_sc_title .cer_sc,.auth .zj_sc_title .wx_sc{
    cursor: pointer;
}
.auth .cer_sc_active{
    color:#0b83e0;
}
.auth .line_sc{
    margin:0 10px;
}
.auth .zj_sc_con{
    margin: 10px auto 0;
    width:339px;
}
.auth .cer_sc_con{
    width:317px;
    height:239px;
    padding:20px 12px 10px 10px;
    background:url("//modules.allinmd.cn/auth/images/pot_bg.png") no-repeat center;
}
.auth .cer_l{
    width:143px;
    height:94px;
    float:left;
    margin-bottom: 10px;
}
.auth .cer_r{
    width:164px;
    height:94px;
    float:left;
    margin-left: 9px;
}
.auth .cer_r .cer_r_t{
    font-size: 15px;
    color:#333333;
    text-align: left;
}
.auth .cer_r .cer_r_c{
    font-size: 14px;
    color:#666666;
    text-align: left;
    line-height: 18px;
    margin-top: 8px;
}
.auth .cer_uploadfile{
    position: relative;
    width: 315px;
    height: 135px;
}
.auth #pic_mask{
    display:none;
}

.auth .wx_sc_con{
    display:none;
    width:299px;
    height:110px;
    padding-left: 40px;
    padding-top: 24px;
    background:url("//modules.allinmd.cn/auth/images/wx_bg.png") no-repeat center;
}
.auth .wx_l{
    width:94px;
    height:94px;
    float:left;
}
.auth .wx_r{
    width:155px;
    height:94px;
    float:left;
    margin-left: 24px;
}
.auth .wx_r .wx_r_t{
    font-size: 15px;
    color:#333333;
    text-align: left;
    margin-top: 12px;
}
.auth .wx_r .wx_r_c{
    font-size: 14px;
    color:#666666;
    text-align: left;
    line-height: 18px;
    margin-top: 8px;
}
.auth .v2-blue-btn a{
    text-decoration: none;
    display: inline-block;
    width:100%;
    height:100%;
    color:white;
}
.auth .auth_suc{
    margin-bottom: 40px;
}
.auth .auth_suc_tishi{
    text-align: left;
}
.auth .auth_line{
    text-align: left;
    color:#707c89;
    font-size: 16px;
    margin-bottom: 20px;
}
.auth .auth_othTishi{
    color:#969696;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
}
.auth .auth_othTishi span{
	width:16px;
    height:16px;
    float:left;
    margin:1px 8px 0 0;
	background: url("//modules.allinmd.cn/auth/images/bj_bg.png") no-repeat;
}
.auth .go_back{
    font-size: 12px;
    text-align: center;
    color:#0b83e0;
    margin-top: 7px;
    cursor: pointer;
}

.auth .weixin_error{
    line-height:28px;
}