@charset "UTF-8";
.al-spreadBack {
    color: #626f8c;
    line-height: 70px;
    vertical-align: middle;
}

.al-mainInner {
    padding-bottom: 0;
}

.icon-spreadBack {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/single/back.png") center center no-repeat;
}

.al-spreadContent {
    background-color: #fff;
}

@-webkit-keyframes rotateCW {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateCW {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

@-webkit-keyframes rotateACW {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotateACW {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
                transform: rotate(-359deg);
    }
}

@keyframes RightBtoShow {
    0% {
        left: 500px;
        top: 400px;
        opacity: 0;
    }
    100% {
        left: 182px;
        top: 197px;
        opacity: 1;
    }
}

@-webkit-keyframes RightBtoShow /* Safari 和 Chrome */ {
    0% {
        left: 500px;
        top: 400px;
        opacity: 0;
    }
    100% {
        left: 182px;
        top: 197px;
        opacity: 1;
    }
}

@keyframes topBtoShow {
    0% {
        top: 358px;
    }
    50% {
        top: 378px;
    }
    100% {
        top: 358px;
    }
}

@-webkit-keyframes topBtoShow /* Safari 和 Chrome */ {
    0% {
        top: 358px;
    }
    50% {
        top: 378px;
    }
    100% {
        top: 358px;
    }
}

@keyframes fadeUpDown1 {
    0% {
        top: 177px;
        opacity: 1;
    }
    20% {
        top: 177px;
        opacity: 1;
    }
    40% {
        top: 157px;
        opacity: 1;
    }
    60% {
        top: 157px;
        opacity: 1;
    }
    80% {
        top: 157px;
        opacity: 1;
    }
    100% {
        top: 177px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeUpDown1 {
    0% {
        top: 177px;
        opacity: 1;
    }
    20% {
        top: 177px;
        opacity: 1;
    }
    40% {
        top: 157px;
        opacity: 1;
    }
    60% {
        top: 157px;
        opacity: 1;
    }
    80% {
        top: 157px;
        opacity: 1;
    }
    100% {
        top: 177px;
        opacity: 1;
    }
}

@keyframes fadeUpDown2 {
    0% {
        top: 253px;
        opacity: 1;
    }
    20% {
        top: 253px;
        opacity: 1;
    }
    40% {
        top: 233px;
        opacity: 1;
    }
    60% {
        top: 233px;
        opacity: 1;
    }
    80% {
        top: 233px;
        opacity: 1;
    }
    100% {
        top: 253px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeUpDown2 {
    0% {
        top: 253px;
        opacity: 1;
    }
    20% {
        top: 253px;
        opacity: 1;
    }
    40% {
        top: 233px;
        opacity: 1;
    }
    60% {
        top: 233px;
        opacity: 1;
    }
    80% {
        top: 233px;
        opacity: 1;
    }
    100% {
        top: 253px;
        opacity: 1;
    }
}

@keyframes fadeUpDown3 {
    0% {
        top: 514px;
        opacity: 1;
    }
    20% {
        top: 514px;
        opacity: 1;
    }
    40% {
        top: 494px;
        opacity: 1;
    }
    60% {
        top: 494px;
        opacity: 1;
    }
    80% {
        top: 494px;
        opacity: 1;
    }
    100% {
        top: 514px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeUpDown3 {
    0% {
        top: 514px;
        opacity: 1;
    }
    20% {
        top: 514px;
        opacity: 1;
    }
    40% {
        top: 494px;
        opacity: 1;
    }
    60% {
        top: 494px;
        opacity: 1;
    }
    80% {
        top: 494px;
        opacity: 1;
    }
    100% {
        top: 514px;
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut3 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut4 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut4 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut5 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut5 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut6 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut6 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.al-spreadItem1 {
    background: transparent url("/images/img10/v3/single/3bg_item1.png") center center no-repeat;
}

.al-spreadItem1 .al-spreadContentItem {
    width: 1000px;
    height: 720px;
    position: relative;
    margin: 0 auto;
}

.al-spreadItem1 .al-spreadContentItem .itemImg1 {
    position: absolute;
    top: 190px;
    left: 0;
}

.al-spreadItem1 .al-spreadContentItem .itemImg2 {
    position: absolute;
    top: 482px;
    left: 225px;
}

.al-spreadItem1 .al-spreadContentItem .itemImg3 {
    position: absolute;
    top: 190px;
    left: 240px;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc {
    position: absolute;
    top: 243px;
    left: 569px;
    display: inline-block;
    vertical-align: top;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: white;
    background: -webkit-linear-gradient(109deg, #0a5def 0%, #6182e6 100%);
    background: -o-linear-gradient(109deg, #0a5def 0%, #6182e6 100%);
    background: linear-gradient(341deg, #0a5def 0%, #6182e6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -3px;
    opacity: 0;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt1 i {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 9px;
    vertical-align: middle;
    background-color: #335EE8;
    border-radius: 50%;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt2 {
    font-size: 30px;
    font-weight: 100;
    color: white;
    line-height: 30px;
    background: -webkit-linear-gradient(127deg, #0a5def 0%, #6182e6 100%);
    background: -o-linear-gradient(127deg, #0a5def 0%, #6182e6 100%);
    background: linear-gradient(323deg, #0a5def 0%, #6182e6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px 0 26px 0;
    opacity: 0;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt3 {
    width: 44px;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#335ee8), to(#6483e9));
    background: -webkit-linear-gradient(left, #335ee8 0%, #6483e9 100%);
    background: -o-linear-gradient(left, #335ee8 0%, #6483e9 100%);
    background: linear-gradient(90deg, #335ee8 0%, #6483e9 100%);
    margin-bottom: 25px;
    opacity: 0;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 {
    font-weight: 300;
    color: black;
    line-height: 18px;
    font-size: 0;
    opacity: 0;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 div {
    display: inline-block;
    vertical-align: top;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 img {
    margin-right: 17px;
    width: 104px;
    height: 114px;
    display: inline-block;
    margin-left: -6px;
    margin-top: -6px;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 input {
    border: none;
    width: 204px;
    height: 48px;
    vertical-align: top;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 p {
    font-size: 26px;
    margin-top: 5px;
    line-height: 26px;
    font-weight: 300;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(17, 96, 239, 0.7);
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(17, 96, 239, 0.7);
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(17, 96, 239, 0.7);
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(17, 96, 239, 0.7);
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 .item4Input {
    width: 308px;
    height: 48px;
    background: -webkit-linear-gradient(310deg, white 0%, white 100%);
    background: -o-linear-gradient(310deg, white 0%, white 100%);
    background: linear-gradient(140deg, white 0%, white 100%);
    border-radius: 3px;
    border: 1px solid #325DE7;
    border-right: none;
    text-indent: 6px;
    margin-top: 20px;
    font-size: 0;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 .item4Input button {
    width: 98px;
    height: 48px;
    background: -webkit-linear-gradient(310deg, #2d59e7 0%, #6483e9 100%);
    background: -o-linear-gradient(310deg, #2d59e7 0%, #6483e9 100%);
    background: linear-gradient(140deg, #2d59e7 0%, #6483e9 100%);
    border-radius: 0 3px 3px 0;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    color: #ffffff;
    cursor: pointer;
}

.al-spreadItem1 .al-spreadContentItem .itemDesc .itemDescTxt4 .phoneTip {
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 126, 77, 0.85);
    line-height: 10px;
    margin-top: 4px;
    display: none;
}

.al-spreadItem1.animateOn .itemImg1 {
    animation: fadeInLeft 0.75s 0s ease-in-out forwards;
    -webkit-animation: fadeInLeft 0.75s 0s ease-in-out forwards;
    opacity: 1;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem1.animateOn .itemImg2 {
    animation: fadeIn 1.5s 0s ease-in-out forwards;
    -webkit-animation: fadeIn 1.5s 0s ease-in-out forwards;
    opacity: 1;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.al-spreadItem1.animateOn .itemImg3 {
    animation: fadeInRight 0.75s 0s ease-in-out forwards;
    -webkit-animation: fadeInRight 0.75s 0s ease-in-out forwards;
    opacity: 1;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem1.animateOn .itemDescTxt1 {
    animation: fadeInUp 0.5s 0.5s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.5s 0.5s ease-in-out forwards;
    opacity: 1;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem1.animateOn .itemDescTxt2 {
    animation: fadeInUp 0.35s 0.85s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.35s 0.85s ease-in-out forwards;
    opacity: 1;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem1.animateOn .itemDescTxt3 {
    animation: fadeIn 0.65s 1.25s ease-in-out forwards;
    -webkit-animation: fadeIn 0.65s 1.25s ease-in-out forwards;
    opacity: 1;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.al-spreadItem1.animateOn .itemDescTxt4 {
    animation: fadeInUp 0.5s 0.75s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.5s 0.75s ease-in-out forwards;
    opacity: 1;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem2 {
    background: transparent url("/images/img10/v3/single/3bg_item2.png") center center no-repeat;
}

.al-spreadItem2 .al-spreadContentItem {
    width: 1000px;
    height: 900px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.al-spreadItem2 .al-spreadContentItem .itemImg1 {
    width: 696px;
    height: 427px;
    position: absolute;
    top: 197px;
    left: 310px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg2 {
    width: 227px;
    height: 120px;
    position: absolute;
    top: 367px;
    left: 89px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg3 {
    width: 132px;
    height: 137px;
    position: absolute;
    top: 329px;
    left: 575px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg4 {
    width: 240px;
    height: 172px;
    position: absolute;
    top: 220px;
    left: 724px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg5 {
    width: 345px;
    height: 226px;
    position: absolute;
    top: 143px;
    left: 388px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg6 {
    width: 284px;
    height: 160px;
    position: absolute;
    top: 157px;
    left: 434px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg6_1 {
    width: 284px;
    height: 160px;
    position: absolute;
    top: 177px;
    left: 434px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg7 {
    width: 226px;
    height: 211px;
    position: absolute;
    top: 239px;
    left: 239px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg8 {
    width: 176px;
    height: 176px;
    position: absolute;
    top: 233px;
    left: 269px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg8_1 {
    width: 176px;
    height: 176px;
    position: absolute;
    top: 253px;
    left: 269px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg9 {
    width: 265px;
    height: 71px;
    position: absolute;
    top: 514px;
    left: 609px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg10 {
    width: 249px;
    height: 61px;
    position: absolute;
    top: 494px;
    left: 622px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemImg10_1 {
    width: 249px;
    height: 61px;
    position: absolute;
    top: 514px;
    left: 622px;
    opacity: 0;
}

.al-spreadItem2 .al-spreadContentItem .itemTxt1 {
    font-size: 65px;
    color: black;
    line-height: 65px;
    position: absolute;
    top: 611px;
    left: 50%;
    font-weight: 300;
    margin-left: -130px;
}

.al-spreadItem2 .al-spreadContentItem .itemTxt2 {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 22px;
    position: absolute;
    top: 704px;
    left: 50%;
    margin-left: -183px;
    font-weight: 300;
    opacity: 0;
}

.al-spreadItem2.animateOn .itemImg1 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: RightBtoShow 1s ease forwards;
    animation: RightBtoShow 1s ease forwards;
}

.al-spreadItem2.animateOn .itemImg2 {
    animation: fadeIn 1s 2s ease-in-out forwards;
    -webkit-animation: fadeIn 1s 2s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.al-spreadItem2.animateOn .itemImg3 {
    animation: fadeIn 1s 2s ease-in-out forwards;
    -webkit-animation: fadeIn 1s 2s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.al-spreadItem2.animateOn .itemImg4 {
    animation: fadeIn 1s 2s ease-in-out forwards;
    -webkit-animation: fadeIn 1s 2s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.al-spreadItem2.animateOn .itemImg5 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut 4s ease-in-out 1.5s infinite;
    animation: fadeInOut 4s ease-in-out 1.5s infinite;
}

.al-spreadItem2.animateOn .itemImg6_1 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut3 1.5s ease-in-out 1s forwards;
    animation: fadeInOut3 1.5s ease-in-out 1s forwards;
}

.al-spreadItem2.animateOn .itemImg6 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeUpDown1 4s ease-in-out 1.5s infinite;
    animation: fadeUpDown1 4s ease-in-out 1.5s infinite;
}

.al-spreadItem2.animateOn .itemImg7 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut 4s ease-in-out 2s infinite;
    animation: fadeInOut 4s ease-in-out 2s infinite;
}

.al-spreadItem2.animateOn .itemImg8_1 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut3 1.5s ease-in-out 1.5s forwards;
    animation: fadeInOut3 1.5s ease-in-out 1.5s forwards;
}

.al-spreadItem2.animateOn .itemImg8 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeUpDown2 4s ease-in-out 2s infinite;
    animation: fadeUpDown2 4s ease-in-out 2s infinite;
}

.al-spreadItem2.animateOn .itemImg9 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut 4s ease-in-out 2.7s infinite;
    animation: fadeInOut 4s ease-in-out 2.7s infinite;
}

.al-spreadItem2.animateOn .itemImg10_1 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut3 1.5s ease-in-out 2s forwards;
    animation: fadeInOut3 1.5s ease-in-out 2s forwards;
}

.al-spreadItem2.animateOn .itemImg10 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeUpDown3 4s ease-in-out 2.5s infinite;
    animation: fadeUpDown3 4s ease-in-out 2.5s infinite;
}

.al-spreadItem2.animateOn .itemTxt1 {
    animation: fadeInUp 1s 0s ease-in-out forwards;
    -webkit-animation: fadeInUp 1s 0s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem2.animateOn .itemTxt2 {
    animation: fadeInUp 0.8s 0.2s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.8s 0.2s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem3 {
    background: transparent url("/images/img10/v3/single/3bg_item3.png") center center no-repeat;
}

.al-spreadItem3 .al-spreadContentItem {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

.al-spreadItem3 .al-spreadContentItem .itemImg1 {
    width: 490px;
    height: 491px;
    position: absolute;
    top: 298px;
    left: 52%;
    margin-left: -245px;
}

.al-spreadItem3 .al-spreadContentItem .itemImg2 {
    width: 238px;
    height: 239px;
    position: absolute;
    top: 427px;
    left: 52%;
    margin-left: -119px;
}

.al-spreadItem3 .al-spreadContentItem .itemImg3 {
    width: 477px;
    height: 443px;
    margin-top: 337px;
    position: absolute;
    top: 0;
    left: 51.6%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.al-spreadItem3 .al-spreadContentItem .itemTxt1 {
    font-size: 65px;
    font-weight: 300;
    color: white;
    line-height: 65px;
    position: absolute;
    top: 118px;
    left: 50%;
    margin-left: -130px;
    opacity: 0;
}

.al-spreadItem3 .al-spreadContentItem .itemTxt2 {
    font-size: 22px;
    font-weight: 300;
    color: white;
    line-height: 22px;
    position: absolute;
    top: 209px;
    left: 50%;
    margin-left: -183px;
    opacity: 0;
}

.al-spreadItem3.animateOn .itemImg1 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotateCW 8s linear infinite;
    animation: rotateCW 8s linear infinite;
}

.al-spreadItem3.animateOn .itemImg2 {
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotateACW 11s linear infinite;
    animation: rotateACW 11s linear infinite;
}

.al-spreadItem3.animateOn .itemTxt1 {
    animation: fadeInUp 0.9s 0s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.9s 0s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem3.animateOn .itemTxt2 {
    animation: fadeInUp 0.6s 0.2s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.6s 0.2s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem4 {
    background: transparent url("/images/img10/v3/single/3bg_item4.png") center center no-repeat;
}

.al-spreadItem4 .al-spreadContentItem {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

.al-spreadItem4 .al-spreadContentItem .itemImg1 {
    width: 1112px;
    height: 354px;
    position: absolute;
    top: 546px;
    left: 0;
}

.al-spreadItem4 .al-spreadContentItem .itemImg2 {
    width: 324px;
    height: 324px;
    position: absolute;
    top: 363px;
    left: 50%;
    margin-left: -162px;
    opacity: 0;
}

.al-spreadItem4 .al-spreadContentItem .itemImg3 {
    width: 748px;
    height: 341px;
    position: absolute;
    top: 325px;
    left: 91px;
    opacity: 0;
}

.al-spreadItem4 .al-spreadContentItem .itemImg4 {
    width: 522px;
    height: 425px;
    position: absolute;
    top: 278px;
    left: 178px;
    opacity: 0;
}

.al-spreadItem4 .al-spreadContentItem .itemTxt1 {
    font-size: 65px;
    font-weight: 300;
    color: black;
    line-height: 65px;
    position: absolute;
    top: 128px;
    left: 50%;
    margin-left: -97.5px;
    opacity: 0;
}

.al-spreadItem4 .al-spreadContentItem .itemTxt2 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
    line-height: 22px;
    position: absolute;
    top: 221px;
    left: 50%;
    margin-left: -187px;
    opacity: 0;
}

.al-spreadItem4.animateOn .itemImg1 {
    animation: fadeInUp 1.25s 0s ease-in-out forwards;
    -webkit-animation: fadeInUp 1.25s 0s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem4.animateOn .itemImg2_1 {
    animation: flipInX 3s 0s ease-in-out forwards;
    -webkit-animation: flipInX 3s 0s ease-in-out forwards;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    opacity: 0;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
           transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
           transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.al-spreadItem4.animateOn .itemImg2 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut4 6s ease-in-out 0.5s infinite;
    animation: fadeInOut4 6s ease-in-out 0.5s infinite;
}

.al-spreadItem4.animateOn .itemImg3 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut5 6s ease-in-out 1.25s infinite;
    animation: fadeInOut5 6s ease-in-out 1.25s infinite;
}

.al-spreadItem4.animateOn .itemImg3_1 {
    animation: flipInX 3s 0s ease-in-out forwards;
    -webkit-animation: flipInX 3s 0s ease-in-out forwards;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    opacity: 0;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
           transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
           transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.al-spreadItem4.animateOn .itemImg4_1 {
    animation: flipInX 3s 0s ease-in-out forwards;
    -webkit-animation: flipInX 3s 0s ease-in-out forwards;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    opacity: 0;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
           transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
           transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.al-spreadItem4.animateOn .itemImg4 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: fadeInOut6 6s ease-in-out 2s infinite;
    animation: fadeInOut6 6s ease-in-out 2s infinite;
}

.al-spreadItem4.animateOn .itemTxt1 {
    animation: fadeInUp 1s 0s ease-in-out forwards;
    -webkit-animation: fadeInUp 1s 0s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem4.animateOn .itemTxt2 {
    animation: fadeInUp 0.8s 0.2s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.8s 0.2s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem5 {
    background: transparent url("/images/img10/v3/single/3bg_item5.png") center center no-repeat;
}

.al-spreadItem5 .al-spreadContentItem {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

.al-spreadItem5 .al-spreadContentItem .itemImg1 {
    width: 1000px;
    height: 615px;
    position: absolute;
    top: 286px;
    left: 52%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.al-spreadItem5 .al-spreadContentItem .itemImg2 {
    width: 229px;
    height: 222px;
    position: absolute;
    top: 358px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.al-spreadItem5 .al-spreadContentItem .itemTxt1 {
    font-size: 65px;
    color: white;
    position: absolute;
    top: 145px;
    left: 50%;
    font-weight: 300;
    margin-left: -500px;
    width: 100%;
    text-align: center;
    opacity: 0;
}

.al-spreadItem5 .al-spreadContentItem .itemTxt2 {
    font-size: 22px;
    color: white;
    position: absolute;
    top: 238px;
    left: 50%;
    margin-left: -500px;
    width: 100%;
    text-align: center;
    opacity: 0;
    font-weight: 300;
}

.al-spreadItem5 .al-spreadContentItem .itemTxt2 span {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 17px;
    background: #ffffff;
}

.al-spreadItem5.animateOn .itemImg2 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: topBtoShow 3s ease-in-out infinite;
    animation: topBtoShow 3s ease-in-out infinite;
}

.al-spreadItem5.animateOn .itemImg1 {
    animation: fadeIn 1s 0s ease-in-out forwards;
    -webkit-animation: fadeIn 1s 0s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.al-spreadItem5.animateOn .itemTxt1 {
    animation: fadeInUp 0.9s 0s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.9s 0s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem5.animateOn .itemTxt2 {
    animation: fadeInUp 0.6s 0.2s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.6s 0.2s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.al-spreadItem6 .al-spreadContentItem {
    width: 1200px;
    height: 331px;
    margin: 0 auto;
    position: relative;
    font-size: 0;
}

.al-spreadItem6 .al-spreadContentItem .txtTop {
    font-weight: 300;
    color: black;
    font-size: 0;
    position: absolute;
    top: 67px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.al-spreadItem6 .al-spreadContentItem .txtTop img {
    display: inline-block;
    width: 144px;
    height: 144px;
}

.al-spreadItem6 .al-spreadContentItem .txtTop div {
    display: inline-block;
    vertical-align: top;
}

.al-spreadItem6 .al-spreadContentItem .txtTop img {
    margin-right: 40px;
    width: 144px;
    height: 144px;
    display: inline-block;
    background: -webkit-linear-gradient(310deg, white 0%, white 100%);
    background: -o-linear-gradient(310deg, white 0%, white 100%);
    background: linear-gradient(140deg, white 0%, white 100%);
    border-radius: 3px;
    border: 1px solid #325DE7;
}

.al-spreadItem6 .al-spreadContentItem .txtTop input {
    border: none;
    width: 275px;
    height: 48px;
    vertical-align: top;
}

.al-spreadItem6 .al-spreadContentItem .txtTop p {
    font-size: 32px;
    margin-top: 30px;
}

.al-spreadItem6 .al-spreadContentItem .txtTop p img {
    display: inline-block;
    width: 75px;
    height: 6px;
    margin-left: 18px;
    vertical-align: middle;
    border: none;
    margin-right: 0;
}

.al-spreadItem6 .al-spreadContentItem .txtTop ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #1160EF;
    opacity: .7;
}

.al-spreadItem6 .al-spreadContentItem .txtTop :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #1160EF;
    opacity: .7;
}

.al-spreadItem6 .al-spreadContentItem .txtTop ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #1160EF;
    opacity: .7;
}

.al-spreadItem6 .al-spreadContentItem .txtTop :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #1160EF !important;
    opacity: .7;
}

.al-spreadItem6 .al-spreadContentItem .txtTop .itemInput {
    width: 379px;
    height: 48px;
    background: -webkit-linear-gradient(310deg, white 0%, white 100%);
    background: -o-linear-gradient(310deg, white 0%, white 100%);
    background: linear-gradient(140deg, white 0%, white 100%);
    border-radius: 3px;
    border: 1px solid #325DE7;
    border-right: none;
    text-indent: 6px;
    margin-top: 33px;
    font-size: 0;
}

.al-spreadItem6 .al-spreadContentItem .txtTop .itemInput button {
    width: 98px;
    height: 48px;
    background: -webkit-linear-gradient(310deg, #2d59e7 0%, #6483e9 100%);
    background: -o-linear-gradient(310deg, #2d59e7 0%, #6483e9 100%);
    background: linear-gradient(140deg, #2d59e7 0%, #6483e9 100%);
    border-radius: 0 3px 3px 0;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    color: #ffffff;
    cursor: pointer;
}

.al-spreadItem6 .al-spreadContentItem .txtTop .phoneTip {
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 126, 77, 0.85);
    line-height: 10px;
    margin-top: 4px;
    display: none;
}

.al-spreadItem6 .al-spreadContentItem .txtBot {
    width: 1200px;
    border-top: 1px solid #C4D5E9;
    position: absolute;
    bottom: 50px;
    left: 0;
    font-size: 13px;
    font-weight: 400;
    color: #8a9197;
    line-height: 13px;
}

.al-spreadItem6 .al-spreadContentItem .txtBot p:nth-child(1) {
    position: absolute;
    top: 13px;
    left: 0;
}

.al-spreadItem6 .al-spreadContentItem .txtBot p:nth-child(2) {
    position: absolute;
    top: 13px;
    left: 192px;
}

.al-spreadItem6 .al-spreadContentItem .txtBot p:nth-child(3) {
    position: absolute;
    top: 13px;
    right: 0;
}

.icon-spreadErrorTips {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: transparent url("//img10.allinmd.cn/v3/single/error.png") center center no-repeat;
}
