.al-loginInner {
    width: 375px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.al-authLoginCancel {
    color: #ccc;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 32.5px;
    padding-left: 15px;
}

.al-authLoginHeader {
    width: 300px;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 30px;
}

.al-authLoginHeader > .al-authLoginImg {
    display: inline-block;
    vertical-align: middle;
}

.al-authLoginHeader > .al-authLoginImg > img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.al-authLoginHeader .ydLogo {
    width: 35px;
    height: 60px;
}

.al-authLoginHeader .authorizeLogo {
    width: 33px;
    height: 33px;
    padding: 050px;
}

.al-authLoginHeader .allinLogo {
    width: 59px;
    height: 43px;
}

.al-authLoginMsg {
    margin: 0 auto;
    margin-top: 45px;
    width: 300px;
}

.al-authLoginMsg > h3 {
    color: #333;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 25px;
    display: none;
}

.al-authLoginMsg > p {
    font-size: 15px;
    color: #909090;
    margin-bottom: 20px;
}

.al-authLoginMsg > p .point {
    width: 4px;
    height: 4px;
    background-color: #909090;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}

.al-authLoginMsg > p span {
    vertical-align: middle;
    display: inline-block;
}

.al-authLoginBtn {
    margin: 0 auto;
    margin-top: 110px;
    width: 300px;
    text-align: center;
}

.al-authLoginBtn > button {
    color: #fff;
    width: 280px;
    cursor: pointer;
    height: 40px;
    border-radius: 2px;
    line-height: 40px;
    background-color: #2899e6;
}
