@charset "UTF-8";
//搜索侧边栏首字母匹配组件
//Created by qiangkailiang on 2016/08/15
//公共方法模块调用
@import "../modules/common-modules";
//公共变量引用
@import "../variables/_allinmdV2-variables";
.al-mainInner {
    overflow-x: hidden;
}

.al-searchTypeSelect {
    position: fixed;
    z-index: 2;
    right: 0;
    top: rem(225px);

    padding: rem(10px) 0 rem(5px) 0;
    // top: 50%;
    // transform: translateY(-50%);
    // -webkit-transform: translateY(-50%);
}

.al-searchTypeSelectItem {
    display: block;
    @include font-dpr(13px);
    color: #666;
    text-align: center;
    position: relative;
    background-color: #f4f4f4;
    padding-left: rem(10px);
    padding-right: rem(10px);
    border-right: rem(20px) solid transparent;
    border-left: 2rem solid transparent;
    background-clip: padding-box;
    &:before {
        content: attr(data-toolTips);
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: rem(-140px);
        top: 55%;
        width: rem(104px);
        margin-top: rem(-32px);
        height: rem(62px);
        line-height: rem(62px);
        background: transparent url('//img50.allinmd.cn/pages/discover/tips_bg.png') center center no-repeat;
        background-size: 100% 100%;
        font-weight: bold;
        @include font-dpr(20px);
        color: #3598db;
    }
}

.al-searchTypeSelectItem.selected {
    color: #3598db;
    &:before {
        visibility: visible;
        opacity: 1;
    }
}
