@charset "UTF-8";
//滑动式tabs切换
//Created by qiangkailiang on 2016/08/05
.slide-wrapper {
    @include clearfix();
    overflow: hidden;
    transition: all 0.15s linear;
    min-height:1000px;
}

.slide-content {
    float: left;
    background-color: #fff;
}
