@charset "UTF-8";
.al-contentComment_header {
    height: 50px;
    line-height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #e4e9ed;
    border-bottom: 1px solid #ecf0f2;
    margin-top: -1px;
    background-color: #F7FAFC;
    color: #b4b4b4;
    padding: 0 25px;
}

.al-contentComment_header span {
    cursor: pointer;
}

.al-contentComment_header p {
    float: right;
    cursor: pointer;
}

.al-contentComment_header .al-selectColor {
    color: #f00;
}

.al-contentComment_header .al-selectAll {
    margin: 16px 12px 0 0;
    background: transparent url("//img10.allinmd.cn/v3/message/delete_redBtn.png") center center no-repeat;
    border: 1px solid #F34B4B;
}

.al-contentComment_header .al-contentComment_round {
    margin: 16px 12px 0 0;
    cursor: pointer;
}

.al-deletePopBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    /*IE8支持*/
}

.al-systemMes_deletePrompt {
    margin: 300px auto;
    width: 450px;
    background-color: #fff;
    border-radius: 6px;
    behavior: url("/js/third-party/pie/pie.htc");
    padding-bottom: 30px;
}

.al-systemMes_deletePrompt header {
    height: 52px;
    line-height: 52px;
    padding: 0 20px;
    border-bottom: 1px solid #ecf0f2;
}

.al-systemMes_deletePrompt header span {
    font-size: 15px;
    color: #666666;
}

.al-systemMes_deletePrompt header .al-deletePromptClose {
    float: right;
    cursor: pointer;
    width: 13px;
    height: 13px;
    background: url("//img10.allinmd.cn/v3/common/icon/icon_close.png") center center no-repeat;
    margin: 22px 5px 0;
}

.al-systemMes_deleteMain figure {
    padding: 63px 0;
    text-align: center;
}

.al-systemMes_deleteMain figure:after {
    content: '';
    display: table;
    clear: both;
}

.al-systemMes_deleteMain figure span {
    color: #333333;
    padding-left: 10px;
    font-weight: bold;
}

.al-systemMes_deleteMain figure i {
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url("//img10.allinmd.cn/v3/common/icon/icon_ask_lg.png") center center no-repeat;
    margin-top: -3px;
    vertical-align: middle;
}

.al-systemMes_deleteFooter {
    text-align: center;
}

.al-systemMes_deleteFooter span {
    display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    background-color: #2899E6;
    color: #fff;
    border-radius: 4px;
    behavior: url("/js/third-party/pie/pie.htc");
    font-size: 15px;
    cursor: pointer;
}

.al-systemMes_deleteFooter span:hover {
    background-color: #52a9e4;
}

.al-systemMes_deleteFooter .deleteFooter_cancel {
    background-color: #a1a9ba;
    display: inline-block;
    margin-left: 13px;
}

.al-systemMes_deleteFooter .deleteFooter_cancel:hover {
    background-color: #a1a9ba;
}

.al-deletePopBox {
    display: block;
}

.al-systemMessage .al-contentCommentMain .al-contentCommentItemTitle span {
    font-size: 16px;
    color: #333;
    padding-left: 0;
}

.al-systemMessage .al-contentCommentMain .al-contentCommentItemTitle .al-viewDetails {
    color: #626F8C;
    font-size: 16px;
    margin-top: 9px;
    line-height: 28px;
}

.al-contentComment_round {
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #b4b4b4;
    border-radius: 50%;
    behavior: url("/js/third-party/pie/pie.htc");
}

.al-contentComment .al-selectAll {
    background: transparent url("//img10.allinmd.cn/v3/message/delete_redBtn.png") center center no-repeat;
    border: none;
}
