.al-contentComment_header {
    height: 50px;
    line-height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #e4e9ed;
    border-bottom: 1px solid #ecf0f2;
    margin-top: -1px;
    background-color: #F7FAFC;
    color: #b4b4b4;
    padding: 0 25px;
}

.al-contentComment_header span {
    cursor: pointer;
}

.al-contentComment_header p {
    float: right;
    cursor: pointer;
}

.al-contentComment_header .al-selectColor {
    color: #f00;
}

.al-contentComment_header .al-selectAll {
    margin: 16px 12px 0 0;
    background: transparent url("//img10.allinmd.cn/v3/message/delete_redBtn.png") center center no-repeat;
    border: 1px solid #F34B4B;
}

.al-contentComment_header .al-contentComment_round {
    margin: 16px 12px 0 0;
    cursor: pointer;
}

.al-iconConfig {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_config.png") center center no-repeat;
    margin: 0 5px;
}

.al-iconSuccess {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_success.png") center center no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.al-iconMyCollect {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_collection_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyFollow {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_follow_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyBrowsed {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_browser_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyComment {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_comment_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyDraft {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_draft_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyWebcast {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_video.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyCollect {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_collection_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyFollow {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_follow_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyBrowsed {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_browser_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyComment {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_comment_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyDraft {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_draft_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyWebcast {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_video_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyIndex {
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_index_off.png") center center no-repeat;
}

.al-iconMyContribution {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_contribution_off.png") center center no-repeat;
}

.al-iconMyActive {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_active_off.png") center center no-repeat;
}

.al-iconMyMsg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_msg_off.png") center center no-repeat;
}

.active .al-iconMyIndex {
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_index_on.png") center center no-repeat;
}

.active .al-iconMyContribution {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_contribution_on.png") center center no-repeat;
}

.active .al-iconMyActive {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_active_on.png") center center no-repeat;
}

.active .al-iconMyMsg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_msg_on.png") center center no-repeat;
}

.al-contentAuthor {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_user.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: sub;
    margin-right: 5px;
    margin-top: 0;
}

.al-contentAuthor.authorNoUserId {
    width: 13px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon-book.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-contentWatchedNum {
    display: inline-block;
    width: 18px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_watchNum.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-contentTime {
    content: "";
    display: inline-block;
    width: 14px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_time.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 5px;
}

.al-contentPlace {
    display: inline-block;
    width: 13px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_place.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-mark {
    width: 31px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
}

.al-mark img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.al_imgMark {
    right: 3px;
}

span i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span .al-commentBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_btn_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-shareBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_share_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_off.png") center center no-repeat;
    min-width: 14px;
}

span:hover .al-commentBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_btn_on.png") center center no-repeat;
}

span:hover .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_on.png") center center no-repeat;
}

span:hover .al-shareBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_share_on.png") center center no-repeat;
}

span:hover .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_on.png") center center no-repeat;
}

span:hover .al-contentWatchedNum {
    width: 18px;
    height: 12px;
}

span.active i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span.active .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_active_off.png") center center no-repeat;
}

span.active .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_active_off.png") center center no-repeat;
}

span.active:hover i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span.active:hover .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_active_on.png") center center no-repeat;
}

span.active:hover .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_active_on.png") center center no-repeat;
}

.al-refreshFans {
    display: inline-block;
    width: 18px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_refresh.png") center center no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    vertical-align: middle;
}

.al-commentBtnImg {
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 6px;
}

.al-commentPic {
    width: 16px;
    height: 13px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_pic.png") center center no-repeat;
    margin-right: 10px;
}

.al-commentVideo {
    width: 20px;
    height: 13px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_video.png") center center no-repeat;
}

.al-commentAt {
    width: 14px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_at.png") center center no-repeat;
}

.al-commentQuote {
    width: 20px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_quote.png") center center no-repeat;
}

.al-iconOthersLike {
    width: 17px;
    height: 17px;
    background: transparent url("//img10.allinmd.cn/v3/others/icon_like.png") center center no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-right: 7px;
}

.al-othersLikeOn {
    background: transparent url("//img10.allinmd.cn/v3/others/icon_likeActive.png") center center no-repeat;
}

.al-vipBigUser {
    display: inline-block;
    width: 18px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip.png") center center no-repeat;
    margin-left: 3px;
}

.al-vipNewBigUser {
    width: 35px;
    height: 18px;
}

.al-vipUser {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
    margin-left: 6px;
}

.al-unlikeBtn {
    display: inline-block;
    width: 26px;
    height: 18px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_unlike.png") center center no-repeat;
    margin: 0 15px;
    float: right;
}

.al-unlikeBtn:hover {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/unlikeHover.png") center center no-repeat;
}

.al-contentCommentOtherMsg b {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.al-contentItem {
    height: auto;
}

.al-contentItemTitle span {
    float: right;
    font-size: 16px;
    color: #626F8C;
    cursor: pointer;
}

.al-contentCommentText {
    margin-bottom: 0;
}

.al-contentCommentText span {
    color: #626F8C;
}

.al-contentComment_round {
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #b4b4b4;
    border-radius: 50%;
    margin: 16px 15px 0 0;
}

.al-contentComment .al-selectAll {
    background: transparent url("//img10.allinmd.cn/v3/message/delete_redBtn.png") center center no-repeat;
    border: none;
}

.al-contentCommentUserImg {
    margin-right: 15px;
}
