@charset "UTF-8";
//身份认证弹层
//公共方法模块调用
@import "../../modules/common-modules";
//公共变量引用
@import "../../variables/_allinmdV2-variables";


body,html{
  height: 100%;
  background: #fff;
}
.al-containerLayout{
  header{
  }

  .questionsBox{
    margin: 0 rem(39px);
    &>aside{
      margin: rem(50px) 0 0;
      padding-bottom: rem(50px);
      border-bottom: 1px solid #E4E9ED;
      h2{
        font-size: rem(38px);
        color: #222222;
      }
      p{
        margin-top: rem(25px);
        font-size: rem(30px);
        line-height: rem(45px);
        color: #333333;
        span{
          font-weight: bold;
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}