
.al-element_a{
    border: none!important;
}
*{
    font-family: "microsoft yahei", Arial, Tahoma, "Hiragino Sans GB W3";
}

/*点击查看大图样式:--start*/
.questionnaire-l-contentSelectPic_cover{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #0a1e2b;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    display: none;
}
.questionnaire-l-contentSelectPic_viewBigPic{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    color: #ffffff;
    margin-left: -59px;
    margin-top: -8px;
    line-height: 16px;
    display: none;
}
.questionnaire-l-contentSelectPic_viewBigPic img{
    vertical-align: bottom;
    width: 15px;
    height: 16px;
}

.questionnaire-m-contentSelectPic_cover{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #0a1e2b;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    display: none;
}
.questionnaire-m-contentSelectPic_viewBigPic{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    color: #ffffff;
    margin-left: -59px;
    margin-top: -8px;
    line-height: 16px;
    display: none;
}
.questionnaire-m-contentSelectPic_viewBigPic img{
    vertical-align: bottom;
    width: 15px;
    height: 16px;
}

.questionnaire-s-contentSelectPic_cover{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #0a1e2b;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    display: none;
}
.questionnaire-s-contentSelectPic_viewBigPic{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    color: #ffffff;
    margin-left: -59px;
    margin-top: -8px;
    line-height: 16px;
    display: none;
}
.questionnaire-s-contentSelectPic_viewBigPic img{
    vertical-align: bottom;
    width: 15px;
    height: 16px;
}
/*点击查看大图样式:--end*/


/*以下"questionnaire-l"为100%样式*/
.questionnaire-l{
    background-color: #ffffff;
}
.questionnaire_selectTip{
    font-size: 17px;
    color: #aaaaaa;
}
.questionnaire-l_top{
    height: 52px;
    border-bottom: 1px #ecf0f2 solid;
}
.questionnaire-l_topTitle{
    font-size: 18px;
    line-height: 52px;
    padding-left: 24px;
}
.questionnaire-l_content{
    padding: 31.5px 50px 40px;
}
.questionnaire-l_contentTopic{
    margin-bottom: 53px;
}
.questionnaire-l_contentTopic:after{
    display: table;
    content: '';
    clear: both;
}
.questionnaire-l_contentTopicLeft{
    float: left;
    width: 300px;
    height: 200px;
    position: relative;
}
.questionnaire-l_contentTopicLeft:hover{
    cursor: pointer;
}
.questionnaire-l_contentTopicLeft:hover .questionnaire-l-contentSelectPic_viewBigPic{
    display: block;
}
.questionnaire-l_contentTopicLeft:hover .questionnaire-l-contentSelectPic_cover{
    display: block;
}
.questionnaire-l_contentTopicLeftPhoto{
    width: 100%;
    height:100%;
}
.questionnaire-l_contentTopicRight{
    float: right;
    width: 574px;
}
.questionnaire_topicDescribe{
    color: #555555;
    opacity:1;
    font-size: 15px;
    line-height: 28px;
    word-break: break-all;
}
/*.questionnaire_topicDescribe.al-quesNoPic{*/
    /*padding-bottom: 23.5px;*/
/*}*/
.questionnaire-l_contentSelect{
    margin-bottom: 70px;
}
.questionnaire-l_contentSelectTitle{
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
    padding-bottom: 28px;
}
.questionnaire-l_contentSelectTitle2{
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
    padding-bottom: 13px;
}
.questionnaire-l_contentSelectTitle2.al-noPicQuesTm-l{
    padding-bottom: 0px;
    margin-bottom: 27.5px;
}
.questionnaire-l_contentSelectNum{
    display: block;
    float: left;
}
.questionnaire-l_contentSelectItem{
    display: block;
    margin-left: 20px;
    word-break: break-all;
}
.questionnaire-l_contentSelectBox{
    margin-left: 18px;
}
.questionnaire-l_contentSelectBoxPic{
    width: 198px;
    height: 130px;
    position: relative;
}
.questionnaire-l_contentSelectBoxPic:hover{
    cursor: pointer;
}
.questionnaire-l_contentSelectBoxPic:hover .questionnaire-l-contentSelectPic_viewBigPic{
   display: block;
}
.questionnaire-l_contentSelectBoxPic:hover .questionnaire-l-contentSelectPic_cover{
    display: block;
}
.questionnaire-l-contentSelectPic{
    width: 100%;
    height:100%;
}
.questionnaire-l-selectCheckBox{
    margin:20px  0 17px 0;
    color: #555555;
    font-size: 15px;
    opacity: 1;
}
.questionnaire-l-selectCheckBox:hover{
    cursor: pointer;
}
.questionnaire-l-selectItem{
    color: #555555;
    font-size: 15px;
    opacity:1;
    display: inline-block;
    line-height: 20px;
}
.questionnaire-l-selectItemWord{
    margin-left: 3px;
    line-height: 20px;
    word-break: break-all;
}
.questionnaire-l-selectItemPic{
    float: left;
    margin-top: 4px;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 8px;
    height: 18px;
    width: 18px;
    background:  url("/images/img00/column/specialTemplate/single-nor.png")  no-repeat center;
    background-size: 100% 100%;
}
.questionnaire-l-selectItemPic.checked{
    background: url("/images/img00/column/specialTemplate/single-sel.png") no-repeat center;
    background-size: 100% 100%;
}
.questionnaire-l_contentUpDown{
    width: 394px;
    margin:0 auto;
}
.questionnaire-l_contentUpDown:after{
    display: table;
    content: '';
    clear: both;
}
.questionnaire-l_contentUpDownL{
    float: left;
    width: 180px;
    text-align: center;
    border: 1px solid #73859e;
    color: #73859e;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-l_contentUpDownR{
    float: right;
    width: 180px;
    text-align: center;
    border: 1px solid #2899e8;
    color: #2899e8;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-l_contentUpDownR.center{
    float: none;
    margin:0 auto;
}
.questionnaire-l_contentUpDownRDefault{
    color: #aaaaaa;
    background-color: #eeeeee;
    border: 1px solid transparent;
    float: right;
    width: 180px;
    text-align: center;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-l_contentUpDownRDefault.center{
    margin: 0 auto;
    float: none;
}
.questionnaire-l_contentUpDownL.default{
    color: #aaaaaa;
    background-color: #eeeeee;
    border: none;
}
.questionnaire-l_contentUpDownL.hover{
    color: #ffffff;
    background-color:#73859e;
}
.questionnaire-l_contentUpDownR.hover{
    background-color: #2899e8;
    color: #ffffff;
    
}
.questionnaire-l_contentUpDownR.submitted{
    background-color: #2899e8;
    color: #ffffff;

}
.questionnaire-l_contentUpDownR.next{
    background-color: #1f8bd6;
}
.questionnaire-l_contentUpDownL.previous{
    background-color: #5d708b;
}
.questionnaire-l_contentTopicMorePicBox{
    margin-top: 22px;
    font-size: 0;
}
.questionnaire-l_contentSelectPicBox{
    font-size: 0;
    margin-bottom: 34px;
    padding-left: 18px;
}

/*简介多图样式*/
.questionnaire-l_contentSelectMorePicItem1{
    width: 284px;
    height: 190px;
    font-size: 0;
    display: inline-block;
    position: relative;
}
.questionnaire-l_contentSelectMorePicItem1:hover{
    cursor: pointer;
}
.questionnaire-l_contentSelectMorePicItem1:hover .questionnaire-l-contentSelectPic_viewBigPic{
    display: block;
}
.questionnaire-l_contentSelectMorePicItem1:hover .questionnaire-l-contentSelectPic_cover{
    display: block;
}
.questionnaire-l_contentSelectMorePicItem1Photo{
    width: 100%;
    height:100%;
}
.questionnaire-l_contentSelectMorePicItem1:first-child{
    margin-right: 24px;
}
.questionnaire-l_contentSelectMorePicItem1:first-child+.questionnaire-l_contentSelectMorePicItem1{
    margin-right: 24px;
}

/*题干多图样式*/
.questionnaire-l_contentSelectPicBoxItem2{
    width: 284px;
    height: 190px;
    display: inline-block;
    position: relative;
}
.questionnaire-l_contentSelectPicBoxItem2:hover{
    cursor: pointer;
}
.questionnaire-l_contentSelectPicBoxItem2:hover .questionnaire-l-contentSelectPic_viewBigPic{
    display: block;
}
.questionnaire-l_contentSelectPicBoxItem2:hover .questionnaire-l-contentSelectPic_cover{
    display: block;
}
.questionnaire-l_contentSelectPicBoxItem2Photo{
    width: 100%;
    height:100%;
}
.questionnaire-l_contentSelectPicBoxItem2:first-child{
    margin-right: 10px;
}
.questionnaire-l_contentSelectPicBoxItem2:first-child+.questionnaire-l_contentSelectPicBoxItem2{
    margin-right: 10px;
}



/*容器70%时样式*/
.questionnaire-m{
    background-color: #ffffff;
}
.questionnaire-m_top{
    height: 52px;
    border-bottom: 1px #ecf0f2 solid;
}
.questionnaire-m_topTitle{
    font-size: 18px;
    line-height: 52px;
    padding-left: 24px;
}
.questionnaire-m_content{
    padding: 33.5px 50px 40px;
}
.questionnaire-m_contentTopicMorePicBox{
    margin-top: 22px;
    font-size: 0;
}
.questionnaire-m_contentSelectMorePicItem1{
    width: 196px;
    height: 130px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.questionnaire-m_contentSelectMorePicItem1Photo{
    width: 100%;
    height:100%;
}
.questionnaire-m_contentSelectMorePicItem1:hover{
    cursor: pointer;
}
.questionnaire-m_contentSelectMorePicItem1:hover .questionnaire-m-contentSelectPic_viewBigPic{
    display: block;
}
.questionnaire-m_contentSelectMorePicItem1:hover .questionnaire-m-contentSelectPic_cover{
    display: block;
}
.questionnaire-m_contentSelectMorePicItem1:first-child{
    margin-right: 10px;
}
.questionnaire-m_contentSelectMorePicItem1:first-child+.questionnaire-m_contentSelectMorePicItem1{
    margin-right: 10px;
}
.questionnaire-m_contentSelectTitle{
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
    padding-bottom: 24px;
}
.questionnaire-m_contentSelectTitle2{
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
    padding-bottom: 14px;
}
.questionnaire-m_contentSelectNum{
    display: block;
    float: left;
}
.questionnaire-m-contentSelectItem{
    display: block;
    margin-left: 20px;
    word-break: break-all;
}
.questionnaire-m_contentSelectBox{
    margin-left: 19px;
}
.questionnaire-m_contentSelectBoxPic{
    width:178px;
    height: 116px;
    position: relative;
    overflow: hidden;
}
.questionnaire-m_contentSelectBoxPic:hover{
    cursor: pointer;
}
.questionnaire-m_contentSelectBoxPic:hover .questionnaire-m-contentSelectPic_viewBigPic{
    display: block;
}
.questionnaire-m_contentSelectBoxPic:hover .questionnaire-m-contentSelectPic_cover{
    display: block;
}
.questionnaire-m-contentSelectPic{
    width: 100%;
    height:100%;
}
.questionnaire-m-selectCheckBox{
    margin: 16px 0 20px 0;
    /*padding-top: 20px;*/
    /*padding-bottom: 30px;*/
    color: #555555;
    font-size: 15px;
    opacity: 1;
}
.questionnaire-m-selectItemPic{
    float: left;
    margin-top: 4px;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background:  url("/images/img00/column/specialTemplate/single-nor.png")  no-repeat center;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 8px;
}
.questionnaire-m-selectItemPic.checked{
    background: url("/images/img00/column/specialTemplate/single-sel.png") no-repeat center;
    background-size: 100% 100%;
}
.questionnaire-m-selectItemWord{
    padding-left: 3px;
    line-height: 20px;
    word-break: break-all;
}
.questionnaire-m_contentUpDown{
    width: 394px;
    margin:0 auto;
}
.questionnaire-m_contentUpDown:after{
    display: table;
    content: '';
    clear: both;
}
.questionnaire-m_contentUpDownL{
    float: left;
    width: 180px;
    text-align: center;
    border: 1px solid #73859e;
    color: #73859e;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-m_contentUpDownR{
    float: right;
    width: 180px;
    text-align: center;
    border: 1px solid #2899e8;
    color: #2899e8;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-m_contentUpDownR.center{
    float: none;
    margin:0 auto;
}
.questionnaire-m_contentUpDownRDefault{
    color: #aaaaaa;
    background-color: #eeeeee;
    border: 1px solid transparent;
    float: right;
    width: 180px;
    text-align: center;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-m_contentUpDownRDefault.center{
    margin: 0 auto;
    float: none;
}
.questionnaire-m_contentUpDownL:hover{
    color: #ffffff;
    background-color:#73859e;
}
.questionnaire-m_contentUpDownL.previous{
    background-color: #5d708b;
}
.questionnaire-m_contentUpDownR:hover{
    background-color: #2899e8;
    color: #ffffff;
}
.questionnaire-m_contentUpDownR.submitted{
    background-color: #2899e8;
    color: #ffffff;
}
.questionnaire-m_contentUpDownR.next{
    background-color: #1f8bd6;
}


/*容器30%时样式*/
.questionnaire-s{
    background-color: #ffffff;
}
.questionnaire-s_top{
    height: 52px;
    border-bottom: 1px #ecf0f2 solid;
}
.questionnaire-s_topTitle{
    font-size: 18px;
    line-height: 52px;
    padding-left: 24px;
}
.questionnaire-s_content{
    padding: 22px 20px 30px;
}
.questionnaire-s_topicDescribe{
    color: #555555;
    opacity: 1;
    font-size: 15px;
    line-height: 28px;
    word-break: break-all;
}
/*.questionnaire-s_topicDescribe.al-quesNoPic{*/
    /*padding-bottom: 26px;*/
/*}*/
.questionnaire-s_topicDescribe.al-quesHide{
    display: none;
}
.questionnaire-s_open{
    color: #626F8C;
    font-size: 15px;
    cursor: pointer;
}
.questionnaire-s_close{
    color: #626F8C;
    font-size: 15px;
    cursor: pointer;
}
.questionnaire-s_contentSelectTitle{
    color: #333333;
    font-size: 17px;
    line-height: 30px;
    opacity: 1;
    margin-bottom: 19px;
}
.questionnaire-s_contentSelectTitle.al-noPicQuesTm-s{
    margin-bottom: 24px;
}
.questionnaire-s_contentSelectNum{
    display: block;
    float: left;
}
.questionnaire-s_contentSelectItem{
    display: block;
    margin-left: 20px;
    word-break: break-all;
}
.questionnaire-s-selectItemVote{
    margin-left: 28px;
    display: block;
    line-height: 20px;
}
.questionnaire-s_contentTopicMorePicBox{
    padding-top: 20px;
}
.questionnaire-s_contentSelectMorePicItem1{
    display: block;
    width: 228px;
    height: 152px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
.questionnaire-s_contentSelectMorePicItem1:hover{
    cursor: pointer;
}
.questionnaire-s_contentSelectMorePicItem1:hover .questionnaire-s-contentSelectPic_viewBigPic{
    display: block;
}
.questionnaire-s_contentSelectMorePicItem1:hover .questionnaire-s-contentSelectPic_cover{
    display: block;
}
.questionnaire-s_contentSelectMorePicItem1Photo{
    width: 100%;
    height:100%;
}
.questionnaire-s_contentSelectMorePicItem2Photo{
    width: 100%;
    height:100%;
}
.questionnaire-s_contentSelectBoxPic{
    width: 227px;
    height: 151px;
    overflow: hidden;
    position: relative;
}
.questionnaire-s_contentSelectBoxPic:hover{
    cursor: pointer;
}
.questionnaire-s_contentSelectBoxPic:hover .questionnaire-s-contentSelectPic_viewBigPic{
    display: block;
}
.questionnaire-s_contentSelectBoxPic:hover .questionnaire-s-contentSelectPic_cover{
    display: block;
}
.questionnaire-s-contentSelectPic{
    width: 100%;
    height: 100%;
}
.questionnaire-s-selectCheckBox{
    margin: 13px 0 17px 0;
}
.questionnaire-s-selectItemPic{
    float: left;
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    background:  url("/images/img00/column/specialTemplate/single-nor.png")  no-repeat center;
    background-size: contain;
    display: inline-block;
    margin-right: 6px;
    margin-top: 6px;
}
.questionnaire-s-selectItemPic.checked{
    background: url("/images/img00/column/specialTemplate/single-sel.png") no-repeat center;
    background-size: contain;
}
.questionnaire-s-selectItem{
    font-size: 15px;
    color: #555555;
    margin-right: 3px;
}
.questionnaire-s-selectItemWord{
    font-size: 15px;
    color: #555555;
    line-height: 28px;
    word-break: break-all;
}
.questionnaire-s_contentUpDown{
    width: 215px;
    margin:0 auto;
}
.questionnaire-s_contentUpDown:after{
    display: table;
    content: '';
    clear: both;
}
.questionnaire-s_contentUpDownL{
    float: left;
    width: 98px;
    text-align: center;
    border: 1px solid #73859e;
    color: #73859e;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-s_contentUpDownR{
    float: right;
    width: 98px;
    text-align: center;
    border: 1px solid #2899e8;
    color: #2899e8;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-s_contentUpDownR.center{
    float: none;
    margin:0 auto;
}
.questionnaire-s_contentUpDownRDefault{
    float: right;
    width: 98px;
    text-align: center;
    border: 1px solid transparent;
    color: #aaaaaa;
    background-color:#eeeeee;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-s_contentUpDownRDefault.center{
    margin: 0 auto;
    float: none;
}
.questionnaire-s_contentUpDownL:hover{
    color: #ffffff;
    background-color:#73859e;
}
.questionnaire-s_contentUpDownL.previous{
    background-color: #5d708b;
}
.questionnaire-s_contentUpDownR:hover{
    background-color: #2899e8;
    color: #ffffff;
}
.questionnaire-s_contentUpDownR.submitted{
    background-color: #2899e8;
    color: #ffffff;
}
.questionnaire-s_contentUpDownR.next{
    background-color: #1f8bd6;
}

/*70%题干多图样式*/
.questionnaire-m_contentSelectPicBox{
    padding-left: 19px;
    font-size: 0;
    padding-bottom: 34px;
}
.questionnaire-m_contentSelectPicBoxItem2{
    width: 183px;
    height: 122px;
    display: inline-block;
    position: relative;
    /*font-size: 0;*/
}
.questionnaire-m_contentSelectPicBoxItem2:hover{
    cursor: pointer;
}
.questionnaire-m_contentSelectPicBoxItem2:hover .questionnaire-m-contentSelectPic_viewBigPic{
    display: block;
}
.questionnaire-m_contentSelectPicBoxItem2:hover .questionnaire-m-contentSelectPic_cover{
    display: block;
}
.questionnaire-m_contentSelectPicBoxItem2Photo{
    width: 100%;
    height:100%;
}
.questionnaire-m_contentSelectPicBoxItem2:first-child{
    margin-right: 10px;
}
.questionnaire-m_contentSelectPicBoxItem2:first-child+.questionnaire-m_contentSelectPicBoxItem2{
    margin-right: 10px;
}


/*30%题干多图样式*/
.questionnaire-s_contentTopicMorePicBoxT{
    padding-top: 0;
    padding-bottom: 24px;
}

/*100%多选题样式*/
.questionnaire-l_contentMultiSelect{
    padding-bottom: 18px;
}
.questionnaire-l_contentMultiSelectTitle{
    padding: 53px 0 34px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-l_contentMultiSelectCheck{
    display: inline-block;
    background: url("/images/img00/column/specialTemplate/multi-nor.png") no-repeat center;
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
}
.questionnaire-l_contentMultiSelectCheck:hover{
    cursor: pointer;
}
.questionnaire-l_contentMultiSelectBox{
    margin:20px 0 30px 0;
    font-size:15px;
    color: #555555;
    opacity: 1;
}
.questionnaire-l_contentMultiSelectOption{
    padding-left: 16px;
    line-height: 28px;
    display: block;
    margin-left: 20px;
}
.questionnaire-l_contentMultiSelectOption:hover{
    cursor: pointer;
}
.questionnaire-l_contentMultiSelectCheck.checked{
    background: url("/images/img00/column/specialTemplate/multi-sel.png") no-repeat center;
    background-size: 100% 100%;
}
.questionnaire-l_contentMultiSelectNum{
    display: block;
    float: left;
}
.questionnaire-l_contentMultiSelectItem{
    display: block;
    margin-left: 20px;
}

/*70%多选题样式*/
.questionnaire-m_contentMultiSelectTitle{
    padding: 40px 0 27px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-m_contentMultiSelect{
    padding-bottom: 6px;
    position: relative;
}
.questionnaire-m_contentMultiSelectBox{
    margin:20px 0 30px 0;
    font-size:15px;
    color: #555555;
    opacity: 1;
}
.questionnaire-m_contentMultiSelectNum{
    display: block;
    float: left;
}
.questionnaire-m_contentMultiSelectItem{
    display: block;
    margin-left: 20px;
}
/*30%多选题样式*/
.questionnaire-s_contentMultiSelect{
    padding-bottom: 7px;
}
.questionnaire-s_contentMultiSelectBox{
    margin: 16px 0 20.5px 0;
}
.questionnaire-s_contentMultiSelectTitle{
    padding: 25px 0 17px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-s_contentMultiSelectNum{
    display: block;
    float: left;
}
.questionnaire-s_contentMultiSelectItem{
    display: block;
    margin-left: 20px;
}
.questionnaire-s_contentMultiSelectOption{
    font-size: 15px;
    color: #555555;
    opacity: 1;
    padding-left: 10px;
    padding-bottom: 17px;
    line-height: 28px;
    display: block;
    margin-left: 20px;
}

/*单题100%简答题*/
.questionnaire-l_contentQuestionBox{
    border: 1px solid rgb(223,226,232);
    padding: 20px 10px 20px 20px;
    width: 824px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.questionnaire-l_contentQuestionArea{
    width: 99%;
    height: 60px;
    border-width: 0;
    resize: none;
    outline: none;
    font-size: 15px;
    color: #555555;
    line-height: 28px;
}
.questionnaire-l_contentShortQuestionTitle{
    padding: 53px 0 34px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-l_contentShortQuestion{
    padding-bottom: 50px;
}

.questionnaire-l_contentShortQuestionNum{
    display: block;
    float: left;
}
.questionnaire-l_contentShortQuestionItem{
    display: block;
    margin-left: 20px;
}

/*70%简答题样式*/
.questionnaire-m_contentQuestionBoxM{
    border: 1px solid rgb(223,226,232);
    padding: 20px 10px 20px 15px;
    width: 576px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.questionnaire-m_contentQuestionAreaM{
    width: 99%;
    height: 60px;
    border-width: 0;
    resize: none;
    outline: none;
    font-size: 15px;
    color: #555555;
    line-height: 28px;
}
.questionnaire-m_contentShortQuestionTitle{
    padding: 33px 0 28px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-m_contentShortQuestion{
    padding-bottom: 40px;
}
.questionnaire-m_contentShortQuestionNum{
    display: block;
    float: left;
}
.questionnaire-m_contentShortQuestionItem{
    display: block;
    margin-left: 20px;
}

/*30%简答题样式*/
.questionnaire-s_contentQuestionBoxM{
    border: 1px solid rgb(223,226,232);
    padding: 10px 6px 20px 16px;
    width: 201px;
    margin: 0 auto;
}
.questionnaire-s_contentQuestionAreaM{
    width: 99%;
    height: 60px;
    border-width: 0;
    resize: none;
    outline: none;
    font-size: 15px;
    color: #555555;
    line-height: 26px;
}
.questionnaire-s_contentShortQuestionTitle{
    padding: 33px 0 23px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-s_contentShortQuestion{
    padding-bottom: 30px;
}
.questionnaire-s_contentShortQuestionNum{
    display: block;
    float: left;
}
.questionnaire-s_contentShortQuestionItem{
    display: block;
    margin-left: 20px;
}


/*分享*/
.questionnaire-l_shareTitle{
    text-align: center;
    padding-top: 171px;
    padding-bottom: 35px;
    color: #333333;
    font-size: 18px;
}
.questionnaire-l_shareBtn{
  text-align: center;
    padding-bottom: 199px;
}
.questionnaire-l_shareWord{
    display: inline-block;
    background-color: #ff9224;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    cursor: pointer;
}

.questionnaire-m_shareTitle{
    text-align: center;
    padding-top: 171px;
    padding-bottom: 34px;
    color: #333333;
    font-size: 18px;
}
.questionnaire-m_shareBtn{
    text-align: center;
    padding-bottom: 199px;
}
.questionnaire-m_shareWord{
    display: inline-block;
    background-color: #ff9224;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    cursor: pointer;
}

.questionnaire-s_shareTitle{
    text-align: center;
    padding-top: 180px;
    padding-bottom: 36px;
    color: #333333;
    font-size: 16px;
}
.questionnaire-s_shareBtn{
    text-align: center;
    padding-bottom: 199px;
}
.questionnaire-s_shareWord{
    display: inline-block;
    background-color: #ff9224;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
}

/*多题100%样式*/
.questionnaire-lMQ_contentMultiSelectTitle{
    padding: 43px 0 34px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-lMQ_contentShortQuestionTitle{
    padding: 22px 0 34px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-l_contentCommit{
    text-align: center;
    width: 394px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.questionnaire-l_contentCommitBtn{
    width: 180px;
    text-align: center;
    border: 1px solid #2899e8;
    color: #2899e8;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
    margin: 0 auto;
}
.questionnaire-l_contentCommitBtn:hover{
    background-color: #2899e8;
    color: #ffffff;
}

/*多题70%样式*/
.questionnaire-m_contentCommit{
    text-align: center;
    width: 394px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.questionnaire-m_contentCommitBtn{
    width: 180px;
    text-align: center;
    border: 1px solid #2899e8;
    color: #2899e8;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
    margin: 0 auto;
}
.questionnaire-m_contentCommitBtn.disabled{
    background-color: #eeeeee;
    color: #aaaaaa;
    border: none;
}
.questionnaire-m_contentCommitBtn:hover{
    background-color: #2899e8;
    color: #ffffff;
}
.questionnaire-mMQ_contentMultiSelectTitle {
    padding: 23px 0 27px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-mMQ_contentShortQuestionTitle{
    padding: 20px 0 28px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}

/*多题30%样式*/
.questionnaire-sMQ_contentMultiSelectTitle{
    padding: 9px 0 17px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-sMQ_contentShortQuestionTitle{
    padding: 9px 0 23px 0;
    color: #333333;
    font-size: 17px;
    opacity: 1;
    line-height: 30px;
}
.questionnaire-s_contentCommit{
    text-align: center;
    width: 215px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.questionnaire-s_contentCommitBtn{
    width: 98px;
    text-align: center;
    border: 1px solid #2899e8;
    color: #2899e8;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
    margin: 0 auto;
}
.questionnaire-s_contentCommitBtn:hover{
    background-color: #2899e8;
    color: #ffffff;
}


/*投票样式100%*/
.questionnaire-l_contentTopicVote{
    margin-bottom: 37px;
}
.questionnaire-l_contentSelectNumVote{
    width: 4px;
    height: 4px;
    background-color: #477099;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 13px;
    display: block;
    float: left;
}
.questionnaire-l_contentSelectItemVote{
    display: block;
    margin-left: 10px;
    word-break: break-all;
}
.questionnaire-l_contentSelectBoxVote{
    margin-left: 10px;
    margin-bottom: 34px;
}
.questionnaire-l_contentVote:after{
    display: table;
    content: '';
    clear: both;
}
.questionnaire-l_contentVote{
    width: 394px;
    padding-top: 20px;
    margin: 0 auto;
}
.questionnaire-l_contentVoteBtn{
    float: left;
    width: 180px;
    text-align: center;
    border: 1px solid #ff9224;
    color: #ff9224;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-l_contentVoteBtnDis{
    background-color: #eeeeee;
    color: #aaaaaa;
    border: none;
    float: left;
    width: 180px;
    text-align: center;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-l_contentVoteBtnDis.voted{
    background-color: #ffffff;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
}
.questionnaire-l_contentVoteBtnDis.hide{
    display: none;
}
.questionnaire-l_contentVoteResult{
    float: right;
    width: 180px;
    text-align: center;
    border: 1px solid #73859E;
    color: #73859E;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-l_contentVoteBtn.hover{
    background-color: #ff9224;
    color: #ffffff;
    border-color: #ff9224;
}
.questionnaire-l_contentVoteResult.hover{
    background-color: #73859E;
    color: #ffffff;
    border-color: #73859E;
}
.questionnaire-l_contentMultiSelectBoxVote{
    padding-left: 10px;
    padding-bottom: 29px;
    font-size: 15px;
    color: #555555;
    opacity: 1;
}
.questionnaire-l_contentMultiSelectBoxVote:last-child{
    padding-bottom: 0;
    margin-bottom: 34px;
}

.questionnaire-l-selectItemVote{
    margin-left: 30px;
    display: block;
    line-height: 28px;
}
.questionnaire-l-selectItemPicVote{
    vertical-align: bottom;
    display: inline-block;
    margin-right: 8px;
    margin-top: 3px;
    height: 20px;
    width: 20px;
    background: url("/images/img00/column/specialTemplate/single-nor.png") no-repeat center;
    background-size: cover;
    float: left;
}

/*投票样式70%*/
.questionnaire-m-selectItemVote{
    margin-left: 30px;
    display: block;
    line-height: 28px;
}
.questionnaire-m-selectItemPicVote{
    vertical-align: bottom;
    display: inline-block;
    margin-right: 8px;
    margin-top: 2px;
    height: 18px;
    width: 18px;
    background: url("/images/img00/column/specialTemplate/single-nor.png") no-repeat center;
    background-size: 100% 100%;
    float: left;
}
.questionnaire-m-selectCheckBox.vote{
    padding-top:14px;
    padding-bottom: 24px;;
}
.questionnaire-m_contentVote{
    width: 394px;
    padding-top: 30px;
    margin: 0 auto;
}
.questionnaire-m_contentVote:after{
    display: table;
    content: '';
    clear: both;
}
.questionnaire-m_contentSelectNumVote{
    width: 4px;
    height: 4px;
    background-color: #477099;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 13px;
    display: block;
    float: left;
}

/*投票样式30%*/
.questionnaire-s_contentVote{
    width: 215px;
    margin: 0 auto;
    padding-top: 3px;
}
.questionnaire-s_contentVote:after{
    display: table;
    content: '';
    clear: both;
}
.questionnaire-s_contentVoteBtn{
    float: left;
    width: 100px;
    text-align: center;
    border: 1px solid #ff9224;
    color: #ff9224;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-s_contentVoteBtnDis{
    float: left;
    width: 100px;
    text-align: center;
    background-color: #eeeeee;
    color: #aaaaaa;
    border: none;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-s_contentVoteBtnDis.voted{
    background-color: #ffffff;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
}
.questionnaire-s_contentVoteBtnDis.hide{
    display: none;
}
.questionnaire-s_contentVoteResult{
    float: right;
    width: 100px;
    text-align: center;
    border: 1px solid #73859E;
    color: #73859E;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    cursor: pointer;
}
.questionnaire-s_contentVoteBtn:hover{
    background-color: #ff9224;
    color: #ffffff;
    border-color: #ff9224;
}
.questionnaire-s_contentVoteResult:hover{
    background-color: #73859E;
    color: #ffffff;
    border-color: #73859E;
}
.questionnaire-s_contentSelectNumVote{
    width: 4px;
    height: 4px;
    background-color: #477099;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 13px;
    display: block;
    float: left;
}


.questionnaire-m_contentMultiSelectNumVote{
    width: 4px;
    height: 4px;
    background-color: #477099;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 13px;
    display: block;
    float: left;
}
.questionnaire-m_contentMultiSelectTitle.vote{
    padding-top: 33px;
}

.questionnaire-s_contentMultiSelectNumVote{
    width: 4px;
    height: 4px;
    background-color: #477099;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 13px;
    display: block;
    float: left;
}


/*未选题弹出提示*/
.questionnaire-m_alertTip{
    z-index: 2;
    position: fixed;
    width: 338px;
    height: 44px;
    border:1px solid #93ccf2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #d4ebfa;
    color: #333333;
    font-size: 16px;
    text-align: center;
    bottom:50%;
    left:50%;
    margin-left: -169px;
}
.questionnaire-m_alertTipWord{
    line-height: 44px;
}

/*查看投票结果弹出提示样式*/
.al-voteResultClose{
    position: absolute;
    right: 24px;
    top: 0px;
    color: #969696;
    cursor: pointer;
    width: 13px;
    height: 13px;
    background: url("//img10.allinmd.cn/v3/common/icon/icon_close.png") center center no-repeat;
    margin: 22px 5px 0;
}
.al-online_cover{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
}
.al-viewResultBox{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    border: 1px solid #ccc;
    z-index: 1;
    background-color: #ffffff;
    margin-left: -400px;
    margin-top: -206px;
}
.al-onlineVote{
    padding:0 24px;
    font-size: 18px;
    line-height: 52px;
    border-bottom: 1px #ecf0f2 solid;
}
.al-onlineVote span{
    display: block;
    text-align: center;
}

.al-online_voteTitle{
    /*padding-top: 40px;*/
    /*padding-left: 113px;*/
    /*padding-bottom: 50px;*/
    padding: 32.5px 102px 45.5px 113px;
    font-size: 17px;
    line-height: 32px;
}

.al-online_voteTitleT{
    float: left;
    width: 4px;
    height: 4px;
    background-color: #477099;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 14px;
    display: inline-block;
}
.al-online_voteTitleW{
    display: block;
    margin-left: 10px;
    word-break: break-all;
}
.al-online_ResultContent{
    padding-left: 113px;
    font-size: 15px;
    padding-bottom: 45px;
}
.al-online_ResultProcess{
    display: inline-block;
    position: relative;
    margin-left: 13px;
    margin-right: 25px;
}
.al-onlineOptionItem{
    display: inline-block;
    width: 20px;
}
.al-online_ResultProcessB{
    width: 400px;
    height: 10px;
    display: inline-block;
    background-color: #EEF3F8 ;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;;
}
.al-online_ResultProcessP{
    /*width: 100px;*/
    background-color: #2899E8;
    height: 10px;
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    top: 3px;
    left:0;
}
.al-online_ResultNum{
    color: #555555;
}
.al-resultPercent{
    margin-right: 30px;
    color: #2899e8;
    display: inline-block;
    width: 42px;
    text-align: right;
}
.al-resultItemNum{
    color: #626F8C;
}

.al-questionNotAnswer{
    color: #F34B4B;
    font-size: 17px;
    display: none;
    padding-left: 5px;
}
.al-questionnaireAboutTitleTip{
    color: #F34B4B;
    font-size: 18px;
    display: inline-block;
    padding-left: 5px;
}
.al-questionBox.al-questionTop{
    padding-top: 30px;
}
.al-shareBtn{
    position: relative;
}
/*.al-backToTop.al-shareBtn{*/
    /*position: relative;*/
    /*right:0;*/
    /*bottom: 0;*/

/*}*/
.al-backToTop.al-questionnaire{
    position: relative;
    right:0;
    bottom: 0;
}
.al-quesShareCon.hide{
    display: block;
}
.al-shareBox.al-quesShareCon{
    top: 120%;
    left: -26%;
    margin-top: 0;
    margin-left: 0;
    display: none;
    width: 267px;
}
.questionnaire-s_shareWord .al-quesShareCon{
    left:-62%;
}
.al-shareBox.al-quesShareCon::before{
    content: "";
    height: 0;
    width: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid #fff;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    position: absolute;
    right: 46%;
    top: 0;
    margin-top: -14px;
}
.al-l-quesSummaryD{
    padding-bottom: 37px;
}
.al-m-quesSummaryD{
    padding-bottom: 36px;
}
.al-s-quesSummaryD{
    padding-bottom: 27px;
}
/*投票结果*/
.al-online_voteResult_Main{
    overflow-y: scroll;
    height: 364px;
}
.al-questionnaireScroll {
    overflow: hidden;
}
.questionnaire-s_contentSelectPicBox{
    margin-bottom: 34px;
}
.al-noPicQuesTm-m{
    padding-bottom: 0px;
    margin-bottom: 24px;
}











