@charset "utf-8";


/*公用样式*/
.yearEnd_wrap{ width: 100%; height: auto;font-family: 'Microsoft Yahei', Tahoma, Arial; }
.ye_font{ font-size: 18px; color: #010101; }

/*首页开始*/
.YE_index_bannerw{ width:100%; height:400px; background:url(//img00.allinmd.cn/column/YE_check/YE_index_bannerbj.jpg) no-repeat center;}
.YE_index_bannerw .index_banner{ width:1000px; height:400px; margin:0 auto; background:url(//img00.allinmd.cn/column/YE_check/YE_index_banner.jpg) no-repeat center;}
.YE_index_titlew{width:100%;  background:url(//img00.allinmd.cn/column/YE_check/YE_index_title.jpg) no-repeat center;  }
.YE_index_title{ width:1000px; margin:0 auto; text-align:center; color:#333333; line-height:40px; font-size:20px; padding:19px 0 41px;}
.YE_index_mainw{ width:100%; background:url(//img00.allinmd.cn/column/YE_check/YE_index_mainbj.jpg) no-repeat center;}
.YE_index_main{ width:1000px; margin:0 auto; padding:32px 0 60px;}
.YE_index_main ul li{ float:left; margin:38px 40px 0 0;}
.YE_index_main ul .YE_index_mainr{ margin-right:0px;}
/*首页结束*/
/*热词开始*/
.YE_hotWords_bannerw{ width:100%; height:400px; background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_bannerbj.jpg) no-repeat center;}
.YE_hotWords_banner{ width:1000px;  height:400px; margin:0 auto; background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_banner.jpg) no-repeat center;}
.YE_hotWords_share{ float:right; margin-top:346px;}
.YE_hotWords_share img{ float:left; margin-left:10px;}
.YE_hotWords_share span{ display:block; float:left; color:#040404; font-size:17px; line-height:34px; }
.YE_hotWords_titlew{ width:100%;  background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_titlebj.jpg) no-repeat center;  }
.YE_hotWords_title{ width:1000px; margin:0 auto;}
.YE_hotWords_txt{ float:right; width:642px; color:#000000; font-size:20px; line-height:36px; text-indent:40px; margin:11px 55px 40px 0;}
.YE_hotWords_detailsw01{  width:100%;  background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_title01bj.jpg) no-repeat center 0;}
.YE_hotWords_detailsw03{  width:100%;  background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_title03bj.jpg) no-repeat center 0;}
.YE_hotWords_detailsw05{  width:100%;  background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_title05bj.jpg) no-repeat center 0;}
.YE_hotWords_detailsw07{  width:100%;  background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_title07bj.jpg) no-repeat center 0;}
.YE_hotWords_detailsw09{  width:100%;  background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_title09bj.jpg) no-repeat center 0;}
.YE_hotWords_details{width:1020px; margin:0 auto; }
.YE_hotWords_details li{padding:56px 0 3px;}
.YE_hotWords_detailsw01 .YE_hotWords_details li{padding:61px 0 5px;}
/*.YE_hotWords_detailsw05 .YE_hotWords_details .YE_hotWords_li06{padding:79px 0 6px;}*/
.YE_hotWords_dl{ float:left; width:277px;}
.YE_hotWords_dr{ float:right;width:713px; font-size:18px; line-height:28px; color:#333333; }
.YE_hotWords_drtxt{ margin:9px auto 7px;}
.YE_hotWords_dr a{font-size:18px; line-height:28px; color:#333333; }
.YE_hotWords_drmain span{ color:#a30000; margin-left:15px;}
.YE_hotWords_hot{ width:46px; height:28px; background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_hots01.png) no-repeat center; float:left; margin:0 20px 0 6px;}
.YE_hotWords_hotzi{float:left;}
.YE_hotWords_hot_know{float:left; color:#a30000; }
.YE_hotWords_bottomw{width:100%;  background:url(//img00.allinmd.cn/column/YE_check/YE_hotWords_bottom.jpg) no-repeat center; }
.YE_hotWords_bottom{width:1060px; margin:0 auto; }
.YE_hotWords_btxt{padding:70px 0 60px 20px;}
.YE_hotWords_btxt li{ float:left; margin-right:122px;}
.YE_hotWords_btxt .YE_hotWords_btxt_right{ margin:0;}
/*热词结束*/



/*病例页面样式开始*/
.ye_case_banner{ width: 100%; height: auto; background: url(//img00.allinmd.cn/column/YE_check/YE_case_bgtop.jpg); background-position: center 0; background-repeat: no-repeat;}
.ye_caseBanner{ width: 1002px;height:auto;background: url(//img00.allinmd.cn/column/YE_check/YE_case_banner.jpg);background-repeat: no-repeat; padding-top: 348px;margin: 0 auto; }
/*分享先占位*/
.ye_case_share{ width:233px; float: right; height: 36px; margin-bottom: 108px; }

.ye_case_topw{height: auto;padding-left:95px; }
.ye_case_topw ul li{ width: 100%; height: auto; line-height: 30px;text-align: left; }
/*悬浮导航*/
.ye_rnav{ width: 84px; height: 376px; background:url(//img00.allinmd.cn/column/YE_check/YE_subnav.png) no-repeat;padding: 63px 0 75px 0; text-align: center;position: fixed; top: 35%;left:2%; }
.ye_rnav ul li a{ line-height: 60px; font-size: 22px; color:#333;}
.ye_rnav ul li:hover>a{ color: #cf0b0e; }
.ye_rnav ul li.cur>a{ color: #cf0b0e; }
/*病例内容部分样式*/
.ye_case_con{  width: 100%; height: auto; background: url(//img00.allinmd.cn/column/YE_check/YE_casecbg01.jpg); background-repeat: no-repeat; background-position: center 0; padding-top: 86px;}
.ye_casewrap{ width: 1039px; margin: 0 auto; }
.ye_casew{ width: 100%; height: auto;max-height: 281px; }
.ye_casewl{ width: 320px; float: left; background: url(//img00.allinmd.cn/column/YE_check/YE_casewbg.jpg) no-repeat;padding:27px 51px 28px 35px;position: relative;}
.ye_casewl img{ width: 318px; height: auto;  border: 1px solid #fff;}
.ye_casewl .ye_casejb{ width: 89px; line-height: 36px; background:url(//img00.allinmd.cn/column/YE_check/YE_jb.png) no-repeat; padding-left: 13px; font-size: 15px; color: #fff; font-weight: normal;position: absolute; top: 27px; left: 36px; }
.ye_casewr{    width: 625px;float: left;height: auto;padding-left: 5px;padding-top: 5px;}
.ye_casewrh{ width: 100%; height: auto; font-size: 26px; font-weight: bold;line-height: 45px; }
.ye_casewrh a{color: #700507; }
.ye_casesh{ width: 100%; height: auto; }
.ye_casesh a{ width: 100%; display: block;font-size: 22px; color: #010101; line-height: 33px; text-align: left;}
.ye_casesh a div{ display: inline-block;}
.ye_casesh .ye_ml{margin-right: 20px;background: url(//img00.allinmd.cn/column/YE_check/YE_caseczs.png) no-repeat right center;padding-right: 40px;}
.ye_case_word{ width: 100%; height: auto; padding:8px 0 6px 0;line-height:30px;  }
.ye_case_pk{ width:auto; height: auto;overflow: hidden; }
.ye_case_pk>div{ float: left;}
.ye_pkl{ width: auto; height: auto; background: url(//img00.allinmd.cn/column/YE_check/YE_casepkl.png) no-repeat;padding: 22px 15px 22px 37px;}
.ye_pkc{ width: 84px; height: 83px; background: url(//img00.allinmd.cn/column/YE_check/YE_casepkc.png) no-repeat; }
.ye_pkr{ width: auto; height: auto; background: url(//img00.allinmd.cn/column/YE_check/YE_casepkr.png) no-repeat right 0px;padding:22px 46px 22px 0;}
/*替换背景*/
.ye_case .ye_casetp{ padding-top: 69px;}
.ye_case  .ye_casebp{padding-bottom: 123px;}
.ye_case .ye_casebg02{ background: url(//img00.allinmd.cn/column/YE_check/YE_casecbg02.jpg); background-repeat:repeat; }
/*底部*/
.ye_case_bottom{ width: 100%;height: auto; background:url(//img00.allinmd.cn/column/YE_check/YE_casecbg03.jpg) no-repeat;padding-bottom: 60px; }
.ye_casebcon{ width: 1074px;height: 126px; margin: 0 auto; background:url(//img00.allinmd.cn/column/YE_check/YE_bnav.png) no-repeat; }
.ye_casebcon a{ display: inline-block; width: 30%;height: 127px;}
/*病例页面样式结束*/

/*文库页面样式开始*/
.ye_doc_banner{ width: 100%; height: auto; background-image: url(//img00.allinmd.cn/column/YE_check/YE_doc_bgtop.jpg); }
.ye_docBanner{ width: 1000px;height:auto;background: url(//img00.allinmd.cn/column/YE_check/YE_doc_banner.jpg);padding-bottom: 63px;}
/*01.07修改*/
.ye_docshare{ margin-bottom: 44px;}
.yearEnd_wrap .ye_docf ul li{ line-height: 35px; }
.ye_doc{ width: 100%; height: auto; background:url(//img00.allinmd.cn/column/YE_check/YE_doccbg01.jpg) no-repeat center 0; }
.ye_doc_con{ width: 1000px; margin: 0 auto; height: auto;padding-bottom: 99px; }
.ye_doc_snav{ width: 865px; height: auto; margin: 0 auto;  }
.ye_doc_snav ul li{ width: 169px; height: 106px; background-repeat: no-repeat; background-position: center 0;  float: left;}
.ye_doc_snav ul li a{width:100%; height:100%; display: block;}
.ye_doc_snav ul li.ye_doclm{ margin-right: 63px; }
/*创伤按钮*/
.ye_doc_snav ul .ye_docnc{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docnc.png); }
.ye_doc_snav ul .ye_docnc:hover{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docnc_h.png); }
.ye_doc_snav ul .ye_docnc_cur{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docnc_h.png); }
/*关节按钮*/
.ye_doc_snav ul .ye_docng{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docng.png); }
.ye_doc_snav ul .ye_docng:hover{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docng_h.png); }
.ye_doc_snav ul .ye_docng_cur{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docng_h.png); }
/*脊柱按钮*/
.ye_doc_snav ul .ye_docnj{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docnj.png); }
.ye_doc_snav ul .ye_docnj:hover{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docnj_h.png); }
.ye_doc_snav ul .ye_docnj_cur{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docnj_h.png); }
/*其他按钮*/
.ye_doc_snav ul .ye_docna{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docna.png); }
.ye_doc_snav ul .ye_docna:hover{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docna_h.png); }
.ye_doc_snav ul .ye_docna_cur{ background-image: url(//img00.allinmd.cn/column/YE_check/YE_docna_h.png); }
/*主题部分*/
.ye_docw{ width: 820px; height: auto; margin: 0 auto; }
.ye_docw ul li{ width: 100%; height: auto; max-height: 251px;padding-top: 95px; }
.ye_docw ul .ye_ltm{ padding-top: 56px; }
.ye_docw .ye_docwl{ width: 200px; float: left;position: relative;padding:28px 0 22px 37px;  background:url(//img00.allinmd.cn/column/YE_check/YE_docwbg.png) no-repeat;}
.ye_docwl .ye_docjb{ width: 67px; height: 80px; background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb01.png);background-repeat: no-repeat; position: absolute; left: 0; top: 0;}
/*数字角标*/
.ye_docwl .ye_docjbe{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb02.png);}
.ye_docwl .ye_docjbs{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb03.png);}
.ye_docwl .ye_docjbf{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb04.png);}
.ye_docwl .ye_docjbw{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb05.png);}
.ye_docwl .ye_docjbl{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb06.png);}
.ye_docwl .ye_docjbq{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb07.png);}
.ye_docwl .ye_docjbb{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb08.png);}
.ye_docwl .ye_docjbj{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb09.png);}
.ye_docwl .ye_docjbsh{background-image: url(//img00.allinmd.cn/column/YE_check/YE_docjb10.png);}

.ye_docwr{ width: 535px; float: right; height: auto; }
.ye_docwrh{ width: 100%; height: auto;padding: 21px 0 18px 0; }
/*12.24修改--增加文案较多时上面的内边距为0*/
.ye_docwr .nop{padding-top: 0;}
.ye_docwrn{ width: 100%; text-align: left; font-size: 22px; color: #333; line-height: 22px;  margin-bottom: 5px;}
.ye_docwrn a{color: #333; }
.ye_docwr .font_c{ color: #333; }
.ye_doc_bottom{ width: 100%; height: auto; padding-bottom: 60px; }
.ye_doc_bnav{ width: 810px; margin: 0 auto; }
.ye_doc_bnav a{  float:left;width: 178px; height:233px; background-image:url(//img00.allinmd.cn/column/YE_check/YE_docbn01.png);background-repeat: no-repeat; margin-right: 138px;  }
.ye_doc_bnav .ye_docjy{background-image:url(//img00.allinmd.cn/column/YE_check/YE_docbn02.png);}
.ye_doc_bnav .ye_doczn{background-image:url(//img00.allinmd.cn/column/YE_check/YE_docbn03.png);}
.yearEnd_wrap .m_n{ margin: 0; }
/*文库页面样式结束*/
/*视频页面--课程开始*/
.ye_video_banner{ width: 100%; height: auto; background-image: url(//img00.allinmd.cn/column/YE_check/YE_video_bgtop.jpg);}
.ye_videoBanner{ width: 1000px;height:auto;background: url(//img00.allinmd.cn/column/YE_check/YE_video_banner.jpg);padding-bottom: 63px;padding-top: 342px;}
.ye_videoshare{ margin-bottom:33px;}
.ye_video_p{ font-size: 16px; line-height: 28px; color: #555; text-align: left;  width: 615px; float: right;}
.ye_videoC{ width: 100%;  background: url(//img00.allinmd.cn/column/YE_check/YE_videocbg01.jpg) no-repeat;}
.ye_videoCcon{ width: 1007px; margin: 0 auto; }
.ye_videoCnav{ width: 466px; height:70px; background:url(//img00.allinmd.cn/column/YE_check/YE_videonbg.png) no-repeat; margin: 0 auto;padding-top:3px; text-align: center; }
.ye_videoCnav a{ display: inline-block; width: 228px; text-align: center; line-height:61px;background: #fff; font-size: 28px; color: #4b4b70;  font-weight: normal;}
/*.ye_videoCnav a:hover{ background:#4b4b70; color: #fff; }*/
.ye_videoCnav a.cur{ background:#4b4b70; color: #fff; }
.ye_videoCwarp{ width: 100%; height: auto;padding-top: 24px; padding-bottom:60px; margin: 0 auto; }
.ye_videoCtop{ width: 100%; height: auto;}
.ye_videoCtop ul li{ width: 100%;  margin-bottom: 33px; height: 290px; overflow: hidden;}
/*特殊的背景图定位*/
.ye_videoCtop ul li .ye_spc{  background-repeat: no-repeat;background-position:right -2px;}
.ye_videoCtop ul li .ye_spc01{  background-repeat: no-repeat;background-position:right -4px;}
.ye_videoCtop ul li .ye_spc02{  background-repeat: no-repeat;background-position:right -3px;}
.ye_videoCtop ul li .ye_Ospc01{ background-repeat: no-repeat;background-position:right 0;}
.ye_videoCtop ul li .ye_Ospc02{ background-repeat: no-repeat;background-position:right -1px;}

.ye_videoCtl{ width: 446px; float: left;position: relative;overflow: hidden; }
.ye_videobtn{ width: 83px; height: 70px; background: url(//img00.allinmd.cn/column/YE_check/YE_docVbtn.png) no-repeat; position: absolute;left: 45%; top: 37%; border: 0; cursor: pointer;}
.ye_videobtn:hover{ background: url(//img00.allinmd.cn/column/YE_check/YE_docVbtn_h.png) no-repeat; }
/*修改样式12.25*/
.ye_videoCtr{ width: 474px; float: right;padding:34px 62px 0 25px;background-image: url(//img00.allinmd.cn/column/YE_check/YE_docVwbg.png); background-repeat: no-repeat;background-position:right 1px; height:295px; }
.ye_videoCrank{ width: 100%; height: 20px;background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr01.png); background-repeat: no-repeat; }
.ye_videoCrank02{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr02.png); }
.ye_videoCrank03{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr03.png); }
.ye_videoCrank04{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr04.png); }
.ye_videoCrank05{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr05.png); }
.ye_videoCrank06{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr06.png); }
.ye_videoCrank07{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr07.png); }
.ye_videoCrank08{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr08.png); }
.ye_videoCrank09{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr09.png); }
.ye_videoCrank10{background-image: url(//img00.allinmd.cn/column/YE_check/YE_videoCr10.png); }

.ye_videoCh{ padding: 20px 0 12px 0; width: 100%; }
.ye_videoCp{ width: 100%; padding-top: 7px; color: #555; font-size: 18px; line-height: 30px; }
/*设计稿以三行文字设计，四行时有遮挡了所以单写样式给四行字的时候*/
.ye_videoCtr .bigp{padding-top:20px;}
.ye_videoCbnav{ width: 100%; height: auto; padding-top: 10px; }
.ye_videoCbnav a{ float: left; width: 317px; height: auto;margin-right: 25px; }
/*视频页面--课程结束*/


/*/微信弹出扫描/*/
#qrcodeArea{
	width:140px;height:160px;position:absolute;padding:10px;border:1px solid #ccc;display: none;background: #fff;-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#qrcodeArea p{
	height:20px;line-height: 20px;font-size:14px;text-align: center;margin-top:-5px;color:#5A5A5A;
}
#qrcodeContent{
	margin-top:5px;
}






