@charset "UTF-8";
//REM单位换算函数
$basicRem:75px;
@function rem($px) {
    @return ($px/$basicRem) * 1rem;
}

//字体适配混合宏
@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}


/*公用动画*/

@-webkit-keyframes starRain {
    0% {
        -webkit-transform: translate(rem(800px), rem(-1000px));
        transform: translate(rem(800px), rem(-1000px));
    }
    100% {
        -webkit-transform: translate(rem(-1192px), rem(1678px));
        transform: translate(rem(-1192px), rem(1678px))
    }
}

@keyframes starRain {
    0% {
        -webkit-transform: translate(rem(1596px), rem(-1039px));
        transform: translate(rem(1596px), rem(-1039px));
    }
    100% {
        -webkit-transform: translate(rem(-2000px), rem(1000px));
        transform: translate(rem(-2000px), rem(1000px))
    }
}

@-webkit-keyframes bounceInLeft {
    0%,
    100%,
    60%,
    75%,
    90% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInLeft {
    0%,
    100%,
    60%,
    75%,
    90% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes bounceInRight {
    0%,
    100%,
    60%,
    75%,
    90% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInRight {
    0%,
    100%,
    60%,
    75%,
    90% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes bounceIn {
    0%,
    100%,
    20%,
    40%,
    60%,
    80% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes bounceIn {
    0%,
    100%,
    20%,
    40%,
    60%,
    80% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg)
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg)
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg)
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg)
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg)
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg)
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg)
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg)
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg)
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg)
    }
}


/*第一页动画*/

@-webkit-keyframes twoYearsOne {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes twoYearsOne {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes twoYearsTwo {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes twoYearsTwo {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes airplane {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes airplane {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes magnifier {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        opacity: 1;
        -webkit-transform: translate(rem(-60px), rem(60px));
        transform: translate(rem(-60px), rem(60px))
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(-120px), rem(0px));
        transform: translate(rem(-120px), rem(0px))
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(rem(0px), rem(-60px));
        transform: translate(rem(0px), rem(-60px))
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes magnifier {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        opacity: 1;
        -webkit-transform: translate(rem(-60px), rem(60px));
        transform: translate(rem(-60px), rem(60px))
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(-120px), rem(0px));
        transform: translate(rem(-120px), rem(0px))
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(rem(0px), rem(-60px));
        transform: translate(rem(0px), rem(-60px))
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes upArrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
        -webkit-transform: translateY(rem(-40px));
        transform: translateY(rem(-40px));
    }
    80% {
        opacity: 0.4;
        -webkit-transform: translateY(rem(-80px));
        transform: translateY(rem(-80px));
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(rem(-80px));
        transform: translateY(rem(-80px));
    }
}

@keyframes upArrow {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(rem(-90px));
        transform: translateY(rem(-90px));
    }
    80% {
        opacity: 1;
        -webkit-transform: translateY(rem(-180px));
        transform: translateY(rem(-180px));
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(rem(-180px));
        transform: translateY(rem(-180px));
    }
}


/*第二页动画*/

@-webkit-keyframes showText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*第三页动画*/

@-webkit-keyframes level {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes level {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fadeInUpHands {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@-webkit-keyframes fadeInUphands {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@keyframes fadeInUphands {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}


/*第四页动画*/


/*第五页动画*/

@-webkit-keyframes backLight {
    0% {
        opacity: 0;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg)
    }
    50% {
        opacity: 1;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -180deg);
        transform: rotate3d(0, 0, 1, -180deg)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes backLight {
    0% {
        opacity: 0;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg)
    }
    50% {
        opacity: 1;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -180deg);
        transform: rotate3d(0, 0, 1, -180deg)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none
    }
}


/*第六页动画*/

@-webkit-keyframes analyze {
    0% {
        visibility: visible;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg)
    }
    50% {
        visibility: visible;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -180deg);
        transform: rotate3d(0, 0, 1, -180deg)
    }
    100% {
        visibility: visible;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes analyze {
    0% {
        visibility: visible;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg)
    }
    50% {
        visibility: visible;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -180deg);
        transform: rotate3d(0, 0, 1, -180deg)
    }
    100% {
        visibility: visible;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes total {
    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg)
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@keyframes total {
    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg)
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@-webkit-keyframes userFlNum {
    0% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg)
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@keyframes userFlNum {
    0% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg)
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}


/*第七页动画*/

@-webkit-keyframes backStar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes backStar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes movePlanet {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
        -webkit-transform: translate(rem(100px), 0);
        transform: translate(rem(100px), 0)
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(50px), rem(50px));
        transform: translate(rem(50px), rem(50px))
    }
    100% {
        opacity: 1;
    }
}

@keyframes movePlanet {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
        -webkit-transform: translate(rem(100px), 0);
        transform: translate(rem(100px), 0)
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(50px), rem(50px));
        transform: translate(rem(50px), rem(50px))
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes masterShow {
    0%,
    50%,
    100% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 1;
    }
}

@keyframes masterShow {
    0%,
    50%,
    100% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 1;
    }
}

@-webkit-keyframes jumpFloor1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes jumpFloor1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes jumpFloor2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(33px), rem(-70px));
        transform: translate(rem(33px), rem(-70px));
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px)) rotate(10deg);
        transform: translate(rem(53px), rem(-50px)) rotate(10deg);
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px)) rotate(0deg);
        transform: translate(rem(53px), rem(-50px)) rotate(0deg);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px)) rotate(-10deg);
        transform: translate(rem(53px), rem(-50px)) rotate(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px)) rotate(0deg);
        transform: translate(rem(53px), rem(-50px)) rotate(0deg);
    }
}

@keyframes jumpFloor2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(33px), rem(-70px));
        transform: translate(rem(33px), rem(-70px));
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px)) rotate(10deg);
        transform: translate(rem(53px), rem(-50px)) rotate(10deg);
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px)) rotate(0deg);
        transform: translate(rem(53px), rem(-50px)) rotate(0deg);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px)) rotate(-10deg);
        transform: translate(rem(53px), rem(-50px)) rotate(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px)) rotate(0deg);
        transform: translate(rem(53px), rem(-50px)) rotate(0deg);
    }
}

@-webkit-keyframes jumpFloor3 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(rem(33px), rem(-70px));
        transform: translate(rem(33px), rem(-70px));
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px));
        transform: translate(rem(53px), rem(-50px));
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(rem(86px), rem(-130px));
        transform: translate(rem(86px), rem(-130px));
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px)) rotate(10deg);
        transform: translate(rem(110px), rem(-100px)) rotate(10deg);
    }
    85% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px)) rotate(0deg);
        transform: translate(rem(110px), rem(-100px)) rotate(0deg);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px)) rotate(-10deg);
        transform: translate(rem(110px), rem(-100px)) rotate(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px)) rotate(0deg);
        transform: translate(rem(110px), rem(-100px)) rotate(0deg);
    }
}

@keyframes jumpFloor3 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(rem(33px), rem(-70px));
        transform: translate(rem(33px), rem(-70px));
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px));
        transform: translate(rem(53px), rem(-50px));
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(rem(86px), rem(-130px));
        transform: translate(rem(86px), rem(-130px));
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px)) rotate(10deg);
        transform: translate(rem(110px), rem(-100px)) rotate(10deg);
    }
    85% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px)) rotate(0deg);
        transform: translate(rem(110px), rem(-100px)) rotate(0deg);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px)) rotate(-10deg);
        transform: translate(rem(110px), rem(-100px)) rotate(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px)) rotate(0deg);
        transform: translate(rem(110px), rem(-100px)) rotate(0deg);
    }
}

@-webkit-keyframes jumpFloor4 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(rem(33px), rem(-70px));
        transform: translate(rem(33px), rem(-70px));
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px));
        transform: translate(rem(53px), rem(-50px));
    }
    30% {
        opacity: 1;
        -webkit-transform: translate(rem(86px), rem(-130px));
        transform: translate(rem(86px), rem(-130px));
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px));
        transform: translate(rem(110px), rem(-100px));
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(139px), rem(-180px));
        transform: translate(rem(139px), rem(-180px));
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px)) rotate(10deg);
        transform: translate(rem(170px), rem(-150px)) rotate(10deg);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px)) rotate(0deg);
        transform: translate(rem(170px), rem(-150px)) rotate(0deg);
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px)) rotate(-10deg);
        transform: translate(rem(170px), rem(-150px)) rotate(-10deg);
    }
    90%,
    100% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px)) rotate(0deg);
        transform: translate(rem(170px), rem(-150px)) rotate(0deg);
    }
}

@keyframes jumpFloor4 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(rem(33px), rem(-70px));
        transform: translate(rem(33px), rem(-70px));
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px));
        transform: translate(rem(53px), rem(-50px));
    }
    30% {
        opacity: 1;
        -webkit-transform: translate(rem(86px), rem(-130px));
        transform: translate(rem(86px), rem(-130px));
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px));
        transform: translate(rem(110px), rem(-100px));
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(139px), rem(-180px));
        transform: translate(rem(139px), rem(-180px));
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px)) rotate(10deg);
        transform: translate(rem(170px), rem(-150px)) rotate(10deg);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px)) rotate(0deg);
        transform: translate(rem(170px), rem(-150px)) rotate(0deg);
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px)) rotate(-10deg);
        transform: translate(rem(170px), rem(-150px)) rotate(-10deg);
    }
    90%,
    100% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px)) rotate(0deg);
        transform: translate(rem(170px), rem(-150px)) rotate(0deg);
    }
}

@-webkit-keyframes jumpFloor5 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(rem(33px), rem(-70px));
        transform: translate(rem(33px), rem(-70px));
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px));
        transform: translate(rem(53px), rem(-50px));
    }
    30% {
        opacity: 1;
        -webkit-transform: translate(rem(86px), rem(-130px));
        transform: translate(rem(86px), rem(-130px));
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px));
        transform: translate(rem(110px), rem(-100px));
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(139px), rem(-180px));
        transform: translate(rem(139px), rem(-180px));
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px));
        transform: translate(rem(170px), rem(-150px));
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(rem(209px), rem(-230px));
        transform: translate(rem(209px), rem(-230px));
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(rem(229px), rem(-200px)) rotate(10deg);
        transform: translate(rem(229px), rem(-200px)) rotate(10deg);
    }
    85% {
        opacity: 1;
        -webkit-transform: translate(rem(229px), rem(-200px)) rotate(0deg);
        transform: translate(rem(229px), rem(-200px)) rotate(0deg);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(rem(229px), rem(-200px)) rotate(-10deg);
        transform: translate(rem(229px), rem(-200px)) rotate(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(rem(229px), rem(-200px)) rotate(0deg);
        transform: translate(rem(229px), rem(-200px)) rotate(0deg);
    }
}

@keyframes jumpFloor5 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(rem(33px), rem(-70px));
        transform: translate(rem(33px), rem(-70px));
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(rem(53px), rem(-50px));
        transform: translate(rem(53px), rem(-50px));
    }
    30% {
        opacity: 1;
        -webkit-transform: translate(rem(86px), rem(-130px));
        transform: translate(rem(86px), rem(-130px));
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(rem(110px), rem(-100px));
        transform: translate(rem(110px), rem(-100px));
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(rem(139px), rem(-180px));
        transform: translate(rem(139px), rem(-180px));
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(rem(170px), rem(-150px));
        transform: translate(rem(170px), rem(-150px));
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(rem(209px), rem(-230px));
        transform: translate(rem(209px), rem(-230px));
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(rem(229px), rem(-200px)) rotate(10deg);
        transform: translate(rem(229px), rem(-200px)) rotate(10deg);
    }
    85% {
        opacity: 1;
        -webkit-transform: translate(rem(229px), rem(-200px)) rotate(0deg);
        transform: translate(rem(229px), rem(-200px)) rotate(0deg);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(rem(229px), rem(-200px)) rotate(-10deg);
        transform: translate(rem(229px), rem(-200px)) rotate(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(rem(229px), rem(-200px)) rotate(0deg);
        transform: translate(rem(229px), rem(-200px)) rotate(0deg);
    }
}
@-webkit-keyframes rubberBandShare {
    0% {
        visibility: hidden;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        visibility: visible;
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        visibility: visible;
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        visibility: visible;
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        visibility: visible;
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        visibility: visible;
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        visibility: visible;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes rubberBandShare {
    0% {
        visibility: hidden;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        visibility: visible;
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        visibility: visible;
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        visibility: visible;
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        visibility: visible;
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        visibility: visible;
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        visibility: visible;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}


/*第八页动画*/

@-webkit-keyframes map {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes map {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}


/*第九页动画*/

@-webkit-keyframes topPlanet {
    0%,
    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    60% {
        -webkit-transform: translate(rem(100px), 0);
        transform: translate(rem(100px), 0)
    }
    80% {
        -webkit-transform: translate(rem(30px), rem(50px));
        transform: translate(rem(30px), rem(50px))
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes topPlanet {
    0%,
    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    60% {
        -webkit-transform: translate(rem(100px), 0);
        transform: translate(rem(100px), 0)
    }
    80% {
        -webkit-transform: translate(rem(30px), rem(50px));
        transform: translate(rem(30px), rem(50px))
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
