@charset "utf-8";
/* CSS Document */

.not_found{
	width:100%;
	height:100%;
	padding:20px 0 60px 0;
	background:#efeff4;
}
.not_content{
	width:1000px;
	margin:0 auto;
	border:solid 1px #dddde2;
	padding:132px 0 160px 0;
	background:#fff;
	
}
.building{
	padding:70px 0 160px 0;
}
.not_text01{
	line-height:23px;
	text-align:center;
	font-family:"Microsoft Yahei";
	font-size:18px;
	color:#808080;
	margin-top:40px;
}
.not_text02{
	line-height:23px;
	text-align:center;
	font-family:"Microsoft Yahei";
	font-size:15px;
	color:#808080;
}
.fh_home_build{
	width:210px;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#0b83e0;
	border-radius:3px;
	font-size:24px;
	color:#fff;
	margin:50px auto 0;
}
.fh_home_build a{
	color:#fff;
}
