.al-disMajorMainBox_head {
  border-bottom: 1px solid #E4E9ED;
}
.al-disMajorMainBox_head .al-disMajorMain_ul .al-secLi {
  border-left: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  margin: 0 15px;
  padding: 0 15px;
}
.al-disMajorMainBox_head .al-disMajorMain_ul li a {
  margin-right: 0;
  padding: 0;
}
.al-disMajorMainBox_head .al-disMajorMain_ul li a:hover {
  color: #3598DB;
  background-color: transparent;
}

.al-disMajorAll {
  float: right;
  text-align: right;
}
.al-disMajorAll:hover .al-discover-ulBox {
  display: block;
}
.al-disMajorAll:hover .al-discover-ulBox .al-discover_topArrow {
  left: 65px;
}
.al-disMajorAll:hover .al-discover-ulBox ul {
  right: -12px;
}

.al-allTag_Foot {
  height: 60px;
  background-color: #fff;
  font-size: 13px;
  color: #909090;
  padding: 0 25px;
  line-height: 60px;
}
.al-allTag_Foot p {
  display: inline-block;
}
.al-allTag_Foot p span {
  padding: 0 2px;
}

.al-allTag_Foot .al-imgBox {
  float: right;
  height: 60px;
  font-size: 0;
}
.al-allTag_Foot .al-imgBox a {
  display: inline-block;
  margin-left: 12px;
}
.al-allTag_Foot .al-imgBox a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

.al-discover_sidebar {
  float: right;
  width: 270px;
  margin-top: 20px;
}
