@charset "UTF-8";
//公共方法模块调用
@import "../../../modules/_common-modules";
//公共变量引用
@import "../../../variables/_allinmdV3-variables";
@import "../discover_billboard";

@import "../../../components/discover/_specialColumn";//特色栏目


.al-mainInner{
  background: #fff;
  .discoverColumn .title{
    margin: 50px 0 20px;
  }
}
.al-more-column{
  font-size: 18px;
  color: #AAAAAA;
  margin-top:60px;
  text-align: center;
}
.specialColumn{
  width: 1000px;
  margin: 0 auto;
  li{
    margin-top: 64px;
  }
}


.al-mainFooter{
  background: #F6F9FB;
  box-shadow: 0 2px 3px 4px rgba(0,0,0,0.04);
}