@charset "utf-8";
/* CSS Document */


.ll_jl_text{
    float:left;
    font-size:18px;
    color:#333333;
}
.ll_week_text{
    float:right;
    font-size:14px;
    color:#808080;
    height:30px;
    position:relative;

}
.ll_mourth_text{
    float:right;
    font-size:14px;
    color:#808080;
    height:30px;
    margin-left:13px;
    position:relative;
}
.ll_jt{
    position:absolute;
    left:8px;
    bottom:-1px;
    z-index:2;
}


.ll_mourth_text .link{
    color:#808080;
    text-decoration:none;
}
.ll_week_text .link{
    color:#808080;
    text-decoration:none;
}
.jl_list li{
    padding:18px 0 0 0 ;
    position:relative;
    /* border-bottom:1px #e1e3e4 dashed; */
}
.ll_jl_list li{
    padding:15px 20px 0 ;
    position:relative;
    
}
.jl_list li:last-child{
	border-bottom:none;
}
.jl_list_num_red{
    float:left;
    background:#ff3b30;
    width:17px;
    height:17px;
    line-height:17px;
    text-align:center;
    font-size:12px;
    color:#fff;
    margin-right:10px;
    padding-left:1px;
}
.jl_list_num_hui{
    float:left;
    background:#aab7c9;
    width:17px;
    height:17px;
    line-height:17px;
    text-align:center;
    font-size:12px;
    color:#fff;
    margin-right:10px;
    padding-left:1px;
}
.jl_list_text{
    width:195px;
    overflow:hidden;
    font-size:12px;
    color:#666;
    float:left;
    padding-bottom:17px;
    line-height:20px;
    margin-top:-3px;
    height:5px;
}
.jl_list_text a:link,
.jl_list_text a:active,
.jl_list_text a:visited{
	color:#555555;
    font-family: arial, "宋体";
	text-decoration:none;
}


.jl_list_text a:hover{
    color: #3D84C6;
}
.jl_list{
    width:245px;
    /* margin-bottom:7px; */
}
.sishu{
    font-size:12px;
    color:#909090;
    font-family: arial, "宋体";
    margin-left:28px;
    padding-bottom:19px;
    border-bottom:1px #e1e3e4 dashed;
}
.jl_list li:last-child .sishu{
	border:none;
}
.doc_ads{
    margin:0 0 30px 0;
}
.ll_jl_list{
    width: 265px;
    height: auto;
    border: solid 1px #e3e3e8;
    background: #fff;
   border-bottom:none;
}
.ll_jl_list_bottom_bg{
	background: url(//modules.allinmd.cn/channel-chart/images/left_bottom_bg.png) no-repeat 1px bottom;
	height: 5px;
	margin-top: -1px;
	width: 265px;
	margin-bottom: 20px;
}
.jl_list .ll_ph{
    height:30px;
    line-height:30px;
    border-bottom: #e1e3e4 solid 1px;
}
.ll_jl_list .ll_ph{
    height:58px;
    line-height:58px;
    border-bottom: #e1e3e4 solid 1px;
	padding: 0 20px;
}
.jl_list .ll_jt{
    /* bottom:-29px; */
    width:7px; height:4px;
    background: #fff url(//modules.allinmd.cn/channel-chart/images/t_jt.png) 0 0 no-repeat;
}
.ll_jl_list .ll_jt{
    bottom:-29px;
    width:7px; height:4px;
    background: #fff url(//modules.allinmd.cn/channel-chart/images/t_jt.png) 0 0 no-repeat;
}
.ll_mourth_text a,.ll_week_text a{
    color:#666666;
    text-decoration:none;
}
.ll_jt{
    display:none;
}

.jl_list .ll_ph .on .ll_jt,.ll_jl_list .on .ll_jt{
    display:block;
}
.jl_list .ll_ph .on .hover,.ll_jl_list .ll_ph .on .hover{
    color:#3d84c6;
    text-decoration:none;
}


.jl_list .ll_ph .on .ll_jt,.ll_jl_list .ll_ph .on .ll_jt{
    display:block;
}
.jl_list .ll_ph .on .hover,.ll_jl_list .ll_ph .on .hover{
    color:#3d84c6;
    text-decoration:none;
}
