.content-page {
 height:auto !important;
}
.banner_bg {
/*background:url(//img50.allinmd.cn/personal_v2/lan_bg@2x.png) no-repeat;
	width:100%;
	background-size:100%;
	height:23.4em;*/
}
.personal_content {
	background: #f0f1f2;
	height: 100%;
	position:relative;
}
.top_center {
	background:url(//img50.allinmd.cn/personal_v2/lan_bg@2x.png) repeat-y;
	width:100%;
	background-size:100%;
	/*height:23.4em;*/
	padding-bottom:1.2em;
}
.top_img {
	background:url(//img50.allinmd.cn/personal_v2/quan.png) no-repeat;
	width:9em;
	margin:0 auto 0;
	height:9em;
	background-size:100%;
	padding-top:0.5em;
	position:relative;
}
.vip_img_t {
	position:absolute;
	right:1em;
	bottom:1.5em;
	z-index:15;
	width:18%;
}
.vip_img_t img {
	width:100%;
}
.top_img .user_img {
	width:8em;
	height:8em;
	border-radius:50%;
}
.top_tub div {
	width:7.8125%;
}
.top_tub img {
	width:100%;
	height:auto !important;
}
.fanhui, .fenxiang {
	float:left;
	margin-top:1.25em;
}
.fanhui {
	margin-left:3%;
}
.fenxiang {
	margin-left:64%;
}
.shezhi {
	float:right;
	margin-top:1.25em;
	margin-right:3%;
}
.top_text {
	color:#fff;
}

.user_yy span {
	margin-left:4%;
}
.personal_gz {
	/*background:url(//img50.allinmd.cn/personal_v2/baixian_bg@2x.png) no-repeat;
	height:13.9em;*/
	background-size:100%;
	width:100%;
	margin-bottom:1.875em;
	background:#fff;
}
.personal_gz_top .gz_cont, .personal_gz_top .fs_cont, .personal_gz_top .dy_cont {
	width:33%;
	text-align:center;
	float:left;
}
.personal_gz_top .gz_cont, .personal_gz_top .fs_cont {
	border-right: solid #c9d1db 1px;
}
.num_text {
	font-size:1.75em;
	color:#798ca6;
	font-weight:bold;
	position:relative;
}
.text_zi {
	font-size:1.375em;
	color:#798ca6;
}
.red_pointer {
	position:absolute;
	right:-0.5em;
	top:0;
	z-index:2;
	width:15%;
}
.red_pointer02 {
	position:absolute;
	left: 23%;
	top: 20%;
	z-index:2;
	width:1.7%;
}
.qx_gz {
	position:absolute;
	right:3.125%;
	bottom:-2em;
	z-index:2;
	width:28.75%;
}
.qx_gz img {
	width:100%;
}
.personal_gz_bottom img {
	width:100%;
}
.red_pointer img {
	width:100%;
}
.personal_gz_top {
	/*height:6.75em;*/
	border-bottom: solid #c9d1db 1px;
	padding:1.375em 0;
}
.zan_bg {
	float:left;
	background:url(//img50.allinmd.cn/personal_v2/zan_bg.png) no-repeat;
	width:11%;
	background-size:100%;
	margin-left:3.125%;
	padding-left:8.75%;
	text-align:left;
	font-size:1.625em;
	color:#0c8ef3;
	line-height:2.5em;
	padding-bottom:0.09em;
}
.bj_but {
	float:right;
	margin-right:3.125%;
	width:28.75%;
}
.bj_but img {
	width:100%;
}
.personal_gz_bottom {
	border-bottom: solid #c9d1db 1px;
	padding:1.375em 0;
	position:relative;
}
.big_but_bg {
	/*background:url(//img50.allinmd.cn/personal_v2/but_bg.png) no-repeat;*/
	background:#73859e;
	width:81.25%;
	padding:1.875em 0;
	margin:1.875em auto;
	background-size:100%;
	border-radius: 0.5em;
	padding-left:12.5%;
}
.big_but_bg .vip_text, .big_but_bg .vip_img {
	float:left;
	font-size:1.75em;
	line-height:1em;
	color:#fff;
}
.vip_img {
	margin-left:1.5625%;
	width:4.6%;
}
.vip_img img {
	width:100%;
}
.but_cz {
	/*background:url(//img50.allinmd.cn/personal_v2/nine@2x.png) no-repeat;*/
	background:#fff;
	border-top: solid #c9d1db 1px;
	width:100%;
	background-size:100%;
	margin-bottom:7.5em;
}
.but_cz li {
	width:33.1%;
	float:left;
	padding:1.75em 0 1.75em 0;
	border-right: solid #c9d1db 1px;
	border-bottom: solid #c9d1db 1px;
}
.shoucang_img {
	width:25%;
	margin:0 auto;
	padding-bottom: 1.75em;
}
.shoucang_img img {
	width:100%;
}
.shoucang_text {
	font-size:1.375em;
	color:#666;
}
.zhezhao {
	position:absolute;
	left:0;
	top:0;
	z-index:10;
}
.zz_yiny {
	width:100%;
	height:60em;
	background:#000;
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
}
.zz_but {
	width:100%;
	height:18.4em;
	background:#efeff4;
}
.zz_but .pingbi {
	height:2.9em;
	line-height:2.9em;
	font-size:1.875em;
	color:#666666;
	background:#fff;
	border:solid #dbdbdb 1px;
}
.pb_after {
	font-size:1.5em;
	color:#969696;
	margin:1em 0 2em 0;
}
.qx_but {
	width:93.75%;
}
.qx_but img {
	width:100%;
}
.no_width {
	width:auto;
}
.gz_cont {
	background:#fff;
}
.gz_img {
	float:right;
	margin-right:1.25em;
	margin-top:2.1em;
	width: 14.375%;
}
.gz_img img {
	width:100%;
}
.no_gz img {
	width:100%;
}
.no_gz {
	background:url(//img50.allinmd.cn/personal_v2/no_fans.jpg) no-repeat center center;
	width:100%;
}
.no_other_gz img {
	width:100%;
}
/*个人资料*/
.zl_card {
	background:#fff url(//img50.allinmd.cn/personal_v2/bg_geren@2x.png) no-repeat;
	background-size:100%;
	height:23em;
	border-bottom: solid 1px #dbdbdb;
	box-shadow: 0px 0.0625em 0.125em #dbdbdb;
	text-align:left;
	margin-bottom:1.25em;
}
.zl_card_tx {
	float:left;
	margin:4.375em 1.875em;
	position:relative;
	width:20%;
}
.zl_card_tx img {
	width:100%;
	border-radius:50%;
}
#logo{
	width:100%;
}
.vip_img_zl {
	position:absolute;
	right:0;
	bottom:0;
	z-index:10;
}
.zl_card_name {
	float:left;
	width:62.5%;
	margin-top:5.5em;
}
.zl_name {
	float:left;
	font-size:3.125em;
	color:#333;
}
.zl_xb {
	margin:1em 0 0 1em;
	float:left;
	width: 9%;
}
.zl_xb img{
	width:100%;
}
.zl_zw {
	font-size:1.75em;
	color:#000;
}
.zl_zc, .nianling, .zhuzhi {
	float:left;
	font-size:1.625em;
	color:#666;
}
.zl_zc {
	background:url(//img50.allinmd.cn/personal_v2/ren01@2x.png) no-repeat;
	background-size:16.3%;
	padding-left:5.5%;
	width:20.5%;
	margin-left:1.25em;
}
.nianling {
	background:url(//img50.allinmd.cn/personal_v2/lazhu@2x.png) no-repeat;
	background-size:22%;
	width:14.3%;
	padding-left:6%;
}
.zhuzhi {
	background:url(//img50.allinmd.cn/personal_v2/bao@2x.png) no-repeat;
	background-size:9.5%;
	width:40%;
	padding-left:6%;
}
.jianjie_text {
	text-align:left;
}
.zl_text {
	padding:1em 1.25em;
	font-size:1.75em;
	color:#333;
	line-height:1.7em;
	background:#fff;
	border-bottom: solid 1px #dbdbdb;
	word-break: break-all;
}
.wz_jj img {
	width:100%;
	margin-bottom:1.15em;
}
.zl_bottom {
	border-bottom: solid 1px #dbdbdb;
	box-shadow: 0px 0.0625em 0.125em #dbdbdb;
	margin-bottom:1.25em;
}
/*编辑资料*/
.huan_tx {
	background:#fff url(//img50.allinmd.cn/personal_v2/bj_jt.png) no-repeat 92% center;
	background-size:2.5%;
	/*height:8.75em;*/
	border-bottom: solid 1px #dbdbdb;
	box-shadow: 0px 0.0625em 0.125em #dbdbdb;
	margin-bottom:1.25em;
}
.huan_tx02 {
	background:#fff url(//img50.allinmd.cn/personal_v2/bj_jt.png) no-repeat 92% center;
	background-size:2.5%;
	
}
.sc_tx {
	font-size:1.75em;
	color:#333;
	/*line-height:5em;*/
	padding:2em 0;
	float:left;
	text-align:left;
	margin-left:1.25em;
}
.sc_img {
	float:right;
	margin:4% 11% 0 0;
	width: 12%;
}
#logoUrl {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 100px;
	opacity: 0;
	filter: alpha(opacity=0);
}
.zl_left, .zl_right {
	float:left;
}
.zl_left {
	width:23%;
	color:#969696;
}
.zl_right {
	width:72%;
}
#sex{
	width:22%;
}
.zl_right select {
	margin:0;
	padding:0;
	border:none;
	background:url(//img50.allinmd.cn/personal_v2/xia_sr.png) no-repeat right center;
	/* background:transparent; */
	-webkit-appearance: none;
	width:100%;
	height:100%;
	color:#333;
	font-family:microsoft yahei;
	outline:none;
	font-size:1.1em;
}
.zl_right div {
	position:relative;
}
.zl_right span {
	position:absolute;
	right:18%;
	top:-0.2em;
	color:#333;
}
.sr_year {
	float:left;
	width: 28%;
	/* background:url(//img50.allinmd.cn/personal_v2/xia_sr.png) no-repeat right center;
	padding-right:1em;
	background-size:13%;*/
	color:#333;
}
.sr_mouth, .sr_day {
	float:left;
	width: 20%;
	/* background:url(//img50.allinmd.cn/personal_v2/xia_sr.png) no-repeat right center;
	padding-right:0.8em;
	background-size:19%;*/
	margin-left:2em;
	color:#333;
}
.zl_right_bg {
	background:#fff url(//img50.allinmd.cn/personal_v2/bj_jt.png) no-repeat 92% center;
	background-size:2.5%;
	border-bottom: solid 1px #dbdbdb;
	padding: 1em 1.25em;
	font-size: 1.75em;
	color: #333;
	line-height: 1.7em;
}
.rz_xx {
	border-top: solid 1px #dbdbdb;
	text-align:left;
	margin-bottom:1.25em;
}
.rz_text {
	background:url(//img50.allinmd.cn/personal_v2/vip@2x.png) no-repeat 22% center;
	background-size:5.5%;
}
.gr_jj {
	text-align:left;
}
.more_zl {
	position:absolute;
	right:1.2em;
	top:0.55em;
	z-index:10;
	width:5.6%;
}
.more_zl img{
	width:100%;
}
.border_bottom {
	position:relative;
}
.bj_width {
	width:90%;
}
.bj_width01{
	width:100%;
}
/*培训内容*/
.px_content {
	width:90.625%;
	margin:1.875em auto;
	background:#fff;
}
.px_content textarea {
	width:88.5%;
	height:6em;
	border:none;
	font-size:1.75em;
	color:#333;
	line-height:1.3em;
	outline:none;
	font-family:microsoft yahei;
	border:solid 1px #dbdbdb;
	padding:1em 1.2em;
	resize: none;
}
.bc_but img {
	width:90.625%;
}
/*获得荣誉*/
.ry_content {
	margin-top:1.8em;
}
.cs_reg_big_input {
	height: 5em;
	border-top: solid 1px #dfdfdf;
	border-bottom: solid 1px #dfdfdf;
	background: #fff;
	margin-bottom: 1.25em;
	overflow: hidden;
}
#department,#education,#authorType{
	outline: none;
	border: none;
	font-family: microsoft yahei;
	line-height: 3em;
	height: 3em;
	-webkit-appearance: none;
	background-color: #fff;
	margin:0;
	padding:0;
}
.cs_reg_left_l_big {
	width: 24%;
	text-align: left;
	margin: 0 0 0 4.6%;
	font-size: 1.625em;
	line-height: 3em;
	color:#969696;
	float: left;
}
.cs_reg_left_r_big {
	float: left;
	width: 68%;
	font-size: 1.625em;
	line-height: 3em;
	text-align:left;
	color:#969696;
}
.cs_reg_left_r_big .select {
	float:left;
	width:30%;
	position: relative;
}
.cs_reg_left_r_big .date_title {
	position: absolute;
	right: 1.1em;
	top: 0em;
	color: #333;
}
.cs_reg_left_r_big .select select {
	margin: 0;
	padding: 0;
	border: none;
	background: url(//img50.allinmd.cn/personal_v2/xia_sr.png) no-repeat right center;
	-webkit-appearance: none;
	width: 100%;
	height: 100%;
	color: #333;
	font-family: microsoft yahei;
	outline: none;
	margin-top:0.8em;
	font-size:1.1em;
}
.cs_reg_left_r_big input {
	border: none;
	font-family: microsoft yahei;
	font-size: 1em;
	line-height: 3em;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
	color:#333;
}
.person_margin {
	margin-top:2.5em;
	margin-bottom:2em;
}
.jj_content {
	text-align:left;
	padding:1em 1.2em;
	color:#333333;
	font-size:1.75em;
	line-height:1.5em;
	word-break: break-all;
}
.yy_content {
}
.search_com {
	background:#fff;
}
.yy_search img {
	width:93.75%;
	margin:1.25em 0;
	text-align:center;
}
.more_xx_title {
	text-align:left;
}
.yy_select {
	background:#fff;
}
.yy_select li {
	border-bottom:solid 1px #dfdfdf;
	text-align:left;
	font-size:1.875em;
	color:#333;
	line-height:3em;
	padding:0 0 0 1.2em;
}
.add_tag_zc li {
	border-bottom: solid 1px #dbdbdb;
	height: 5.3125em;
	background:#fff;
}
.add_tag_zc .add_tag_xz {
	text-align: left;
	padding-left: 15.625%;
	font-size: 1.875em;
	color: #333;
	background:url(//img50.allinmd.cn/case/radio_click.png) no-repeat 5.8% center;
	background-size: 6.25%;
	line-height: 2.75em;
}
.add_tag_zc .add_tag_mr {
	text-align: left;
	padding-left: 15.625%;
	font-size: 1.875em;
	color: #333;
	background: url(//img50.allinmd.cn/case/radio_mr.png) no-repeat 5.8% center;
	background-size: 6.25%;
	line-height: 2.75em;
}
.select01 {
	margin-bottom:1.25em;
}
.yy_s_input {
	float:left;
	width:82.03125%;
	border: solid 1px #dbdbdb;
	border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
	background:#f0f0f0;
	/* height:3.625em; */
	text-align:left;
	position:relative;
}
.yy_sezrch_qx {
	float:left;
	color:#0c8ef3;
	font-size:1.75em;
	line-height:2.2em;
	margin-left:1.25em;
}
.yy_search_input {
	padding:1em;
	background:#FFF;
	box-shadow: 0px 0.0625em 0.125em #dbdbdb;
	border-bottom: solid 1px #dbdbdb;
	margin-bottom:0.2em;
}
.yy_s_input input {
	border:none;
	height:2.2em;
	background:#f0f0f0;
	text-align:left;
	background:url(//img50.allinmd.cn/personal_v2/search.png) no-repeat 4% center;
	padding-left:10%;
	font-size:1.625em;
	width:80%;
	background-size: 6%;
	font-family: "microsoft yahei";
}
.yy_s_close {
	position:absolute;
	right:1.25em;
	top:0.85em;
	z-index:10;
	width: 6%;
}
.yy_s_close img {
	width:100%;
}
.yy_none {
	font-size:1.75em;
	color:#808080;
	border-bottom: solid 1px #dfdfdf;
	border-top: solid 1px #dfdfdf;
	font-size: 1.875em;
	color: #333;
	line-height: 3em;
	margin-top:1.25em;
	background:#fff;
}
.yy_none span {
	color:#0c8ef3;
}
.yy_select_ld {
	background:#fff;
}
.yy_select_ld li {
	text-align:left;
	font-size:1.875em;
	color:#333;
	padding-left:1.25em;
	line-height:2.2em;
}
.add_tag_li_loading_ld {
	text-align: right;
	background:#fff;
}
.add_tag_li_loading_ld img {
	width: 6.25%;
	margin-top: 1.2em;
	margin-right: 1.5em;
}
.shuru_yy {
	color:#808080;
	font-size:1.75em;
	text-align:left;
	margin:0.8em 0 0.5em 1.25em;
}
.add_yy_text {
	height: 5em;
	border-top: solid 1px #dfdfdf;
	border-bottom: solid 1px #dfdfdf;
	background: #fff;
	margin-bottom: 1.25em;
}
.add_yy_text input {
	border: none;
	font-family: microsoft yahei;
	margin: 0;
	padding: 0;
	width: 90%;
	text-align: left;
	font-size: 1.625em;
	line-height: 3em;
	text-align: left;
	color: #969696;
	color: #333;
	padding-left:1.25em;
	padding-right: 1.25em;
}
.yy_none_search {
	background:url(//img50.allinmd.cn/personal_v2/no_search.png) no-repeat;
	background-size:100%;
	height:50em;
	display:none;
}
.sorry_none {
	padding-top:18em;
	color:#b4b4b4;
	font-size:1.875em;
}
.add_yy_name {
	color:#333;
	font-size:1.875em;
	margin-top:0.5em;
}
.add_yy_name .addCompany,.add_yy_name .addSchool {
	color:#0c8ef3;
}
.zyly {
	background:#fff;
}
.add_tag_li {
	padding-bottom: 6.125em;
}
.zyly .add_tag_li li {
	border-bottom: solid 1px #dbdbdb;
	border-top:none !important;
	height: 5.3125em;
}
.baoxun_position {
	position:fixed;
	left:0;
	bottom:0;
	z-index:10;
	height:3.125em;
	border-top: solid 1px #dbdbdb;
	width:100%;
	background:#fff;
	color:#0c8ef3;
	font-size:2em;
	line-height:3.125em;
}
.cs_reg_left_l_big_rz {
	text-align: left;
	margin: 0 0 0 4.6%;
	font-size: 1.625em;
	line-height: 3em;
	color: #969696;
	float: left;
	padding-right:1.7em;
}
.cs_reg_left_r_big_rz {
	float: left;
	width: 68%;
	font-size: 1.625em;
	line-height: 3em;
	text-align: left;
	color: #969696;
}
.cs_reg_left_r_big_rz input {
	border: none;
	font-family: microsoft yahei;
	font-size: 1em;
	line-height: 3em;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
	color: #333;
}
.cs_reg_big_input_rz {
	height: 5em;
	border-top: solid 1px #dfdfdf;
	border-bottom: solid 1px #dfdfdf;
	background: #fff;
}
.renzheng_margin {
	margin-bottom: 1.25em;
}
.renzheng_img {
	width: 10%;
	float:right;
	margin:0.3em 2em 0 0;
}
.renzheng_img img {
	width:100%;
}
.img_rz_div {
	height: 5em;
	border-bottom: solid 1px #dfdfdf;
	background: #fff;
}
.renzheng_text {
	background:url(//img50.allinmd.cn/personal_v2/bj_jt.png) no-repeat right center;
	font-size: 1.625em;
	line-height: 3em;
	color: #969696;
	float:right;
	padding-right:1em;
	margin-right:1.5em;
	background-size:16%;
}
/*评论*/
.comment_nav {
	box-shadow: 0px 0.0625em 0.125em #dbdbdb;
	border-bottom: solid 1px #dbdbdb;
	height:5em;
}
.comment_nav li {
	width:50%;
	float:left;
	color:#808080;
	font-size:1.75em;
	line-height:2.78em;
	background:#fff url(//img50.allinmd.cn/personal_v2/c_line.jpg) no-repeat;
}
.comment_hover {
	border-bottom:1px #0c8ef3 solid;
	color:#0c8ef3 !important;
}
.comment_content {
	background:#fff;
}
.comment_sr {
	position:fixed;
	bottom:0;
	left:0;
	z-index:15;
	background:#f8f8f8;
	height:6.625em;
	border-top: solid 1px #b2b2b2;
	width:100%;
}
.c_text_input {
	width:93.75%;
	margin:0 auto;
	text-align:left;
    padding:0 0 1.5em 0;
}
.c_text_input input {
	border: solid 1px #dbdbdb;
	border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
	background: #fff;
	padding-left:1.5%;
	font-size:1.375em;
	color:#666666;
	width:98.5%;
	margin-top:1em;
	box-shadow: none;
	padding: 1em 1.5%;
}
.c_zz_top {
	width:93.75%;
}
.comment_zz {
	position:absolute;
	left:0;
	top:0;
	z-index:20;
	width:100%;
	background:#000;
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
	height:100%;
}
.comment_zz_content {
	position:fixed;
	left:0;
	bottom:0;
	z-index:25;
	width:100%;
	height:19em;
	background:#f8f8f8;
	border-top: solid 1px #b2b2b2;
	padding:1em 3.125%;
}
.comment_close, .comment_true {
	float:left;
	width:8.3%;
}
.comment_close img, .comment_true img {
	width:100%;
}
.comment_zz_text {
	float:left;
	width:81.75%;
	font-size:2.25em;
	color:#333;
}
.comment_input {
	width:93.75%;
	margin-top:1em;
}
.comment_input textarea {
	height:6em;
	width:80%;
	border: solid 1px #dbdbdb;
	border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
	background: #fff;
	padding:1em 1.25em;
}
.comment_tc {
	position:absolute;
	left:3.125%;
	top:7em;
	z-index:30;
	background:#fff;
	border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
	width:93.75%;
	 /*height:46em;*/
	padding:1.5em 0;
}
.chat_window_config {
    position:fixed;
    left:3.125%;
    top:5em;
    z-index:30;
    overflow:auto;
    background:#fff;
    border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
    width:93.75%;
    height: 82%;
    padding:1.5em 0;
}
.watch_me{
    display: block;
    height: 3em;
    line-height: 3em;
    width: 100%;
    background: #f8f8f8;
    font-size: 1.5em;
    color: #666;
    border-radius: 0 0 0.3125em 0.3125em;
}
.tc_close_case {
	position:absolute;
	right: -1.2em;
	top: -1.2em;
	z-index: 10;
	width: 8%;
}
.tc_close_case img {
	width:100%;
}
.hot_comment_li_tc li {
	/*margin: 1.875em 0 0 0em;*/
	padding: 0 1.25em 2em 1.25em;
}
.chat_line {
	background:url(//img50.allinmd.cn/doc/tc_line.jpg) repeat-y 9.5%;
}
.hot_comment_li_tc .hot_c_r {
	border-bottom: solid 1px #dbdbdb;
}
.my_comment > li {
	padding:1.875em 3.125%;
	border-bottom:solid 1px #bdbdbd;
	background:#fff;
}
.my_comment_left {
	float:left;
	width:12.5%;
}
.my_comment_left img {
	width:100%;
	border-radius:50%;
}
.my_comment_right {
	float:left;
	width:80%;
	margin-left:5%;
}
.m_c_name {
	float:left;
	font-size:1.625em;
	color:#333;
	margin-bottom:0.5em;
	text-align:left;
}
.m_c_time {
	float:right;
	font-size:1.375em;
	color:#798ca6;
}
.m_c_hf {
	font-size:1.625em;
	color:#7898ad;
	text-align:left;
	margin:0.3em 0 0.2em 0;
}
.m_c_hf span {
	color:#036eb8;
}
.m_c_jt {
	width:4%;
	float:right;
	margin-top:0.5em;
}
.m_c_jt img {
	width:100%;
}
.m_c_look {
	background:url(//img50.allinmd.cn/case/hh.png) no-repeat left center;
	background-size:23%;
	font-size:1.5em;
	color:#666;
	text-align:left;
	line-height:1.5em;
	padding-left:8%;
	float:left;
}
.ads_m {
	text-align:left;
	margin:0.5em 0 0.5em 0;
}
.ads_m img {
	width:60%;
}
.my_content{
	min-height:57em;
	background:#fff;
}
.my_content .video-list-inner {
	padding-bottom: 5.5em;
}
.my_content .video-list-inner li {
	border-bottom: 1px solid #dfdfdf;
	padding: 1.8125em 0;
    background: #fff;
}
.my_content .video-list-inner li .left-img-box {
	float: left;
	text-align: left;
	width: 40%;
}
.my_content .video-list-inner li .left-img-box .img-wrap {
	position:relative;
	float: left;
	width: 87.5%;
}
.xg_case_time {
	position: absolute;
	bottom: 0.23em;
	left: 0.3em;
	z-index: 10;
	/*width: 30%;*/
	padding:0 0.9em;
	height: 1.875em;
	background: #000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	text-align: center;
}

.xg_case_text {
	position: absolute;
	bottom: 0.6em;
	left: 1em;
	z-index: 10;
	font-size: 0.875em;
	color: #fff;
	text-align: left;
}
.img-wrap img{
	width:100%;
	padding:1px;
	border: 1px solid #d5d5d5;
}
.my_content .video-list-inner li .left-img-box .img-wrap a img {
    min-height: 9em;
    max-height:11em;
    max-width:100%;
    height: auto;
    width: auto;
    overflow: hidden;
    padding: 0;
}
.my_content .video-list-inner li .right-info {
	float: right;
	width: 59%;
}
.my_content .video-list-inner li .right-info .video-title {
	color: #333333;
	font-size: 1.625em;
	line-height: 1.538em;
	margin-top: -0.3em;
	text-align: left;
}
.my_content .video-list-inner li .right-info .video-statics-box .person {
	margin-right: 2.3em;
}
.my_content .video-list-inner li .right-info .video-statics-box div img {
	margin-right: 0.2em;
	width: 1em;

}

.my_content .video-list-inner li .right-info .video-statics-box .num{
    width:30%;
}
.my_content .video-list-inner li .right-info .video-statics-box .my_collect_review{
    float: left;

}


.my_content .video-list-inner li .right-info .video-statics-box div {
	color: #969696;
	float: left;
	font-size: 1.375em;
    margin-top: 1em;
	/*margin-top: 1em; 我的收藏视频图标问题*/
}
.video_mycollect{
    margin-top: 0.5em;
}

















.fh_position {
	position:fixed;
	right:1em;
	bottom:1em;
	z-index:50;
	width:6.875%;
}
.fh_position img {
	width:100%;
}



.add_case{
	float:right;
	margin-right:2%;
}
.list_img_doc{
	float: left;
	text-align: left;
	margin-right: 2em;
	width:19.375%;
}
.list_img_doc img {
	width: 100%;
	padding:0.4375em;
	border: solid 1px #d5d5d5;
}
.case_list_right_doc{
	width:70%;
	float:right;
}

.case_list_right_doc .my_collect_review{
    float: left;
    background: url("//img50.allinmd.cn/case/huifu.jpg") no-repeat left center;
    background-size:20%;
    font-size:1.375em;
    color:#808080;
    width:20%;        /*原来是60%在我的收藏中的距离太大*/
    /*line-height:3em;   大首页的病例推荐位的作者出注释*/
    text-align:left;
    padding-left:7%;
    margin-top: 1em;
}

.my_content .case_list_right_doc{
   /*  width:70%;*/
     width:100%;
     float:right;
 }
.case_list_rl{
	float: left;
	background: url(//img50.allinmd.cn/personal_v2/rl.png) no-repeat left center;
	background-size: 21%;
	
}
.case_list_eye_doc,.case_list_rl{
	font-size: 1.375em;
	color: #808080;
	width: 25%;
	line-height: 1.5em;
	text-align: left;
	padding-left: 1.875em;
	margin-top:0.3em;
}
.case_list_eye_doc{
	float: left;
	background: url(//img50.allinmd.cn/case/eye.jpg) no-repeat left center;
	width: 25%;
	background-size: 26%;
}
.ju_why{
	font-size:1.375em;
	color:#666;
	margin-top:0.5em;
}
.sh_zt{
	margin-top:0.8em;
}
.sh_zt img{
	width:23%;
}
.case_list_name_doc{
	font-size: 1.625em;
	color: #333;
	text-align: left;
	line-height: 1.3em;
}


.menu2-box {
background: white;
left: 0;
position: fixed;
top: 5.5em;
width: 100%;
z-index: 3;
}

.menu2-box.static {
    position: static;
}
.menu2-box ul.select-menu {
border-bottom: 1px solid #dcdbdc;
box-shadow: 0 2px 4px #eae9e9;
}
.menu2-box ul.select-menu li {
/*border-right: 1px solid #cccccc;*/
    float: left;
    width: 24.5%;
    font-size: 1.75em;
    text-align: center;
    padding:0.8em 0;
    background: url("//img50.allinmd.cn/personal_v2/sc_line.png") no-repeat right;
    background-size:1% ;
}
.menu2-box ul.select-menu .active{
    border-bottom: 0.25em solid #0c8ef3;
}
.menu2-box ul.select-menu .active span{
    color:#0c8ef3;
}
.menu2-box ul.select-menu li span {
display: inline-block;
line-height: 1em;
color:#808080;

}
.menu2-box ul.select-menu li.no-r-border {
background: none;
}





.no_collect img{
	width:100%;
}




















































.xx_error{
	height:4.375em;
	width:100%;
	background:#ffb73b;
}
.xx_error_text{
	font-size:1.625em;
	color:#fff;
	line-height:2.69em;
	float:left;
	margin-left:3.125%;
}
.xx_error_close{
	float:right;
	margin:1.5em 3.125% 0 0;
}
.xx_my_l{
	float:left;
	width:15%;
}
.xx_my_l img{
	width:100%;
	border-radius:50%;
}
.xx_my_r{
	float:right;
	width:80%;
}
.case_list_cont .xx_my{
	margin:93.75%;
	margin:0 auto;
}
.xx_top{
	margin-top:0.4em;
}
.xx_top_l{
	float:left;
	font-size:1.875em;
	color:#333;
	width:70%;
    line-height: 1em;
}
.xx_top_r{
	float:right;
	color:#7898ad;
	font-size:1.25em;
	margin-top:0.3em;
	
}

.xx_top_l span{
	font-size:0.8em;
	color:#7898ad;
	margin-left:3%;
}
.xx_my_text{
	font-size:1.625em;
	color:#999;
	margin:0.5em 0 0 0;
	line-height:1em;
	height:1.625em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.xx_top_l_new{
	float:left;
	font-size:1.875em;
	color:#333;
	width:70%;
	background:url(//img50.allinmd.cn/personal_v2/new_pointer.png) no-repeat left center;
    background-size: 5%;
	padding-left:5%;
}
.xx_name{
    display: inline-block;
    float:left;
    max-width:4.3em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.xx_top_l_new span{
	font-size:0.8em;
	color:#7898ad;
	margin-left:3%;
    float: left;
}
.xx_top_left{
	float:left;
	padding:0 3%;
	height:1.875em;
	background:#ff3b30;
	border-radius:50%;
	text-align:center;
	line-height:1.7em;
	color:#fff;
	font-size:1.25em;
}
.xx_top_right{
	float:left;
	font-size:1.875em;
	color:#333;
	margin-left:2%;
}
.delete{
	float:right;
	margin-right:3%;
	margin-top:1.2em;
    width: 7%;
}
.delete img{
	width:85%;
	
}
.ll_time{
	font-size:1.5em;
	color:#808080;
	margin:1em 0 0.5em 1em;
	text-align:left;
}
.ll_content{
	border-top: solid 1px #dbdbdb;
	text-align:left;
}
.ll_content li {
	border-bottom: solid 1px #dbdbdb;
	padding: 1.875em 1.5em 1.875em 1.5em;
	background: #fff;
}
.xx_my_ll{
	float: left;
	width: 15%;
	margin-right:4%;
}
.xx_my_ll img {
	width: 100%;
	border-radius: 50%;
}
.xx_my_lr{
	/*float:right;*/
	width:80%;
	font-size:1.625em;
	color:#333;
	line-height:1.5em;
	margin-top:0.3em;
	display:table-cell;
	vertical-align:middle;
	height:3.5em;
}
.no_case img{
	width:100%;
}
.f_case img{
	width:93.75%;
}






























.no_case{
	background:#fff url(//img50.allinmd.cn/personal_v2/no_content.png) no-repeat;
	background-size:100%;
	height:100%;
    padding-bottom: 8em;
	padding-top:10.66em;
	font-size:1.875em;
	color:#bababa;
}

.no_cry{
    background: #fff url(//img50.allinmd.cn/personal_v2/no_cry.png) left 7em no-repeat;
	background-size: 100%;
	height: 100%;
	padding-top: 17em;
	padding-bottom: 8em;
	font-size: 1.875em;
	color: #bababa;
}
	
	
	
	
	
	
.add_personal select{
	outline: none;
	border: none;
	font-family: microsoft yahei;
	line-height: 3em;
	height: 3em;
	background: url(//img50.allinmd.cn/personal_v2/xia_sr.png) no-repeat right center;
	-webkit-appearance: none;
	padding-right: 8%;
}

.bg-f9 {
	background: #f9f9f9;
	height: 100%!important;
}
/*.ng-scope{*/
	/*height:100%;*/
/*}*/

.jxl_want {
    position: absolute;
    left: 7.8%;
    /* top: 40%; */
    width: 84.375%;
     z-index: 50;
    background: #fff;
    border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
}
/*.jxl_want_top {
    border-bottom: solid #969696 0.069em;
    font-size: 1.875em;
    color: #333;
    line-height: 1.5em;
    width: 70%;
    margin: 0 auto;
    padding: 1em 2.7em;

}*/
.jix_l{
    float: left;
    width: 49%;
    border-right: solid #969696 1px;
    line-height: 3.3em;
    font-size: 1.75em;
}
.jix_r {
    width: 49%;
    float: right;
    font-size: 1.75em;
    color: #0c8ef3;
    line-height: 2.8em;
}
.jxl_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.65;
    z-index: 6;
}


.case_list_review_my{
	float: left;
	background: url(//img50.allinmd.cn/case/huifu.jpg) no-repeat left center;
	width: 15%;
	background-size: 35%;
	font-size: 1.375em;
	color: #808080;
	text-align: left;
	padding-left: 1.875em;
    margin-top: 1em;
}


.case-list-my-video-ql-my{
	float: left;
	background: url(//img50.allinmd.cn/v3/video-list/images/play.jpg) no-repeat left center;
	width: 30%;
	background-size: 17%;
	font-size: 1.375em;
	color: #808080;
	text-align: left;
	padding-left: 1.3em;
    margin-top: 1em;
}

.font999{
    color:#999;
}