html{
  font-size: 32px;
}
@function rem($px, $base-font-size: 32px) {
  @return ($px / $base-font-size) * 1rem;
}
.allinmdCaosApp{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #1C2B3E;
  top:0;
  left: 0;
  bottom:0;
  right: 0;
  .allinmdCaosAppInner{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    .allinmdCaosAppPanel{
      width: 100%;
      height: rem(970px);
      margin: rem(120px) auto rem(100px) auto;
      position: relative;
      .allinmdCaosAppDraw{
        width: rem(550px);
        height: rem(300px);
        position: relative;
        top:50%;
        left: 50%;
        margin-left: rem(-275px);
        margin-top: rem(-150px);
        .allinmdCaosAppParticle{
          width: rem(550px);
          height: rem(300px);
          position: absolute;
          top:0;
          left: 0;
          z-index: 1;
          .allinmdCaosAppLight{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            z-index: 2;
          }
        }
      }
      .allinmdCaosAppLogo{
        height: 100%;
        position: absolute;
        top:0;
        left: 50%;
        margin-left: rem(-275px);
        width: rem(550px);
        border: 1px solid #ff0000;
      }
    }
    .allinmdCaosAppWel{
      width: rem(750px);
      margin: rem(150px) auto;
      font-size: rem(32px);
      color: #fff;
      line-height:rem(70px);
      text-align: center;
    }
    .allinmdCaosAppDes{
      color: #fff;
      font-size: rem(32px);
      width: 100%;
      text-align: center;
      position: absolute;
      bottom:rem(100px);
      left: 0;
      display: none;
      .allinmdCaosAppSee{
        margin: 0 auto;
        padding:rem(20px) rem(30px);
        width: rem(300px);
        display: inline-block;
        background: #DE5145;
        border-radius: rem(38px);
      }
    }
  }
}
.panelWrapper{
  position: relative;
  width: 600px;
  height: 270px;
  margin: 40px auto;
  .container{
    width: 600px;
    height: 270px;
    position: absolute;
    top:0;
    left: 0;
    background: #1C2B3E;
    z-index: 1;
    border: 1px solid #333;
  }
  .lightContainer{
    width: 600px;
    height: 270px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
  }

}
.imgContainer{
  width: 600px;
  height: 270px;
  border: 1px solid #333;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
}
