.al-pageMainBox {
  width: 1000px;
  margin: 0 auto;
}
.al-pageMainBox:after {
  content: '';
  display: table;
  clear: both;
}

.al-mainContent {
  width: 710px;
  float: left;
}

.al-sideBarContent {
  width: 268px;
  float: right;
}

.expertInfo {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #E0E8EF;
  margin-top: 20px;
}
.expertInfo .expert_userImg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  behavior: url("/js/third-party/pie/pie.htc");
  margin-right: 12px;
  vertical-align: middle;
  margin-top: -5px;
}
.expertInfo .expertName {
  font-size: 17px;
  color: #333;
}
.expertInfo .followBtn {
  float: right;
  width: 58px;
  height: 24px;
  margin-top: 3px;
  cursor: pointer;
}
.expertInfo p {
  margin-top: 8px;
  font-size: 13px;
  color: #909090;
}
.expertInfo p .expert_workPlace {
  display: inline-block;
  width: 150px;
  padding-left: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.al-followCase {
  background-color: #fff;
  border: 1px solid #E0E8EF;
  padding: 30px 14px 24px;
  margin: 20px 0;
  text-align: center;
}
.al-followCase p {
  color: #777;
}
.al-followCase .followCaseBtn {
  width: 180px;
  height: 40px;
  margin: 20px 0 24px;
  cursor: pointer;
}
.al-followCase .followed_bigImg {
  width: 180px;
  height: 40px;
  margin: 20px 0 24px;
  cursor: pointer;
}
.al-followCase .al-followCaseInfo {
  text-align: left;
}
.al-followCase .al-followCaseInfo img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  behavior: url("/js/third-party/pie/pie.htc");
  vertical-align: middle;
}
.al-followCase .al-followCaseInfo div {
  float: right;
  font-size: 13px;
  color: #909090;
  margin-top: 5px;
}
.al-followCase span {
  color: #FF9224;
  cursor: pointer;
}
.al-followCase .al-noFollow {
  text-align: left;
  padding-left: 16px;
  color: #909090;
  font-size: 13px;
}

.al-shareBox {
  padding: 24px 0;
  background-color: #fff;
  border: 1px solid #E0E8EF;
}
.al-shareBox .al-shareBox_head {
  margin: 0 20px 24px;
}
.al-shareBox .al-shareBox_head .line {
  display: inline-block;
  width: 80px;
  border-top: 1px solid #DFDFDF;
  vertical-align: middle;
}
.al-shareBox .al-shareBox_head .shareText {
  font-size: 13px;
  color: #AAAAAA;
  padding: 0 8px;
}
.al-shareBox .shareBox_icon {
  text-align: center;
}
.al-shareBox .shareBox_icon figure {
  display: inline-block;
  margin: 0 4px;
}
.al-shareBox .shareBox_icon figure img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  behavior: url("/js/third-party/pie/pie.htc");
}
.al-shareBox .shareBox_icon figure figcaption {
  font-size: 12px;
  color: #777777;
  margin-top: 10px;
}

.al-commentBox {
  background-color: #fff;
  border: 1px solid #E0E8EF;
  margin: 20px 0;
  padding: 14px 0;
  position: relative;
}
.al-commentBox .leftArrow {
  position: absolute;
  display: block;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  width: 0;
  height: 0;
  left: -24px;
  top: 22px;
}
.al-commentBox figure {
  display: inline-block;
  border-right: 1px solid #E9EDF1;
  padding: 0 15px;
  text-align: center;
  font-size: 16px;
  color: #515C74;
}
.al-commentBox figure b {
  display: block;
  width: 18px;
  height: 18px;
  background: transparent url("//img10.allinmd.cn/v3/terminal/discussIcon.png") center center no-repeat;
  margin: 0 auto 10px;
}
.al-commentBox figure figcaption {
  cursor: pointer;
}
.al-commentBox .discuss_container {
  font-size: 13px;
  color: #2899E6;
}
.al-commentBox .comment_container {
  padding: 0 20px;
}
.al-commentBox .comment_container b {
  height: 16px;
  background: transparent url("//img10.allinmd.cn/v3/terminal/commentIcon.png") center center no-repeat;
}
.al-commentBox .like_container b {
  width: 16px;
  height: 14px;
  background: transparent url("//img10.allinmd.cn/v3/terminal/likeIcon.png") center center no-repeat;
}
.al-commentBox .zan_container {
  border-right: none;
}
.al-commentBox .zan_container b {
  width: 16px;
  height: 16px;
  background: transparent url("//img10.allinmd.cn/v3/terminal/zanIcon.png") center center no-repeat;
}

.al-joinActivity {
  background-color: #fff;
  border: 1px solid #E0E8EF;
  padding-bottom: 24px;
}
.al-joinActivity h6 {
  font-weight: normal;
  line-height: 52px;
  border-bottom: 1px solid #E9EDF1;
  padding: 0 20px;
  font-size: 18px;
  color: #333;
}
.al-joinActivity img {
  width: 228px;
  height: 110px;
  margin: 25px 20px 13px;
}
.al-joinActivity span {
  padding-left: 20px;
  font-size: 15px;
  color: #555;
}

.al-resource {
  background-color: #fff;
  border: 1px solid #E0E8EF;
  margin: 20px 0;
}
.al-resource h6 {
  font-weight: normal;
  line-height: 52px;
  border-bottom: 1px solid #E9EDF1;
  padding: 0 20px;
  font-size: 18px;
  color: #333;
}
.al-resource .al-resourceInfo {
  margin: 22px 20px;
  height: 62px;
}
.al-resource .al-resourceInfo img {
  float: left;
  width: 95px;
  height: 62px;
}
.al-resource .al-resourceInfo div {
  float: right;
}
.al-resource .al-resourceInfo p {
  font-size: 14px;
  line-height: 18px;
  color: #555;
  height: 36px;
  margin-bottom: 10px;
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.al-resource .al-resourceInfo span {
  font-size: 13px;
  color: #909090;
}

.al-caseBtn {
  text-align: center;
}
.al-caseBtn img {
  width: 248px;
  height: 54px;
}
