@charset "UTF-8";
//公共方法模块调用
@import "../../modules/common-modules";
//公共变量引用
@import "../../variables/_allinmdV3-variables";

//资源列表模块
@import "../../components/classes/_classes_resourceList";
//相关课程
@import "../../components/classes/_classes_course";
//右侧输入框
@import "../../components/_rightTextarea";
@import "../../components/classes/classes_doc";
@import "../../components/_makeSurePopup";
//付费优惠券模块
@import "../../components/discountCoupon";
.al-college-container{
  width: 1000px;

  margin: 20px auto;
  margin-top: 0;
  .al-college-banner{
    width: 100%;
    height: 333px;
    padding-top: 87px;
    background: url("/images/img00/college/collegeBanner3.png") no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;


    .al-college-quotationMark{
      width: 15px;
      height: 13px;
      margin-left:161px;
      margin-right: 19px;
      float: left;
      background: url("/images/img00/college/quotation.png") no-repeat center center;
      background-size: cover;
    }
    .al-college-introduction{
      width: 287px;
      height: 224px;
      float: left;
      margin-right: 139px;
      .introduction-item{
        font-size:15px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:30px;
        letter-spacing:1px;
        margin-top: -7px;
      }
    }
    .al-college-logo{
      width: 131px;
      height: 21px;
      margin-left: 319px;
      background: url("/images/img00/college/collegeLogo.png") no-repeat center center;
      background-size: cover;
      float: left;
      margin-top: 109px;
    }
  }
  .al-college-produce{
      width: 100%;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 4px 0px rgba(215,222,229,0.3);
    margin-bottom: 20px;
    border:1px solid rgba(102,132,162,0.06);
    @include clearfix();
      .produce-content{
        width: 708px;
        height: 510px;
        background: #fff;
        padding-right: 29px;
        float: left;
        //box-shadow:0px 0px 2px 0px rgba(215,222,229,0.31);
        .produce-rich-content{
          width: 100%;
          height: 443px;
          position: relative;
          background:linear-gradient(269deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
          .produce-inner-content{
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            .product-titleInfo{
              margin-top:185px;
              margin-left: 58px;
              .title{
                height:44px;
                font-size:31px;
                font-family:PingFangSC-Medium;
                font-weight:500;
                color:rgba(255,255,255,1);
                line-height:44px;
                width: auto;
                margin-bottom: 5px;
              }
              .authorInfo{
                height:24px;
                font-size:17px;
                font-family:PingFangSC-Medium;
                font-weight:500;
                color:#fff;
                line-height:24px;
                width: auto;
                .authorName{
                    margin-right: 8px;
                  color:rgba(131,192,231,1);
                }
              }
            }
            .play-icon{
              width:50px;
              height: 50px;
              position: absolute;
              top:50%;
              left: 50%;
              cursor: pointer;
              margin-top: -25px;
              margin-left: -25px;
              border:1px solid #fff;
              border-radius: 50%;
              background: url("/images/img00/college/playVideo.png") no-repeat center center;
              background-size: cover;

            }
            .authorLogo{
              position: absolute;
              width: 419px;
              right: 0;
              height: 100%;
              top:0;
              bottom:0;
              background-size: cover;
            }
          }
          .produce-inner-video{
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: #0a1e2b;
          }
          &.play{
            .produce-inner-content{
              z-index: 1;
            }
            .produce-inner-video{
              z-index: 2;
            }
          }
        }
        .product-introduction{
          width: 706px;
          height: 67px;
          background: #fff;
          .introduction-title{
            padding: 20px 0 23px 24px;
            height:24px;
            font-size:18px;
            font-family:MicrosoftYaHei;
            color:rgba(51,51,51,1);
            line-height:24px;
            display: inline-block;
            width: 273px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            .column-line{
              display: inline-block;
              margin-right: 11px;
              margin-left: 10px;
              width:1px;
              font-size:16px;
              height:24px;
              color:rgba(0,0,0,1);
              opacity:0.6446999999999999;
              line-height: 24px;

            }
          }
        }

      }
    .produce-list{
      height: 410px;
      width: 240px;
      float: left;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 33px 23px 0 0;
      background: #fff;
      .produce-item{
        @include clearfix();
        margin-bottom: 25px;
        .produce-author-logo{
          width:104px;
          height:62px;
          margin-right: 10px;
          background:linear-gradient(56deg,rgba(70,65,83,1) 0%,rgba(19,18,20,1) 100%);
          float: left;
        }
        .product-author-info{
          float: left;
          .author-position{
            margin-bottom: 4px;
            width:109px;
            padding-top: 4px;
            height:19px;
            font-size:14px;
            font-family:MicrosoftYaHei;
            color:rgba(85,85,85,1);
            line-height:19px;
          }
          .author-name{
            width:117px;
            height:30px;
            font-size:13px;
            font-family:SimSun;
            color:rgba(144,144,144,1);
          }

        }
      }
    }
  }
  .al-college-develop{
    box-shadow:0px 2px 4px 0px rgba(215,222,229,0.3);
    border:1px solid rgba(102,132,162,0.06);
    background: #fff;
    .al-college-title{
      .icon{
        background: url("/images/img00/college/biao.png") no-repeat center center;
        background-size: cover;
        display: inline-block;
        float: left;
        width:4px;
        height:17px;
        background:rgba(215,166,82,1);
        border-radius:2px;
      }
      span{
        margin-left: 6px;
        float: left;
      }
      height:19px;
      font-size:19px;
      font-family:PingFangSC-Medium;
      font-weight:500;
      color:rgba(0,0,0,1);
      line-height:19px;
      display: block;
      width: auto;
    }
    .al-college-develop-module{
      &.al-college-aspiration{
        padding: 30px 0 25px 20px;
        border-bottom:1px solid rgba(219,219,219,1);
        width: 980px;
        height: 97px;
        .al-college-title{
          margin-bottom: 14px;
        }
        .al-aspiration-word{
          height:22px;
          font-size:16px;
          margin-left: 17px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(51,51,51,1);
          line-height:22px;
          position: relative;
          width: auto;
          .icon{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background:#333;
            position: absolute;
            left: 0;
            top:50%;
            margin-top: -3px;
          }
          span{
            padding-left: 14px;
          }
        }
        .al-aspiration-author{
          height:22px;
          font-size:16px;
          font-family:PingFangSC-Medium;
          font-weight:500;
          color:rgba(0,0,0,1);
          line-height:22px;
          margin-left: 14px;
          margin-top: 20px;
          span{
            position: relative;
            padding-left: 39px;
            i{
              position: absolute;
              width:32px;
              height:1px;
              background:rgba(0,0,0,1);
              left:0;
              top:50%;
            }
          }
        }
      }
      &.al-college-team{
        height: 233px;
        padding: 30px 0 35px 20px;
        border-bottom:1px solid rgba(219,219,219,1);
        width: 980px;
        position: relative;
        .team-introduction{
          margin-top:16px;
          margin-left: 14px;
          margin-bottom: 25px;
          height:22px;
          font-size:16px;
          font-weight:400;
          color:rgba(51,51,51,1);
          line-height:22px;
        }
        .team-turn-left,.team-turn-right{
          width: 20px;
          height: 48px;
          background:rgba(219,219,219,1);
          position: absolute;
          top:156px;
        }
        .team-turn-left{
          left: 0;
          background: url("/images/img00/college/turn_left.png") no-repeat center center;
          background-size: cover;
        }
        .team-turn-right{
          background: url("/images/img00/college/turn_right.png") no-repeat center center;
          background-size: cover;
          right: 0;
        }
        .team-list-wrapper{
          overflow-y: hidden;
          overflow-x: hidden;
          position: relative;
          @include clearfix();
          height: 151px;
          width: 940px;
          margin-left: 10px;
          .team-list{
            @include clearfix();
            position: absolute;
            left: 0;
            @include clearfix();
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            .team-item{
              float: left;
              width: 117px;
              height: 151px;
              box-shadow:0px 1px 8px 0px rgba(0,0,0,0.04);
              border-radius:3px;
              background:rgba(2,42,58,1);
              overflow: hidden;
              margin-left: 40px;
              &:nth-of-type(1){
                margin-left: 0;
              }
              .team-member-logo{
                height: 113px;
                background: url("http://img0.imgtn.bdimg.com/it/u=897488878,3552921156&fm=26&gp=0.jpg") no-repeat center center;
                background-size: cover;
              }
              .team-member-name{
                height:21px;
                font-size:15px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(255,255,255,1);
                line-height:21px;
                margin-top: 8px;
                text-align: center;

              }
            }
          }
        }

      }
      &.al-college-schedule{
        padding: 30px 30px 35px 30px;
        border-bottom:1px solid rgba(219,219,219,1);
        width: 940px;
        position: relative;
        height: 321px;
        .schedule-list-wrapper{
          overflow-y: hidden;
          overflow-x: hidden;
          height: 280px;
          position: relative;
        }
        .teamd-introduction{
          margin-top:16px;
          margin-left: 14px;
          height:22px;
          font-size:16px;
          font-weight:400;
          color:rgba(51,51,51,1);
          line-height:22px;
        }
        .schedule-list{
          position: absolute;
          left: 0;
          margin-top: 25px;
          @include clearfix();
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;
          .schedule-item{
            display: block;
            float: left;
            padding: 0 0 21px 0 ;
            margin-left: 16px;
            width:302px;
            height:229px;
            background:rgba(252,252,252,1);
            border-radius:4px;
            border:1px solid rgba(226,226,226,1);
            &:nth-of-type(1){
              margin-left: 0;
            }
            .class-logo{
              width:100%;
              height: 138px;
              background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556102549635&di=0049bf90410fbb60bde1917267af2bbd&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F120819%2F214833-120Q921213227.jpg") no-repeat center center/cover;
            }
            .class-introduction{
              font-size:16px;
              font-family:MicrosoftYaHei;
              color:rgba(51,51,51,1);
              line-height:21px;
              width:273px;
              padding-top: 15px;
              padding-left: 15px;
              padding-right: 14px;
              .introduction-title{
                min-height:21px;
                height: auto;
                font-size:17px;
                font-family:PingFangSC-Medium;
                font-weight:500;
                color:rgba(34,34,34,1);
                line-height:24px;
                margin-bottom: 5px;
                width: 273px;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                &.greyColor{
                  color:rgba(151,151,151,1);
                }
                /*overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;*/
              }
              .introduction-content{
                font-size:14px;
                margin-bottom: 11px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                height:20px;
                font-size:14px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(119,119,119,1);
                line-height:20px;
                &.greyColor{
                  color:rgba(151,151,151,1);
                }
              }
              .introduction-detail{
                @include clearfix();
                  .course-num{
                    height:18px;
                    font-size:13px;
                    font-family:PingFangSC-Medium;
                    font-weight:500;
                    color:rgba(212,143,38,1);
                    line-height:18px;
                    float: left;
                    margin-right: 10px;
                  }
                  .learn-schedule{
                    height:16px;
                    background:rgba(27,121,221,.07);
                    border-radius:1px;
                    padding: 0 4px;
                    line-height: 16px;
                    text-align: center;
                    float: left;
                    margin-top: 1px;
                    font-size:11px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    color:rgba(27,121,221,1);
                  }
                .update-schedule{
                  height:18px;
                  float: right;
                  font-size:13px;
                  font-family:PingFangSC-Medium;
                  font-weight:500;
                  color:rgba(212,143,38,1);
                  line-height:18px;
                }
              }
            }
          }
        }
        .schedule-turn-left,.schedule-turn-right{
             width: 20px;
             height: 48px;
             background:rgba(219,219,219,1);
             position: absolute;
             top:136px;
        }
        .schedule-turn-left{
             left: 0;
          background: url("/images/img00/college/turn_left.png") no-repeat center center;
          background-size: cover;
        }
        .schedule-turn-right{
          background: url("/images/img00/college/turn_right.png") no-repeat center center;
          background-size: cover;
             right: 0;
        }
      }
      &.al-college-inviteTeacher{
        padding: 30px 0 82px 20px;
        border-bottom:1px solid rgba(219,219,219,1);
        width: 980px;
        height: 250px;
        border-bottom: none;
        .inviteTeacher-introduction{
          width:307px;
          height:70px;
          font-size:17px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(0,0,0,.6);
          line-height:35px;
          margin-top: 20px;
          margin-bottom: 19px;
          margin-left: 14px;

        }
        .inviteTeacher-contactUs{
          //width:194px;
          height:85px;
          font-size:15px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(0,0,0,1);
          line-height:25px;
          margin-bottom: 19px;
          margin-left: 14px;
        }
        .footer-college-logo{
          width: 110px;
          height: 27px;
          background: url("/images/img00/college/footerLogo.png") no-repeat center center;
          background-size: cover;
          margin-left: 14px;
        }
      }
      &.al-college-list{
        padding: 30px 21px 20px 10px;
        border-bottom:1px solid rgba(219,219,219,1);
        width: 960px;
        height: 178px;
        border-bottom: none;
        .al-college-title{
          margin-left: 10px;
          margin-bottom: 16px;
        }
        .teamd-introduction{
          margin-left: 20px;
        }
        .college-list{
          @include clearfix();
          padding-top: 19px;
          .college-item{
            width:175px;
            height:80px;
            float: left;
            padding: 7px 10px 15px 10px;
            cursor: pointer;
            .college-logo{
              width:175px;
              height:80px;
              background:rgba(111,138,191,1);
              box-shadow:0px 6px 10px 0px rgba(111,138,191,0.23);
              border-radius:4px;

            }
            &.more{
              padding-right: 0;
              padding-left: 4px;
              .college-logo{
                width:175px;
                height:80px;
                background:rgba(238,238,238,1);
                border-radius:4px;
                text-align: center;
                line-height: 80px;
                box-shadow: unset;
                font-size:22px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(153,153,153,1);
              }
            }
            &.arthrosis{
              .college-logo{
                background: url("/images/img00/college/biao.png") no-repeat center center/cover;
              }

            }
            &.knee{
              .college-logo{
                background: url("/images/img00/college/secondCollege01.png") no-repeat center center/cover;
              }

            }
            &.arthrosis{
              .college-logo{
                background: url("/images/img00/college/secondCollege02.png") no-repeat center center/cover;
              }
            }
            &.exercise{
              .college-logo{
                background: url("/images/img00/college/secondCollege04.png") no-repeat center center/cover;
              }
            }
            &.trauma{
              .college-logo{
                background: url("/images/img00/college/secondCollege03.png") no-repeat center center/cover;
              }
            }
          }
        }
      }
    }
  }
}
//app下载弹层：begin
.al-downLoad_PopBox{
  display:none;
  //display:flex;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:7;
  background-color: rgba(0, 0, 0, 0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);  /*IE8支持*/
}
.al-downContainer{
  width:450px;
  height:262px;
  left: 50%;
  top:50%;
  margin-top: -131px;
  margin-left: -225px;
  background-color:#fff;
  border-radius:6px;
  //behavior:url("/js/third-party/pie/pie.htc");
  position: relative;
  .closePopBtn{ //关闭按钮
    float:right;
    width:13px;
    height:13px;
    background:url("//img10.allinmd.cn/v3/terminal/popCloseBtn.png") center center no-repeat;
    margin:20px;
    cursor: pointer;
  }
}
.al-downLoadContent{
  @include clearfix();
  padding:40px 50px 45px;
  figcaption{
    color:#555;
    margin-bottom:20px;
  }
  .downLoadWay{
    float:left;
    margin-top:10px;
    p{
      padding:25px 0 0 25px;
      i{
        display:inline-block;
        width:28px;
        height:32px;
        background:url("//img10.allinmd.cn/v3/terminal/AndroidIcon.png") center center no-repeat;
        vertical-align: middle;
        margin-right:15px;
        margin-top:-5px;
      }
      .iPhoneIcon{
        width:25px;
        height:31px;
        background:url("//img10.allinmd.cn/v3/terminal/iPhoneIcon.png") center center no-repeat;
        margin-top:-10px;
      }
      span{font-size:20px;}
      .AndroidText{color:#49BD38;}
      .iPhoneText{color:#14A7F0;}
    }
  }
  .downLoad_QR{ //下载二维码
    float:right;
    img{
      width:140px;
      height:140px;
      box-shadow:8px 8px 10px rgba(83,101,119,0.2),-5px -5px 10px rgba(83,101,119,0.2);
    }
  }
}
//app下载弹层：end
