@charset "utf-8";
/* CSS Document */

.page_left_mr,.page_right_mr,.page_right_hover,.page_left_hover,.page_left_disable,.page_right_disable{background:url(//img10.allinmd.cn/common/icon/png/page-arrow.png) no-repeat 0 0;}
.page_left_mr{width:36px;height:36px;background-position:-460px -80px}
.page_right_mr{width:36px;height:36px;background-position:-520px -80px}
.page_right_mr.disable{width:36px;height:36px;background-position:-520px -120px}
.page_left_mr.disable{width:36px;height:36px;background-position:-460px -120px}
.page_right_mr.disable:hover{width:36px;height:36px;background-position:-520px -120px}
.page_left_mr.disable:hover{width:36px;height:36px;background-position:-460px -120px}
.page_left_mr:hover{width:36px;height:36px;background-position:-460px -160px}
.page_right_mr:hover{width:36px;height:36px;background-position:-520px -160px}
.pagination {
	padding: 30px 0 30px 0;
	height: 36px;
	
}
.pagination .pages {
	text-align: center;
}
.pagination .pgEmpty {
	color: #eee;
}
.pagination .pgNext{
	width:50px;
}
.pagination li {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin-right: 8px;
	text-align: center;
	color: #666;
	background-color: #FFF;
	font-family:arial;
	font-size: 14px;
	overflow: hidden;
}
.pagination .pgCurrent {
	height: 36px;
	width: 36px;
	background: #3d84c6;
	color: #fff;
}
