@charset "utf-8";
/* CSS Document */

/* .up_photo{ 未找到使用的图
	background:url(/popup/photo_bg.png) no-repeat;
	width:327px;
	height:394px;
	padding:20px 20px 0 20px;
} */
/* .add_jj .add_t_bg{
	background:url(/popup/photo_t_bg.png) no-repeat;
	width:520px;
	height:37px;
} */
/* .add_jj .add_b_bg{
	background:url(popup/photo_b_bg.png) no-repeat;
	width:520px;
	height:4px;
} */

.click_up{
	margin-bottom:20px;
}
.up_button .save_but{
	float:left;
}
.up_button .giveup_but{
	float:right;
}


.add_jj{
	width:600px;
	height:600px;
	background:green;
}

.add_jj .add_c_bg{
	background:#fff;
	width:480px;
	height:auto;
	padding:20px;
}







.live_tc_t {
	background:url(//img00.allinmd.cn/conference/tc_top_bg.png) no-repeat;
	width:401px;
	height:43px;
	line-height:43px;
	padding-left:20px;
	font-size:16px;
	color:#666;
	font-family:microsoft yahei;
}
.live_tc_c {
	background:url(//img00.allinmd.cn/conference/tc_center_bg.png) repeat-y;
	width:421px;
	height:auto;
	line-height:43px;
	
}
.tc_padding{
	padding:45px 0 0 50px;
}
.tishi_xx{
	float:left;
	font-size:18px;
	color:#666;
}
.live_tc_b {
	background:url(//img00.allinmd.cn/conference/tc_bottom_bg.png) no-repeat;
	width:421px;
	height:12px;
}
.shuru01{
	margin:0 0 0 50px;
	padding-top:10px;
}
.shuru_input{
	float:left;
	margin-left:20px;
}
.shuru_input input{
	background:url(//img00.allinmd.cn/fellow/input_bg.png) no-repeat;
	height:30px;
	line-height:30px;
	width:210px;
	border:none;
	padding-left:10px;
}
.shuru_input .error{
	color:#4a4a4a;
	font-size: 12px;	
}
.shuru_text {
	float: left;
	width: 60px;
	text-align: right;
	font-size: 12px;
	color: #969696;
	line-height: 30px;
	height: 30px;
}
.name_input_live{
	float:left;
	margin-left: 20px;
}
.name_input_live input{
	background:url(//img00.allinmd.cn/conference/name.png) no-repeat;
	height:30px;
	line-height:30px;
	width:90px;
	border:none;
	padding-left:10px;
}
.tc_but_bottom {
	margin:20px 0 0 130px;
	padding-bottom:30px;
}
.shuru_select{
	background:url(//img00.allinmd.cn/fellow/input_bg.png) no-repeat;
	height:30px;
	line-height:30px;
	width:210px;
	padding-left:10px;
	float: left;
	margin-left: 20px;
}
.shuru_select select{
	border:none;
	background: url(//img00.allinmd.cn/conference/xia_sr.png) no-repeat right center;
	-webkit-appearance: none;
	width:200px;
	
}
.shuru_select option{
	width:210px;
	padding:1px 0;
	line-height:30px;
	border:solid 1px #ccc;
}





/*话题查看对话弹层*/
.p_list_top{
	margin-bottom:5px;
}
.reply_bottom_line{
	width: 95%;
	height: 1px;
	background: #e2e1e6;
	margin: 0 auto;
	margin-top: 8px;
}
/* .reply_space{ 未到找到目录
	background: url(personal_home/arr.png);
	height: 13px;
	margin-top: 3px;
} */

.expandOrShrink{
color: #3d84c6;
margin-left: 20px;
cursor:pointer;
}
.t_tc_top{
	width:600px;
	height:39px;
	border-bottom:solid 1px #e1e3e4;
	background:#f5f5f5;
	text-align:center;
	line-height:39px;
	position:relative;
}
.t_tc_title{
	font-size:14px;
	color:#666;
	font-family:microsoft yahei;
}
.t_tc_close{
	position:absolute;
	cursor:pointer;
	right:13px;
	top:13px;
	z-index:2;
}
.t_tc_main{
	width:600px;
	height:auto;
	background:#fff;
}
.t_tc_left{
	float:left;
	width:60px;
	margin-left:20px;
	position:relative;
}
.t_tc_right{
	float:left;
	width:480px;
	margin-left:95px;
}
.line_place{
	margin-top:28px;
}

.t_tc_content li{
	padding:20px 0 0 0;
	border-bottom:#e1e3e4 solid 1px;
}

.t_tc_left img{
	width:50px;
	height:50px;
	border:5px #fff solid;
	border-radius:50px;
	position: absolute;
	z-index: 2;
}

.chat_line {
	/* background: url(/topic/line.png) repeat-y; 找不到目录*/
	position: absolute;
	width: 5px;
	z-index: 1;
	height:10px;
	left:48px;
	top:50px; /*20边距＋头像60/2*/
}
.p_l_t_l {
	float: left;
	font-size: 15px;
	color: #333;
	font-family:microsoft yahei;
}
.p_l_t_r_case {
	float: right;
	/* background: url(/personal_home_v2/bl.png) no-repeat left center;未找到目录 */

	font-size: 12px;
	color: #969696;
}
.list_text {
	font-size: 13px;
	color: #666;
	line-height: 26px;
	font-family:microsoft yahei;
}


/**回复框**/
.notediter_hy{
	height:50px;
}
.notediter_form_l img{
	width : 50px !important;
	height:50px !important;
	border-radius : 50%;
}
.notediter_form_r .t_but{
	display:none;
}
#replyContent{
	height:20px;
	width: 830px;
	line-height: normal;
	padding:8px;
	text-indent:0;
}

.r_img img{
border-radius: 50%;
width: 50px;
height: 50px;
}

/*交互效果*/
.more_reply_num{
	/* background: url(personal_home/reply_more.png) no-repeat left center; 未找到目录*/
	height: 24px;
	position: relative;
	z-index: 2;
}
.more_reply_num span{
	position: absolute;
	cursor:pointer;
	color : #3d84c4;
	margin-left: 98px;
	line-height: 24px;
	font-size: 14px;
}
.hidden_reply_li{
	display:none;
}

.widget {
	padding: 7px 2px 2px 2px;
	width: 240px;
	height: 20px;
}
.fenxiang_bg .widget li {
list-style: none;
float: left;
margin-right: 11px;
color: #B4B4B4;
font-size: 14px;
padding: 0;
border: none;
background:none;
}
.fenxiang_bg div {
float: left;
height: 20px;
vertical-align: middle;
line-height:20px;
}
/*弹层*/
.topic_tc{
	height: 80%; 
	position:fixed;
	z-index:10;
}

.no_border li{
	border:none;
	padding:20px 0;
}
.tc_comment_content{
	padding:10px 20px 20px 20px;
	background:#e9e9ee;
	border-top:solid 1px #e1e3e4;
}
.tc_comment_content textarea {
	height: 35px;
	/* line-height: 35px; */
	font-size: 13px;
	color: #b5b4b4;
	padding-left: 5px;
	width: 555px;
	margin-top: 5px;
	border: #e1e3e4 solid 1px;
	
/* 	height: 97px;
	line-height: 23px;
	font-size: 13px;
	color: #b5b4b4;
	padding-left: 5px;
	width: 553px;
	margin-top: 5px;
	border: #e1e3e4 solid 1px; */
}
/* 发布评论是的按钮是修改 */
.video_c_but {
/* display:none;
float: right;
margin-top:15px; */
}
.tc_comment_content .video_c_but{
	width:542px;
}
.qx_but, .fb_but {
cursor:pointer;	
float: left;
margin-left: 10px;
}
.tc_mr textarea {
	height: 35px;
	line-height: 35px;
	font-size: 13px;
	color: #b5b4b4;
	padding-left: 5px;
	width: 555px;
	margin-top: 5px;
	border: #e1e3e4 solid 1px;
}