@charset "utf-8";
/* CSS Document */


.elevator_item {
	width: 60px;
	height: 256px;
	position: fixed;
	right: 15px;
	bottom: 240px;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	z-index: 6;
	text-align: center;
	display: none;
}

.elevator_item a {
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	padding-top: 39px;
}
.sm_erweima {
	display: block;
	width: 60px;
	height: 21px;
	background: url(//img00.allinmd.cn/view_float/erweima.png) center 8px no-repeat;
	background-color: #73859e;
	cursor: pointer;
	margin-bottom: 5px;
	position: relative;
	border-radius:3px;
}
.view_fk{
	display: block;
	width: 60px;
	height: 21px;
	background: url(//img00.allinmd.cn/view_float/view_fk.png) center 8px no-repeat;
	background-color: #73859e;
	cursor: pointer;
	margin-bottom: 5px;
	position: relative;
	border-radius:3px;
}
.sm_erweima:hover {
	background-color: #66768c;
}
.fh_home:hover {
	background-color: #66768c;
}
.fh_top:hover {
	background-color: #66768c;
}
.view_fk:hover {
	background-color: #66768c;
}
.weixin_e {
	background: url(//img00.allinmd.cn/view_float/weixin.png) no-repeat;
	height: 204px;
	width: 0;
	position: absolute;
	right: 65px;
	top: 0;
}
.view_bg{
	position:absolute;
	right:65px;
	top:-65px;
	z-index:3;
	background: url(//img00.allinmd.cn/view_float/view_bg.png) no-repeat;
	height: 299px;
	width: 618px;
	cursor: auto;
}

.fh_home {
	display: block;
	width: 60px;
	height: 21px;
	background: url(//img00.allinmd.cn/view_float/home.png) center 12px no-repeat;
	background-color: #73859e;
	cursor: pointer;
	margin-bottom: 5px;
	border-radius:3px;
}

.fh_top {
	display: block;
	width: 60px;
	height: 21px;
	background: url(//img00.allinmd.cn/view_float/icon_top.png) center 8px no-repeat;
	background-color: #73859e;
	cursor: pointer;
	margin-bottom: 5px;
	border-radius:3px;
}
.view_title_top{
	height:40px;
	line-height:40px;
}
.view_title_l{
	float:left;
	font-size:15px;
	color:#666;
	margin-left:23px;
}
.view_title_r{
	float:right;
	margin:14px 32px 0 0;
}
.view_pages{
	margin-bottom:20px;
}
.view_pages_l{
	float:left;
	width:88px;
	text-align:right;
	color:#969696;
	font-size:13px;
	margin-top:20px;
}
.view_pages_r{
	float:left;
	margin-left:20px;
}
.view_pages_radio{
	background: url(//img00.allinmd.cn/view_float/pointer_mr.png) no-repeat;
	float:left;
	margin-right:20px;
	font-size:12px;
	color:#666;
	line-height:12px;
	margin-top:25px;
	padding-left:17px;
}
.view_radio_hover{
	background: url(//img00.allinmd.cn/view_float/pointer_hover.png) no-repeat;
}
.view_cont_l{
	float:left;
	width:62px;
	margin-left:25px;
}
.view_cont_r{
	float:left;
	margin-left:20px;
}
.view_cont_bg{
	background: url(//img00.allinmd.cn/view_float/xh_icon.png) no-repeat left center;
	height:13px;
	line-height:13px;
	font-size:13px;
	color:#969696;
	padding-left:10px;
}
.view_cont_r textarea{
	width:417px;
	height:100px;
	border:solid 1px #e1e3e4;
	border-radius:2px;
	padding:10px;
	color:#333;
	font-size:13px;
	
}
.view_textarea_hover textarea{
	box-shadow:0 0 3px #3a9eeb;
	border:solid 1px #3a9eeb;
	border-radius:2px;
	line-height:16px;
	color:#333;
	font-size:13px;
}
.view_but{
	width:67px;
	height:28px;
	text-align:center;
	line-height:28px;
	border-radius:3px;
	float:right;
	margin:20px 72px 0 0;
	background:#3a9eeb;
	cursor:pointer;
}
.view_success{
	margin:75px 0 0 82px;
}
.view_success_l,.view_success_r{
	float:left;
}
.view_success_l{
	margin-right:20px;
}
.view_success_r_t{
	color:#388ad7;
	font-size:24px;
	line-height:24px;
}
.view_success_r_b{
	color:#7a8795;
	font-size:14px;
	line-height:14px;
	margin-top:20px;
	text-align:left;
}

.custom_service{
	display: block;
	width: 60px;
	height: 21px;
	background: url(//img00.allinmd.cn/view_float/service.png) center 12px no-repeat;
	background-color: #73859e;
	cursor: pointer;
	margin-bottom: 5px;
	border-radius: 3px;
}
.custom_service:hover {
	background-color: #66768c;
}