<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${conference.conName}Workshop日程 - 唯医,allinmd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="Keywords" content="${conference.conName}，医学会议，会议回放，会议日程，会议直播，主讲人，会议视频，骨科视频，手术视频，手术讲解，日程回顾">
    <link rel="dns-prefetch" href="//comm.allinmd.cn">
    <link rel="dns-prefetch" href="//modules.allinmd.cn">
    <link rel="dns-prefetch" href="//plugins.allinmd.cn">
    <link rel="dns-prefetch" href="//other.allinmd.cn">
    <link rel="dns-prefetch" href="//scene.allinmd.cn">
    <link rel="dns-prefetch" href="//img00.allinmd.cn">
    <link rel="dns-prefetch" href="//img10.allinmd.cn">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    <link href="/dest/conference/meeting.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]>
    <script src="/js/third-party/html5shiv.js"></script>
    <![endif]-->
    <script>
        /*跳WAP端*/
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPod");
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        if(!IsPC()) {
            window.location.href = '//m.allinmd.cn/pages/conference/meeting-place.html?conId=' + location.pathname.match(/\d*/g).join("").substr(0, 13) + '&conName=' + document.title.replace("Workshop日程 - 唯医,allinmd", "");
        }
    </script>
</head>

<body>
<section class="al-mainInner">
    <!-- 页头——视场景加入跳转链接 -->
    <header class="al-header al-indexHeader">
        <section class="al-headerContainer">
            <ul class="al-headerTopNav">
                <li class="al-backBtn">
                    <a href="javascript:void(0);">返回</a>
                </li>
            </ul>
            <!--浏览记录：begin-->
            <div class="al-headerSearchRecord">
                浏览记录
                <div class="al-browseRecordBox">

                </div>
            </div>
            <!--浏览记录：end-->
            <figure class="al-headerSearch">
                <input type="text" />
                <b></b>
            </figure>
        </section>
    </header>
    <!-- 主侧边栏——Logo于此放置 -->
    <!--#include virtual="/includes/header.jsp"-->
    <div fragment="//www.allinmd.cn/html/conference/${conference.conId?c}/1/meeting_header.html"></div>

    <div id="meeting_content">


        <!-- 会议日程 -->
        <div class="m_main" >
            <div class="m_content_v2">
                <div class="rc_left_v2" style="top: 30px;">
                    <div class="rc_title_v2">
                    </div>
                    <div class="rc_l_content_v2">
                        <ul>
                            <#if (conference_sub_list ??)>
                                <#list conference_sub_list as list>
                                    <li><div class="jc_bg"><a href="#main${list.id}">${list.conSubName}</a></div></li>
                                </#list>
                            </#if>
                        </ul>
                    </div>
                </div>
                <div class="rc_right_v2">
                    <div class="rc_r_content_v2">
                        <!--关节1-->

                        <#if (conference_sub_list ??)>
                            <#list conference_sub_list as conference_sub>
                                <a name="main${conference_sub.id}"></a>

                                <table width="791" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr>
                                        <td height="80" colspan="5" align="center" bgcolor="#e9f4fb" style="font-size:20px; font-weight:bold; line-height:25px;"><br>
                                            ${conference_sub.conSubName}   会场日程</td>
                                    </tr>
                                    <#if (conference_date_list ??)>
                                        <#list conference_date_list as conference_date>


                                            <#assign temp_string_1 = conference_date+"">
                                                <#assign temp_string_2 = conference_sub.id+"_">


                                                    <#if temp_string_1?index_of(temp_string_2)==0>



                                                        <#assign temp_string_3 = temp_string_1?split("_")[1]>

                                                            <tr bgcolor="#ffffff">
                                                                <td height="70" colspan="5">
                                                                    <div class="rc_time">${temp_string_3[0..3]}年${temp_string_3[5..6]}月${temp_string_3[8..9]}日</div>
                                                                    <div class="rc_address">${conference_sub.conSubPlace} </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td width="123" height="38" align="center" bgcolor="#FAFAFA">时间</td>
                                                                <td width="110" height="38" align="center" bgcolor="#FAFAFA">主讲人</td>
                                                                <td width="327" height="38" align="center" bgcolor="#FAFAFA">题目</td>
                                                                <td height="38" align="center" bgcolor="#FAFAFA">主持/嘉宾</td>
                                                            </tr>

                                                            <#if (conference_agenda_list ??)>
                                                                <#list conference_agenda_list as conference_agenda>

                                                                    <#if conference_agenda.conSubId=conference_sub.id && temp_string_3== conference_agenda.startTime[0..9]>

                                                                        <#list cms_video_list as cms_video>

                                                                            <#if cms_video.videoId?c=conference_agenda.refVideoId?c >

                                                                                <#assign video_url = cms_video.videoUrl>
                                                                            </#if>
                                                                        </#list>



                                                                        <#if conference_agenda_index%2==0>
                                                                            <tr align="center" bgcolor="#ffffff">
                                                                        </#if>

                                                                        <#if conference_agenda_index%2==1>
                                                                            <tr align="center" bgcolor="#FAFAFA">
                                                                        </#if>

                                                                        <td height="38">${conference_agenda.startTime[11..15]}-${conference_agenda.endTime[11..15]}</td>
                                                                        <td width="110" height="38" align="center">${conference_agenda.lecturer}</td>
                                                                        <td width="327" height="38" align="center">

                                                                            <#if video_url??>
	                           <span class="live">
	                              <a href="//www.allinmd.cn/html/${video_url?default('')}" target="_blank">${conference_agenda.conName}</a>
	                            </span>
                                                                                <#else>
                                                                                    ${conference_agenda.conName}
                                                                            </#if>


                                                                        </td>
                                                                        <td width="120" height="38" align="center">${conference_agenda.moderator}</td>
                                                                        </tr>

                                                                    </#if>

                                                                </#list>


                                                            </#if>
                                                    </#if>
                                        </#list>
                                    </#if>
                                    </tbody></table>
                                <!--关节1结束-->
                                <br>
                            </#list>
                        </#if>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--footer start-->
    <!--#include virtual="/includes/footer.jsp"-->
    <!--footer End-->
</section>
<script src='/js/lib/jquery/jquery-1.8.3.js'></script>
<script src='/js/lib/jquery/jquery.json-2.4.js'></script>
<script src='/js/lib/jquery/jquery.cookie.js'></script>
<script src="/dest/conference/meeting.js"></script>
<script>
    $(function(){
        getFragments();
    })
</script>

</body>
</html>