@charset "UTF-8";
.al-livingEndPopBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    /*IE8支持*/
}

.al-livingEndPopBox .al-livingEndContent {
    margin: 200px auto;
    width: 370px;
    height: 575px;
    color: #fff;
    text-align: center;
}

.al-livingEndPopBox .al-livingEndContent header {
    font-size: 38px;
    margin-bottom: 80px;
}

.al-livingUserBox .al-livingUserHeadImg {
    display: inline-block;
    width: 103px;
    height: 103px;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    behavior: url("/js/third-party/pie/pie.htc");
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
}

.al-livingUserBox .al-livingUserHeadImg img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.al-livingUserBox .al-livingUserName {
    font-size: 20px;
}

.al-livingUserBox .al-livingUserName .al-vipBigUser {
    display: inline-block;
    width: 18px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip.png") center center no-repeat;
    margin-left: 3px;
}

.al-livingUserBox .al-livingUserPlace {
    margin: 20px 0 40px;
}

.al-livingUserBox .al-livingInfo figure {
    display: inline-block;
    width: 180px;
}

.al-livingUserBox .al-livingInfo figure p {
    color: #3598db;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.al-livingUserBox .al-livingInfo .al-livingUserCount {
    position: relative;
}

.al-livingUserBox .al-livingInfo .al-livingUserCount:after {
    content: '';
    position: absolute;
    height: 30px;
    width: 0px;
    top: 14px;
    right: -2px;
    border-right: 1px solid #fff;
}

.al-exitLiving {
    margin: 130px auto 0;
    font-size: 18px;
    text-align: center;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 228px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    behavior: url("/js/third-party/pie/pie.htc");
    cursor: pointer;
}

.al-livingEndBigBox {
    position: relative;
}

.al-livingEndBigBox .videoTest {
    background-color: rgba(41, 72, 98, 0.8);
    width: 100%;
    height: 100%;
    -webkit-filter: blur(6px);
}
