@charset "utf-8";
/* CSS Document */


/*搜索用户页*/
.list_lest_content li .list_case_mr, .list_topic_mr, .list_video_mr,.list_meeting_mr, .list_doc_mr, .list_user_mr, .list_video_hover, .list_lest_content .hover .list_case_mr, .list_topic_hover, .list_doc_hover, .list_user_hover {
	background:url(//img10.allinmd.cn/common/icon/png/verticle-center-icons.png) no-repeat 0 0;float:left;
	margin-top:15px;
}
.list_lest_content li .list_case_mr {
	width:16px;
	height:18px;
	background-position:-200px -41px;
}
.list_lest_content li .list_topic_mr {
	width:16px;
	height:18px;
	background-position:-220px -41px;
}
.list_lest_content li .list_video_mr {
	width:16px;
	height:18px;
	background-position:-160px -41px;
}
.list_lest_content li .list_meeting_mr{
	background: url(images/img10/search/meeting.png) no-repeat;
	width:16px;
	height:14px;
	margin-top: 15px;
}
.list_lest_content li .list_doc_mr {
	width:16px;
	height:18px;
	background-position:-240px -41px
}
.list_lest_content li .list_user_mr {
	width:16px;
	height:18px;
	background-position:-300px -41px;
}
.list_lest_content .hover .list_video_mr {
	width:16px;
	height:18px;
	background-position:-480px -41px;
}
.list_lest_content .hover .list_meeting_mr {
	background: url(images/img10/search/meeting_hover.png) no-repeat;
	width:16px;
	height:14px;
	margin-top: 15px;
}
.list_lest_content .hover .list_case_mr {
	width:16px;
	height:18px;
	background-position:-520px -41px;
}
.list_lest_content .hover .list_topic_mr {
	width:16px;
	height:18px;
	background-position:-540px -41px;
}
.list_lest_content .hover .list_doc_mr {
	width:16px;
	height:18px;
	background-position:-560px -41px
}
.list_lest_content .hover .list_user_mr {
	width:16px;
	height:18px;
	background-position:-620px -41px;
}
.list_main {
	background:#efeff4;
	padding-top:40px;
}
.list_content {
	width:1000px;
	margin:0 auto;
	position:relative;
}
.list_cont_left {
	float:left;
	background:#fff;
	border:solid 1px #dddde2;
	width:200px;
}
.list_cont_right {
	float:right;
}
.search_user_cont{
	background:#fff;
	border:solid 1px #dddde2;
	width:776px;
}
.list_left_title {
	font-size:18px;
	color:#333;
	height:47px;
	line-height:47px;
	padding-left:25px;
}
.list_lest_content li {
	height:47px;
	line-height:47px;
	border-top:solid 1px #dddde2;
	padding-left:25px;
	font-size:16px;
	color:#73859e;
	cursor:pointer;
}
.list_lest_content li .list_left_text {
	float:left;
	margin-left:17px;
	font-size:16px;
	color:#73859e;
}
.list_lest_content li .list_left_num {
	float:left;
	margin-left:42px;
	font-size:13px;
	color:#73859e;
	line-height:47px;
}
.list_lest_content .hover {
	height:47px;
	line-height:47px;
	border-top:solid 1px #73859e;
	padding-left:25px;
	font-size:16px;
	color:#73859e;
	background:#73859e;
}
.list_lest_content .hover .list_left_text {
	float:left;
	margin-left:17px;
	font-size:16px;
	color:#fff;
}
.list_lest_content .hover .list_left_num {
	float:left;
	margin-left:42px;
	font-size:13px;
	color:#fff;
	line-height:47px;
}
.list_right_title{
	font-size:18px;
	color:#333;
	height:58px;
	line-height:58px;
	border-bottom:solid 1px #dddde2;
	padding-left:28px;
}
.list_right_user_cont{
	padding:20px 10px 0 30px;
}
#floor_user{
	display:none;
}
.list_right_user_cont li{
	margin-right:20px;
	margin-bottom:20px;
	float:left;
}


/*全部搜索列表*/
.search_case_icon,.search_topic_icon,.search_video_icon,.search_doc_icon{background:url(//img10.allinmd.cn/common/icon/png/doc-types-icons.png) no-repeat 0 0;}
.search_case_icon{width:50px;height:50px;background-position:0 -1px;}
.search_topic_icon{width:50px;height:50px;background-position:-60px -1px;}
.search_video_icon{width:50px;height:50px;background-position:-120px -1px;}
.search_doc_icon{width:50px;height:50px;background-position:-180px -1px;}
.search_all_cont li{
	padding:30px;
	border-bottom:#e1e3e4 solid 1px;
}
.search_all_left{
	float:left;
}
.search_all_center01{
	float:left;
	margin-left:20px;
	width:640px;
}
.search_all_center02{
	float:left;
	margin-left:20px;
	width:400px;
	margin-right:17px;
}
.search_all_center03{
	float:left;
	margin-left:20px;
	width:515px;
	margin-right:17px;
}
.search_all_c01_title{
	font-size: 16px;
	color: #333;
}
.search_all_c01_title a{
	color: #333;
}
.search_list_r_author{
	padding: 18px 0 0 0;
}

.search_list_r_author .pointer {
	background: url(//img00.allinmd.cn/channel/video/pointer.png) no-repeat left center;
	height: 5px;
	width: 5px;
	margin-top:4px;
}
.search_list_r_author .time {
	float: right !important;
	margin: 0 !important;
}
.search_list_text{
	font-size: 14px;
	color: #555;
	line-height: 26px;
	height: 80px;
	overflow: hidden;
	margin-top:18px;
}
.search_floor{
	background:#fff;
	border:solid 1px #dddde2;
	border-bottom:none;
	width:776px;
	margin-bottom:20px;
}
.search_floor_user{
	background:#fff;
	border:solid 1px #dddde2;
	width:776px;
	padding:20px 0 0 0;
	margin-bottom:20px;
}
.search_user_title{
	font-size:14px;
	color:#666;
	margin-left:30px;
	line-height:14px;
}
.search_user_title a{
	color:#3d84c6;
	text-decoration:none;
}
.search_all_right{
	float:left;
}
.search_all_right .v_tj_img {
	margin:0;
	position: relative;
}
.search_all_right .v_tj_img img{
    width: auto;
    height: auto;
}
.search_all_right img {
	padding: 1px;
	border: #e7e7e7 solid 1px;
}
.v_tj_img_time_bg {
	width: 55px;
	height: 20px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	background: #000;
	position: absolute;
	left: 2px;
	bottom: 2px;
	z-index: 2;
}
.v_tj_img_time {
	position: absolute;
	left: 2px;
	bottom: 2px;
	z-index: 2;
	width: 55px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
}

/*搜索无结果*/
.search_no_top{
	border:solid #ffb786 1px;
	background:#fefad8;
	width:938px;
	height:78px;
	padding:20px 30px;
	margin-bottom:20px;
}
.search_no_text{
	font-size:16px;
	color:#333333;
}
.search_no_text span{
	color:#cc0000;
}
.search_border{
	width:230px;
	height:34px;
	line-height:34px;
	border:solid 1px #798aa2;
	border-radius:20px;
	margin-top:20px;
	padding-left:10px;
	background:#fff;
}
.search_border input{
	float:left;
	width:200px;
	border:none;
	height:34px;
	line-height:34px;
	border-radius:5px;
	color:#b4b4b4;
	font-size:12px;
}
.search_button{background:url(//img10.allinmd.cn/common/icon/png/index-small-sprite.png) no-repeat 0 0;}
.search_button{width:14px;height:14px;background-position:-561px -143px; float:left; margin-top:9px;}
.search_no_main{
	background: #fff;
	border: solid 1px #dddde2;
	width: 998px;
}
.search_no_cont_title{
	font-size:18px;
	color:#666;
	height:58px;
	line-height:58px;
	padding-left:25px;
	border-bottom: solid 1px #dddde2;
}
.search_no_cont{
	padding:0 30px;
}
.search_no_cont li{
	border-bottom:#e1e3e4 solid 1px;
	padding:30px 0;
}
.search_no_cont_left,.search_no_cont_right{
	float:left;
}
.search_no_cont_left{
	width:690px;
	margin-right:17px;
}


.search_list_r_author li {
	float: left;
	margin: 0 20px 0 0;
	float: left;
	font-size: 13px;
	color: #909090;
	line-height: 13px;
	border:none;
	padding:0;
}

/*搜索会议*/
.met_list{
	width: 716px;
}
.met_listTop img{
	width: 716px;
	height: 343px;
	display: block;
}
.met_listBot{
	/*width: 714px;*/
	border: 1px solid #dbdbdb;
	border-top: none;
	padding: 28px 0 16px 20px;
}
.metDate,.metText{
	float: left;
	font-size: 15px;
	font-family: "microsoft yahei";
	line-height: 15px;
}
.metDate a,.metText a{
	color: #909090;
}
.metTop{
	padding-bottom: 15px;
}
.dateImg{
	width: 15px;
	height: 15px;
	background: url("images/img10/search/recommentDate.png") no-repeat 0 -2px;
 	float:left;
	margin-right: 8px;
}
.location{
	margin-left: 40px;
	width: 12px;
	height: 17px;
	background: url("images/img10/search/location.png") no-repeat 0 -1px;
	float:left;
	margin-right:8px;
	}
.metBotText{
	width: 662px;
	font-family: "microsoft yahei";
	font-size: 15px;
	line-height: 26px;
}
.metBotText a{
	color: #565656;
}
.search_con_new{
	padding-top: 20px;
}
.search_con_new li{
	padding: 0 30px 30px 30px;
}
