@charset "UTF-8";
.al-mesMainR {
    width: 268px;
    float: right;
    border-radius: 3px;
    behavior: url("/js/third-party/pie/pie.htc");
    border: 1px solid rgba(199, 211, 223, 0.45);
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    position: relative;
}

.al-mesMainR img {
    margin: 36px 0 20px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    behavior: url("/js/third-party/pie/pie.htc");
    display: inline-block;
    position: relative;
}

.al-mesMainR.al-index-mesMainR {
    margin: 0 0 20px;
}

.al-mesMainR.al-index-mesMainR:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.al-mesMainR:hover {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.al-mesMainR .al-mesMainR-userName {
    display: block;
    color: #333;
    margin-bottom: 14px;
    padding-left: 15px;
    font-size: 18px;
}

.al-mesMainR .al-mesMainR-userName:hover {
    color: #2899e6;
}

.al-mesMainR .al-mesMainR-userName i {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
    background-size: 100% 100%;
    margin-left: 6px;
}

.al-mesMainR .al-mesMainR-userTitle,
.al-mesMainR .al-mesMainR-userUnit {
    font-size: 13px;
    color: #909090;
    font-family: "宋体";
    line-height: 18px;
}

.al-mesMainR .al-mesMainR-userUnit {
    padding-bottom: 30px;
}

.al-mesMainR ul {
    background-color: #f9fbfd;
    padding: 8px 0;
    border-top: 1px solid #ECF0F2;
}

.al-mesMainR ul:after {
    content: '';
    display: table;
    clear: both;
}

.al-mesMainR li {
    display: inline-block;
    position: relative;
}

.al-mesMainR li span {
    display: inline-block;
    font-size: 20px;
    color: #626F8C;
    font-family: Arial;
    margin-bottom: 8px;
}

.al-mesMainR li a {
    font-size: 14px;
    display: block;
    color: #626F8C;
    padding: 10px;
}

.al-mesMainR li a:hover {
    color: #2899e6;
}

.al-mesMainR li a.al-indexPersonal {
    margin-top: 0;
}

.al-mesMainR .al-mesMain-ul_Notice {
    padding: 0 12px;
    margin: 0 12px;
    position: relative;
}

.al-mesMainR .al-mesMain-ul_Notice:before {
    content: '';
    position: absolute;
    width: 0;
    height: 24px;
    border-right: 1px solid #dfdfdf;
    left: 0;
    top: 12px;
}

.al-mesMainR .al-mesMain-ul_Notice:after {
    content: '';
    position: absolute;
    width: 0;
    height: 24px;
    border-right: 1px solid #dfdfdf;
    right: 0;
    top: 12px;
}

.al-mesMainR .al-followBtn,
.al-mesMainR .al-followedBtn,
.al-mesMainR .al-doubleFollowBtn {
    float: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.al-mesMainR .al-hrLine {
    margin: 0 2px;
}

.al-msgDeleteModal {
    behavior: url("/js/third-party/pie/pie.htc");
    width: 450px;
    height: 285px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    margin-left: -225px;
    margin-top: -142.5px;
    border: 1px solid rgba(151, 151, 151, 0.3);
}

.al-msgDeleteModal .al-iconAsk {
    width: 44px;
    height: 44px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_ask_lg.png") center center no-repeat;
}

.al-msgDeleteModal .icon-close {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_close.png") center center no-repeat;
}

.al-msgDeleteModal h2 {
    font-size: 15px;
    color: #666;
    padding: 20px;
    font-weight: normal;
    border-bottom: 1px solid #efefef;
}

.al-msgDeleteModal h2 .icon-close {
    float: right;
    cursor: pointer;
}

.al-msgDeleteModal .al-msgDeleteContent {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 45px;
}

.al-msgDeleteModal .al-msgDeleteContent > .al-iconA {
    display: inline-block;
    vertical-align: top;
}

.al-msgDeleteModal .al-msgDeleteContent article {
    display: inline-block;
    text-align: left;
    max-width: 280px;
    vertical-align: top;
    /*&:before{
            content: '';
            display: inline-block;
            height: 44px;
            width: 44px;
            background: transparent url('//img10.allinmd.cn/v3/common/icon/icon_ask_lg.png') center center no-repeat;
          }*/
}

.al-msgDeleteModal .al-msgDeleteContent article h3 {
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin-bottom: 10px;
}

.al-msgDeleteModal .al-msgDeleteContent article span {
    font-size: 16px;
    color: #333;
    display: block;
    height: 30px;
    line-height: 30px;
}

.al-msgDeleteModal .al-msgDeleteContent .al-msgNoTitle {
    vertical-align: middle;
}

.al-msgDeleteModal .al-msgDeleteBtn {
    text-align: center;
    margin-top: 35px;
}

.al-msgDeleteModal .al-msgDeleteBtn button {
    behavior: url("/js/third-party/pie/pie.htc");
    font-size: 15px;
    color: #fff;
    width: 80px;
    height: 35px;
    line-height: 35px;
    margin: 0 7px;
    border-radius: 5px;
    cursor: pointer;
}

.al-msgDeleteModal .al-msgDeleteBtn .al-msgDeleteConfirm {
    background-color: #2899e6;
}

.al-msgDeleteModal .al-msgDeleteBtn .al-msgDeleteCancel {
    background-color: #bdc3cf;
}

/*活动报名成功*/
.signPopup {
    text-align: center;
}

.signPopup .signSuccess {
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin: 40px 0 20px 0;
}

.signPopup .signSuccess i {
    display: inline-block;
    background: url("/images/img10/v3/avtivity/true.png") no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.signPopup .signUpPtext {
    font-size: 16px;
    color: #333;
}

.signPopup .setTime {
    font-size: 16px;
    color: #b4b4b4;
    margin-top: 40px;
}

.al-msgDeleteModal .al-msgDeleteContent article span {
    line-height: 24px;
    display: inline-block;
}

.signUpPbtn {
    text-align: center;
    margin-top: 50px;
}

.signUpPbtn button {
    width: 106px;
    height: 36px;
    border-radius: 999999px;
    text-align: center;
    line-height: 36px;
    background: #73859e;
    font-size: 15px;
    color: #fff;
}

.signUpPbtn .al-msgDeleteCancel {
    background: #2899e6;
    margin-left: 20px;
}

.al-doctorRecommend {
    padding: 30px 24px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    border-top: none;
    width: 100%;
    display: table;
}

.al-doctorRecommend:after {
    content: '';
    display: table;
    clear: both;
}

.al-doctorRecommend:hover {
    background-color: #fafbfd;
}

.al-doctorImg {
    display: table-cell;
    width: 54px;
}

.al-doctorImg a {
    display: inline-block;
    width: 54px;
    height: 54px;
    vertical-align: top;
    border-radius: 50%;
    overflow: hidden;
    behavior: url("/js/third-party/pie/pie.htc");
}

.al-doctorImg a img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    position: relative;
}

.al-doctorMsg {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 17px;
    border-bottom: 1px solid #ecf0f2;
}

.al-doctorMsg:after {
    content: '';
    display: table;
    clear: both;
}

.al-doctorMsg .al-doctorMsgContent {
    float: left;
    margin-left: 18px;
}

.al-doctorMsg .al-doctorMsgContent > a {
    font-weight: 400;
    color: #333333;
}

.al-doctorMsg .al-doctorMsgContent > a:hover {
    color: #3598db;
}

.al-doctorMsg .al-doctorMsgContent .al-vipUser {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
    margin-left: 6px;
}

.al-doctorMsg .al-doctorMsgContent p {
    margin: 10px 0 13px;
    font-size: 14px;
    color: #909090;
}

.al-doctorMsg .al-doctorMsgContent p .al-doctorJob, .al-doctorMsg .al-doctorMsgContent p .al-doctorHospital {
    font-size: 15px;
    color: #666;
    padding-right: 12px;
}

.al-doctorMsg .al-doctorMsgContent p i {
    margin-left: 10px;
    margin-top: -1px;
}

.al-doctorMsg .al-doctorMsgContent .al-hrLine {
    width: 1px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e4e9ed;
    margin: 0 14px;
    border: 0;
}

.al-doctorMsg .al-followBtn {
    width: 98px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.al-iconConfig {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_config.png") center center no-repeat;
    margin: 0 5px;
}

.al-iconSuccess {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_success.png") center center no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.al-iconMyCollect {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_collection_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyFollow {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_follow_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyBrowsed {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_browser_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyComment {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_comment_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyDraft {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_draft_off.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyWebcast {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_video.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyCollect {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_collection_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyFollow {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_follow_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyBrowsed {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_browser_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyComment {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_comment_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyDraft {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_draft_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.active .al-iconMyWebcast {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_video_on.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-iconMyIndex {
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_index_off.png") center center no-repeat;
}

.al-iconMyContribution {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_contribution_off.png") center center no-repeat;
}

.al-iconMyActive {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_active_off.png") center center no-repeat;
}

.al-iconMyMsg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background: transparent url("/images/img10/v3/common/icon/personal_msg_off.png") center center no-repeat;
}

.active .al-iconMyIndex {
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_index_on.png") center center no-repeat;
}

.active .al-iconMyContribution {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_contribution_on.png") center center no-repeat;
}

.active .al-iconMyActive {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_active_on.png") center center no-repeat;
}

.active .al-iconMyMsg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url("/images/img10/v3/common/icon/personal_msg_on.png") center center no-repeat;
}

.al-contentAuthor {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_user.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: sub;
    margin-right: 5px;
    margin-top: 0;
}

.al-contentAuthor.authorNoUserId {
    width: 13px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon-book.png") center center no-repeat;
    background-size: 100% 100%;
}

.al-contentWatchedNum {
    display: inline-block;
    width: 18px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_watchNum.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-contentTime {
    content: "";
    display: inline-block;
    width: 14px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_time.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 5px;
}

.al-contentPlace {
    display: inline-block;
    width: 13px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/meeting_place.png") center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.al-mark {
    width: 31px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
}

.al-mark img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.al_imgMark {
    right: 3px;
}

span i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span .al-commentBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_btn_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-shareBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_share_off.png") center center no-repeat;
    min-width: 14px;
    height: 14px;
}

span .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_off.png") center center no-repeat;
    min-width: 14px;
}

span:hover .al-commentBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_btn_on.png") center center no-repeat;
}

span:hover .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_on.png") center center no-repeat;
}

span:hover .al-shareBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_share_on.png") center center no-repeat;
}

span:hover .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_on.png") center center no-repeat;
}

span:hover .al-contentWatchedNum {
    width: 18px;
    height: 12px;
}

span.active i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span.active .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_active_off.png") center center no-repeat;
}

span.active .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_active_off.png") center center no-repeat;
}

span.active:hover i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

span.active:hover .al-likeBtn {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_like_active_on.png") center center no-repeat;
}

span.active:hover .al-collectBtn {
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_collect_active_on.png") center center no-repeat;
}

.al-refreshFans {
    display: inline-block;
    width: 18px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_refresh.png") center center no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    vertical-align: middle;
}

.al-commentBtnImg {
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 6px;
}

.al-commentPic {
    width: 16px;
    height: 13px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_pic.png") center center no-repeat;
    margin-right: 10px;
}

.al-commentVideo {
    width: 20px;
    height: 13px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_video.png") center center no-repeat;
}

.al-commentAt {
    width: 14px;
    height: 15px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_at.png") center center no-repeat;
}

.al-commentQuote {
    width: 20px;
    height: 14px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/comment_quote.png") center center no-repeat;
}

.al-iconOthersLike {
    width: 17px;
    height: 17px;
    background: transparent url("//img10.allinmd.cn/v3/others/icon_like.png") center center no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-right: 7px;
}

.al-othersLikeOn {
    background: transparent url("//img10.allinmd.cn/v3/others/icon_likeActive.png") center center no-repeat;
}

.al-vipBigUser {
    display: inline-block;
    width: 18px;
    height: 16px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip.png") center center no-repeat;
    margin-left: 3px;
}

.al-vipNewBigUser {
    width: 35px;
    height: 18px;
}

.al-vipUser {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
    margin-left: 6px;
}

.al-unlikeBtn {
    display: inline-block;
    width: 26px;
    height: 18px;
    background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_unlike.png") center center no-repeat;
    margin: 0 15px;
    float: right;
}

.al-unlikeBtn:hover {
    background: transparent url("//img10.allinmd.cn/v3/common/icon/unlikeHover.png") center center no-repeat;
}

.al-contentCommentOtherMsg b {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

/*发现入口侧栏*/
.billboardStar {
    margin: 0 20px;
}

.billboardStar .contribution {
    padding-bottom: 20px;
    border-bottom: solid 1px #ECF0F2;
    margin-top: 20px;
    width: 228px;
}

.billboardStar .contribution:last-child {
    border: none;
}

.billboardStar .contribution header {
    font-size: 14px;
    color: #666666;
    line-height: 14px;
}

.billboardStar .contribution header i {
    background: #909090;
    border-radius: 1px;
    width: 4px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.billboardStar .contribution .user {
    margin-top: 20px;
}

.billboardStar .contribution .user a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.billboardStar .contribution .user a i {
    position: absolute;
    left: -12px;
    top: 0px;
    z-index: 2;
    display: inline-block;
    background: url("/images/img10/v3/discover/billboard/icon-rankno1_small.png") no-repeat;
    height: 25px;
    width: 25px;
    background-size: contain;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
    color: #fff;
}

.billboardStar .contribution .user img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.billboardStar .contribution .user aside {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
}

.billboardStar .contribution .user aside .name {
    font-size: 15px;
    color: #333333;
    line-height: 15px;
    display: inline;
    cursor: pointer;
}

.billboardStar .contribution .user aside .name:hover {
    color: #2899e6;
}

.billboardStar .contribution .user aside .hospital {
    color: #666666;
    margin: 10px 0;
}

.billboardStar .contribution .user aside .hospital span {
    margin-left: 10px;
}

.billboardStar .contribution .user aside .describe {
    color: #9B9B9B;
    overflow: hidden;
    display: inline;
}

.billboardStar .contribution .user aside .describe li {
    float: left;
    margin-right: 4px;
}

.billboardStar .contribution .user aside .describe li:after {
    content: '';
    background: #E4E9ED;
    height: 12px;
    width: 1px;
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}

.billboardStar .contribution .user aside .describe li:last-child {
    border: none;
    padding: 0;
    margin: 0;
}

/*贡献榜*/
.contribution {
    width: 1000px;
    margin: 16px auto 0;
}

.contribution .contributionLeft {
    float: left;
    width: 708px;
}

.contribution .contributionLeft .conNav {
    background: #fff;
}

.contribution .contributionLeft .conNav nav {
    height: 55px;
    line-height: 53px;
}

.contribution .contributionLeft .conNav nav:after {
    content: '';
    display: table;
    clear: both;
}

.contribution .contributionLeft .conNav nav li {
    font-size: 18px;
    color: #777777;
    width: 94px;
    text-align: center;
    float: left;
    border-bottom: #fff solid 2px;
    margin: 0 20px;
    cursor: pointer;
}

.contribution .contributionLeft .conNav nav li.active {
    color: #2899e6;
    border-bottom: #2899E6 solid 2px;
}

.contribution .contributionLeft .conNav nav li:hover {
    color: #2899e6;
}

.contribution .contributionLeft .conNav nav aside {
    font-size: 14px;
    color: #626F8C;
    float: right;
    margin-right: 24px;
    cursor: pointer;
}

.contribution .contributionLeft .conNav nav aside i {
    background: url("/images/img10/v3/discover/billboard/icon-questionmark.png") no-repeat;
    height: 14px;
    width: 14px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.contribution .contributionLeft .conNav nav aside:hover {
    color: #2899e6;
}

.contribution .contributionLeft .conNav nav aside:hover i {
    background: url("/images/img10/v3/common/icon/icon-questionmarkHover.png") no-repeat;
}

.contribution .contributionLeft .conNav figure {
    position: relative;
}

.contribution .contributionLeft .conNav figure img {
    width: 708px;
    height: 180px;
}

.contribution .contributionLeft .conNav figure figcaption {
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    font-size: 16px;
    color: #FFFFFF;
}

.contribution .contributionLeft .conNav figure figcaption i {
    background: url("/images/img10/v3/discover/billboard/calender.png") no-repeat;
    width: 22px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    color: #3598DB;
    vertical-align: middle;
    margin: 0 4px;
    font-weight: bold;
}

.contribution .contributionLeft .ranking {
    margin-top: 20px;
    height: 117px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.5), 0 0 2px 0 #C7D3DF;
            box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.5), 0 0 2px 0 #C7D3DF;
}

.contribution .contributionLeft .ranking span {
    font-size: 18px;
    color: #909090;
    display: inline-block;
    width: 24px;
    height: 18px;
    text-align: center;
    line-height: 117px;
    margin: 0 7px 0 14px;
}

.contribution .contributionLeft .ranking figure {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.contribution .contributionLeft .ranking figure img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.contribution .contributionLeft .ranking .describe {
    display: inline-block;
    vertical-align: middle;
}

.contribution .contributionLeft .ranking .describe .userName {
    font-size: 16px;
    color: #333333;
    margin-bottom: 11px;
}

.contribution .contributionLeft .ranking .describe .userName a {
    color: #333333;
}

.contribution .contributionLeft .ranking .describe .userName a:hover {
    color: #2899e6;
}

.contribution .contributionLeft .ranking .describe .describeText {
    font-size: 10px;
    color: #666666;
}

.contribution .contributionLeft .ranking .describe .describeText b {
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px 0 4px;
    color: #666666;
}

.contribution .contributionLeft .ranking .describe .describeText i {
    font-size: 14px;
    color: #909090;
}

.contribution .contributionLeft .ranking aside {
    background: url("/images/img10/v3/discover/billboard/bg-rank.png") no-repeat;
    width: 125px;
    height: 32px;
    line-height: 32px;
    float: right;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #FE9225;
    text-align: center;
    background-size: contain;
    margin: 40px 25px 0 0;
}

.contribution .contributionLeft .ranking aside.none {
    background: none;
    font-size: 14px;
    color: #909090;
    width: auto;
}

.contribution .contributionLeft .conList {
    margin-top: 20px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.5), 0 0 2px 0 #C7D3DF;
            box-shadow: 0 2px 4px 0 rgba(215, 222, 229, 0.5), 0 0 2px 0 #C7D3DF;
}

.contribution .contributionLeft .conList li {
    padding: 20px 0 0 10px;
}

.contribution .contributionLeft .conList li div {
    display: inline-block;
    border-bottom: solid 1px  #ECF0F2;
    padding-bottom: 20px;
    width: 550px;
}

.contribution .contributionLeft .conList li .placing {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    vertical-align: top;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #909090;
}

.contribution .contributionLeft .conList li .placing.placingIcon {
    font-size: 0;
}

.contribution .contributionLeft .conList li .placing.first {
    background: url("/images/img10/v3/discover/billboard/first.png") no-repeat;
}

.contribution .contributionLeft .conList li .placing.second {
    background: url("/images/img10/v3/discover/billboard/second.png") no-repeat;
}

.contribution .contributionLeft .conList li .placing.third {
    background: url("/images/img10/v3/discover/billboard/third.png") no-repeat;
}

.contribution .contributionLeft .conList li figure {
    display: inline-block;
    margin: 0 20px 0 5px;
    vertical-align: top;
    width: 54px;
    height: 54px;
}

.contribution .contributionLeft .conList li figure img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.contribution .contributionLeft .conList li .describe {
    display: inline-block;
    margin-top: 4px;
}

.contribution .contributionLeft .conList li .userName {
    font-size: 16px;
    color: #333333;
}

.contribution .contributionLeft .conList li .userName a {
    color: #333333;
}

.contribution .contributionLeft .conList li .userName a:hover {
    color: #2899e6;
}

.contribution .contributionLeft .conList li .userName.new span {
    display: inline-block;
    height: 14px;
    font-size: 10px;
    color: #5DC82A;
    line-height: 14px;
    padding: 0 7px 0 0;
    margin-left: 10px;
    border: solid 1px #5DC82A;
    border-radius: 2px;
}

.contribution .contributionLeft .conList li .userName.new span i {
    display: inline-block;
    background: url("/images/img10/v3/discover/billboard/ranknew.png") no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: top;
    margin-right: 7px;
}

.contribution .contributionLeft .conList li .userName.continuity span {
    display: inline-block;
    width: 71px;
    height: 16px;
    background: url("/images/img10/v3/discover/billboard/bg-rankconsecutive.png") no-repeat;
    font-size: 10px;
    color: #FF9224;
    line-height: 16px;
    margin-left: 10px;
    padding-left: 21px;
}

.contribution .contributionLeft .conList li .userType {
    font-size: 14px;
    color: #666666;
    line-height: 16px;
    margin: 8px 0;
}

.contribution .contributionLeft .conList li .userHospital {
    font-size: 14px;
    color: #666666;
}

.contribution .contributionLeft .conList li ul {
    float: right;
    overflow: hidden;
    margin-top: 20px;
}

.contribution .contributionLeft .conList li ul li {
    padding: 0;
    font-size: 12px;
    float: left;
    margin-right: 10px;
    color: #AAAAAA;
    line-height: 18px;
}

.contribution .contributionLeft .conList li ul li.week {
    color: #909090;
}

.contribution .contributionLeft .conList li ul li.week:after {
    content: '';
    background: #E4E9ED;
    height: 12px;
    width: 1px;
    display: inline-block;
    margin-left: 10px;
}

.contribution .contributionLeft .conList li ul li.week span {
    font-size: 18px;
    color: #FE9225;
}

.contribution .contributionLeft .conList li ul li:last-child {
    border: none;
    padding: 0;
    margin: 0;
}

.contribution .contributionRight {
    float: right;
    width: 268px;
}

.contribution .contributionRight .al-discover_sidebar {
    margin: 0;
}

.contribution .contributionRight .conSuccess {
    padding-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(199, 211, 223, 0.34);
}

.contribution .contributionRight .conSuccess .title {
    font-size: 18px;
    color: #333333;
    height: 53px;
    line-height: 53px;
    border-bottom: solid 1px #E4E9ED;
    padding-left: 20px;
}

.contribution .contributionRight .conSuccess ul {
    margin: 0 20px;
}

.contribution .contributionRight .conSuccess ul li {
    height: 64px;
    margin-top: 20px;
}

.contribution .contributionRight .conSuccess ul li.resourseNoneImg aside {
    width: auto;
    float: none;
}

.contribution .contributionRight .conSuccess ul li figure {
    display: inline-block;
    position: relative;
}

.contribution .contributionRight .conSuccess ul li figure b {
    display: inline-block;
    background: url("/images/img10/v3/discover/billboard/billboardVideo.png") no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    font-weight: normal;
}

.contribution .contributionRight .conSuccess ul li figure img {
    width: 95px;
    height: 62px;
}

.contribution .contributionRight .conSuccess ul li aside {
    width: 120px;
    float: right;
}

.contribution .contributionRight .conSuccess ul li aside p {
    font-size: 14px;
    color: #555555;
    line-height: 20px;
}

.contribution .contributionRight .conSuccess ul li aside p:hover {
    color: #2899e6;
}

.contribution .contributionRight .conSuccess ul li aside figure {
    margin-top: 4px;
}

.contribution .contributionRight .conSuccess ul li aside figure p {
    display: inline-block;
}

.contribution .contributionRight .conSuccess ul li aside figure .userName {
    font-family: '宋体';
    font-size: 10px;
    color: #909090;
    line-height: 13px;
    margin-right: 15px;
}

.contribution .contributionRight .conSuccess ul li aside figure .userName i {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: transparent url(//img10.allinmd.cn/v3/common/icon/personal_user.png) center center no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.contribution .contributionRight .conSuccess ul li aside figure .num {
    font-family: '宋体';
    font-size: 10px;
    color: #909090;
    line-height: 13px;
}

.contribution .contributionRight .conSuccess ul li aside figure .num i {
    display: inline-block;
    width: 15px;
    height: 10px;
    background: transparent url(//img10.allinmd.cn/v3/common/icon/personal_watchNum.png) center center no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
}

/*活跃榜*/
.contribution .contributionLeft .ranking .describe .describeText {
    font-size: 12px;
    color: #909090;
    margin-top: 8px;
}

.contribution .contributionLeft .conList li .userContribution {
    margin-top: 10px;
}

.contribution .contributionLeft .conList li .userContribution li {
    line-height: 14px;
}

.contribution .contributionLeft .conList li .userContribution {
    overflow: hidden;
    float: left;
}

.contribution .contributionLeft .conList li .userContribution li {
    font-family: SimSun;
    font-size: 12px;
    color: #666666;
    float: left;
    /*border-right: #E4E9ED solid 1px;
    margin-right: 10px;
    padding-right: 10px;*/
}

.contribution .contributionLeft .conList li .userContribution li b {
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    display: inline-block;
    vertical-align: text-top;
    font-weight: normal;
}

.userContribution {
    overflow: hidden;
}

.userContribution li {
    font-family: SimSun;
    font-size: 12px;
    color: #666666;
    float: left;
    margin-right: 10px;
}

.userContribution li:after {
    content: '';
    background: #E4E9ED;
    height: 12px;
    width: 1px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.userContribution li:last-child:after {
    content: '';
    display: none;
}

.userContribution li b {
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    display: inline-block;
    vertical-align: text-top;
    font-weight: normal;
    margin-left: 6px;
}

/*推荐榜*/
.contribution .contributionLeft .listNav ul {
    overflow: hidden;
    padding: 12px 24px;
    border-bottom: 1px solid  #ECF0F2;
}

.contribution .contributionLeft .listNav ul li {
    padding: 0;
    font-size: 16px;
    color: #909090;
    float: left;
    width: 72px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}

.contribution .contributionLeft .listNav ul li.active {
    background: #2899E6;
    border-radius: 2px;
    color: #fff;
}

.contribution .contributionLeft .listNav ul li.active:hover {
    color: #fff;
}

.contribution .contributionLeft .listNav ul li:hover {
    color: #2899e6;
}

.contribution .contributionLeft .conList li div .crown {
    display: inline-block;
    float: right;
    opacity: 0.88;
    font-size: 16px;
    color: #666666;
    margin-top: 10px;
    cursor: pointer;
}

.contribution .contributionLeft .conList li div .crown:hover i {
    display: inline-block;
    background: #8DC6EC;
    border: solid 1px  #8DC6EC;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    margin-left: 6px;
    color: #fff;
}

.contribution .contributionLeft .conList li div .crown.active {
    color: #3598DB;
}

.contribution .contributionLeft .conList li div .crown.active i {
    display: inline-block;
    background: #3598DB;
    border: solid 1px  #3598DB;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    margin-left: 6px;
    color: #fff;
}

.contribution .contributionLeft .conList li div .crown i {
    display: inline-block;
    border: 1px solid #626F8C;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    margin-left: 6px;
}

/*说明规则*/
.rule {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background: rgba(10, 30, 43, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb0A1E2B, endColorstr=#bb0A1E2B);
    BOTTOM: 0px;
}

.rule .illustrate {
    background: #fff;
    width: 708px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 76%;
    *margin-left: -354px;
    *margin-top: -18%;
    margin-left: -354px\9;
    margin-top: -18%\9;
    border-radius: 4px;
}

.rule .illustrate .illustrateCont {
    overflow: auto;
    width: 708px;
    height: 93%;
    background: #fff;
}

.rule .illustrate .lineBorder {
    width: 660px;
    margin: 0 auto;
    display: table;
    border-bottom: 1px solid rgba(116, 136, 145, 0.13);
}

.rule .illustrate .title {
    height: 52px;
    line-height: 52px;
    font-size: 15px;
    color: #666666;
    border-bottom: solid 1px #D8D8D8;
    padding-left: 20px;
    overflow: hidden;
}

.rule .illustrate .title i {
    cursor: pointer;
    display: inline-block;
    background: url("/images/img10/v3/discover/billboard/icon-artboard.png") no-repeat;
    width: 15px;
    height: 15px;
    float: right;
    margin: 20px 20px 0 0;
    vertical-align: middle;
}

.rule .illustrate .illustrateText {
    font-size: 14px;
    color: #9B9B9B;
    line-height: 22px;
    padding: 2px 24px;
    border-bottom: solid 1px #D8D8D8;
}

.rule .illustrate .illustrateTitle {
    width: 363px;
    margin: 49px auto 29px;
    border-bottom: solid 1px #D8D8D8;
    position: relative;
}

.rule .illustrate .illustrateTitle i {
    font-size: 18px;
    color: #FF9224;
    padding: 0 20px;
    background: #fff;
    position: absolute;
    left: 100px;
    top: -9px;
}

.rule .illustrate ul li {
    margin: 0 45px 30px;
}

.rule .illustrate ul li i {
    width: 8px;
    height: 8px;
    display: inline-block;
    -webkit-transform: rotate(-315deg);
        -ms-transform: rotate(-315deg);
            transform: rotate(-315deg);
    background: #FE9225;
    margin-right: 9px;
    vertical-align: middle;
}

.rule .illustrate ul li p {
    font-size: 16px;
    color: #808080;
    margin-left: 17px;
}

.rule .illustrate ul li p.firstImg {
    display: inline-block;
    vertical-align: middle;
}

.rule .illustrate ul li p.firstImg img {
    width: 24px;
    height: 24px;
}

.rule .illustrate ul li .other {
    font-size: 16px;
    color: #666666;
    display: inline-block;
    width: 500px;
    line-height: 30px;
    vertical-align: text-top;
}

.rule .illustrate ul li em {
    font-size: 16px;
    color: #666666;
    display: block;
    margin-left: 17px;
    margin-bottom: 11px;
}

.rule .illustrate ul li em span {
    font-size: 14px;
    color: #808080;
    margin-left: 11px;
}

.rule .illustrate ul li .smallText {
    font-size: 14px;
    color: #909090;
    margin: 0 0 0 17px;
    line-height: 22px;
}

.rule .illustrate ul li .smallText span {
    display: inline-block;
    vertical-align: top;
}

.rule .illustrate ul li .smallText b {
    display: inline-block;
    font-weight: normal;
    width: 525px;
    margin-bottom: 6px;
}

.rule .illustrate ul li .column {
    display: inline-block;
    font-size: 16px;
    color: #666666;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 0;
}

.rule .illustrate ul li .column span {
    margin-left: 20px;
}

.rule .reward {
    margin-top: 30px;
    padding-bottom: 40px;
}

.rule .reward .rewardTitle {
    width: 305px;
    height: 27px;
    margin: 0 auto 17px;
    background: url("/images/img10/v3/discover/billboard/bg-bonus.png") no-repeat;
    font-size: 20px;
    color: #FE9225;
    line-height: 27px;
    text-align: center;
}

.rule .reward .rewardText {
    width: 660px;
    margin: 0 auto;
    padding: 26px 0 14px;
    background: rgba(254, 145, 36, 0.05);
}

.rule .reward .rewardText ul li {
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    margin: 0 0 12px 20px;
}

.rule .reward .rewardText ul li i {
    -webkit-transform: inherit;
        -ms-transform: inherit;
            transform: inherit;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    background: #FE9225;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
}

.upToDate {
    display: inline-block;
    width: 51px;
    height: 16px;
    background: url(/images/img10/v3/discover/billboard/bg-ranknew.png) no-repeat;
    font-size: 10px;
    color: #5DC82A;
    line-height: 16px;
    padding-left: 22px;
    margin-left: 10px;
}

.continuityWeek {
    display: inline-block;
    width: 71px;
    height: 16px;
    background: url(/images/img10/v3/discover/billboard/bg-rankconsecutive.png) no-repeat;
    font-size: 10px;
    color: #FF9224;
    line-height: 16px;
    padding-left: 22px;
    margin-left: 10px;
}

.al-discover_sidebar .al-discover_sidebarMain .al-submit-invalid {
    background-color: #2899E6;
    color: #fff;
    cursor: default;
    opacity: 0.7;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #aaa;
    font-size: 14px;
}

　　:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaa;
    font-size: 14px;
}

　　::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa;
    font-size: 14px;
}

　　:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #aaa;
    font-size: 14px;
}

.applyBtn {
    float: right;
}

.contribution .contributionLeft .conList li.listNone {
    padding: 140px 0 160px 0;
    text-align: center;
}

.al-mainInner {
    background: #fff;
}

.columnList {
    margin-left: -50px;
}

.columnList:after {
    content: '';
    display: table;
    clear: both;
}

.columnList li {
    width: 300px;
    height: 337px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 8px 0 rgba(98, 111, 140, 0.2);
            box-shadow: 0 2px 8px 0 rgba(98, 111, 140, 0.2);
    border-radius: 10px;
    border: solid 1px #dfdfdf \9;
    margin-top: 30px;
    float: left;
    margin-left: 50px;
    margin-left: 48px \9;
}

.columnList li:hover {
    background: #FFFFFF;
    -webkit-box-shadow: 0 4px 24px 0 rgba(98, 111, 140, 0.3);
            box-shadow: 0 4px 24px 0 rgba(98, 111, 140, 0.3);
    border-radius: 10px;
}

.columnList li:nth-child(3n) {
    margin-right: 0;
}

.columnList li .boneClass {
    margin: -30px 0 0 30px;
    position: relative;
    width: 200px;
    height: 160px;
    margin-bottom: 29px;
    z-index: 2;
}

.columnList li .boneClass i {
    position: absolute;
    width: 128px;
    height: 100px;
    bottom: 0px;
    left: 50%;
    margin-left: -48px;
    -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.3);
}

.columnList li .boneClass img {
    width: 240px;
    height: 160px;
    border-radius: 8px;
    position: relative;
    z-index: 3;
}

.columnList li .boneTitle {
    font-size: 22px;
    color: #222222;
    line-height: 22px;
    margin: 7px 0 10px 36px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

.columnList li .boneTitle:hover {
    color: #2899e6;
}

.columnList li .type {
    font-size: 16px;
    color: #AAAAAA;
    line-height: 16px;
    margin-left: 36px;
}

.columnList li .type:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    opacity: 0.3;
    background: #AAAAAA;
    border-radius: 100px;
    margin-top: 12px;
}

.columnList .boneClassList p {
    font-size: 16px;
    color: #909090;
    margin-top: 10px;
    -o-text-overflow: -o-ellipsis-lastline;
       text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 245px;
    margin-left: 36px;
    line-height: 22px;
    /*&:before{
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                background: #FFA800;
                border-radius: 100px;
                vertical-align: middle;
                margin-right: 10px;
            }*/
}

.columnList .boneTime {
    font-size: 14px;
    color: #2899E6;
    padding: 0 10px;
    height: 22px;
    line-height: 22px;
    background: #F0F9FF;
    border-radius: 2px;
    float: left;
    margin: 16px 0 0 36px;
    display: none !important;
}

.discoverColumn
.title {
    margin: 40px 0;
}

.discoverColumn
.title:after {
    content: '';
    display: table;
    clear: both;
}

.discoverColumn
.title p {
    padding: 0 10px;
    background: #fff;
    height: 24px;
    line-height: 24px;
    float: left;
}

.discoverColumn
.title .text {
    background: url("//img10.allinmd.cn/v3/discover/discoverV2/lineTitle.png") repeat-x;
    width: 647px;
    height: 24px;
    line-height: 24px;
    float: left;
    font-size: 24px;
    color: #555555;
    font-weight: bold;
    padding-left: 20px;
}

.discoverColumn
.title .text span {
    font-size: 14px;
    color: #E5E5E5;
    font-family: airal;
    margin-left: 10px;
    vertical-align: bottom;
}

.discoverColumn
.title .more {
    float: right;
    font-size: 18px;
}

.discoverColumn
.title .more a {
    color: #626F8C;
}

.discoverColumn
.title .more:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url("//img10.allinmd.cn/v3/discover/discoverV2/icon-arrow.png") no-repeat;
    vertical-align: middle;
    margin-left: 6px;
}

.discoverColumn
.title .change {
    float: right;
    font-size: 18px;
}

.discoverColumn
.title .change a {
    color: #626F8C;
}

.discoverColumn
.title .change:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("//img10.allinmd.cn/v3/discover/discoverV2/icon_refresh.png") no-repeat;
    vertical-align: middle;
    margin-left: 6px;
}

.al-mainInner {
    background: #fff;
}

.al-mainInner .discoverColumn .title {
    margin: 50px 0 20px;
}

.al-more-column {
    font-size: 18px;
    color: #AAAAAA;
    margin-top: 60px;
    text-align: center;
}

.specialColumn {
    width: 1000px;
    margin: 0 auto;
}

.specialColumn li {
    margin-top: 64px;
}

.al-mainFooter {
    background: #F6F9FB;
    -webkit-box-shadow: 0 2px 3px 4px rgba(0, 0, 0, 0.04);
            box-shadow: 0 2px 3px 4px rgba(0, 0, 0, 0.04);
}
