@charset "utf-8";
/* CSS Document */
.doc_main{
	background:#ffffff;
	padding:0 0 40px 0;
}
.doc_content{
	width:1000px;
	margin:0 auto;
}
.pointer_banner{
	position: absolute;
	left: 476px;
	bottom: 15px;
	z-index: 10;
}
.doc_banner{
	position:relative;
}
.pointer_banner li {
	float: left;
	margin-left: 20px;
}
.floor_tag_l,.floor_tag_c,.floor_tag_r{
	float:left;
	margin-top:30px;
}
.floor_tag_l{
	margin-right:85px;
	width:290px;
}
.floor_tag a{
	color:#555555;
	text-decoration:none;
}
.floor_tag a:link,.floor_tag a:active,.floor_tag a:visited{
    color:#555555;
}
.floor_tag a:hover{
    color:#3d84c6;
}
.floor_tag_c{
	margin-right:85px;
	width:290px;
}
.floor_tag_r{
	width:247px;
}
.floor_tag_l ul,.floor_tag_c ul,.floor_tag_r ul{
	margin:12px 0 12px 0;
}
.floor_tag_l li,.floor_tag_c li,.floor_tag_r li{
	float:left;
	line-height:15px;
	color:#555555;
	font-size:15px;
	margin:7px 15px 7px 0;
}
.doc_fl_title{
	background:url(//img00.allinmd.cn/channel/doc/title_line.jpg) top center repeat-x;
	height:45px;
	margin-top:10px;
}
.doc_fl_t_l{
	background:url(//img00.allinmd.cn/channel/doc/title_bg.png) no-repeat;
	height:45px;
	float:left;
	line-height:40px;
	font-size:18px;
	color:#fff;
	width:105px;
	text-align:center;
}
.doc_fl_t_r{
	float:right;
	font-size:14px;
	color:#3d84c6;
	background:url(//img00.allinmd.cn/channel/doc/more_bg.png) no-repeat right center;
	padding-right:15px;
	cursor:pointer;
}
.doc_fl_t_r a{
	color:#666;
	font-size:12px;
	text-decoration:none;
	font-family:"宋体";
}
.doc_fl_list li{
	float:left;
	margin:30px 51px 0 0;
	width:140px;
	height:262px;
}
.doc_list_text{
	font-size:13px;
	color:#555;
	line-height:20px;
	margin:12px 0;
}
.doc_list_text a:link,
.doc_list_text a:active,
.doc_list_text a:visited{
	color:#555;
	text-decoration:none;
}
.doc_list_text a:hover{
    color: #3D84C6;
}
.doc_list_author{
	font-size:12px;
	line-height:12px;
	color:#909090;
}
.doc_list_author .authorIcon{
	float: left;
	background:url(//img00.allinmd.cn/channel/doc/user_bg.png) no-repeat;
	width: 12px;
    height: 12px;
    margin-right: 6px;
}
.doc_list_author span{
	margin-right:10px;
}
.doc_cont_left{
	width:715px;
	float:left;
}
.doc_cont_right{
	float:right;
	width:245px;
	margin-top:20px;
}
.doc_fl{
	padding-bottom:20px;
}
.doc_jy_list li{
	float:left;
	width:225px;
	margin:30px 20px 0 0;
	height:228px;
}
.have_zy{
	font-size:18px;
	color:#3a9eeb;
	text-align:center;
}
.doc_sc_but{
	margin:10px 0 20px 0;
	cursor:pointer;
}
.doc_list_img img{
	width:136px;
	height:186px;
	border: #e7e7e7 solid 1px;
	padding:1px;
}
.doc_jy_list .doc_list_img img{
	width:221px;
	height:146px;
	padding:1px;
	border: #e7e7e7 solid 1px;
}
