@charset "utf-8";
/* CSS Document */
.fellow_content {
	background:#fff;
	padding-bottom:30px;
}
.fellow_banner {
	background:url(//img00.allinmd.cn/fellow/banner.jpg) no-repeat center;
	height:450px;
}
.fellow_nav {
	width:1000px;
	background:url(//img00.allinmd.cn/fellow/nav_bg.png) no-repeat center;
	height:63px;
	position:absolute;
	left:0;
	top:-30px;
	z-index:8;
}
.f_nav {
	position:relative;
	width:1000px;
	margin:0 auto;
	height:30px;
}
.f_nav_ul {
	width:992px;
	margin:0 auto;
}
.f_nav_ul li {
	float:left;
	width:198px;
	line-height:50px;
	height:50px;
	text-align:center;
	font-family: "Microsoft Yahei";
	font-size: 19px;
	color: #333;
	position:relative;
	background:url(//img00.allinmd.cn/fellow/nav_bg_line.png) no-repeat right;
	margin-top: 5px;
}
.f_nav_ul li:nth-last-child(2){
	background:none;
}
.f_nav_ul a{
	float:left;
	width:100%;
	height:100%;
	color:#333;	
}
.f_nav_ul .f_b_on {
	color: #fff !important;
	background:#1383d1 !important;
}
.f_b_on a{
	color: #fff;	
}
.f_nav_ul .f_left_on {
	color: #fff !important;
	background: url(//img00.allinmd.cn/fellow/nav_left.png) no-repeat;
}
.f_nav_ul .f_left_on a{
	color: #fff;	
}
.f_nav_ul .f_right_on{
	color: #fff !important;
	background:url(//img00.allinmd.cn/fellow/nav_right.png) no-repeat !important;
}
.f_nav_ul .f_right_on a{
	color: #fff;	
}
.hw_xm {
	margin-top:60px;
	position:relative;
}

.hw_xm02{
	margin-top:60px;	
}
.hw_xm_cont {
	font-size: 18px;
	line-height: 36px;
	color: #666;
	padding-top:70px;
}
.f_content {
	width:1000px;
	margin:30px auto;
	font-family: "Microsoft Yahei";
}
.hw_xm_title {
	position:absolute;
	left:-15px;
	top:0;
	z-index:10;
}
.hw_user_text {
	background:url(//img00.allinmd.cn/fellow/zhuye_line.jpg) no-repeat bottom;
	width:1030px;
	height:52px;
}
.hw_user_text_l {
	background:url(//img00.allinmd.cn/fellow/zhuye_title_l.jpg) no-repeat 25px;
	width:50px;
	height:52px;
	float:left;
}
.hw_user_text_c {
	background:url(//img00.allinmd.cn/fellow/zhuye_title_c.jpg) repeat-x;
	width:auto;
	height:52px;
	float:left;
	line-height:65px;
	font-size:24px;
	padding:0 15px;
	color:#fff;
}
.hw_user_text_c span {
	font-size:18px;
}
.hw_xm_user_cont {
	padding-top:110px;
}
.zhuye_left {
	float:left;
	width:268px;
}
.zhuye_right {
	float:left;
	width:730px;
}
.zhuye_right li {
	float:left;
	width:212px;
	margin-left:18px;
}
.zhuye_right li .zhuye_right_img {
	background:url(//img00.allinmd.cn/fellow/zhuye_bg_img.png) no-repeat;
	width:208px;
	height:198px;
	padding:6px 0 0 6px;
}
.user_right_name {
	width:216px;
	font-size:18px;
	color:#666666;
	line-height:30px;
	height: 60px;
	overflow: hidden;
}
.zy_ads {
	margin-bottom:50px;
	height:264px;
}
.hw_xm_user_img {
	margin:0 26px;
}
.hw_xm_user_name {
	width:216px;
	font-size:16px;
	color:#666666;
	line-height:30px;
	margin:0 26px;
	height: 60px;
	overflow: hidden;
}
.hw_user_text_r {
	background:url(//img00.allinmd.cn/fellow/zhuye_title_r.jpg) no-repeat;
	width:50px;
	height:52px;
	float:left;
}
.hw_user_text {
	position:absolute;
	left:-15px;
	top:25px;
	z-index:10;
}
.hw_margin {
	margin-top:20px;
}
.zy_margin {
	padding-top:130px;
}
.bm_gz {
	margin-top:50px;
}
.bm_top {
	/*margin-top:80px;*/
}
.rule_ul {
	margin-top:10px;
}
.rule_ul li {
	font-family: "Microsoft Yahei";
	font-size: 18px;
	color: #666666;
	line-height: 45px;
}
.xb_lc_l {
	background:url(//img00.allinmd.cn/fellow/gz_line.jpg) repeat-y;
	width:auto;
	height:auto;
	margin-top:30px;
	padding-left:80px;
	padding-top:1px;
}
.xb_lc_content {
	position:relative;
	padding-bottom:60px;
}
.one {
	margin-top:30px;
	position:absolute;
	left:-80px;
	top:-35px;
	z-index:40;
}
.xb_gz_title {
	margin-top:37px;
}
.xb_gz_title_l {
	background:url(//img00.allinmd.cn/fellow/title_l_bg.jpg) no-repeat;
	width:7px;
	height:46px;
	float:left;
}
.xb_gz_title_c {
	background:url(//img00.allinmd.cn/fellow/title_c_bg.jpg) repeat-x;
	width:auto;
	height:46px;
	line-height:46px;
	font-size:24px;
	font-family: "Microsoft Yahei";
	color:#fff;
	padding:0 15px;
	display: inline-block;
}
.xb_gz_title_r {
	background:url(//img00.allinmd.cn/fellow/title_r_bg.jpg) no-repeat;
	width:12px;
	height:46px;
	float:left;
}
.xb_gz_title_c span {
	font-size:16px;
}
.xb_gz_cont {
	font-family: "Microsoft Yahei";
	font-size: 17px;
	color: #666;
	line-height: 30px;
	margin:7px 0 0 5px;
}
.gz_line_bottom {
	width:50px;
	height:8px;
	background:url(//img00.allinmd.cn/fellow/gz_line_bottom.jpg) no-repeat bottom;
}
.hw_user_text_jx {
	position: absolute;
	left: -15px;
	top: 20px;
	z-index: 8;
	background: url(//img00.allinmd.cn/fellow/zhuye_line.jpg) no-repeat bottom;
	width: 1030px;
	height: 52px;
}
.nass_content_img, .nass_content_text {
	float:left;
}
.nass_content {
	padding:110px 0 0 0;
}
.nass_content_img {
	background:url(//img00.allinmd.cn/fellow/jx_ads_bg.png) no-repeat;
	height:218px;
	width:306px;
	padding:6px 0 0 6px;
	margin:0 30px 0 20px;
}
.nass_content_text {
	float:left;
	width:620px;
	font-size:16px;
	line-height:28px;
	color:#666;
}
.nass_text_top {
	height:150px;
	overflow:hidden;
}
.liji_sq {
	float:right;
}
.liji_sq .apply{
	cursor:pointer;
}
.nass_school_text {
	background:url(//img00.allinmd.cn/fellow/school.png) no-repeat 40px;
	height:33px;
	margin:20px 0;
	font-size:20px;
	line-height:40px;
	color:#808080;
	padding-left:85px;
	vertical-align:bottom;
}
.nass_school_list li {
	background:url(//img00.allinmd.cn/fellow/pointer.png) no-repeat 40px center;
	height:32px;
	line-height:32px;
	font-size:16px;
	color:#7789af;
	width:440px;
	float:left;
	padding-left:50px;
}


.f_content01{
	width:1000px;
	margin:0 auto;
	padding-bottom:60px;
}
.floor01{
	height:auto;
	width:998px;
	border:solid 1px #dbdbdd;
	margin-top:60px;
}
.floor01_title{
	height:40px;
	width:996px;
	border:solid 1px #fff;
	line-height:40px;
	background:#efefef;
	font-size:14px;
	color:#696969;
}
.sq_xm,.sq_sj,.sq_zt{
	float:left;
}
.sq_xm{
	width:500px;
	text-align:center;
}
.sq_sj{
	width:170px;
	text-align:center;
}
.sq_zt{
	width:325px;
	text-align:center;
}
.floor01_02{
	height:0;
	overflow:hidden;	
}
.floor01_h01{
	height:55px;
	border-top:solid 1px #dbdbdd;
	line-height:55px;
	font-size:14px;
	color:#333;
}
.zt_text_normal{
	float:right;
	margin-right:55px;
}
.zt_text_no{
	float:right;
	margin-right:55px;
	color:#969696;
}
.zt_img{
	float:right;
	margin-top:15px;
	margin-right:50px;
}
.floor01_h02{
	border-top:solid 1px #dbdbdd;
	padding:20px 0 0 20px;
}
.floor01_h03{
	border-top:solid 1px #dbdbdd;
	padding:30px 0;
	text-align:center;
}
.can_submit{
	cursor:pointer;	
}
.floor01_04{
	height:0;
	overflow:hidden;	
}
.floor01_h04_no{
	margin:0 20px 8px 20px;
	border-top:solid 1px #f4f4f4;
	line-height:24px;
	background:url(//img00.allinmd.cn/fellow/tanhao.png) no-repeat left 12px;
	color:#969696;
	padding:8px 0 0 25px;
}
.floor01_h04_yes{
	margin:0 20px 8px 20px;
	border-top:solid 1px #f4f4f4;
	line-height:24px;
	background:url(//img00.allinmd.cn/fellow/tg.png) no-repeat left 12px;
	color:#969696;
	padding:8px 0 0 25px;
}

.wanshan_click{
	background:url(//img00.allinmd.cn/fellow/ws_bg.jpg) no-repeat;
	width:419px;
	height:105px;
	padding:30px 20px 0 30px;
	margin:0 20px 20px 0;
	float:left;
}
.wanshan_normal{
	background:url(//img00.allinmd.cn/fellow/ws_mr.jpg) no-repeat;
	width:419px;
	height:105px;
	padding:30px 20px 0 30px;
	margin:0 20px 20px 0;
	float:left;
}
.wanshan_after{
	background:url(//img00.allinmd.cn/fellow/bj_bg.png) no-repeat;
	width:419px;
	height:105px;
	padding:30px 20px 0 30px;
	margin:0 20px 20px 0;
	float:left;
}
.ws_title_text{
	float:left;
}
.ws_title_but{
	float:right;
	margin-left:10px;
	position:relative;
}
.ws_title_but img{
	cursor:pointer;	
}
.uploadIng{
	display:none;	
}
.ws_title_text{
	font-size:16px;
	color:#333;
	line-height:25px;
	font-size:microsoft yahei;
	font-weight:bold;
}
.xjg_text{
	font-size:14px;
	color:#696969;
	margin-top:10px;
}
.fellow_no_login{
	width:1000px;
	height:auto;
	border:solid #e1e1e1 1px;
	border-bottom:none;
	padding:130px 0;
	text-align:center;
}
.f_no_text{
	color:#666;
	font-size:20px;
	font-size:microsoft yahei;
	margin-bottom:30px;
}
.f_no_bottom{
	background:url(//img00.allinmd.cn/fellow/no_login_bottom.png) no-repeat;
	width:1002px;
	height:4px;
}
.f_no_but{
	background:url(//img00.allinmd.cn/fellow/xuan_school_bg.png) no-repeat;
	width:242px;
	height:55px;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	margin: 0 auto;
}
.f_no_but a{
	color:#fff;
	display:block;
	width:100%;
	height:100%;
}

































/*弹层*/
.tanceng_fellow_t {
	background:url(//img00.allinmd.cn/fellow/tc_top_bg.png) no-repeat;
	width:434px;
	height:43px;
	line-height:43px;
	padding-left:20px;
	font-size:16px;
	clear:#666;
	font-family:microsoft yahei;
}
.tanceng_fellow_c {
	background:url(//img00.allinmd.cn/fellow/tc_center_bg.png) repeat-y;
	width:454px;
	height:auto;
	line-height:43px;
	
}
.tc_padding{
	padding:45px 0 0 50px;
}
.tishi_xx{
	float:left;
	font-weight:bold;
}
.tc_close{
	float:right;
	width:13px;
	height:12px;
	margin:6px 0 0 6px;
}
.tanceng_fellow_b {
	background:url(//img00.allinmd.cn/fellow/tc_bottom_bg.png) no-repeat;
	width:454px;
	height:43px;
}
.tanceng_fellow_b02{
	background:url(//img00.allinmd.cn/fellow/tc_bottom_bg02.png) no-repeat;
	width:454px;
	height:19px;
}
.tanceng_fellow_t02{
	background:url(//img00.allinmd.cn/fellow/tc_line.png) no-repeat;
	width:454px;
	height:1px;
}
.tanceng_fellow_c02 {
	background:url(//img00.allinmd.cn/fellow/tc_center_bg02.png) repeat-y;
	width:454px;
	height:auto;
	line-height:43px;
	
}

.tc_title{
	font-size:18px;
	color:#333;
	font-family:microsoft yahei;
	line-height:18px;
}
.tc_cont_list li{
	float:left;
	width:122px;
	margin-top:30px;
	font-size:12px;
	color:#969696;
	line-height:12px;
}
.tc_but{
	margin:30px 0 0 0;
	text-align:center;
}
.tc_cont{
	width:190px;
	margin:0 auto;
	padding-top:60px;
	background:url(//img00.allinmd.cn/fellow/dui.png) no-repeat left 60px;
	padding-left:60px;
}
.tc_title_ci{
	font-size:12px;
	color:#969696;
	line-height:18px;
	margin-top:7px;
}
.tc_cont01{
	padding:30px 20px 0 20px;
}
.tc_cont_text{
	font-size:12px;
	color:#969696;
	line-height:24px;
	margin-top:25px;
}
.tc_title_ds{
	color:#696969;
	font-size:16px;
	line-height:16px;
	font-family:microsoft yahei;
	margin-top:30px;
}
.tc_title_name{
	font-size:14px;
	color:#696969;
	line-height:14px;
	margin-top:25px;
}
.tc_cont_text02{
	font-size:12px;
	color:#969696;
	line-height:24px;
	margin-top:10px;
}
.shuru_text{
	float:left;
	width:78px;
	text-align:right;
	font-size:12px;
	color:#969696;
	line-height:30px;
	height:30px;
}
.tc_shuru_xx{
	padding:20px 0;
}
.shuru01{
	margin:0 0 0 27px;
	padding-top:10px;
}
.shuru_input{
	float:left;
	margin-left:20px;
}
.select_cont{
	float:left;
	margin-left:20px;
}
.shuru_input input{
	background:url(//img00.allinmd.cn/fellow/input_bg.png) no-repeat;
	height:30px;
	line-height:30px;
	width:210px;
	border:none;
	padding-left:10px;
}
.shuru_input .error{
	color:#4a4a4a;
	font-size: 12px;	
}
.select_cont select{
	float:left;
	width:68px;
	height:25px;
	line-height:25px;
	color:#666666;
}
.select02,.select03{
	margin-left:8px;
}
.tc_cont_02{
	padding:20px 0 0 0;
}
.check{
	line-height:18px;
	font-size:12px;
	margin-left:80px;
	color:#969696;
	width:220px;
}
.shuru_input select{
	width:220px;
	height:30px;
}
.check input{
	margin:0 5px 0 0 ;
}
.tc_but_bottom{
	margin-left:130px;
	margin-top:20px;
}
.tc_but01,.tc_but02{
	float:left;
	margin-right:10px;
}
.tc_but01 img,.tc_but02 img{
	cursor:pointer;	
}
.tc_upload{
	padding:30px 0 0 40px;
}
.tc_bg_bg{
	background:url(//img00.allinmd.cn/fellow/tc_wd_bg.png) no-repeat;
	width:349px;
	height:54px;
	padding:10px 0 0 16px;
	margin-bottom:10px;
}
.wd_lx,.wd_text{
	float:left;
	margin-right:20px;
}
.wd_text{
	margin-top:5px;
}
.wd_text div{
	font-size:12px;
	color:#969696;
	line-height:18px;
}
.tc_delete{
	font-size:12px;
	color:#409ce0;
	float:right;
	margin-right:20px;
	cursor:pointer;
}
.tc_th{
	font-size:13px;
	color:#969696;
	line-height:16px;
	margin:0 0 15px 0;
}
.tc_ts{
	padding:80px 0;
	text-align:center;
}
.tc_ts_text{
	font-size:18px;
	color:#969696;
	font-family:microsoft yahei;
}
.tc_ts_but{
	margin:10px 0 0 145px;
}
.xx_ybc{
	background:url(//img00.allinmd.cn/fellow/ok_bg.png) no-repeat;
	width:371px;
	height:244px;
}
.bc_after{
	width:150px;
	margin:0 auto;
	padding-top:100px;
	background:url(//img00.allinmd.cn/fellow/dui.png) left 100px  no-repeat;
	height:40px;
	line-height:40px;
	font-size:18px;
	padding-left:55px;
	font-family:microsoft yahei;
	color:#fff;
}
.jxl_after{
	display:none;
	background:url(//img00.allinmd.cn/fellow/jxl.png) no-repeat;
	width:371px;
	height:245px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -185px;
	margin-top: -122px;
}
.cancel_mask{
	display:none;
	background:#000;
	opacity:0.3;
	filter:alpha(opacity=30);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;	
}
.jxl_but01{
	float:left;
	width:175px;
	margin-right:20px;
	text-align:right;
}
.jxl_but02{
	float:left;
	width:175px;
	text-align:left;
}
.jxl_but01 img,.jxl_but02 img{
	cursor:pointer;	
}
.jxl_after_but{
	padding-top:130px;
}
.resume,.recommend,.newResume{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 100px;
	opacity: 0;
	filter: alpha(opacity=0);
}
.js_anli{
	position:relative;
}
.apply_text{
	font-size: 18px;
	color: #969696;
	font-family: microsoft yahei;
	width: 220px;
	margin: 0 auto;
	line-height: 28px;	
}
.jx_sc{
    display:none;		
}
















/* 拜耳项目 */
.bayer{
	background:url(//img00.allinmd.cn/channel/fellowship/bayer.jpg) no-repeat center;
	height:450px;
}
.fellow_hospital_title{
	margin:55px 0 33px 0;
}
.fellow_hospital_list{
	margin-bottom:30px;
}
.fellow_hospital_list li{
	float:left;
	width:309px;
	height:38px;
	line-height:38px;
	border:solid 1px #969696;
	margin:0 33px 30px 0;
	cursor:pointer;
}
.fs_hospital_province{
	float:left;
	width:74px;
	height:36px;
	margin:1px;
	text-align:center;
	font-size:18px;
	color:#fff;
	background:#969696;
}
.fs_hospital_name{
	font-size:16px;
	color:#666666;
	margin-left:9px;
	float:left;
}
.fellow_hospital_list .fs_no_margin{
	margin-right:0;
}
.fellow_hospital_list li:hover{
	border:solid 1px #1383d1;
}
.fellow_hospital_list li:hover .fs_hospital_province{
	background:#1383d1;
}
.fellow_hospital_list li:hover .fs_hospital_name{
	color:#1383d1;
}
.fellow_hospital_list li:active{
	border:solid 1px #1383d1;
}
.fellow_hospital_list li:active .fs_hospital_province{
	background:#1383d1;
}
.fellow_hospital_list li:active .fs_hospital_name{
	color:#1383d1;
}
.fellow_hospital_list li:nth-last-child(3n){
	margin-right:0;
}




.bayer_al{
	margin-top:50px;
}
.bayer_al ul:after{
	clear:both;
	content:" ";
	height:0;
	display:block;
	overflow:hidden;
}
.bayer_al li{
	float:left;
	width:315px;
	margin:0 27px 30px 0;
}
.bayer_al_img{
	background:url(//img00.allinmd.cn/channel/fellowship/bayer_bg.png) no-repeat;
	height:197px;
	padding:6px 0 0 6px;
}
.bayer_al_name{
	font-size: 16px;
	color: #666666;
	margin-top:5px;
}
.bayer_al li:nth-last-child(3n-2){
	margin-right:0;
}
.bayer_rule_cont{
	font-size: 18px;
	line-height: 36px;
	color: #666;
	margin-top:20px;
}
.bayer_rule_margin{
	margin-bottom:50px;
}










/* 拜耳弹层 */
.fs_popup_main{
	
}
.fs_popup_cont{
	width:452px;
	background:#fff;
}
.fs_popup_title_l{
	float:left;
	font-size:16px;
	color:#666;
	padding-left:20px;
	font-weight:bold;
}
.fs_popup_title_r{
	float:right;
	margin:15px 15px 0 0;
}
.fs_popup_title{
	height:40px;
	line-height:40px;
	border-bottom:solid 1px #e1e3e4;
	background:#f5f5f5;
}
.fs_popup_content{
	padding:30px 44px 35px;
}
.fs_popup_bmzt{
	background:url(//img00.allinmd.cn/channel/fellowship/tanhao.png) no-repeat;
	height:16px;
	line-height:16px;
	font-size:16px;
	color:#666;
	font-weight:bold;
	padding-left:25px;
	margin-bottom:30px;
}
.fs_popup_true{
	background:url(//img00.allinmd.cn/channel/fellowship/true.png) no-repeat;
}
.fs_popup_border{
	width:340px;
	height:60px;
	background:#f0f7fa;
	border:solid 1px #e0e3e8;
	border-radius:3px;
	font-size:12px;
	color:#969696;
	line-height:18px;
	padding:10px;
}
.fs_popup_but {
	margin: 30px auto 0;
	/* display: inline-block; */
	width:204px;
}
.fs_popup_but_div{
	width:97px;
	height:28px;
	line-height:28px;
	font-size:12px;
	color:#fff;
	text-align:center;
	display: inline-block;
	float: left;
	background:#3a9eeb;
	border-radius:3px;
	cursor:pointer;
}
.fs_popup_but_div a{
	color:#fff;
}
.fs_popup_but_yes {

}
.fs_popup_but_no {
	margin-left: 10px;
}
.fs_popup_but02{
	width:97px;
}





.fs_name_list_title{
	font-size: 24px;
	color:#FD7304;
}
.fs_name_list_content{
	padding: 29px 0;
}
.fs_name_list_content table {
	border-collapse: collapse;
	font-size: 14px;
	font-family: microsoft yahei;
	color: #000;
}
.fs_name_list_content td {
	border: #dbdbdb solid 1px;
}
.clear_both:after{ 
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nass_content_top:after,.nass_school_list:after{ 
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


.shuru_text_01{
	float:left;
	text-align:right;
	font-size:12px;
	color:#969696;
	line-height:30px;
	height:30px;
	margin-left: 20px;
}
