/* �°���ҳ */
.index_v2_cont{
	background:#fff;
	padding-bottom:120px;
}
.index_e_list{
	margin-top:60px;
}
.index_e_list li{
	position:relative;
	width:240px;
	height:333px;
	float:left;
	margin-right:10px;
}
.index_e_list li .i_e_li{
	width:240px;
	height:333px;
	border:solid 1px #e2e3e5;
	background:#f7f8fa;
	text-align:center;
}
.i_e_img img{
	width:130px;
	height:130px;
	border:5px solid #dae0ec;
	border-radius:50%;
	margin:30px 0 20px;
}
.index_e_list li .i_e_li:hover{
	position:absolute;
	left:-5px;
	top:-1px;
	z-index:2;
	background:url(//img00.allinmd.cn/channel/index_v2/user_bg_hover.png) no-repeat;
	width:254px;
	height:347px;
	border:none;
}
.index_e_list li .i_e_li:hover .i_e_img img{
	border:5px solid #3d84c6;
}
.i_e_name{
	font-size:18px;
	color:#333;
	line-height:18px;
	margin-bottom:12px;
}
.i_e_Jobtitle,.i_e_hospital{
	font-size:12px;
	color:#555;
	line-height:12px;
	margin-bottom:8px;
}
.i_e_profile{
	width:200px;
	margin:0 auto;
	font-size:13px;
	color:#555;
	line-height:20px;
	margin-top:17px;
}
.resources_title{
	background:url(//img00.allinmd.cn/channel/index_v2/zy_title.png) no-repeat center;
	margin:120px 0 20px;
	height:38px;
}
.index_expert_title{
	background:url(//img00.allinmd.cn/channel/index_v2/tj_allin.png) no-repeat center;
}
.index_downland_title{
	background:url(//img00.allinmd.cn/channel/index_v2/app_downland.png) no-repeat center;
}

.resources_list li{
	margin:60px 0 0 60px;
	height:140px;
}
.resources_list a:hover li .resources_list_cont{
	margin:2px 0 0 2px;
}
.resources_list a:hover .case_a_title{
	color:#388dcf;
}
.resources_list a:hover .video_a_title{
	color:#bc5f62;
}
.resources_list a:hover .doc_a_title{
	color:#93b674;
}
.resources_list a:hover .meeting_a_title{
	color:#b07ca7;
}
.resources_list_l{
	float:left;
	width:467px;
}
.resources_list_r{
	float:left;
}
.resources_icon{
	float:left;
	margin-right:20px;
}
.resources_text{
	float:left;
	margin:32px 0 0 0;
	width:240px;
}
.resources_text_title{
	font-size:23px;
	color:#4f4f4f;
	font-weight:bold;
	line-height:23px;
}
.resources_text_brief{
	font-size:16px;
	color:#808080;
	line-height:22px;
	margin-top:12px;
}
.video_brief_width{
	width:200px;
}
.meeting_brief_width{
	width:225px;
}

.i_a_downland_list li{
	margin:60px 10px 0 0;
	width:240px;
	height:240px;
	border:solid 1px #e1e3e4;
	float:left;
	text-align:center;
}
.i_a_downland_list a:hover li{
	border:solid 1px #036eb8;
}
.i_a_text{
	font-size:15px;
	color:#0d456d;
}
.i_a_icon{
	margin:60px auto 19px;
	height:83px;
	width:83px;
}