.meetingTopLeft a,.meetingTopRight a,.recommendConf a,.meetingMidTitle a,a.seeMore{
    text-decoration:none;
}
.meeting_wrap{
    width: 100%;
    background-color:#efeff4;
    padding: 40px 0 60px;
    border-bottom: 1px solid #e2e7ee;
    border-top: 1px solid #e2e7ee;
}
.meetingPast .meeting_with {
    /*margin-top: -13px;*/
    background: #fff;
}
.meeting_with{
    width: 1000px;
    margin: 0 auto;

}
.meetingTop{
    height:390px;
}
.meetingTopLeft{
    float: left;
    width: 708px;
    position: relative;
    height: 390px;
    overflow: hidden;
}
.meetingTopLeft>ul{
    position:relative;
    height:390px;
}
.meetingTopLeft>ul li{
    float:left;
    width:708px;
}
.meetingTopLeft .mettingLabel{
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
}
.meetingTopLeft .metTopImg{
    width: 708px;
    position: relative;
    height: 274px;
    overflow:hidden;
}
.metTop_bg img{
    display: block;
    width: 708px;
    /*height: 335px;*/
    height: 274px;
}
.recommendImg{
    position: relative;
}
.recommendImg img.meetingEndImg{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width: 60px;
    height: 60px;
}
.metSpot{
    display: block;
}
.metTopSpot{
    /*width: 710px;*/
    height: 20px;
    position: absolute;
    top:284px;
    /*left: 0;*/
    z-index: 2;
    text-align: center;
}
.metTopSpotUl{
    height: 20px;
    margin:0 auto;
}
.metTopSpotUl li{
    display: inline-block;
    width: 12px;
    height: 20px;
    background: url("//img00.allinmd.cn/channel/meeting_v2/meetingSpot02.png") no-repeat 0 0;
    padding:0 5px;
    cursor:pointer;
}
.metTopSpotUl li.activeLi{
    background: url("//img00.allinmd.cn/channel/meeting_v2/meetingSpot01.png") no-repeat 0 0;
}

.meetingTopLeft .metTopBot{
    width: 710px;
    /*border: 1px solid #dbdbdb;*/
    /*border-top: none;*/
    background-color: #fff;
    font-size: 15px;
    font-family: "microsoft yahei";
}
.meetingTopLeft .metTopText{
    padding: 20px 27px 15px 20px;
    line-height: 15px;
    color: #333;
 }
.meetingTopLeft .metBotText{
    padding: 0 27px 15px 20px;
    height:52px;
    overflow: hidden;
    width:662px;
    line-height: 26px;
    color: #565656;
}
.meetingTopRight{
    background-color: #fff;
    float: right;
    width: 268px;
    border: 1px solid #dbdbdb;
    height:390px;
    font-family: "microsoft yahei";
}

.meetingTopRight .metRightTop{
    padding: 20px;
    color:#555;
    font-size: 18px;
    line-height: 18px;
}
.meetingTopRight .metRightMid{
    width:228px;
    margin: 0 auto;
    display:block;
    color:#4a4a4a;
}
.meetingTopRight .metRightImg img{
    display: block;
    width: 228px;
    height:88px;
}
.meetingTopRight .metRightTextTop,.meetingTopRight .metRightLiTop{
    font-size: 15px;
    color:#666;
    width:220px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    margin:14px 0;
}

.meetingTopRight .metRightTextTop a,.meetingTopRight .metRightLiTop a{
    color: #565656;
}
.meetingTopRight .metRightTextTBot,.meetingTopRight .metRightLiBot{
    line-height: 13px;
    font-size: 13px;
}
.meetingTopRight .metRightTextTBot{
    color:#909090;
}

.meetingTopRight .metRightLi{
    margin:26px 20px 0 20px;
    width:228px;
}
.meetingTopRight .metRightLi a{
    display: block;
    width:100%;
    height:100%;
}
.meetingTopRight .metRightLiTop{
    padding-left: 6px;
    color:#565656;
}
.meetingTopRight .metRightLiTop span{
    background:url("//img00.allinmd.cn/channel/meeting_v2/spot.png") no-repeat 0 center;
    display:inline-block;
    width:5px;
    height:6px;
    margin-right:2px;
}
.meetingTopRight .metRightLiBot{
    margin-left:5px; ;
    color:#909090;
}
.meetingTopRight .metRightUl{
    padding-bottom: 45px;
}
.meetingMid{
    height:382px;
    font-family: "microsoft yahei";
    background:#fff;
    margin-top:20px;
}
.meetingMidTitle{
    /*margin-top:44px*/
}
.meetingMidTitleText{
    float: left;
    font-size: 20px;
    color: #363636;
    line-height:50px;

}
.meetingReplace{
    float: right;
    width: 105px;
    height:49px;
    line-height: 50px;
    text-align: center;
    cursor:pointer;
    color:#909090;
    /*background-color: #fff;*/
    /*border-radius:20px;*/
}
.meetingReplace i{
    display: inline-block;
    width:18px;
    height:18px;
    background: url("//img10.allinmd.cn/v3/common/icon/refresh.png") no-repeat;
    background: url("//img10.allinmd.cn/v3/common/icon/refresh.jpg") no-repeat\9!important;
    background-size:100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='//img10.allinmd.cn/v3/common/icon/refresh.jpg',
            sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='//img10.allinmd.cn/v3/common/icon/refresh.jpg',
            sizingMethod='scale');
    position: relative;
    top:5px;
    right:5px;
    /*padding: 10px 0 10px 16px;*/
    /*border-radius:20px;*/
}
.meetingReplace .metReplace{
    color: #909090;
    display:block;
    line-height: 50%;
    /*background: url("//img00.allinmd.cn/channel/meeting_v2/meetingReplace.png") no-repeat 20px 9px;*/
    /*border: 1px solid #dbdbdb;*/
}
.meetingReplace .metReplace:hover{
    color: #3d9eeb;
    background: url("//img00.allinmd.cn/channel/meeting_v2/meetingReplaceBlue.png") no-repeat 20px 9px;
    border: 1px solid #3d9eeb;
}

.recommendConf{
    padding-bottom:33px;
    /*margin-left:-34px;*/
}
 .recommendConf li{
    width: 464px;
    background-color: #fff;
    float: left;
    margin: 24px 0 0 24px;
     overflow:hidden;
}
 .recommendImg img{
     display: block;
     width: 464px;
     height:180px;
 }

.recommentTop .recommentDate,.recommentTop .recommentText{
    float: left;
}
.recommentTop .recommentDate{
    font-size: 15px;
    line-height: 15px;
    color: #666666;
}
.recommentTop .recommentText{
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    margin-left: 40px;
}
.recommendBot{
    /*border: 1px solid #dbdbdb;*/
    /*border-top: none;*/
    padding: 0 22px 0 20px;
    height: 127px;
    width: 420px;
}

.recommentBotText{
    padding: 10px 0 14px;
    font-size: 15px;
    line-height: 28px;
    color: #565656;
    max-height:50px;
    overflow:hidden;
}
.recommentDate,.recommentText{
    display: inline-block;
    margin-top: 25px;
}
.recommentDate .dateImg,.recommentText .location{
    display: inline-block;
    background: url("//img00.allinmd.cn/channel/meeting_v2/recommentDate.png") no-repeat 0 center;
    width: 14px;
    height: 15px;
    margin-right: 8px;
    float:left;
}
.recommentText .location{
    background: url("//img00.allinmd.cn/channel/meeting_v2/location.png") no-repeat;
    height: 13px;
    vertical-align: middle;
    padding-bottom: 4px;
    margin-right: 8px;
    width:11px;
}
.meetingPast{
    width: 100%;
    background-color:#efeff4;
    /*margin-top:-13px;*/
    font-family: "microsoft yahei";
}
.meetingPast .recommendConf li:first-child{
    *margin:40px 0 0 -80px;
}
.metPastNav{
    float: right;
    position: relative;
    /*width: 616px;*/
}
.metPastNavUl{
    position:relative;
    right:284px;
    height: 50px;
    line-height: 50px;
    float: left;
}
.metPastNavUl li{
    float: left;
    margin-right: 16px;
    font-size: 15px;
    line-height: 50px;
    color: #73859e;
    cursor:pointer;
}
.metPastNavUl li.metNavChange{
    color:#4084c6;
}
.metPastNavInput{
    float: left;
    border: 1px solid #a1adbe;
    background: #fff;
    height: 34px;
    line-height: 34px;
    padding-right: 0;
    border-radius: 20px;
    behavior:url('//www.allinmd.cn/js/third-party/pie/pie.htc');
    position: absolute;
    right:0;
    top: 6px;
    width: 284px;
    display: block;
    margin-left: 4px;
}
input.metPastNavInput::-webkit-input-placeholder{
    color:#bababa;
}
input.metPastNavInput::-moz-input-placeholder{
    color:#bababa;
}
.metPastNavInput input{
    border: none;
    width: 240px;
    border-radius: 20px;
    height: 34px;
    line-height: 34px;
    margin-left: 13px;
    float: left;
    color: #333333;
    font-size: 13px;
    font-family: microsoft yahei;
}
.metPastNavInput ::-webkit-input-placeholder {
    /* WebKit browsers */
    color:#bababa;
}

.metPastNavInput :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bababa;
}

.metPastNavInput ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bababa;
}

.metPastNavInput :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bababa;
}
.metPastNavInput .metPastNavbut{
    margin: 8px 13px 0 0;
    float: right;
}
.seeMore{
    width: 998px;
    border: 1px solid #dbdbdb;
    text-align: center;
    height: 52px;
    display: block;
    background-color: #fff;
    font-size: 18px;
    line-height: 52px;
    color: #626f8c;
    margin:0 auto;
    margin-top: 20px;
}
.seeMoreBg{
    background: url("//img00.allinmd.cn/channel/meeting_v2/seemoreBg.png") no-repeat right center;
    width: 14px;
    height: 11px;
    display: inline-block;
    margin-left: 8px;
}
.al-loadMoreImg {
    text-align: center;
    width: 998px;
    border: 1px solid #dbdbdb;
    height: 52px;
    display: block;
    background-color: #fff;
    line-height: 52px;
    color: #565656;
    margin:0 auto;
    margin-top: 20px;
}
.al-loadMoreImg img {
    width: 34px;
    height: 34px;
    position: relative;
    top:9px;
    opacity: 0.5;
}
/*过往会议*/
.meeting_past_wrap{
     width: 100%;
     background:#efeff4;
    font-family: "microsoft yahei";
    height:50px;
    overflow:hidden;
    margin-top:20px;
 }
.meetingMidTitle{
    width: 952px;
    margin: 0 auto;
    /*padding: 17px 0 0 0;*/
    height:49px;
    line-height: 50px;
    position:relative;
    padding:0 24px;
    background:#fff;
    border-bottom:1px solid #e2e7ee;
}
.meetingPastNav{
    background-color: #fff;
    border-bottom: 1px solid #e2e7ee;
    border-top: 1px solid #e2e7ee;
}
.meetingNowNav{
    background-color:#efeff4;
}
.recommendLi02{
    /*margin-top: 13px;*/
}
.meeting_noList{
    width: 1000px;
    margin: 0 auto;
    height: 610px;
    background-color: #fff;
    display:none;
}
.meeting_noList img{
    margin-left: 432px;
    margin-top: 294px;
}