@charset "utf-8";
/* CSS Document */

.organization_mian {
	background:#efeff4;
	padding-bottom:60px;
}
.o_banner {
	position:relative;
}
.left_jt_l {
	position:absolute;
	left:29px;
	top:128px;
	z-index:10;
}
.left_jt_r {
	position:absolute;
	right:29px;
	top:128px;
	z-index:10;
}
.pointer_banner {
	position:absolute;
	left:476px;
	bottom:15px;
	z-index:10;
}
.pointer_banner li {
	float:left;
	margin-left:20px;
}
.organization_list {
	padding-top: 29px;
	margin-left: -24px;
}
.organization_list li {
	background: url(//img00.allinmd.cn/channel/organization/list_link_bg.png) no-repeat;
	float: left;
	width: 462px;
	margin: 0 0 28px 25px;
	height: 374px;
	padding: 12px;
	overflow: hidden;
}
.organization_list .o_l_hover {
	background: url(//img00.allinmd.cn/channel/organization/list_hover_bg.png) no-repeat;
	
}
.organization_list .organization_no_margin {
	/*margin: 0 0 4px 0;*/
}
.or_list_img {
	position: relative;
	height: 220px;
}
.or_list_biao {
	background: url(//img00.allinmd.cn/channel/organization/tm_bg.png) no-repeat;
	position: absolute;
	top: 34px;
	left: 178px;
	z-index: 2;
	width: 100px;
	height: 105px;
	padding: 5px 5px 0 5px;
}
.or_list_num {
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
}
.or_list_name {
	text-align: center;
	font-size: 24px;
	color: #0278cf;
	font-family: microsoft yahei;
	margin: 17px 0;
	height: 24px;
	overflow: hidden;
}
.or_list_name a{
	color: #0278cf;
}
.or_list_text {
	font-size: 13px;
	color: #808080;
	line-height: 22px;
	height:70px;
	overflow: hidden;
	padding-top: 20px;
}
.or_list_but div {
	float: left;
	/* margin-top: 15px; */
	margin-left: 4px;
}
.or_list_add {
	margin-right: 3px;
}
a {
	color: #036eb8;
	text-decoration: none;
}
.organization_mian .pagination {
	padding: 30px 0 0 0;
	height: 36px;
	
}
.organization_mian .pagination .pages {
	text-align: center;
}
.organization_mian .pagination .pgEmpty {
	color: #eee;
}
.organization_mian .pagination .pgNext {
	width: 50px;
	display: none;
}
.organization_mian .pagination li {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin-right: 8px;
	text-align: center;
	color: #808080;
	background-color: #FFF;
	font-size: 14px;
	overflow: hidden;
}
.organization_mian .pagination .pgCurrent {
	height: 36px;
	width: 36px;
	background: #3d84c6;
	color: #fff;
}


.or_list_img img{
	margin: 0 0 0 -1px;
	width:463px;
	height:220px;
}
.or_list_img .or_list_biao img{
	width:100px;
	margin:0px;
	height:100px;
}




















.organization_content{
	width:1000px;
	margin:0 auto;
}
.organization_content_top{
	background:url(//img00.allinmd.cn/channel/organization/organization_top_bg.png) no-repeat;
	height:300px;
	text-align:center;
	margin-bottom:30px;
}
.organization_content_img{
	background:url(//img00.allinmd.cn/channel/organization/logo_bg.png) no-repeat 0 41px;
	padding-top:50px;
	width:118px;
	height:118px;
	margin: 0 auto;
}
.organization_content_img img{
	width:100px;
	height:100px;
}
.organization_content_name{
	font-size:22px;
	color:#fff;
	margin:15px 0 7px 0;
}
.organization_content_name  a{
	color:#fff;
	text-decoration:none;
}
.organization_content_text{
	color:#fff;
}
.organization_content_but{
	margin:9px 0 0 0;
	text-align:center;
}
.organization_content_cont_l{
	float:left;
	width: 713px;
	height: auto;
	
	/* margin-bottom: 20px; */
}
.organization_list_l{
	border: solid 1px #e3e3e8;
	border-bottom:none;
	background: #fff;
	/* margin-bottom: 40px; */
}
.organization_list_l_bottom{
	margin-bottom: 40px;
	background: url(//img00.allinmd.cn/channel/case/left_bottom_bg.png) repeat-x 1px bottom;
	height: 5px;
	margin-top: -1px;
	width: 714px;
}
.organization_content_cont_r{
	float:right;
	
}
.organization_content_title{
	font-size:18px;
	color:#333;
	height:60px;
	line-height:60px;
	border-bottom:solid 1px #e1e3e4;
	padding-left:20px;
}
.v_l_list .al-org_error{
	padding: 50px 0 50px 30px;
    text-align: center;
}

.organization_list_l .v_l_list li {
	padding:30px 20px;
	border-bottom:solid 1px #e1e3e4;
}
.organization_list_l .v_list_l {
	float:right;
}
.organization_list_l .v_list_r {
	float: left;
}
.organization_list_l .v_list_r_name {
	font-size: 16px;
	color: #333;
}
.organization_list_l .v_list_r_name a{
	color: #3d84c6;
}
.organization_list_l .v_list_r_author {
	padding: 18px 0;
	width: 400px;
}
.organization_list_l .v_list_r_author li {
	float: left;
	margin: 0 20px 0 0;
	float: left;
	font-size: 13px;
	color: #969696;
	line-height: 13px;
	padding:0;
	border: none;
	width: auto;
}
.organization_list_l .v_list_r_author .pointer {
	background: url(//img00.allinmd.cn/channel/video/pointer.png) no-repeat left center;
	height: 13px;
	width: 5px;
}
.organization_list_l .v_list_r_author .time {
	float: right;
	margin: 0;
}
.organization_list_l .v_list_text {
	font-size: 13px;
	color: #666;
	line-height: 26px;
	width: 400px;
}
.v_tj_img img {
	padding: 1px;
	border: #e7e7e7 solid 1px;
	width:225px;
	height: 150px;
}
.v_tj_img_time_bg {
	width: 55px;
	height: 20px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	background: #000;
	position: absolute;
	left: 2px;
	bottom: 2px;
	z-index: 2;
}
.v_tj_img_time {
	position: absolute;
	left: 2px;
	bottom: 2px;
	z-index: 2;
	width: 55px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
}
.v_tj_img {
	position: relative;
}
.organization_cont_r li{
	border-bottom: solid 1px #e1e3e4;
	height: 47px;
	line-height: 47px;
	font-size: 16px;
}
.organization_cont_mr_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/js_mr.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.case_b {
padding-left: 17px;
color: #73859e;
float: left;
/* width: 150px; */
}
.case_b a{
	color:#73859e;
	text-decoration:none;
}
.p_nav_num {
float: left;
font-size: 12px;
color: #73859e;
}
.organization_list_l .o_doc_list {
width: 670px;
}
.organization_cont_r .on{
	background:#73859e;
	color:#fff;
}
.organization_cont_r .on .case_b,
.organization_cont_r .on .p_nav_num{
	color:#fff;
}
.organization_cont_relation_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/xg_mr.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_r .on .organization_cont_relation_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/xg_hover.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_r .on .organization_cont_mr_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/js_hover.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_news_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/news_mr.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_r .on .organization_cont_news_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/news_hover.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_video_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/video_mr.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_r .on .organization_cont_video_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/video_hover.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_doc_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/doc_mr.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_r .on .organization_cont_doc_js{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/doc_hover.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_mr_home{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/home_mr.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.organization_cont_r .on .organization_cont_mr_home{
	width: 20px;
	height: 47px;
	background:url(//img00.allinmd.cn/channel/organization/home_hover.png) no-repeat left center;
	margin: 0 0 0 30px;
	float:left;
}
.or_gz_cont{
	
}
.or_gz_cont_l{
	position:absolute;
	left:137px;
	bottom:33px;
	z-index:2;
}
.or_gz_cont_r{
	position:absolute;
	left:238px;
	bottom:33px;
	z-index:2;
}
.or_list_img .or_gz_cont img {
	width: 88px;
	height: 28px;
}
.organization_content_r_top{
	width: 263px;
	height: auto;
	border: solid 1px #e3e3e8;
	border-bottom:none;
	background: #fff;
	/* margin-bottom: 20px; */
}
.organization_content_r_top_bottom{
	background: url(//img00.allinmd.cn/channel/case/left_bottom_bg.png) no-repeat 1px bottom;
	height: 5px;
	margin-top: -1px;
	width: 265px;
	margin-bottom: 20px;
}
.organization_content_r_fans{
	padding:16px 0;
}
.organization_content_r_fans_l{
	float:left;
	width:130px;
	height:38px;
	border-right:solid 1px #e1e3e4;
	text-align:center;
}
.or_cont_t_fans{
	font-size:22px;
	color:#798ca6;
}
.or_cont_t_fans_text{
	font-size:13px;
	color:#969696;
	margin-top:5px;
}
.pages_margin{
	margin-top:10px;
}
.organization_js{
	padding: 30px 20px;
	font-size: 13px;
	line-height: 24px;
	font-family: microsoft yahei;
}
.organization_cont_r li:last-child{
	border-bottom:none;
}






/* 与他相关 */
.p_cont_list_l {
	float: left;
}
.p_cont_list_r {
	float: right;
}
.p_cont_list_l img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
.p_xg_title a {
color: #3d84c6;
}
 .p_l_t_author {
height: 16px;
line-height: 16px;
font-size: 12px;
color: #fff;
background: #73859e;
padding: 0 5px;
float: left;
}
 .p_l_t_r_none {
float: right;
font-size: 12px;
color: #909090;
}
.list_text {
font-size: 14px;
color: #555;
line-height: 26px;
}
.p_xg_title {
float: left;
font-size: 16px;
color: #3d84c6;
margin-right: 10px;
line-height: 16px;
margin-bottom: 10px;
}
.noListData{
	padding: 50px 0 50px 30px;
}