@charset "UTF-8";
//观看直播
//Created by zhangxiangfeng on 2016/11/08
//公共方法模块调用
@import "../../modules/common-modules";


.al-videoPageBox{
  position: relative;
  background-color:#eef3f8;
  width:100%;
  height:100%;
  background-size:100% 100%;
  .al-shareBox{width:267px;}
}
//直播主界面左侧边栏:begin
.al-livingLeftSideBar{
  width:152px;
  height:100%;
  background-color:#303845;
  position:fixed;
  top:0;
  left:0;
}
.al-videoLeftNav{
  li{
    padding:28px 32px 28px 29px;
    cursor: pointer;
    article{
      display: inline-block;
      margin-left:6px;
      vertical-align: text-bottom;
      span{
        color:#fefefe;
        font-size:14px;
      }
      p{
        color:#eeeeee;
        font-size:10px;
        font-family:Arial;
        margin-top:7px;
      }
    }
  }
  .al-filpScreenBox{
    border-top:1px solid #272E39;
    border-bottom:1px solid #272E39;
    box-shadow:-1px 1px 1px #394250,-1px -1px 1px #394250;
  }
}
//直播主界面左侧边栏:end







//直播主界面右侧边栏:begin
.al-livingRightSideBar{
  position: absolute;
  top:20px;
  right:20px;
  width:360px;
  height:844px;
}
.al_docPar{
  height:242px;
  width:360px;
}
.al_offsideDoc{
  height:242px;
  width:360px;
  position:absolute;
}

.al-offsideContent{
  height:240px;
  width:100%;
  line-height:240px;
  background-color:#fff;
  border:1px solid #e4e9ed;
  box-sizing: border-box;
  text-align: center;
}
//无内容
.al-offsideNoContent{
  height:240px;
  width:100%;
  background-color:#fff;
  border:1px solid #e4e9ed;
  box-sizing: border-box;
  text-align: center;
  position:absolute;
  left:0;
  top:0;
  display: none;
  img{
    vertical-align: middle;
    margin-top: 40px;
  }
}

        //互动聊天：begin
    .al-interactiveChatBox{
      position: relative;
      background-color:#fff;
      margin-top:20px;
      height:620px;
      border:1px solid #e4e9ed;
      box-sizing: border-box;
      h3{
        font-weight:400;
        font-size:18px;
        color:#333;
        height:60px;
        border-bottom:1px solid #e4e9ed;
        text-align:center;
        line-height:60px;
      }
    }
    .al-chatItemBox{
      padding:20px;
      max-height:430px;
      overflow-y:auto;
      .al-chatItem{
        div{
          display: inline-block;
          max-width:315px;
          margin-bottom:15px;
          color:#666;
          line-height:26px;
          word-break: break-all;
          word-wrap: break-word;
          .al-chatUserName{color:#3598db;}
        }
        p{
          float:left;
          background-color:#9bCC4e;
          width:45px;
          height:16px;
          line-height:16px;
          font-size:12px;
          font-family: "宋体";
          color:#fff;
          margin-top:5px;
          margin-right:10px;
          &:before{
            content:'';
            display: inline-block;
            width:10px;
            height:9px;
            background: transparent url("//img10.allinmd.cn/v3/webcast/webCastIcon.png") center center no-repeat;
            vertical-align: middle;
            margin:0 3px 0 4px;
          }
        }
        .al-systemPrompt{
          background-color:#ff9224;
          &:before{
            content:'';
            display: inline-block;
            width:14px;
            height:10px;
            background: transparent url("//img10.allinmd.cn/v3/webcast/systemIcon.png") center center no-repeat;
            vertical-align: middle;
            margin:0 2px 0 3px;
          }
        }
      }
    }

    .al-newJoinChat{    //欢迎XX来到直播间
      .al-newUserJoin{
        color:#666;
        i{color:#ff9224; }
      }
    }
            //底部用户输入区域

    .al-userInputArea{
      position:absolute;
      width:100%;
      height:85px;
      right:0;
      bottom:0;
      background-color:#f8f8f8;
      @include clearfix();
      .al-inputSentBtn{
        float:right;
        width:76px;
        height:85px;
        text-align: center;
        line-height:85px;
        background-color:#2899e6;
        color:#fff;
        font-size:14px;
        cursor: pointer;
        &:hover{background-color:#52a9e4;}
      }
      textarea{
        float:left;
        appearance:none;
        border:none;
        margin:8px 10px 8px 15px;
        width:252px;
        height:65px;
        resize: none;
        background-color:#f8f8f8;
        font-size:15px;
        color:#666;
      }
    }
    .al-banSpeech{  //禁止发言
  display: none;
  p{
    float:left;
    color:#F34B4B;
    line-height:85px;
    font-size:15px;
    padding-left:75px;
  }
  .al-inputSentBtn{background-color:#BDC3CF !important;}
}
        //聊天举报样式
    .al-chatReportBox{
      display: none;
      border:1px solid #e4e9ed;
      width:270px;
      border-radius:4px;
      position:absolute;
      z-index:4;
      top:25%;
      left:45px;
      background-color:#fff;
      box-shadow: 1px 1px 9px #ddd,-1px -1px 9px #ddd;
      b{
        display: block;
        float: right;
        cursor: pointer;
        width: 12px;
        height:12px;
        background: url("//img10.allinmd.cn/v3/webcast/chatReportCloseIcon.png") center center no-repeat;
        margin:10px;
      }
      .al-reportUserInfo{
        margin:18px 20px;
        img{
          width:60px;
          height:60px;
          border-radius: 50%;
          behavior:url('/js/third-party/pie/pie.htc');
          vertical-align: middle;
        }
        figure{
          display:inline-block;
          margin-left:12px;
          vertical-align:middle;
          span{
            color:#333;
            font-size:17px;
          }
          i{
            display: inline-block;
            width: 14px;
            height: 12px;
            background: transparent url("//img10.allinmd.cn/v3/common/icon/icon_vip2.png") center center no-repeat;
            margin-left:5px;
          }
          p{
            margin-top:16px;
            color:#909090;
            font-size:13px;
            font-family: "宋体";
          }
        }
      }
      .al-chatReportMain{
        border-top:1px solid #ecf0f2;
        @include clearfix();
        figure{
          font-size:14px;
          color:#626f8c;
          cursor: pointer;
          float:left;
          text-align: center;
          width:50%;
          height:41px;
          line-height:41px;
        }
        .al-chatReportBtn{
          position:relative;
          &:after{
            content:'';
            width:0;
            height:14px;
            border-right:1px solid #DFDFDF;
            position: absolute;
            top:14px;
            right:0;
          }
        }
      }
      .al-charReportPop{
        text-align:center;
        border-top:1px solid #ecf0f2;
        position: relative;
        &:before{
          content:'';
          display:inline-block;
          position:absolute;
          width:10px;
          height:10px;
          background-color:#fff;
          border:solid #e4e9ed;
          border-width:1px 0 0 1px;
          left:61px;
          top:-6px;
          transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
        }
        >p{
          font-size:15px;
          color:#333;
          cursor: pointer;
          height:45px;
          line-height:45px;
          &:hover{
            position: relative;
            z-index: 2;
            background-color:#F6F9FB;
            color:#3598db;
          }
        }
        .al-cancelBtn{
          border-top:1px solid #ecf0f2;
          color:#626f8c;
        }
      }
      .al-chatshied{
        &:before{
          left:195px;
        }
      }
      .al-chatReportConfirm{
        display:none;
        padding-top:50px;
        i{
          display: inline-block;
          width:18px;
          height:18px;
          background: url("//img10.allinmd.cn/v3/webcast/icon_ask_lg.png") center center no-repeat;
          vertical-align: middle;
          margin-right:5px;
        }
        span{
          font-size:14px;
          color:#909090;
        }
        .al-chatReportMain{
          margin-top:50px;
        }
      }
    }

        //已经举报弹层
      .al-chatRepoetedPop{
        display: none;
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index: 3;
        background-color:rgba(0,0,0,0.5);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);  /*IE8支持*/
        div{
          width:500px;
          height:190px;
          border:1px solid #e4e9ed;
          box-sizing: border-box;
          border-radius:4px;
          background-color:#fff;
          margin:300px auto 0;
          b{
            display: block;
            float: right;
            cursor: pointer;
            width: 13px;
            height: 13px;
            background: url("//img10.allinmd.cn/v3/common/icon/icon_close.png") center center no-repeat;
            margin:20px;
          }
          p{
            color:#333;
            margin:55px 24px;
            text-align: center;
          }
          span{
            display:block;
            margin:0 auto;
            color:#fff;
            width:78px;
            text-align: center;
            height:30px;
            line-height:30px;
            border-radius:4px;
            background-color:#2899e6;
            cursor: pointer;
            font-size:15px;
          }
        }
      }
        //互动聊天：end
//直播主界面右侧边栏:end







//视频头部样式：begin
.al-videoMainBox{
  margin:0 400px 0 172px;
  padding-top:20px;
  position: relative;   //直播结束POP
  .al-videoMainHead{
    background-color:#fff;
    padding:30px 24px;
    border:1px solid #e4e9ed;
    font-size:14px;
    @include clearfix();
  }
}

.al-videoMainInfo{
  float:left;
  h4{
    color:#222;
    font-size:24px;
    font-weight:400;
    margin-bottom:20px;
  }
  .al-userInfoBox{
    p{
      display: inline-block;
      color:#909090;
      span{color:#626f8c;}
      .al-videoUserName{
        &:after{
          content:'';
          display:inline-block;
          border:2px solid #d8d8d8;
          border-radius:50%;
          margin-left:12px;
          margin-right:15px;
          vertical-align: middle;
        }
      }
    }
  }
}


.al-shareNoticeBox{
  float:right;
  padding-top:6px;
  @include clearfix();
  //分享
  .al-videoShareBox{
    float:left;
    .al-videoShareContainer{
      color:#626f8c;
      cursor: pointer;
      position: relative;
      &:before{
        content:'';
        display: inline-block;
        width:16px;
        height:16px;
        margin-right:6px;
        margin-top:-2px;
        background: transparent url("//img10.allinmd.cn/v3/webcast/videoShareIcon.png") center center no-repeat;
        vertical-align: middle;
      }
      &:after{
        content:'';
        display: inline-block;
        width:0;
        height:12px;
        border-right:1px solid #e4e9ed;
        margin:0 18px 0 20px;
        vertical-align: middle;
      }
    }
  }
  //公告
  .al-noticeBox{
    float:right;
    .al-noticeContainer{
      color:#626f8c;
      cursor: pointer;
      position: relative;
      &:before{
        content:'';
        display: inline-block;
        width:19px;
        height:17px;
        margin-right:6px;
        margin-top:-2px;
        background: transparent url("//img10.allinmd.cn/v3/webcast/noticeIcon.png") center center no-repeat;
        vertical-align: middle;
      }
    }
    .al-reportBox{
      color:#909090;
      margin-top:15px;
      text-align: right;
      cursor: pointer;
      position: relative;
    }
  }
}
//视频头部样式：end


//公告弹出框
.al-noticePopBox{
  display: none;
  position:absolute;
  z-index:4;
  top:15px;
  right:-11px;
  width:472px;
  height:219px;
  background: transparent url("//img10.allinmd.cn/v3/webcast/noticePopBoxImg.png") center center no-repeat;
  color:#333;
  font-size:16px;
  b{
    display: block;
    float: right;
    cursor: pointer;
    width: 13px;
    height: 13px;
    background: url("//img10.allinmd.cn/v3/common/icon/icon_close.png") center center no-repeat;
    margin: 35px 32px 0 0;
  }
  h4{
    text-align:center;
    padding-top:60px;
    font-weight:400;
  }
  p{
    padding:20px 45px 0;
    line-height:26px;
    word-wrap:break-word;
    max-height:83px;
    overflow:hidden;
  }
}


//分享视频连接弹出框
.al-shareVideoLinkBox{
  display: none;
  width:266px;
  height:226px;
  background: transparent url("//img10.allinmd.cn/v3/webcast/shareVideoLinkImg.png") center center no-repeat;
  margin-top:-15px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -6px 4px 8px rgba(0, 0, 0, 0.14);
  p{
    padding:50px 20px 20px;
    word-wrap: break-word;
    text-align:left;
    font-size:15px;
    color:#808080;
    line-height:20px;
    height:80px;
    cursor: auto;
  }
  .al-copyLinkBtn{
    display: block;
    width:108px;
    margin-left:80px;
    height:30px;
    line-height:30px;
    color:#fff;
    background-color:#2899e6;
    border-radius:50px;
    behavior:url('/js/third-party/pie/pie.htc');
    &:hover{
      background-color: #52a9e4;
    }
  }
}


.al_videoPar{
  width:100%;
  height:759px;
}
.al_offsideVideo{
  width:100%;
  height:759px;
  position:absolute;
}
.videoIndexArea{
  height:759px;
  background-color:#e4e9ed;
  width:100%;
}

@import "../../components/_shareBoxModule"; //分享按钮盒



::-webkit-scrollbar {width:10px;height:10px;}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius:50px;
  border: 2px solid transparent;
  behavior: url("/js/third-party/pie/pie.htc");
  position:relative;
}
//::-webkit-scrollbar-track {box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;}  //滚动条轨道
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px #DBDBDB inset;
}



//直播已结束样式：begin
  .al-webcastEndPop{
    display: none;
    position:absolute;
    z-index:3;
    top:138px;
    left:0;
    width:100%;
    height:85%;
    text-align:center;
    background-color:rgba(0,0,0,0.75);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);  /*IE8支持*/
    header{
      color:#fff;
      margin:190px 0 65px;
      h4{
        font-size:32px;
        font-weight:400;
        margin-bottom:35px;
      }
      p{font-size:18px;}
    }
  }
  .al-webcastEndPopMainPart{
    @include clearfix();
    margin-left:16.5%;
    >figure{
      float:left;
      padding:3px;
      background-color:#fff;
      position: relative;
      margin-right:4.85%;
      width:36%;
      a{
        display: block;
        position: relative;
      }
      b{
        position:absolute;
        left:50%;
        top:50%;
        width:62px;
        height:62px;
        background: transparent url("//img10.allinmd.cn/v3/webcast/wecastVideoPlayBtn.png") center center no-repeat;
        margin-left:-31px;
        margin-top:-31px;
        cursor: pointer;
      }
      img{
        width:100%;
        height:225px;
      }
      .al-videoDemoInfo{
        height:50px;
        padding:10px;
        p{
          font-size:15px;
          color:#555;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width:99%;
          margin-bottom:15px;
          text-align: left;
        }
        >figure{
          font-size:13px;
          font-family:"宋体";
          color:#909090;
          text-align:left;
          span:before{
            content:'';
            display:inline-block;
            width:14px;
            height:14px;
            background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_user.png") center center no-repeat;
            vertical-align: text-bottom;
            margin-right:6px;
          }
          i:before{
            content:'';
            display: inline-block;
            width: 18px;
            height: 12px;
            background: transparent url("//img10.allinmd.cn/v3/common/icon/personal_watchNum.png") center center no-repeat;
            vertical-align: middle;
            margin:-2px 6px 0 30px;
          }
        }
      }
    }
  }
//直播已结束样式：end



//观看——预约
.al-orderWebcastArea{
  position:absolute;
  width:100%;
  height:85%;
  top:138px;
  z-index:1;
  background:url("//img10.allinmd.cn/v3/terminal/orderWebcastBgImg.png") center center no-repeat;
  background-size:100% 100%;
  figure{
    margin-top:280px;
    font-size:40px;
    color:#fff;
    font-weight:400;
    text-align: center;
    >a{
      display:inline-block;
      width:200px;
      height:56px;
      line-height:56px;
      background-color:#2899e6;
      color:#fff;
      font-size:20px;
      margin-top:85px;
      border-radius:30px;
      behavior:url('/js/third-party/pie/pie.htc');
    }
    .active{
      color: #8EC8F6;
      background-color: #2899e6;
    }
  }
}


//举报主播弹框
.al-reportAnchorPop{
  display: none;
  position:absolute;
  z-index:4;
  width:268px;
  border:1px solid #e4e9ed;
  box-sizing: border-box;
  background-color:#fff;
  top:30px;
  right:-35px;
  border-radius:4px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.14), -3px -2px 8px rgba(0, 0, 0, 0.14);
  &:before{
    content:'';
    position:absolute;
    background-color:#fff;
    z-index:4;
    top:-8px;
    right:38px;
    width:12px;
    height:12px;
    border:solid #e4e9ed;
    border-width:1px 0 0 1px;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
  }
  p{
    text-align: center;
    height:100px;
    line-height:100px;
    border-bottom:1px solid #ecf0f2;
    cursor: auto;
    font-size: 14px;
    color: #909090;
    i{
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url("//img10.allinmd.cn/v3/webcast/icon_ask_lg.png") center center no-repeat;
      vertical-align: middle;
      margin-right: 5px;
      margin-top:-2px;
    }
  }
  span{
    display: inline-block;
    width:49%;
    text-align: center;
    height:46px;
    line-height:46px;
    color:#626f8c;
    font-size:14px;
  }
  .al-sureBtn{
    position: relative;
    &:after{
      content: '';
      width: 0;
      height: 14px;
      border-right: 1px solid #DFDFDF;
      position: absolute;
      top:17px;
      right: 0;
    }
  }
}


//直播结束推荐视频：媒体查询
@media screen and (max-width:1200px){.al-webcastEndPopMainPart{ img{height:115px !important;}}}
@media screen and (min-width:1200px) and (max-width:1400px){.al-webcastEndPopMainPart{ img{height:135px !important;}}}
@media screen and (min-width:1400px) and (max-width:1600px){.al-webcastEndPopMainPart{ img{height:165px !important;}}}
@media screen and (min-width:1600px) and (max-width:1800px){.al-webcastEndPopMainPart{ img{height:195px !important;}}}
