<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Xa例之声 | 闻十二城喧嚣，览最强病例演讲！</title>
    <meta name="description" content="#厚积理应薄发，实力就该发声#投上您的宝贵一票，将喜欢的选手送至总决赛擂台吧！"/>
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="Keywords" content="病例专题，视频专题，专题页面，骨科专题，学术专题，文献专题，手术汇总，">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <script type="text/javascript" src="/js/third-party/flexible.js"></script>
    <link rel="stylesheet" href="/css/column/bayer_race/template/swiper.min.css">
    <link rel="stylesheet" href="/css/column/bayer_race/template/bayerBase.css">
    <link rel="stylesheet" href="/css/column/bayer_race/template/bayerRevive.css">

    <script type="text/javascript">
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPod");
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }
        if (IsPC()) {
            window.location.href = '//www.allinmd.cn/html/activity/1460028659268/activity_index.html';
        }
    </script>

    <meta name="data-alcode" content="a2">
</head>

<body data-alcode="262">
<!--主页面结构-->
<section class="main">
    <!--顶部标题栏-->
    <header class="headTitle">
        <h2>复活详情</h2>
        <a class="reviveBackBtn Ev-reviveBackBtn" href="javascript:void(0)">
            <img src="/images/img50/column/bayer_race/backBtn.png" alt="">
        </a>
    </header>
    <!--标题栏结束-->
    <!--复活规则开始-->
    <!--新闻01-->
    <#if (cms_news_list??)&&(cms_news_list?size>0)>
        <#list cms_news_list as newsList>
            <#if newsList_index==0>
                ${newsList.newsBody}
            </#if>
        </#list>
    </#if>
    <!--复活规则结束-->
    <!--复活排行榜-->
    <section class="reviveRank generalPart">
        <article class="reviveTitle generalTitle">
            <h2>复活排行榜</h2>
        </article>
        <ul class="Ev-ul-BayerAppendReviveList">



        </ul>
    </section>
    <!--复活排行榜结束-->
    <!--精彩复活视频列表-->
    <section class="broveShow generalPart">
        <header class="broveShowTitle generalTitle">
            <h2>精彩复活</h2>
            <section class="paginationTop Ev-PaginationTop">
                <ul class="Ev-ul-AppendTopPages" data-alcode-mod='525'>



                </ul>
            </section>
        </header>
        <section class="Ev-AppendBox">


        </section>

        <!--底部页码组-->
        <section class="paginationBottom Ev-PaginationBottom Ev-SectionAppBeforeRevive">
            <ul class="Ev-ul-AppendBottomPages">


            </ul>
        </section>
    </section>
    <!--页脚按钮组-->
    <footer class="pageFooter" data-alcode-mod='515'>
        <article class="footerItem">
            <a href="//m.allinmd.cn" class="footerHome" data-ajax="false">
                唯医首页
            </a>
        </article>
        <i class="hr">&nbsp;</i>
        <article class="footerItem ">
            <a href="javascript:;" class="footerDownload Ev-footerAppDownload" data-ajax="false">
                下载APP
            </a>
        </article>
        <i class="hr">&nbsp;</i>
        <article class="footerItem">
            <a href="javascript:;" class="footerBackToTop">
                返回顶部
            </a>
        </article>
    </footer>
    <div class="videoPK_share_pop Ev-BayerShareCasePopShow" style="display: none;">
        <div id="videoPK_sharebtn" class="vPK_share_cont">
            <div class="vPK_share_list">
                <div class="share_dao">分享到</div>
                <a class="share_sina Ev-BayerShareSina" ref="sina" target="_blank">
                    <div class="share_sina_icon"><img src="/images/img50/column/bayer_race/xinlang.png" _mce_src="/images/img50/column/bayer_race/xinlang.png" alt=""></div>
                    <div class="share_sina_text">新浪微博</div>
                </a>
                <a class="share_qzone Ev-BayerShareQzone" ref="qzone" target="_blank">
                    <div class="share_qzone_icon"><img src="/images/img50/column/bayer_race/kongjian.png" _mce_src="/images/img50/column/bayer_race/kongjian.png" alt=""></div>
                    <div class="share_sina_text">QQ空间</div>
                </a>
            </div>
        </div>
        <div class="share_quxiao Ev-BayerShareHideBtn">取消</div>
    </div>
    <!--页脚按钮组结束-->
    <!--悬浮按钮-->
    <footer class="footerBtn">
        <a class="share Ev-BayerShareCaseBtn">
            分享
        </a>
    </footer>
</section>
<script src="/js/lib/jquery/jquery-2.1.0.min.js"></script>
<script src="/js/third-party/jquery-validate/jquery.validate.js"></script>
<script src="/js/comm/main.js"></script>
<script src="/js/comm/comm.ajax.js"></script>
<script src="/js/comm/common.js"></script>
<script src="/js/comm/comm.func.js"></script>
<script src="/js/comm/comm-customer.js"></script>
<script src="/js/comm/comm-data.js"></script>
<script src="/js/comm/log.js"></script>
<script src="/js/modules/module.user.js"></script>
<script src="/js/lib/jquery/jquery.json-2.4.js"></script>
<script src="/js/comm/jweixin-1.0.0.js"></script>
<script src="/js/comm/shareAll.js"></script>
<script type="text/javascript" src="/js/social_intercourse/share.js"></script>
<script type="text/javascript" src="/js/third-party/swiper/swiper.jquery.min.js"></script>
<script type="text/javascript" src="/js/column/bayer/bayerComm.js"></script>
<script src="/js/column/bayer/bayerRevive.js" type="text/javascript"></script>
</body>

</html>