@charset "UTF-8";
.alEmr-mainIndex{
    padding-left: 240px;
}
.alEmr-indexInner{
    width: 1200px;
    min-height: 600px;
    margin: 20px auto;
}


@media screen and (max-width:1540px){
    .alEmr-mainIndex{
        padding-left: 120px;
    }
}
