<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>会议首页</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/css/v3/base.css">
    <link rel="stylesheet" href="/css/v3/pageTopNav_And_SideBar.css"/>
    <link rel="stylesheet" href="/css/v3/pageFooter.css"/>
    <link rel="stylesheet" href="/css/v3/pages/terminal/meeting_index.css"/>
    <!--[if lte IE 8]>
    <script src="/js/third-party/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <section class="al-mainInner">
        <!-- 页头——视场景加入跳转链接 -->
        <header class="al-header al-indexHeader">
            <section class="al-headerContainer">
                <ul class="al-headerTopNav">
                    <li><a href="javascript:void(0);">热门</a></li>
                    <li><a href="javascript:void(0);">病例</a></li>
                    <li><a href="javascript:void(0);">视频</a></li>
                    <li class="active"><a href="javascript:void(0);">会议</a></li>
                    <li><a href="javascript:void(0);">文库</a></li>
                    <li><a href="javascript:void(0);">话题</a></li>
                    <li><a href="javascript:void(0);">进修</a></li>
                    <li><a href="javascript:void(0);">组织</a></li>
                    <li><a href="javascript:void(0);">厂商</a></li>
                    <li><a href="javascript:void(0);">医师定考</a></li>
                </ul>
                <div class="al-headerSearchRecord">
                    浏览记录
                </div>
                <figure class="al-headerSearch">
                    <input type="text" />
                    <b></b>
                </figure>
            </section>
        </header>
        <!-- 主侧边栏——Logo于此放置 -->
        <aside class="al-mainSidebar">
            <header class="al-mainLogo">
                <img src="//img10.allinmd.cn/v3/common/sidebar/logo.png" alt="">
            </header>
            <section class="al-mainSidebarList">
                <ul>
                    <li class="al-mainSidebarItem active">
                        <a href="javascript:void(0)">
                            <img src="//img10.allinmd.cn/v3/common/sidebar/sidebar_index.png" alt="">
                            <figcaption>首页</figcaption>
                        </a>
                    </li>
                    <li class="al-mainSidebarItem">
                        <a href="javascript:void(0)">
                            <img src="//img10.allinmd.cn/v3/common/sidebar/sidebar_find.png" alt="">
                            <figcaption>发现</figcaption>
                        </a>
                    </li>
                    <li class="al-mainSidebarItem al-release">
                        <a href="javascript:void(0)">
                            <img src="//img10.allinmd.cn/v3/common/sidebar/sidebar_release.png" alt="">
                            <figcaption>发布</figcaption>
                        </a>
                    </li>
                    <li class="al-mainSidebarItem al-navMes">
                        <a href="javascript:void(0)">
                            <img src="//img10.allinmd.cn/v3/common/sidebar/sidebar_msg.png" alt="">
                            <figcaption>消息</figcaption>
                        </a>
                    </li>
                    <li class="al-mainSidebarItem al-navIndex">
                        <a href="javascript:void(0)">
                            <img src="//img10.allinmd.cn/v3/common/sidebar/sidebar_personal.png" alt="">
                            <figcaption>个人</figcaption>
                        </a>
                    </li>
                </ul>
                <ul class="al-mainSidebarOtherList">
                    <li class="al-mainSidebarItem al-allinmdService">
                        <a href="javascript:void(0)">
                            <img src="//img10.allinmd.cn/v3/common/sidebar/sidebar_cs.png" alt="">
                            <figcaption>唯客服</figcaption>
                        </a>
                    </li>
                    <li class="al-mainSidebarItem al-navPhone">
                        <a href="javascript:void(0)">
                            <img src="//img10.allinmd.cn/v3/common/sidebar/sidebar_mobile.png" alt="">
                            <figcaption>手机端</figcaption>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>

        <div class="al-mainContentHead">
            <img src="//img10.allinmd.cn/v3/terminal/meeting_bannerImg.jpg" alt=""/>
        </div>

        <!--页面主体内容区域：begin-->
        <section class="al-mainContentBox">
            <header class="al-meetingContent_head">
                <span class="active">首页</span>
                <span class="al-meetingAgenda">会议日程</span>
            </header>
            <figure class="al-meetMainBox">
                <section class="al-meetingContent">
                    <figure class="al-news">
                        <h6>新闻通告</h6>
                        <b></b>
                        <p>奥兰多当地时间伤骨师学会美国骨科医师学会伤骨师学会年会上师学会伤骨师学会伤骨师学会，年会奥兰多当地时间伤骨师学会美国骨科医师学会。</p>
                        <p>学会骨师学会年会奥兰多当地时，间伤骨师学会美国骨科医师学会伤，骨师学会年会上师学会伤骨师学会伤。骨师学会年会奥兰多当地时间伤，骨师学会美国骨科医师学会伤骨。师学会年会上师学会伤骨师。学会伤骨师学会年会。</p>
                    </figure>
                    <figure class="al-date">
                        <h6>重要日期</h6>
                        <b></b>
                        <p>会议时间：
                            <span>2016/09/06</span>
                            -
                            <span>2016/10/10</span>
                        </p>
                    </figure>
                </section>
                <footer class="al-expertIntr">
                    <h6>专家介绍</h6>
                    <b></b>
                    <div class="expert_headImgBox">
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                        <figure class="expert_headImg">
                            <a href=""><img src="//img10.allinmd.cn/v3/terminal/praise_user.png" alt=""/></a>
                            <span>尼格买提</span>
                        </figure>
                    </div>
                </footer>
            </figure>
        </section>
        <!--页面主体内容区域:end-->

        <!-- 公共页脚部分 -->
        <footer class="al-mainFooter">
            <section class="al-mainFooterInner">
                <section class="al-mainFooterContent">
                    <section class="al-mainFooterLinks">
                        <a href="javascript:void(0)" class="al-mainFooterLinkItem" style="padding-left: 0;">隐私声明</a>
                        <a href="javascript:void(0)" class="al-mainFooterLinkItem">服务条款</a>
                        <a href="javascript:void(0)" class="al-mainFooterLinkItem">关于我们</a>
                        <a href="javascript:void(0)" class="al-mainFooterLinkItem" style="padding-right: 0;border-right: none;">联系我们</a>
                    </section>
                    <article class="al-mainFooterMsg">
                        <figure class="al-mainFooterMsgImg">
                            <img src="//img10.allinmd.cn/v3/common/icon/site_1.png" alt="">
                        </figure>
                        <figure class="al-mainFooterMsgImg">
                            <img src="//img10.allinmd.cn/v3/common/icon/site_2.png" alt="">
                        </figure>
                    </article>
                    <article class="al-mainFooterRecordMsg">
                        <p>京ICP证150380号 | 京ICP备14007118号-2号 京公网安备11010802014986号京卫计网审[2014] 第0378号 </p>
                        <p>Copyright©2019 Allinmd.cn All Rights Reserved.版权所有©北京欧应科技有限公司</p>
                    </article>
                </section>
                <figure class="al-mainFooterErWeiCode">
                    <img src="//img10.allinmd.cn/v3/common/icon/erweiCode_1.png" alt="">
                </figure>
            </section>
        </footer>
        <!-- 页脚结束 -->
    </section>
</body>
</html>