@charset "UTF-8";
//公共方法模块调用
@import "../../modules/common-modules";
//公共变量引用
@import "../../variables/_allinmdV3-variables";

//资源列表模块
@import "../../components/classes/_classes_resourceList";
//相关课程
@import "../../components/classes/_classes_course";
//右侧输入框
@import "../../components/_rightTextarea";
@import "../../components/classes/classes_doc";
@import "../../components/_makeSurePopup";
.al-operate-inner{
  width: 1000px;
  margin: 20px auto;
  margin-top: 0;
  height: 300px;
  color: #333;
  background: #fff;
  line-height: 100px;
}
