<section class="tempMainModel">
    <section class="sp_container sp_container_l">
        <div  data-id="110" data-columnId="0" data-componentType="8" class="isComp">     <section class="total_title total_title_center"><span></span></section>
            <section class="actTemp_division_entrance"></section></div>
        <div  data-id="146" data-columnId="141" data-componentType="3" class="isComp"><section class="total_title total_title_center"><span></span></section>
            <section class="spTemp_list_cont resource_rank resource_rank_leftImg_rightArt"></section></div>
        <div  data-id="148" data-columnId="143" data-componentType="3" class="isComp"><section class="total_title total_title_center"><span></span></section>
            <section class="spTemp_list_cont resource_rank resource_rank_leftImg_rightArt"></section></div>
    </section>
</section>
