
<section class="tempMainModel">
    <section class="sp_container sp_container_l">
        <div data-id="323" data-columnid="0" data-componenttype="9" class="isComp"><section class="wordsList">
    <aside class="title">我的作品<span class="ev-ListNum"></span></aside>
    <ul class="ev-myWorkList">
    <!--    <li>
            <aside class="wordsDetail">
                <aside class="listDetail">
                    <p>小儿脊柱退变侧凸长节段与短阶段融合手术</p>
                    <p><span><i></i>0</span><span><i></i>0</span><span><i></i>0</span></p>

                </aside>
                <aside class="listImg">
                    <i></i><p>04:22</p>
                    <img src="/images/img50/225_150.jpg">
                </aside>
            </aside>
            <aside>
                &lt;!&ndash;<p><i class="pendingAudit"></i>待审核<b>刚刚</b></p>
                <p><i class="audited"></i>审核已通过</p>&ndash;&gt;
                <p><i class="auditedNone"></i>未达到参赛标准<span>拒绝原因:  • 清晰度不够   </span><b>刚刚</b></p>
            </aside>
        </li>
        <li>
            <aside class="wordsDetail">
                <aside class="listDetail">
                    <p>小儿脊柱退变侧凸长节段与短阶段融合手术</p>
                    <p><span><i></i>0</span><span><i></i>0</span><span><i></i>0</span></p>

                </aside>
                <aside class="listImg">
                    <i></i><p>04:22</p>
                    <img src="/images/img50/225_150.jpg">
                </aside>
            </aside>
            <aside>
                <p><i class="pendingAudit"></i>待审核<b>刚刚</b></p>
                &lt;!&ndash;<p><i class="audited"></i>审核已通过</p>&ndash;&gt;
                &lt;!&ndash;<p><i class="auditedNone"></i>未达到参赛标准<span>拒绝原因:  • 清晰度不够   </span><b>刚刚</b></p>&ndash;&gt;
            </aside>
        </li>
        <li>
            <aside class="wordsDetail">
                <aside class="listDetail">
                    <p>小儿脊柱退变侧凸长节段与短阶段融合手术</p>
                    <p><span><i></i>0</span><span><i></i>0</span><span><i></i>0</span></p>

                </aside>
                <aside class="listImg">
                    <i></i><p>04:22</p>
                    <img src="/images/img50/225_150.jpg">
                </aside>
            </aside>
            <aside>
                &lt;!&ndash;<p><i class="pendingAudit"></i>待审核<b>刚刚</b></p>&ndash;&gt;
                <p><i class="audited"></i>审核已通过<b>刚刚</b></p>
                &lt;!&ndash;<p><i class="auditedNone"></i>未达到参赛标准<span>拒绝原因:  • 清晰度不够   </span><b>刚刚</b></p>&ndash;&gt;
            </aside>
        </li>
        <li>
            <aside class="wordsDetail">
                <aside class="listDetail">
                    <p>小儿脊柱退变侧凸长节段与短阶段融合手术</p>
                    <p><span><i></i>0</span><span><i></i>0</span><span><i></i>0</span></p>

                </aside>
                <aside class="listImg">
                    <i></i><p>04:22</p>
                    <img src="/images/img50/225_150.jpg">
                </aside>
            </aside>
            <aside>
                <p class="totalScoreBox">总分：<i>62</i><i class="colorDifference">分</i><b>2017-06-02</b></p>
                &lt;!&ndash;<p><i class="pendingAudit"></i>待审核<b>刚刚</b></p>&ndash;&gt;
                &lt;!&ndash;<p><i class="audited"></i>审核已通过<b>刚刚</b></p>&ndash;&gt;
                &lt;!&ndash;<p><i class="auditedNone"></i>未达到参赛标准<span>拒绝原因:  • 清晰度不够   </span><b>刚刚</b></p>&ndash;&gt;
            </aside>
        </li>-->
    </ul>
</section>
<section class="noWorkList" style="display: none;">
    <figure>
        <img src="/images/img50/column/videoPK_v2/no_works_bg.png" alt=""/>
    </figure>
</section>
</div>
    </section>
</section>