<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>2017拜耳活动改造</title>
    <meta name="description" content="">
    <meta name="Keywords" content="">

    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <link rel="dns-prefetch" href="//m.allinmd.cn"/>
    <link rel="dns-prefetch" href="//img50.allinmd.cn">
    <script src="/js/third-party/flexible.js"></script>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/pages/column/activity/activity_v2.css">
    <link rel="stylesheet" href="/css/column/activityTemplate/activityTemplate.css">
    <link rel="stylesheet" href="/css/column/activityTemplate/questionnaire.css">
    <link rel="stylesheet" href="/css/column/activityTemplate/newsModule.css"/>
    <link rel="stylesheet" href="/js/third-party/swiper/swiper.min.css">
    <link rel="stylesheet" href="/js/third-party/photoswipe/photoswipe-master/dist/photoswipe.css">
    <link rel="stylesheet" href="/js/third-party/photoswipe/photoswipe-master/dist/default-skin/default-skin-new.css">


    <style>
        .textColorYesOne{color:#D71181;}
        .textColorNoOne{color:#666;}
        .textColorYesTwo{color:#D71181;}
        .textColorNoTwo{color:#666;}
        .bgColorYesOne{background:#fff;}
        .bgColorNoOne{background:#fff;}
        .bgColorYesTwo{background:#fff;}
        .bgColorNoTwo{background:#fff;}
    </style>

</head>

<body>
<input type='hidden' value=''  id='shareLoc'/>
<input type='hidden' value='3'  id='bannerLength'/>

<input type="hidden" value="1491892487613" id="activityId" />
<!--banner和nav-->
<section class="spTemp_total_up">
    <header class="spTemp_total_banner swiper-container swiper-container-horizontal">
        <section class="swiper-wrapper">

            <figure class="spTemp_total_bannerImg swiper-slide">
                <img src="//img99.allinmd.cn/ad/2017/05/04/1377_1493877962614.png" alt="" class="bannerImg">

            </figure>
            <figure class="spTemp_total_bannerImg swiper-slide">
                <img src="//img99.allinmd.cn/ad/2017/05/08/1383_1494216614132.png" alt="" class="bannerImg">

            </figure>
            <figure class="spTemp_total_bannerImg swiper-slide">
                <img src="//img99.allinmd.cn/ad/2017/05/08/1384_1494216772689.png" alt="" class="bannerImg">

            </figure>


        </section>
        <section class="swiper-pagination swiper-pagination-bullets">
        </section>
        <a class="backToHome" href="//m.allinmd.cn" ></a>
    </header>
    <section class="ev-placeholder" style="position: relative;">
    <section class="nav_box">
        <section class="spTemp_total_nav">
        <ul class="spTemp_total_nav_list">

            <li  >

<span class="textColorYesOne" data-href="//m.allinmd.cn/design-html/activity/template/shouye.html" data-type="1" data-activityMenuId="1493703366224"
      data-layoutId="1490943139550" data-navText="1" >首页</span>

            </li>

            <li  >

<span  data-href="//m.allinmd.cn/design-html/activity/template/huodongjieshao.html" data-type="1" data-activityMenuId="1493703846797"
       data-layoutId="1490943139550" data-navText="2" >活动介绍</span>

            </li>

            <li  >

<span  data-href="//m.allinmd.cn/design-html/activity/template/quyusai.html" data-type="1" data-activityMenuId="1493790056368"
       data-layoutId="1490943139550" data-navText="3" >区域赛</span>

            </li>

            <li  >

<span  data-href="//m.allinmd.cn/design-html/activity/template/haixuanyouxiubingli.html" data-type="1" data-activityMenuId="1493703873433"
       data-layoutId="1490943139550" data-navText="4" >海选优秀病例</span>

            </li>            <li  >

            <span data-href="//m.allinmd.cn/design-html/activity/template/duanliebiao.html"
                  data-type="1" data-activitymenuid="1493030291869" data-layoutid="1490943139550" data-navtext="5">短列表样式调整</span>

        </li>
            <li  >

<span  data-href="//m.allinmd.cn/design-html/activity/template/wodezuopin.html" data-type="1" data-activityMenuId="1493703873455"
       data-layoutId="1490943139550" data-navText="6" >我的作品</span>

            </li>
            <li  >

<span  data-href="//m.allinmd.cn/design-html/activity/template/yaoqiuguifan.html" data-type="1" data-activityMenuId="1493703873455"
       data-layoutId="1490943139550" data-navText="7" >要求&&规范</span>

            </li>
            <li>

                <span  data-href="//m.allinmd.cn/design-html/activity/template/shaixuanliebiao.html" data-type="1" data-activitymenuid="1492063555650" data-layoutid="1490943139550" data-navText="8" >筛选组件</span>

            </li>
            <li>
<span  data-href="//m.allinmd.cn/design-html/activity/template/dianzananiuyangshi.html"
       data-type="1" data-activitymenuid="1492060379263" data-layoutid="1490943139550"  data-navText="9" >点赞按钮硬调整</span>

            </li>
            <li>

                <span  data-href="//m.allinmd.cn/design-html/activity/template/daipingzuopingzuopin.html" data-type="1" data-activitymenuid="1492063555650" data-layoutid="1490943139550" data-navText="10" >待评作品提示</span>

            </li>  <li>

            <span data-href="//m.allinmd.cn/design-html/activity/template/xinbanhuodongceshi.html" data-type="1" data-activitymenuid="1492060379263" data-layoutid="1490943139550" data-navtext="11" class="textColorYesOne">新办活动区域赛</span>

        </li>
            <li>

                <span data-href="//m.allinmd.cn/design-html/activity/template/zhuanjialiebiaoxinwen.html" data-type="1" data-activitymenuid="1492060379263" data-layoutid="1490943139550" data-navtext="12" class="textColorYesOne">专家列表新闻</span>

            </li>

        </ul>
        <button class="spTemp_nav_more spTemp_nav_more_spread"></button>
    </section>
        </section>
    </section>

</section>
<section class="spTemp_total_down">

</section>
    <section class="footer_box">
        <!--海选报名按钮开始 style="display: none;"-->
        <section class="registrationEntrance ev-signUpBtn" ><a href="javascript:;"><i></i><span class="ev-signUpName">海选报名</span></a></section>
        <!--海选报名按钮结束-->
        <footer class="pageFooter bayerAreaFooter">
            <article class="footerItem">
                <a href="//m.allinmd.cn" class="footerHome" data-ajax="false">
                    唯医首页
                </a>
            </article>
            <i class="hr"></i>
            <article class="footerItem ">
                <a href="javascript:;" class="footerDownload Ev-footerAppDownload" data-ajax="false">
                    下载APP
                </a>
            </article>
            <i class="hr"></i>
            <article class="footerItem">
                <a href="javascript:;" class="footerBackToTop">
                    返回顶部
                </a>
            </article>
        </footer>
        <section class="al-scrollShareBtn Ev-ShareBtn">
            <i class="icon-scrollShare"></i>分享
        </section>
    </section>

<script src="/js/lib/jquery/jquery-2.1.0.min.js"></script>
<script src="/js/lib/jquery/jquery.json-2.4.js"></script>
<script src="/js/third-party/fastclick.js"></script>
<script src="/js/third-party/swiper/swiper.jquery.min.js"></script>

<script src="/js/comm/main.js"></script>
<script src="/js/comm/common.js"></script>
<script src="/js/comm/comm.func.js"></script>
<script src="/js/comm/comm.ajax.js"></script>
<script src="/js/comm/comm-customer.js"></script>
<script src="/js/comm/comm-data.js"></script>
<script src="/js/comm/comm_service.js"></script>
<script src="/js/comm/jweixin-1.0.0.js"></script>
<script src="/js/comm/shareAll.js"></script>
<script src="/js/comm/log.js"></script>
<script src="/js/comm/comm.date.js"></script>

<script src="/js/modules/module.user.js"></script>
<script src="/js/third-party/photoswipe/photoswipe-master/dist/photoswipe.js"></script>
<script src="/js/third-party/photoswipe/photoswipe-master/dist/photoswipe-ui-default.js"></script>
<script src="/js/third-party/jquery.plugin.picshow.js"></script>
<script src="/js/third-party/jquery.plugin.picshow-comment.js"></script>
<script src="/js/third-party/gssdk.js"></script>
<script src="/js/third-party/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/js/scene/live/gensee/lang.zh_CN.js"></script>
<script src="/js/scene/live/gensee/new-player.base.js"></script>
<script src="/js/scene/live/gensee/new-player.common.js"></script>
<script src="/js/scene/live/gensee/new-player.survey.js"></script>
<script src="/js/scene/live/gensee/webplayer.common.js"></script>
<script src="/js/scene/live/gensee/new-player.chat.js"></script>
<script src="/js/scene/live/live_common.js"></script>
<script src="/js/third-party/jqueryscrollpagination/js/scrollpagination.js"></script>
<script src="/js/third-party/bscroll/bscroll.min.js"></script>

<script src="/js/column/activityTemplate/column.activityTemplate.comm.js"></script>
<script src="/js/column/activityTemplate/column.activityTemplate.js"></script>
<script src="/js/column/activityTemplate/column.iscroll.js"></script>
<script src="/js/column/activityTemplate/column.questionnaire.js"></script>

</body>

</html>            
