<section class="tempMainModel">
<section class="sp_container sp_container_l">
<div data-id="84" data-columnid="128" data-componenttype="4" class="isComp">
<section class="theme_news">
 <section class="al-require_box">
<aside class="al-require_title">
 <span>专业及疾病范围</span><!--新闻顶部居中的标题替换文字-->
</aside><!--新闻中有多个第一级标题时候复制开始处-->
<aside class="al-require_cont">
 <!--第一级标题名字开始-->
 <p class="al-reFirstTitle">
脊柱&amp;骨肿瘤疾病清单
 </p><!--第一级标题名字结束-->
 <!--新闻中有多个二级标题（a)）时候复制开始处-->
 <!--第二级标题名字开始-->
 <p class="al-reSecondTitle">
a)脊柱
 </p><!--第二级标题结束-->
 <!--新闻中有多个三级标题（iii）时候复制开始处-->
 <dl>
<!--第三级级标题名字开始-->
<dt>
 i.脊柱退行性疾病
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.神经根型颈椎病
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.脊髓型颈椎病
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.颈椎管狭窄症
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.颈椎后纵韧带骨化症
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 5.胸椎管狭窄症
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 6.盘源性腰痛
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 7.腰椎间盘突出症
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 8.下腰椎不稳症
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 9.退变性腰椎管狭窄症
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 10.其他
</dd><!--第四级每条列表结束-->
 </dl><!--新闻中有多个三级标题（iii）时候复制结束处-->
 <!--新闻中有多个二级标题（a)）时候复制结束处-->
 <dl>
<!--重复三级标题开始-->
<dt>
 ii.脊柱脊髓创伤性疾病
</dt>
<dd>
 1.寰椎骨折
</dd>
<dd>
 2.枢椎齿状突骨折
</dd>
<dd>
 3.单纯寰枢椎脱位
</dd>
<dd>
 4.伴有齿状突骨折的寰枢椎脱位
</dd>
<dd>
 5.Hangman 骨折
</dd>
<dd>
 6.颈椎骨折或脱位
</dd>
<dd>
 7.颈椎过伸伤
</dd>
<dd>
 8.胸、腰椎骨折或脱位
</dd>
<dd>
 9.胸腰椎骨折或脱位伴脊髓损伤
</dd>
<dd>
 10.其他
</dd>
 </dl><!--重复三级标题结束-->
 <!--重复三级标题开始-->
 <dl>
<dt>
 iii.炎症及代谢性脊柱疾病
</dt>
<dd>
 1.脊柱骨质疏松性骨折
</dd>
<dd>
 2.强直性脊柱炎
</dd>
<dd>
 3.脊柱结核
</dd>
<dd>
 4.脊柱化脓性感染
</dd>
<dd>
 5.其他
</dd>
 </dl><!--重复三级标题结束-->
 <!--第三级级标题名字开始-->
 <dl>
<dt>
 iv.脊柱畸形
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.颈椎及颅颈交界畸形
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.退变性脊柱侧弯
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.青少年特发性脊柱侧凸
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.脊柱后凸畸形
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 5.其他
</dd><!--第四级每条列表结束-->
 </dl><!--第二级标题名字开始-->
 <p class="al-reSecondTitle">
b)骨肿瘤
 </p><!--第二级标题结束-->
 <!--新闻中有多个三级标题（iii）时候复制开始处-->
 <dl>
<!--第三级级标题名字开始-->
<dt>
 i.原发恶性骨肿瘤
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.成骨肉瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.软骨肉瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.尤文肉瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.滑膜肉瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 5.恶性神经纤维瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 6.恶性纤维组织细胞瘤瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 7.恶性淋巴瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 8.组织细胞肉瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 9.脊索瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 10.单发浆细胞骨髓瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 11.多发骨髓瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 12.其他
</dd><!--第四级每条列表结束-->
 </dl><!--新闻中有多个三级标题（iii）时候复制结束处-->
 <!--新闻中有多个二级标题（a)）时候复制结束处-->
 <dl>
<!--重复三级标题开始-->
<dt>
 ii.转移性骨肿瘤
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.乳腺癌转移性骨肿瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.前列腺癌转移性骨肿瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.肺癌转移性脊柱骨瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.肾癌转移性脊柱骨瘤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 5.其他
</dd><!--第四级每条列表结束-->
 </dl><!--新闻中有多个三级标题（iii）时候复制结束处-->
 <!--新闻中有多个二级标题（a)）时候复制结束处-->
 <dl>
<!--重复三级标题开始-->
<dt>
 iii.骨肿瘤样病变
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.孤立性骨囊肿
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.骨纤维异常增殖症
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.动脉瘤样骨囊肿
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.关节旁骨囊肿
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 5.畸形性骨炎
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 6.其他
</dd><!--第四级每条列表结束--><!--第一级标题名字开始-->

 </dl>
 <p class="al-reFirstTitle">
 关节&amp;运动医学疾病清单
</p><!--第一级标题名字结束-->
 <!--第二级标题名字开始-->
 <p class="al-reSecondTitle">
a)关节
 </p><!--第二级标题结束-->
 <!--新闻中有多个三级标题（iii）时候复制开始处-->
 <dl>
<!--第三级级标题名字开始-->
<dd>
 1.膝关节骨性关节炎
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 2.膝关节类风湿性关节炎
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 3.膝关节色素绒毛结节性滑膜炎
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 4.膝关节滑膜皱壁综合征
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 5.膝关节痛风性关节炎
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 6.膝关节滑膜骨软骨瘤病
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 7.髌骨不稳症
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 8.膝关节术后血栓
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 9.膝关节术后异位骨化
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 10.膝关节内翻
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 11.膝关节外翻
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 12.膝关节脱位
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 13.股骨头坏死
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 14.髋关节骨性关节炎
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 15.股骨髋臼撞击综合征
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 16.髋臼发育不良
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 17.先天性髋关节脱位
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 18.弹响髋
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 19.强直性脊柱炎累及髋膝关节
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 20.髋/膝关节化脓性感染
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 21.髋/膝关节结核
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 22.髋臼内陷症
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 23.其他
</dd><!--第三级级标题名字结束-->
 </dl>
 <!--第二级标题名字开始-->
 <p class="al-reSecondTitle">
b)运动医学
 </p><!--第二级标题结束-->
 <!--新闻中有多个三级标题（iii）时候复制开始处-->
 <dl>
<!--第三级级标题名字开始-->
<dd>
 1.肩关节撞击症
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 2.肩袖损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 3.肩锁关节损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 4.冻结肩
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 5.肩关节不稳
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 6.肱二头肌长头腱与SLAP损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 7.肘关节肌腱与韧带损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 8.肘关节过度使用性损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 9.髌骨不稳
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 10.半月板损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 11.膝关节内外侧副韧带损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 12.膝关节交叉韧带损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 13.髋关节撞击症与盂唇损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 14.髋关节外结构损伤
</dd><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dd>
 15.其他
</dd><!--第三级级标题名字结束-->
 </dl>
 <p class="al-reFirstTitle">
 创伤&amp;足踝&amp;手外疾病清单
</p><!--第一级标题名字结束-->
 <!--第二级标题名字开始-->
 <p class="al-reSecondTitle">
a)创伤
 </p><!--第二级标题结束-->
 <!--新闻中有多个三级标题（iii）时候复制开始处-->
 <dl>
<!--第三级级标题名字开始-->
<dt>
 i.肩胛带骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.肩胛骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.锁骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.肩锁关节损伤
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 ii.肱骨近端骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.肱骨头骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.肱骨外科颈骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.肱骨解剖颈骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.肱骨大、小结节骨折
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 iii.肱骨干骨折
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 iv.肘关节骨折脱位
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.肘关节后脱位
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.肘关节前脱位
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.肱骨远端骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.尺骨鹰嘴骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 5.桡骨头骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 6.恐怖三联征
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 v.前臂骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.尺骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.桡骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.尺桡骨双骨折
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 vi.桡骨远端骨折
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 vii.骨盆环骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.耻骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.髂骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.骶髂关节损伤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.耻骨联合损伤
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 viii.髋臼骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.髋臼骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.髋关节中心性脱位
</dd><!--第四级每条列表结束-->
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <!--第三级级标题名字开始-->
<dt>
 ix.股骨近端骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.股骨头骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.股骨颈骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.股骨粗隆间骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.股骨粗隆下骨折
</dd><!--第四级每条列表结束-->
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<!--第三级级标题名字开始-->
<dt>
 x.股骨干骨折
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xi.膝关节周围损伤
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.股骨髁上骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.股骨髁间骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.髌骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.髌骨脱位
</dd><!--第四级每条列表结束-->
!--第四级每条列表开始--&gt;
<dd>
 5.膝关节脱位
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 6.膝关节侧副韧带损伤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 7.膝关节交叉韧带损伤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 8.半月板损伤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 9.胫骨平台骨折
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xii.胫腓骨骨干骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.胫腓骨骨折
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xiii.开放性骨折与关节创伤
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.开放性骨折与关节损伤
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xiv.创伤性截肢
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.创伤性截肢
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xv.多发性创伤的救治
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.多发性损伤
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xvi.多发性骨与关节损伤的救治
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.多发性骨与关节损伤
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xvii.枪弹伤、火器伤的救治
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.枪弹伤、火器伤
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xviii.骨折与骨不连的诊断与治疗
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.骨折与骨不连
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xvx.骨折畸形愈合的矫形治疗
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.骨折畸形愈合
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xx.其他
</dt><!--第三级级标题名字结束-->
 </dl>
 <!--第二级标题名字开始-->
 <p class="al-reSecondTitle">
b)足踝
 </p><!--第二级标题结束-->
 <!--新闻中有多个三级标题（iii）时候复制开始处-->
 <dl>
<!--第三级级标题名字开始-->
<dt>
 i.踝关节骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.内踝骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.外踝骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.双踝骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.三踝骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 5.Pillon骨折
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 ii.足部骨折
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.跟骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.距骨骨折
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.跖骨骨折
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 iii.lisfranc关节损伤
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.lisfranc关节损伤
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 iv.马蹄高弓足诊断和治疗
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 v.马蹄高弓足诊断和治疗
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 vi.成人获得性平足症
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 vii.拇外翻
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 viii.前足痛
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 ix.距下关节炎
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 x.距骨软骨损伤
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xi.踝关节韧带损伤
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xii.跟腱损伤和断裂
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xiii.跖筋膜炎和跟痛症
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xiv.踝关节骨关节炎
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xv.足部常见感染
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xvi.其他
</dt><!--第三级级标题名字结束-->
 </dl>
 <!--第二级标题名字开始-->
 <p class="al-reSecondTitle">
c)手外科
 </p><!--第二级标题结束-->
 <!--新闻中有多个三级标题（iii）时候复制开始处-->
 <dl>
<!--第三级级标题名字开始-->
<dt>
 i.皮片移植与皮瓣移植
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 ii.腕关节骨折与脱位
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 iii. 掌指骨骨折与关节脱位
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 iv. 手部肌腱损伤
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 v.周围神经损伤
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.尺神经损伤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.桡神经损伤
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.臂丛神经损伤
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 vi.血管损伤
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 vii.断指再植与断肢再植
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 viii.骨筋膜室综合征
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 ix.类风湿性关节炎
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 x.肌腱与腱膜疾病
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xi.周围神经卡压性疾病
</dt><!--第三级级标题名字结束-->
<!--第四级每条列表开始-->
<dd>
 1.腕管综合征
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 2.骨间前神经卡压综合征
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 3.旋前圆肌综合征
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 4.肘部尺神经病变
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 5.腕尺管综合征
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 6.上臂桡神经卡压综合征
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 7.骨间后神经卡压综合征
</dd><!--第四级每条列表结束-->
<!--第四级每条列表开始-->
<dd>
 8.桡浅神经卡压综合征
</dd><!--第四级每条列表结束-->
<!--第三级级标题名字开始-->
<dt>
 xii.手部肿瘤
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xiii.先天性手畸形
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xiv.手部感染性疾病
</dt><!--第三级级标题名字结束-->
<!--第三级级标题名字开始-->
<dt>
 xv.其他
</dt><!--第三级级标题名字结束-->
 </dl>
</aside><!--新闻中有多个第一级标题时候复制结束处-->
 </section><!--展开更多（不需要此按钮时删除开始）-->
 <section class="al-require_checkMore">
<p class="ev-require_checkMore ev-moreCanClick">
 展开更多
</p>
 </section><!--展开更多（不需要此按钮时删除结束）-->
</section>
</div>
</section>
</section>
