<section class="tempMainModel">
    <section class="sp_container sp_container_l">
        <div  data-id="84" data-columnId="128" data-componentType="4" class="isComp"><section class="theme_news">
            <section class="userList">
            <aside class="title">专家证书</aside>
            <aside class="listCont" style="margin-bottom: 0;">
                <p>关节</p>
                <ul>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>

                </ul>
            </aside>
            <aside class="listCont"  style="display: none;">
                <p>关节</p>
                <ul>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>

                </ul>
            </aside>
            <aside class="listCont"  style="display: none;">
                <p>关节</p>
                <ul>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>
                    <li>
                        <div class="userName"><a href="//m.allinmd.cn/pages/personal/others_contribution.html?cid=">姓名</a></div>
                        <div class="userIntroduction">
                            <span>副主任委员</span>
                            <span>新疆医科大学第一附属医院</span>
                        </div>
                    </li>

                </ul>
            </aside>
            <aside class="openMore ev-openMore">展开更多</aside>
        </section></section>
        </div>
    </section>
</section>