@charset "UTF-8";
/*主内容 活动主旨部分*/
.subjectText {
  border-bottom: 1px solid #eceaf0;
  padding: 0.26667rem 0.4rem 0.48rem 0.4rem;
  font-size: 0.4rem;
  word-break: break-all;
}
.subjectText a {
  width: 40%;
  float: left;
  margin-right: 0.4rem;
}
.subjectText a img {
  width: 100%;
  vertical-align: top;
}
.subjectText span {
  color: #66657f;
}

/*优秀病例部分*/
.caseListBox {
  box-sizing: border-box;
  border-bottom: 1px solid #eceaf0;
}

ol.caseList {
  position: relative;
  left: 0.8rem;
}
ol.caseList li.caseText {
  list-style-type: disc;
  border-bottom: 1px solid #eceaf0;
  padding: 0.53333rem 0;
  padding-right: 1.33333rem;
}
ol.caseList li.caseText:nth-last-child(1) {
  border: none;
}

.caseText a {
  width: 100%;
  font-size: 0.4rem;
  color: #66657f;
  vertical-align: middle;
}
.caseText p {
  padding-top: 0.13333rem;
}
.caseText span {
  font-size: 0.29333rem;
  color: #9c9c9d;
  position: relative;
}
.caseText .area {
  font-size: 0.4rem;
  color: #7f5fc8;
}
.caseText .doctor:before {
  content: "";
  width: 0.28rem;
  height: 0.26667rem;
  display: inline-block;
  background: transparent url("//img50.allinmd.cn/column/bayer_race/doctor.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.13333rem;
}
.caseText .hospital:before {
  content: "";
  width: 0.33333rem;
  height: 0.26667rem;
  display: inline-block;
  background: transparent url("//img50.allinmd.cn/column/bayer_race/hospital.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.13333rem;
  margin-left: 0.4rem;
}

/*赛区图片*/
.raceLiveBox {
  margin-top: 0.26667rem;
  background-color: #fff;
  overflow: hidden;
  padding: 0.26667rem 0.4rem;
}
.raceLiveBox .raceLiveTitle {
  width: 1.62667rem;
  height: 1.16rem;
  float: left;
}
.raceLiveBox .raceLiveTitle img {
  width: 100%;
  vertical-align: top;
}
.raceLiveBox .raceLive {
  position: absolute;
  left: 2.26667rem;
  overflow: hidden;
  width: 7.24rem;
}

.liveImg img {
  width: 100%;
  height: 1rem;
}

/*复活banner*/
/*精彩现场*/
.broveShowList {
  margin: 0.53333rem 0 0 0.4rem;
  overflow: hidden;
  padding-bottom: 0.53333rem;
  border-bottom: 1px solid #d9d9e1;
}
.broveShowList:nth-last-child(4) {
  border: none;
}

.broveShowImg {
  width: 2.8rem;
  height: 1.85333rem;
  float: left;
  border: 0.04rem solid #d5d5d5;
  overflow: hidden;
  text-align: center;
  padding: 1px;
  position: relative;
}
.broveShowImg img {
  width: 100%;
  vertical-align: middle;
}
.broveShowImg figure.levelUpIcon {
  width: 1.33333rem;
  height: 0.88rem;
  position: absolute;
  top: -1px;
  left: -2px;
  display: none;
}
.broveShowImg figure.levelUpIcon img {
  width: 100%;
  vertical-align: top;
}

.broveShowList.levelUp .levelUpIcon {
  display: block;
}

.broveShowText {
  margin-left: 3.17333rem;
  margin-right: 0.4rem;
}
.broveShowText a {
  font-size: 0.4rem;
  line-height: 0.58667rem;
  color: #66657f;
}
.broveShowText a span {
  font-size: 0.4rem;
  color: #66657f;
}
.broveShowText p {
  margin-top: 0.26667rem;
}
.broveShowText span {
  font-size: 0.29333rem;
  color: #969696;
}
.broveShowText .userName {
  margin-right: 0.4rem;
}
.broveShowText .userName:before {
  content: "";
  width: 0.28rem;
  height: 0.26667rem;
  display: inline-block;
  background: transparent url("//img50.allinmd.cn/column/bayer_race/doctor.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.13333rem;
  vertical-align: middle;
}
.broveShowText .watchNum:before {
  content: "";
  width: 0.32rem;
  height: 0.26667rem;
  display: inline-block;
  background: transparent url("//img50.allinmd.cn/column/bayer_race/place.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.13333rem;
  vertical-align: middle;
}

.broveMore {
  border-top: 1px solid #eae8ee;
}

/*总决赛精彩瞬间*/
.broveShowFinal {
  display: none;
}

.finalMore {
  display: none;
}

.finalPart .broveShowTitle {
  border-bottom: none;
}
.finalPart .broveShowList {
  display: none;
}
.finalPart .broveShowFinal {
  display: block;
}
.finalPart .broveMore {
  display: none;
}
.finalPart .finalMore {
  display: block;
}

.broveShowFinal {
  padding: 0.4rem;
  padding-top: 0;
}
.broveShowFinal .finalImg {
  width: 100%;
  position: relative;
}
.broveShowFinal .finalImg img {
  width: 100%;
  vertical-align: top;
}
.broveShowFinal .videoBtn {
  width: 1.09333rem;
  height: 1.09333rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.54667rem;
  margin-top: -0.54667rem;
}
.broveShowFinal .videoBtn img {
  width: 100%;
  vertical-align: top;
}
.broveShowFinal .finalShowText {
  font-size: 0.4rem;
  color: #66657f;
  line-height: 1.7;
  padding-top: 0.26667rem;
}

.finalMore {
  border-top: 1px solid #eae8ee;
}
