@charset "UTF-8";
.al-discover_knowZj {
  padding: 20px 20px 10px 20px;
}
.al-discover_knowZj:hover {
  background-color: #fafbfd;
}

.al-discover_ZjUser {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  behavior: url("/js/third-party/pie/pie.htc");
  position: relative;
  margin-top: -3px;
  display: block;
  overflow: hidden;
}
.al-discover_ZjUser img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.al-discover_ZjDetail {
  margin-left: 50px;
  position: relative;
}
.al-discover_ZjDetail a {
  display: inline-block;
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}
.al-discover_ZjDetail a:hover {
  color: #3598DB;
}
.al-discover_ZjDetail p {
  font-size: 13px;
  font-family: "宋体";
  color: #909090;
  margin-top: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 110px;
}
.al-discover_ZjDetail p.al-dis-company {
  width: 100%;
}
.al-discover_ZjDetail .follow {
  position: absolute;
  top: 20px;
  right: 0;
  width: 66px;
  height: 26px;
  margin-top: -20px;
  cursor: pointer;
}
