<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>“Xa例之声”活动介绍－全国关节病例演讲赛</title>
     <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<link rel="dns-prefetch" href="//comm.allinmd.cn">
	<link rel="dns-prefetch" href="//modules.allinmd.cn">
	<link rel="dns-prefetch" href="//other.allinmd.cn">
	<link rel="dns-prefetch" href="//scene.allinmd.cn">
	<link rel="dns-prefetch" href="//img00.allinmd.cn">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
	<link href="//comm.allinmd.cn/base.css" rel="stylesheet" type="text/css"/>
    <link href="//modules.allinmd.cn/lib.css" rel="stylesheet" type="text/css"/>
    <link href="//other.allinmd.cn/jquery-X-Menu/css/powerFloat.css" rel="stylesheet" type="text/css" />
    <link href="//other.allinmd.cn/jquery-X-Menu/css/xmenu.css" rel="stylesheet" type="text/css" />
    <link href="//other.allinmd.cn/jquery-autocomplete/jquery.autocomplete.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPod");
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }
        if(!IsPC()){
            window.location.href='//m.allinmd.cn/html/m/activity/1459416619774/activity_details.html';
        }
    </script>


</head>
<body>
<!--#include virtual="/includes/header.jsp"-->
    <div class="bayer_sound">
        <!--banner图-->
        <div class="sound_banner">
            <div class="banMain">
                <div class="soundShare" id="hr_share">
                    <span>分享至:</span>
                    <a href="javascript:;" class="share_ico_tsina"><img src="//img00.allinmd.cn/column/bayer/micro-blog.png"></a>
                    <a href="javascript:;" class="share_ico_tqq"><img src="//img00.allinmd.cn/column/bayer/QQ.png"></a>
                    <a href="javascript:;" class="share_ico_qzone"><img src="//img00.allinmd.cn/column/bayer/QQk.png"></a>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
        <!--导航-->
        <div style="height:66px;width:100%">
        <div class="sound_nav Ev-BayerNavFixedEvent">

            <div class="navMain">
                <ul>

<#if (activityMenu??)&&(activityMenu?size>0)>
    <#list activityMenu as MenuList>
		<li <#if MenuList_index ==1>class="click"<#else>class="navLi"</#if>><a href="${MenuList.activityMenuUrl}">${MenuList.activityMenuName}</a></li>
    </#list>
</#if>
                    <li><a href="//www.allinmd.cn/pages/column/bayer/sound_disease2.html">海选优秀病例</a></li>
                    <div class="clear">&nbsp;</div>

                </ul>
           
            </div>
            <!--悬浮导航-->
            <div class="susNav Ev-BayerFloatNav">
                <div class="susList Ev-a-HoverShow">
                    <a class="susBg" href="#actIntrodu" id="actIntrod">活动主旨</a>
                    <a href="#entQua">参赛资格</a>
                    <a href="#schedule">赛程赛制</a>
                    <a href="#timeTable">活动时间</a>
                    <a href="#revival">复活机制</a>
                    <a href="#bonus">奖励设置</a>
                </div>
            </div>
        </div>
        </div>
<!--新闻01-->
<#if (cms_news_list??)&&(cms_news_list?size>0)>
    <#list cms_news_list as newsList>
        <#if newsList_index==0>
            ${newsList.newsBody}
        </#if>
    </#list>
</#if>
    </div>
<!--#include virtual="/includes/footer.jsp"-->

<script src="//comm.allinmd.cn/base.js"></script>
<script src="//modules.allinmd.cn/lib.js"></script>
<script src="//scene.allinmd.cn/column/bayer/scene.column.bayer.bayerComm.js"></script>

<script src="//other.allinmd.cn/jquery-autocomplete/jquery.autocomplete.js"></script>
<script src="//other.allinmd.cn/jquery-autocomplete/jquery.lenovo.js"></script>
<script src="//other.allinmd.cn/jquery-X-Menu/js/jquery-powerFloat-min.js"></script>
<script src="//other.allinmd.cn/jquery-X-Menu/js/jquery-xmenu.js"></script>
<script src="//other.allinmd.cn/jquery-X-Menu/js/jquery-xmenu-new.js"></script>
<script src="//other.allinmd.cn/jquery-X-Menu/js/jquery-xmenu-con.js"></script>
<script src="//other.allinmd.cn/jquery-validate/jquery.validate.js"></script>
<script src="//other.allinmd.cn/jquery-validate/jquery.validate.rules.collection.js"></script>
<script src="//other.allinmd.cn/zhihu-placeholder/jquery.placeholder.zhihu.js"></script>
<script src="//other.allinmd.cn/uploadReplace/uploadReplace.js"></script>
<script src="//other.allinmd.cn/uploadify/jquery.uploadify.js"></script>

</body>
</html>