@charset "utf-8";
/* CSS Document */


:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #808080;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #808080;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #808080;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #808080;
}

input::-webkit-input-placeholder {
    color: #808080;
}
input:-moz-placeholder {
    color: #808080;
}
.bj_mail_bg,.bj_phone_bg,.bj_password_bg,.bj_caos_logo_bg,.bj_jz_bg,.bj_jt_bg,.bj_bao_bg,.bj_mao_bg,.bj_book_bg,.bj_jb_bg,.bj_gz_bg,.bj_d_bg,.bj_vip_bg{background:url(//img10.allinmd.cn/common/icon/png/personal-sprite.png) no-repeat 0 0; float:left;}
.bj_mail_bg{width:41px;height:41px;background-position:0 -92px;}
.bj_phone_bg{width:41px;height:41px;background-position:-41px -92px;}
.bj_password_bg{width:41px;height:41px;background-position:-82px -92px;}
.bj_caos_logo_bg{width:41px;height:41px;background-position:-123px -92px;}
.bj_jz_bg{width:41px;height:41px;background-position:-205px -150px;}
.bj_bao_bg{width:41px;height: 28px;background-position: 0 -155px;margin-left: 35px;}
.bj_mao_bg{width:41px;height:41px;background-position:-41px -155px;margin-left: 35px;}
.bj_book_bg{width:41px;height:41px;background-position:-82px -155px;margin-left: 35px;}
.bj_jb_bg{width:41px;height:41px;background-position:-123px -155px;margin-left: 35px;}
.bj_s_bg{width:41px;height:41px;background:url(//img10.allinmd.cn/common/icon/png/scientificIcon.png) no-repeat 0 0;margin-left: 35px;}
.bj_jt_bg{width:41px;height:41px;background-position:-205px -145px;margin-left: 35px;}
.bj_gz_bg{width:41px;height:41px;background-position:-246px -150px;margin-left: 35px;}
.bj_d_bg{width:41px;height:41px;background-position:-287px -155px;margin-left: 35px;}
.bj_vip_bg{width:41px;height:41px;background-position:-328px -155px;margin-left: 35px;}
.bj_wx_logo_bg{
	background:url(//img00.allinmd.cn/personal/wx_img.png) no-repeat center;
	height:41px;
	width:41px;
	float:left;
}
.p_c_title_bj_top{
	border-bottom: solid 1px #e1e3e4;
	line-height: 55px;
	font-size: 16px;
	color: #73859e;
	padding-left: 20px;
	height:55px;
}
.base_info_hover_color{
	background:#f7f7fc;
}
.base_info_hover_padding{
	margin:-10px 0 20px 0;
}
.p_c_title_bj{
	
	float:left;
}
.p_c_cont_bj_mail,.p_c_cont_bj_phone{
	padding-left:25px;
}

.p_c_cont_bj{
	padding:15px 20px 30px 20px;
}
.p_c_cont_bj_mail_input input{
	width:218px;
	height:30px;
	line-height:30px;
	border-radius:3px;
	border:solid 1px #dbdbdb;
	padding-left:10px;
	margin: 5px 15px 5px 20px;
	float:left;
	color:#333;
	font-size:13px;
	font-family:microsoft yahei;
}
.p_c_title_bj_text a:link,.p_c_title_bj_text a:active,.p_c_title_bj_text a:visited{
	background:url(//img00.allinmd.cn/personal/bj_img_b.png) no-repeat left center;
	color:#969696;
	font-size:12px;
	display:block;
	text-decoration:none;
	padding-left:15px;
}
.p_c_title_bj_text a:hover{
	background:url(//img00.allinmd.cn/personal/bj_img_hover.png) no-repeat left center;
	color:#3d84c6;
	font-size:12px;
	display:block;
	padding-left:15px;
}
.fa_yzm{
	padding:0 15px;
	border-radius:3px;
	border:solid 1px #dbdbdb;
	font-size:12px;
	color:#555;
	height:28px;
	line-height:28px;
	float:left;
	text-align:center;
	margin-top:5px;
	cursor:pointer;
	background:url(//img00.allinmd.cn/personal/but_bg.png) repeat-x;
}

.personal_content .personal_qx_button{
	background:#9da6b0 !important;
	border:none;
	/* padding:6px 13px 6px 18px; */
	letter-spacing:3px;
	color:#fff !important;
	margin-top:15px;
}
.personal_content .personal_bc_button{
	background:#3a9eeb !important;
	border:none;
	/* padding:6px 13px 6px 18px; */
	letter-spacing:3px;
	color:#fff !important;
	margin:15px 10px 0 20px;
}
.per_bj_floor{
	margin-bottom:20px;
}
.p_c_title_bj_button{
	float:right;
	margin-right:20px;
	width:50px;
	height:26px;
	text-align:center;
	line-height:26px;
	color:#fff;
	font-size:12px;
	background:#3a9eeb;
	border-radius:3px;
	margin-top:15px;
}
.p_base_info_jbxx01_l{
	float:left;
	width:90px;
	text-align:right;
	font-size:13px;
	color:#969696;
	line-height:40px;
}
.p_base_info_jbxx01_r{
	float:left;
}
.p_base_info_jbxx{
	padding-top:15px;
}
.p_c_cont_bj_mail_input{
	float:left;
}
.p_c_cont_bj_name_input input{
	float:left;
	width: 98px;
	height: 30px;
	border-radius: 3px;
	border: solid 1px #dbdbdb;
	padding-left: 10px;
	margin: 5px 15px 5px 20px;
	color:#333;
	font-size:13px;
}
.personal_name_input{
	width:35px;
}
.p_c_cont_bj_address_input select{
	width:75px;
	height:30px;
	line-height:30px;
	padding-left:5px;
	border-radius:3px;
	float:left;
	color:#333;
	font-size:13px;
	margin:5px 0 5px 10px;
}
.address_input_ml select,.address_input_ml input{
	margin-left:20px;
}
.p_base_info_jbxx01_radio input{
	vertical-align:middle; margin-top:-2px; margin-bottom:1px;
}
.p_base_info_jbxx01_radio span{
	color:#808080;
	font-size:12px;
	margin-left:5px;
}
.p_base_info_jbxx01_radio{
	padding-top:10px;
	float:left;
	margin-right:10px;
}
.p_c_cont_bj_address_input02 select{
	width:50px;
	height:30px;
	line-height:30px;
	padding-left:5px;
	border-radius:3px;
	float:left;
	color:#333;
	font-size:13px;
	margin:5px 0 5px 10px;
}
.p_base_info_jbxx01_r_border{
	width:378px;
	height:30px;
	border-radius: 3px;
	border: solid 1px #dbdbdb;
	margin:5px 20px;
}

.baseinfo_padding{
	padding:30px 23px 20px;
}

.p_base_info_jbxx01_r_time{
	color:#333;
	font-size:13px;
	margin:10px 0 25px 20px;
}
.p_c_title_bj_jj_text{
	padding:25px 22px 30px;
	font-size:13px;
	color:#333;
	line-height:24px;
	word-break: break-all;
}

.p_c_title_bj_jj_text textarea{
	border:none;
	color:#333;
	font-size:13px;
	width:678px;
	line-height:24px;
	resize:none;
	padding-right:0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #333;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #333;
}
.p_c_title_bj_zl{
	margin-bottom:10px;
	position:relative;
}
.p_c_title_bj_zl_l,.p_c_title_bj_zl_r{
	float:left;
}
.p_c_title_bj_zl_l{
	width:90px;
	text-align:right;
	font-size:13px;
	color:#969696;
	line-height:30px;
	margin-right:20px;
	height:30px;
}
.p_c_title_bj_zl_r{
	position:relative;
	/* max-width: 420px; */
	word-wrap: break-word;
}
.p_c_title_bj_zl_r input{
	width:218px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:solid 1px #e1e3e4;
	border-radius:3px;
	font-size:13px;
	color:#333;
}
/*placeholder的颜色设置*/
input::-webkit-input-placeholder{
    color: #A9A9A9;
}
.p_base_info_medcont{
	width:218px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:solid 1px #e1e3e4;
	border-radius:3px;
	font-size:13px;
	color:#333;
}
.p_c_title_bj_zl_r textarea{
	width:212px;
	height:64px;
	line-height:20px;
	padding:8px;
	border:solid 1px #e1e3e4;
	border-radius:3px;
	font-size:13px;
	color:#333;
}
.personal_baseinfo_display input{
	background:#f6f6f6;
}
.p_c_cont_bj_zl{
	padding:30px 0 20px 0;
}
.personal_content .bc_but_ml{
	margin-left:0;
}

.p_c_cont_bj_xz{
	/*padding:30px 23px 20px;*/
	position:relative;
}

.p_baseinfo_xz_bc{
	border-top:solid 1px #e1e3e4;
	padding: 5px 0 18px 0;
	position:relative;
}
.p_baseinfo_xz_qx_but,.p_baseinfo_xz_bc_but{
	float:right;
	cursor:pointer;
}
.p_baseinfo_xz_qx_but{
	margin-right: 10px;
	width: 50px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	color: #fff;
	font-size: 12px;
	background: #9da6b0;
	border-radius: 3px;
	margin-top: 15px;
}

.p_l_zc_xl{
	position:absolute;
	left:0;
	z-index:3;
	width:346px;
	height:auto;
	border:solid 1px #e2e3e3;
	box-shadow: 0px 0px 3px #e2e3e3;
	padding:0 0 20px 20px;
	background:#fff;
}
.p_l_zc_xl li{
	font-size:12px;
	background:url(//img00.allinmd.cn/personal/pointer.png) no-repeat left center;
	height:12px;
	line-height:12px;
	margin-top:20px;
}
.p_l_zc_xl li .p_l_zc_xl_li li{
	color:#333;
	float:left;
	background:none;
	padding:0 0 0 30px;
	margin-top:0;
	cursor:pointer;
}
.p_l_zc_xl li .p_l_zc_xl_li .hover{
	color:#3d84c6;
}
.p_l_zc_xl li .p_l_zc_xl_li .active{
	color:#b4b4b4;
}
.p_c_baseinfo_time01{
	background:url(//img00.allinmd.cn/personal/border_bg.png) repeat-x;
	height:28px;
	line-height:28px;
	width:86px;
	border:solid 1px #dbdbdb;
	border-radius:2px;
	float:left;
	margin-right:5px;
	position:relative;
	padding:0 !important;
}
/*三期新增籍贯、民族、政治面貌样式*/
.p_c_baseinfo_info{
	background:url(//img00.allinmd.cn/personal/border_bg.png) repeat-x;
	height:28px;
	line-height:28px;
	width:228px;
	border:solid 1px #dbdbdb;
	border-radius:2px;
	float:left;
	margin-right:5px;
	position:relative;
	padding:0 !important;
}
.p_c_baseinfo_time02{
	background:url(//img00.allinmd.cn/personal/border_bg.png) repeat-x;
	height:28px;
	line-height:28px;
	width:72px;
	border:solid 1px #dbdbdb;
	border-radius:2px;
	float:left;
	margin-right:5px;
	position:relative;
	padding:0 !important;
}
.p_base_info_jbxx01 .p_c_baseinfo_time01_xl{
	position:absolute;
	left:-1px;
	top:28px;
	z-index:3;
	width:83px;
	height:auto;
	border:solid 1px #e2e3e3;
	box-shadow: 0px 0px 3px #e2e3e3;
	background:#fff;
	padding:15px 0;
	text-align:center;
}

.personal_content .p_c_baseinfo_div01{
	background:url(//img00.allinmd.cn/personal/xl_base_info.png) no-repeat 70px center;
	padding-right:15px;
	font-size:13px;
	color:#333;
	height:30px;
}

.personal_content .p_c_baseinfo_div02{
	background:url(//img00.allinmd.cn/personal/xl_base_info.png) no-repeat 57px center;
	padding-right:10px;
	font-size:13px;
	color:#333;
	/* width:40px; */
}
.p_c_baseinfo_icon{
	float:left;
	margin:0 13px 0 8px;
	color: #969696;
}
.p_c_baseinfo_check{
	float:left;
}
.p_c_title_bj_zl_r .p_c_baseinfo_check{
	line-height:28px;
	height:28px;
	margin-left: 4px;
}
.p_baseinfo_but_bc,.p_baseinfo_but_qx{
	float:left;
	margin:5px 10px 0 0;
	cursor:pointer;
	
}
.p_baseinfo_but_bc{
	float:left;
	width: 67px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-size: 12px;
	background: #3a9eeb;
	border-radius: 3px;
	float: left;
}
.p_baseinfo_but_qx{
	float:left;
	width: 67px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-size: 12px;
	background: #9da6b0;
	border-radius: 3px;
}
.p_baseinfo_hospital{
	font-size:13px;
	color:#333;
}
.p_baseinfo_hospital_zl{
	color:#666666;
	margin-top:7px;
	font-size:13px;
}
.p_baseinfo_hospital_zl span{
	margin-right:3px;
}
.p_c_baseinfo_div01 span{
	color:#969696;
	margin-left:48px;
	display: inline-block;
	line-height: 30px;
}
.p_c_baseinfo_div02 span{
	color:#969696;
	margin-left:37px;
	display: inline-block;
	line-height: 31px;
}
.p_c_baseinfo_time01_xl .on{
	background: url(//img00.allinmd.cn/personal/xiala_dui.png) no-repeat 10px center;
	color: #3d84c6;
}
.p_baseinfo_px_cont{
	font-size:13px;
	color:#666;
	line-height:18px;
	margin:8px 0 15px 0;
	width:auto;
}




.baseinfo_after_text01{
	font-size:13px;
	color:#333;
	margin:0 0 0 20px;
	line-height:40px;
}
.baseinfo_margin{
	margin:5px 0 0 20px;
}
.p_c_title_bj_text{
	font-size:12px;
	color:#969696;
	padding-left:15px;
	float:right;
	line-height:55px;
	margin-right:20px;
}
.p_baseinfo_zl_img {
	margin-left:45px;
	float:left;
}
.p_baseinfo_zl_img img{
	width:67px;
	height:38px;
}
.baseinfo_add_xx{
	font-size:13px;
	color:#3d84c6; 
	margin-left:10px;
	height: 41px;
	line-height:41px;
	cursor: pointer;
}
.baseinfo_add_xx span{
	width:10px;
	height:10px;
	float:left;
	margin:16px 8px 0 0;
	background: url(//img00.allinmd.cn/personal/add_icon.png) no-repeat left center;
}
.baseinfo_padding_l{
	margin:-10px 23px 20px 23px;
}
.baseinfo_error_red input,.baseinfo_error_red textarea,.baseinfo_error_red .p_base_info_medcont{
	border:solid 1px #e24a4a;
	box-shadow:0 0 3px #e24a4a;
}
.baseinfo_error_red_icon{
	display:none;
	float:left;
	color:#e64638;
	font-size:12px;
	line-height:42px;
	height:42px;
	background:url(//img00.allinmd.cn/personal/error_icon.png) no-repeat left center;
	padding-left:22px;
}
.baseinfo_error_blue input{
	border:solid 1px #3a9eeb;
	box-shadow:0 0 3px #3a9eeb;
}
.baseinfo_error_blue_icon{
	float:left;
	color:#969696;
	font-size:12px;
	line-height:42px;
	height:42px;
}

.baseinfo_error_blue_icon a{
	color:#3d84c6;
	text-decoration:none;
}

#group_edit_con{
	position:relative;
}
/*编辑div层默认隐藏*/
#phone_edit,#password_edit,#caos_edit,#countdown,#summary_edit,
#auth_edit,#pic_mask,#group_edit,#group_data,#group,#emialBind_edit,
#emialUpa_edit,#base_edit,#occ_edit,#edu_edit,#cEdu_edit,#honor_edit,
#fund_edit,#social_edit,#opus_edit,#patent_edit,#summary_oth,#occ_oth,#edu_oth,
#cEdu_oth,#honor_oth,#fund_oth,#soc_oth,#opus_oth,#pat_oth{
	display:none;
}

.error_red_icon {
	display: none;
	float: left;
	color: #e64638;
	font-size: 12px;
	line-height: 32px;
	height: 32px;
	background: url(//img00.allinmd.cn/personal/error_icon.png) no-repeat left center;
	padding-left: 22px;
	margin-left: 15px;
}

.baseinfo_after_mr{
	padding:10px 0;
	margin:0 0 10px 22px;
	width:672px;
}
.baseinfo_after_hover{
	background:#f6f6f6;
}
.baseinfo_bj{
	display:none;
	float:right;
	margin:0 10px;
	position:absolute;
	right:70px;
	top:10px;
	z-index:2;
}
.baseinfo_bj02{
	display:none;
	float:right;
	margin:0 10px;
	position:absolute;
	right:10px;
	top:10px;
	z-index:2;
}
.baseinfo_del{
	display:none;
	float:right;
	margin:0 10px;
	position:absolute;
	right:10px;
	top:10px;
	z-index:2;
}
.baseinfo_after_hover .baseinfo_bj02,.baseinfo_after_hover .baseinfo_bj,.baseinfo_after_hover .baseinfo_del{
	display:block;
}
.baseinfo_bj a:link,.baseinfo_bj a:active,.baseinfo_bj a:visited{
	background:url(//img00.allinmd.cn/personal/bj_img_b.png) no-repeat left center;
	color:#969696;
	font-size:12px;
	display:block;
	text-decoration:none;
	padding-left:15px;
}
.baseinfo_bj a:hover{
	background:url(//img00.allinmd.cn/personal/bj_img_hover.png) no-repeat left center;
	color:#3d84c6;
	font-size:12px;
	display:block;
	padding-left:15px;
}
.baseinfo_bj02 a:link,.baseinfo_bj02 a:active,.baseinfo_bj02 a:visited{
	background:url(//img00.allinmd.cn/personal/bj_img_b.png) no-repeat left center;
	color:#969696;
	font-size:12px;
	display:block;
	text-decoration:none;
	padding-left:15px;
}
.baseinfo_bj02 a:hover{
	background:url(//img00.allinmd.cn/personal/bj_img_hover.png) no-repeat left center;
	color:#3d84c6;
	font-size:12px;
	display:block;
	padding-left:15px;
}
.baseinfo_del a:link,.baseinfo_del a:active,.baseinfo_del a:visited{
	background:url(//img00.allinmd.cn/personal/del_icon_mr.png) no-repeat left center;
	color:#969696;
	font-size:12px;
	display:block;
	text-decoration:none;
	padding-left:15px;
}
.baseinfo_del a:hover{
	background:url(//img00.allinmd.cn/personal/del_icon_hover.png) no-repeat left center;
	color:#ff3b30;
	font-size:12px;
	display:block;
	padding-left:15px;
}

.p_base_info_btn{
	padding-left:108px;
	padding-bottom: 28px;
}
.height_37{
	height:37px;
	line-height: 37px;
}
.height_58{
	height:58px;
	line-height: 58px;
}

/* 临时select */
.p_c_title_bj_zl_r select{
	border:none;
	-webkit-appearance: none;
	background:none;
	float: left;
	line-height: 28px;
	height: 30px;
	position: absolute;
	width: 100%;
	padding-left:10px;
	font-size: 13px;
	color: #333;
	font-family:microsoft yahei;
}
.p_content_center {
	background:url(//img00.allinmd.cn/personal/content_l_center.png) repeat-y;
	width:717px;
	height:auto;
}
.personal_left {
	float:left;
	margin-bottom:20px;
}
.p_content_top {
	background:url(//img00.allinmd.cn/personal/content_l_top.png) no-repeat;
	width:717px;
	height:2px;
}