
@charset "utf-8";
/* CSS Document */
.continue_img {
	position: absolute;
	top: -35px;
	left: -42px;
	height: 0;
}
.toBeContinue{
	position:relative;
}
.yi_zanguo{
	background:url(//img00.allinmd.cn/personal/yi_zanguo.png) no-repeat;
	width:73px;
	height:32px;
	position:absolute;
	left:5px;
	top:-33px;
	z-index:12;
	font-size:12px;
	color:#666;
	text-align:center;
	line-height:28px;
}
.personal_mian {
	background:#efeff4;
	padding:0 0 40px 0;
}
.p_banner {
	background:url(//img00.allinmd.cn/personal/banner_bg.png) no-repeat center;
	width:1000px;
	height:300px;
}
.p_b_l {
	float:left;
	width:700px;
	margin:43px 0 0 148px;
	text-align:center;
}
.p_b_user {
	position:relative;
	width:117px;
	height:117px;
	margin-left: 290px;
}
.vip {
	position:absolute;
	right:0;
	bottom:0;
}
.p_b_but {
	/* margin: 10px auto 0; */
	margin-top:10px;
	display: inline-block;
}
.p_b_but_gz{
	display: inline-block;
	float: left;
}
.p_b_but_my_home{
	display: inline-block;
	float: left;
	margin-left:13px;
}
.p_b_but_my_home-only{
	display: inline-block;
	float: left;
}
.p_b_name {
	font-size:22px;
	color:#fff;
	margin:18px 0 10px 0;
}
.p_b_yy {
	font-size:14px;
	color:#fff;
}
.p_b_c {
	float:left;
	margin:18px 15px 0 0;
	position:relative;
}
.p_b_r {
	float:left;
	margin-top:18px;
	position:relative;
	cursor: pointer;
}
.personal_fx_bg{
	position:absolute;
	right:-2px;
	top:40px;
	z-index:2;
	background:url(//img00.allinmd.cn/personal/fx_bg.png) no-repeat;
	width:232px;
	height:68px;
}
.personal_fx_bg{
	padding-left:5px;
}
.personal_fx_bg li{
	margin:18px 0 0 20px;
	float:left;
	position:relative;
}
.personal_erweima{
	position:absolute;
	left: -70px;
	top: 39px;
	z-index:3;
}
.p_left_bg, .p_center_bg, .p_right_bg, .zan_img, .zan_num {
	float:left;
}
#go_praise_list{
	cursor:pointer;
}
.p_left_bg {
	background:url(//img00.allinmd.cn/personal/zan_l.png) no-repeat;
	width:18px;
	height:37px;
}
.p_center_bg {
	background:url(//img00.allinmd.cn/personal/zan_c.png) repeat-x;
	width:auto;
	height:37px;
}
.p_right_bg {
	background:url(//img00.allinmd.cn/personal/zan_r.png) no-repeat;
	width:18px;
	height:37px;
}
.zan_img {
	margin:9px 5px 0 0;
}
.zan_num {
	line-height:37px;
	font-size:15px;
	color:#fff;
}
.red_pointer {
	position:absolute;
	right:6px;
	top:0;
}
.personal_content {
	padding-top:20px;
}
.personal_left {
	float:left;
	margin-bottom:20px;
}
.personal_right {
	float:right;
	width:263px;
	position: relative;
}
.personal_index_channel_fl{
	
	margin-bottom:18px;
}
.personal_index_channel_fl .p_content_center ul{
	margin:0 25px;
}
.personal_index_channel_fl .p_content_center li{
	float:left;
	width:132px;
	text-align:center;
	background:url(//img00.allinmd.cn/personal/personal_top_line.png) no-repeat right center;
	height:140px;
}
.personal_index_channel_fl .p_content_center li img{
	margin:23px 0 10px 0;
}
.personal_index_top_hover li img:hover{
	margin: 25px 0 10px 2px;
}

.personal_index_top_icon{
	height:102px;
}
.personal_i_lx_text a{
	font-size:15px;
	color:#73859e;
	text-decoration:none;
}
.p_content_top {
	background:url(//img00.allinmd.cn/personal/content_l_top.png) no-repeat;
	width:717px;
	height:2px;
}
.p_content_centerTop20{
	margin-top: 20px;
	background:url(//img00.allinmd.cn/personal/content_l_center.png) repeat-y;
	width:717px;
	height:auto;
}
.p_content_center {
	background:url(//img00.allinmd.cn/personal/content_l_center.png) repeat-y;
	width:717px;
	height:auto;
}
.ev-bothSpace{
	background:none;
}
.personal_index_channel_fl .p_content_center {
	background:url(//img00.allinmd.cn/personal/content_l_center.png) repeat-y;
	width:717px;
	height:auto;
}
.p_content_bottom {
	background:url(//img00.allinmd.cn/personal/content_l_bottom.png) no-repeat;
	width:717px;
	height:5px;
	margin-top:-2px;
}
.p_c_title_remmendForYou {
	/* background是为了左侧关注动态title的背景 */
	background: url(//img00.allinmd.cn/personal/content_l_center.png) repeat-y;
	line-height:55px;
	font-size:18px;
	color:#333;
	padding-left:20px;
	border-bottom:solid 1px #e1e3e4;
	/* width:696px; */
}
.p_c_title {
	/* background是为了左侧关注动态title的背景 */
	/* background: url(//img00.allinmd.cn/personal/content_l_center.png) repeat-y; */
	line-height:55px;
	font-size:18px;
	color:#333;
	padding-left:20px;
	/* width:696px; */
}
.ev-bothSpace .p_c_title{
	border-left: solid 1px #e1e3e4;
	border-right: solid 1px #e1e3e4;
	background:#fff;
}
.p_c_title_no_margin{
	padding:0 0 0 2px;
}
.p_c_title li{
	float:left;
	padding:0 20px; 
}
.p_c_title .on{
	border-bottom:solid #3d84c6 2px;
	color:#3d84c6;
	font-size:18px;
}

.p_content_list > li {
	padding:30px 20px;
	/* border-bottom:solid 1px #e1e3e4; */
}
.p_content_list li:first-child{
	border-top:none;
}
.p_content_list .hover {
	background:#eef7fe;
	padding:30px 20px;
	border-bottom:solid 1px #e1e3e4;
	margin:0 2px;
}
.p_cont_list_l, .p_cont_list_r {
	float:left;
}
.p_cont_list_l {
	position:relative;
}
.p_cont_list_l img{
	width:65px;
	height:65px;
	border-radius:50%;
}
.p_cont_list_r {
	width:590px;
	/* margin-left:18px; */
}
.vip_cont {
	position:absolute;
	right:-5px;
	bottom:-3px;
	z-index:2;
}
.vip_cont img {
	width:23px;
	height:23px;
}
.p_l_t_l {
	float:left;
	font-size:15px;
	color:#333;
}
.p_l_t_l a{
	color:#333;
	float:left;
}
/*.p_l_t_r_case {
	float:right;
	background:url(//img00.allinmd.cn/personal/bl.png) no-repeat left center;
	padding-left:17px;font-size:12px;
	color:#969696;
}
.p_l_t_r_hf {
	float:right;
	background:url(//img00.allinmd.cn/personal/hf.png) no-repeat left center;
	padding-left:25px;
	font-size:12px;
	color:#969696;
}
.p_l_t_r_doc {
	float:right;
	background:url(//img00.allinmd.cn/personal/doc_img.png) no-repeat left center;
	padding-left:25px;
	font-size:12px;
	color:#969696;
}
.p_l_t_r_video {
	float:right;
	background:url(//img00.allinmd.cn/personal/video.png) no-repeat left center;
	padding-left:25px;
	font-size:12px;
	color:#969696;
}*/
.list_title {
	font-size:16px;
	color:#3d84c6;
	margin:8px 0;
}
.list_text {
	font-size:13px;
	color:#666;
	line-height:26px;
}
/* .zhuanfa, .pinglun, .bianji, .shanchu, .zd {
	float:left;
	margin-right:10px;
	margin-top:10px;
	font-size:12px;
	color:#b4b4b4;
}
.zhuanfa a, .pinglun a, .bianji a, .shanchu a, .zd a {
	color:#b4b4b4;
}
.zhuanfa {
	background:url(//img00.allinmd.cn/personal/zf_img_s.png) no-repeat left center;
	padding-left:20px;
}
.pinglun {
	background:url(//img00.allinmd.cn/personal/hf_img_s.png) no-repeat left center;
	padding-left:20px;
}
.bianji {
	background:url(//img00.allinmd.cn/personal/bj_img_s.png) no-repeat left center;
	padding-left:20px;
}
.shanchu {
	background:url(//img00.allinmd.cn/personal/sc_img_s.png) no-repeat left center;
	padding-left:17px;
}
.zd {
	background:url(//img00.allinmd.cn/personal/zd_img_s.png) no-repeat left center;
	padding-left:15px;
} */
/* .personal_ads {
	position:relative;
	float:left;
	margin-right:10px;
	margin-top:10px;
} */
.video_ads_b {
	position:absolute;
	left:90px;
	top:53px;
	z-index:10;
}
.zhuanfa_top {
	background:url(//img00.allinmd.cn/personal/zf_img_s.png) no-repeat left center;
	padding-left:25px;
	font-size:13px;
	color:#969696;
	margin-left:75px;
	margin-bottom:8px;
}
.huifu_top {
	background:url(//img00.allinmd.cn/personal/hf_img_s.png) no-repeat left center;
	padding-left:17px;font-size:13px;
	color:#969696;
	margin-left:75px;
	margin-bottom:8px;
}
.personal_left .pagination {
	padding: 30px 0 0 0;
	height: 36px;
	width:717px;
}
.personal_left .pagination .pages {
	text-align: center;
}
.personal_left .pagination .pgEmpty {
	color: #eee;
}
.personal_left .pagination .pgNext {
	width: 50px;
}
.personal_left .pagination li {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin-right: 8px;
	text-align: center;
	color: #808080;
	background-color: #FFF;
	font-size: 14px;
	overflow: hidden;
}
.personal_left .pagination .pgCurrent {
	height: 36px;
	width: 36px;
	background: #3d84c6;
	color: #fff;
}
.p_cont_r_top {
	background:url(//img00.allinmd.cn/personal/content_r_top.png) no-repeat;
	width:267px;
	height:2px;
	display:none;
}
.p_cont_r_center {
	width: 263px;
	height: auto;
	border: 1px solid #e4e4e9;
	border-bottom: none;
	background: #fff;
}
.p_cont_r_bottom {
	background:url(//img00.allinmd.cn/personal/content_r_bottom.png) no-repeat;
	width:267px;
	height:5px;
	margin-left: -1px;
	margin-top:-1px;
}
.cont_r_top li {
	width:87px;
	float:left;
	border-right:solid 1px #e1e3e4;
	margin:15px 0 13px 0;
	text-align:center;
	cursor: pointer;
}
.cont_r_top li .gz_text{
	color:#808080;
	font-size: 12px;
}

.gz_num {
	font-size:22px;
	color:#798ca6;
	margin-bottom:5px;
	font-weight:bold;
}
.cont_r_top li .gz_num_18{
	font-size:18px;
}
.cont_r_top li .gz_num_20{
	font-size:20px;
}
.cont_r_top li .gz_num_22{
	font-size:22px;
}
.p_r_top {
	padding-bottom:18px;
}
.zl_p_t_l {
	float:left;
	text-align:center;
	margin-top:16px;
	width:50px;
	padding-bottom:11px;
}
.zl_p_t_r {
	float:left;
	border-bottom:solid 1px #e1e3e4;
	font-size:13px;
	color:#666;
	width:191px;
	padding-bottom:11px;
	margin-top:13px;
	padding-right:20px;
}
.zl_p_t_r span {
	color:#73859e;
	display: inline-block;
}
.zl_bj {
	border-top:solid 1px #e1e3e4;
	line-height:45px;
	
	height:45px;
	padding-left:99px;
	font-size:13px;
	color:#666;
	font-family:microsoft yahei;
}
.zl_bj a:link,.zl_bj a:visited{
	color:#666;
	background: url(//img00.allinmd.cn/personal/more_bg.png) no-repeat 60px center;
	display: block;
}
.zl_bj a:hover,.zl_bj a:active{
	color:#3d84c6;
	background: url(//img00.allinmd.cn/personal/more_bg_hover.png) no-repeat 60px center;
	display: block;
}
.p_nav_num {
	float: right;
	font-size: 12px;
	margin-right:20px;
	color: #73859e;
	text-align: center;
}

.list_title span {
	color:#73859e;
}
.personal_nav_list li {
	border-bottom:solid 1px #e1e3e4;
	height:47px;
	line-height:47px;
	font-size:16px;
	cursor: pointer;
}
.personal_nav_list .hover {
	border-bottom:solid 1px #73859e;
	background:#73859e;
	width:263px;
	/* margin:-1px 0 0 2px; */
	height:47px;
	line-height:47px;
	font-size:16px;
}
.personal_nav_list .hover .p_nav_num {
	color:#fff;
}
.home_b {
	padding-left:17px;color:#73859e;
	float:left;
	/* width:150px; */
}
.personal_nav_list .hover .home_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:25px;
	margin:0;
	color:#fff;
}
.case_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .case_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.topic_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .topic_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.video_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .video_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.doc_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .doc_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;
	color:#fff;
}
.hf_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .hf_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.sc_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .sc_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.zf_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .zf_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.personal_nav_list li:last-child .zf_b{
	border-bottom:none;
}
.author_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .author_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.lh_author_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .lh_author_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.zizuo_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.p_pro_num{
	width: 35px;
	border-radius: 8px;
	line-height: 18px;
	background-color: #ff3e32;
	text-align: center;
	color: #fff;
	font-size: 13px;
	font-family: Arial, "宋体";
	float: left;
	margin-top: 14px;
	margin-left: 10px;
}
.personal_nav_list .liActive{
	border-bottom: solid 1px #73859e;
	width: 263px;
	height:188px;
	font-size: 16px;
}
.personal_nav_list .liActive .liActiveTop{
	background-color:#73859e ;
}
.personal_nav_list .liActive dl{
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: 1px solid #e3e5e6;
}
.personal_nav_list .liActive .p_hf_b{
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	color: #fff;
	background:url("//img00.allinmd.cn/personal/xinxiHover.png") no-repeat 18px 18px;
	padding-left: 54px;
}
.personal_nav_list .liActive .p_hf_bag{
	background-color: #73859e;
}
.personal_nav_list .liActive dd{
	margin-left: 54px;
	margin-right: 20px;
	border-bottom: 1px solid #e3e5e6;
	margin-bottom: 0;
	line-height: 46px;
}
.personal_nav_list .liActive .borderNone{
	border-bottom: none;
}
/*右侧推荐标签*/
.recommended_label{
	border: 1px solid #dddde2;
	background-color: #fff;
	border-bottom: none;
}
.recommended_label p{
	font-size: 18px;
	font-family: "microsoft yahei";
	color: #363636;
	line-height: 58px;
	margin-bottom: 0;
	padding-left: 20px;
	border-bottom: 1px solid #e1e3e4;
}
.recommended_label li{
	padding-left:20px;
	cursor: pointer;
}
.recommended_label .labelMore{

}
.recommended_label .labelNum{
	width: 17px;
	text-align: center;
	height: 17px;
	font-size: 12px;
	font-family: Arial, "宋体";
	background-color: #ff3e32;
	color: #fff;
	float: left;
	margin-top: 17px;
}
.recommended_label .labelNumColor{
	background-color: #aab7c9;
}
.recommended_label .labelText{
	float: left;
	font-size: 12px;
	font-family: Arial, "宋体";
	margin-left: 10px;
	width: 196px;
}
.recommended_label .labelText .labelTextTop{
	line-height: 12px;
	margin-top: 17px;
	color: #666666;
}
.recommended_label .labelText .labelTextBot{
	line-height: 12px;
	margin: 6px 0 15px;
	color: #9b9b9b;
}
.recommended_label .labelText .labelBottom{
	background: url("//img00.allinmd.cn/personal/label_bottom.png") no-repeat;
	height: 1px;
}
.recommended_label .labelMore{
	line-height: 45px;
	border-top: 1px solid #e7e9e9;
	background: url("//img00.allinmd.cn/personal/labelMore.png") no-repeat 154px center;
	color: #666666;
	font-size: 13px;
	font-family: Arial, "宋体";
	padding-left: 98px;
	cursor: pointer;
}

/*为你推荐*/
.personal_recommend{
	background-color: #fff;
	width: 713px;
	border: 1px solid #dddde2;
	border-bottom: 1px solid #d2d2d6;
	margin: 20px 0;
}
.personal_recommend .recoLeft,.personal_recommend .recoRight{
	float: left;
	background-color:#f6f7f9;
	border-right: 1px solid #dddde2;
	font-size: 16px;
	font-family: "microsoft yahei";
	line-height: 58px;
	width: 119px;
	text-align: center;
	position: relative;
}
.personal_recommend .recoLeft div,.personal_recommend .recoRight div{
	color: #969696;
	display: block;
	border: 1px solid #fff;
	cursor: pointer;
	line-height: 60px;
}
.personal_recommend .recoNone{
	float: left;
	background-color:#f6f7f9;
	width: 471px;
	height: 60px;
	border: 1px solid #fff;
}
.personal_recommend .recoLeftHover,.personal_recommend .recoRightHover{

	border-top: 2px solid #3d9eeb;
	margin-top: 0;
	background-color: #fff;
}
.personal_recommend .recoLeftHover div,.personal_recommend .recoRightHover div{
	color: #4084c6;
	display: block;
	line-height: 58px;
}
.personal_recommend .recoLeftHover img,.personal_recommend .recoRightHover img{
	position: absolute;
	bottom:-7px;
	left: 53px;
	z-index: 2;
}

/*左侧列表循环*/
.personal_list{
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #dddde2;
	width: 713px;
}
.personal_list .perListTit{
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #363636;
	line-height: 58px;
	padding-left: 20px;
	border-bottom:1px solid #e1e3e4;
}
.p_content_lis li{
	background:#fff;
	border-left:1px solid #e1e3e4;
	border-right:1px solid #e1e3e4;
}
.p_content_list .perMainLeft{
	padding-left: 20px;
	float: left;
}
.p_content_list .perMainLi,.p_content_list .perMainLi01{
	padding: 15px 0;
	border-top: none;
}
.p_content_list .perMainLi01 .perMainMid,.p_content_list .perMainLi01 .perMainBot{
	width: 675px;
}
.perMainLeft .perMainImg {
	position:relative;
}
.perMainLeft .perMainImg img {
	padding: 1px;
	border: #e7e7e7 solid 1px;
	width:207px;
	height:138px;
}
.perMainLeft .perMainBg{
	width:55px;
	height:20px;
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
	background:#000;
	position:absolute;
	left:2px;
	bottom:2px;
	z-index:2;
}
.perMainLeft .perMainTime {
	position:absolute;
	left:2px;
	bottom:2px;
	z-index:2;
	width:55px;
	height:20px;
	text-align:center;
	line-height:20px;
	font-size:12px;
	color:#fff;
}
.perMainRight{
	float: left;
	margin-left: 20px;
}
.perMainRight .perMainTit{
	font-size: 16px;
	font-family: "microsoft yahei";
	line-height: 16px;
}
.perMainRight .perMainTit a{
	color: #4b4b4b;
}
.perMainRight .perMainMid{
	margin-top: 20px;
	width: 440px;
}
.perMainRight .perMainMid li{
	float: left;
	font-size: 12px;
	line-height: 12px;
	color: #969696;
	border:none;
}
.perMainRight .perMainMid .time{
	float: right;
}
.perMainRight .perMainMid .pointer{
	background:url(//img00.allinmd.cn/channel/video/pointer.png) no-repeat left center;
	height:10px;
	width:5px;
	margin: 1px 20px 0 20px;
}
.perMainRight .perMainBot{
	font-size: 14px;
	line-height: 26px;
	font-family: "microsoft yahei";
	color: #666666;
	width: 440px;
	margin-top: 20px;
}

.perListbot{
	line-height: 52px;
	border: 1px solid #e1e3e4;
	border-bottom:none;
	text-align: center;
	font-size: 13px;
	background:#fff;
	width: 713px;
	margin-left: 1px;
}
.perListbot a{
	color: #666666;
}
.perListbot .perListMore{
	color: #666666;
	height: 13px;
	padding-right: 17px;
}
.perListbot .perListMore span{
	display:inline-block;
	background: url("//img00.allinmd.cn/personal/more.png") no-repeat right 4px;
	height:13px;
	width:10px;
	vertical-align: middle;
	margin-left:6px;
	margin-top:4px;
}
.p_content_centerTop20 .perListbot .perListClose{
	color: #666666;
	height: 13px;
	padding-right: 17px;
}
.p_content_centerTop20 .perListbot .perListClose span{
	display:inline-block;
	background: url("//img00.allinmd.cn/personal/shouqi.png") no-repeat right 4px;
	height:13px;
	width:10px;
	vertical-align: middle;
	margin-left:6px;
	margin-top:4px;
}


/*活动图片*/

.personal_active{
	margin-bottom: 20px;
	position: relative;
}
.personal_active a{
	display: block;
}
.personal_active .personal_activeImg img{
	width:717px;
	height: 119px;
}
.personal_active .activeClose{
	position: absolute;
	right: 9px;
	top:8px;
	z-index: 2;
}


.liActive dd .p_pro_text{
	float: left;
	font-size: 15px;
	font-family: "microsoft yahei";
	color: #a4afbe;
	background: url("//img00.allinmd.cn/personal/point.png") no-repeat 0 20px;
	padding-left: 14px;
}
.p_hf_bag{
	float: right;
	margin: 20px 30px 0 0;
}
.personal_nav_list .hover .zizuo_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.jg_b {
	padding-left:17px;color:#73859e;
	float:left;
	
	/* width:150px; */
}
.personal_nav_list .hover .jg_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}

.p_home_b {
	color:#73859e;
	float:left;
	background: url("//img00.allinmd.cn/personal/xiaowu.png") no-repeat 18px 17px;
	padding-left: 54px;
}
.personal_nav_list .hover .p_home_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	color:#fff;
	background: url("//img00.allinmd.cn/personal/xiaowuHover.png") no-repeat 18px 17px;
	padding-left: 54px;
}
.p_at_b {
	color:#73859e;
	float:left;
	background: url("//img00.allinmd.cn/personal/tixing.png") no-repeat 18px 17px;
	padding-left: 54px;
}
.personal_nav_list .hover .p_at_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	margin:0px 0 0 2px;
	color:#fff;
	background: url("//img00.allinmd.cn/personal/tixingHover.png") no-repeat 18px 17px;
	padding-left: 54px;
}
.p_hf_b {
	color:#73859e;
	float:left;
	background: url("//img00.allinmd.cn/personal/xinxi.png") no-repeat 18px 18px;
	padding-left: 54px;
}
.personal_nav_list .hover .p_hf_b{
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	color:#fff;
	background: url("//img00.allinmd.cn/personal/xinxiHover.png") no-repeat 18px 18px;
	padding-left: 54px;
}
.p_zan_b {
	color:#73859e;
	float:left;
	background: url("//img00.allinmd.cn/personal/guanzhu.png") no-repeat 18px 17px;
	padding-left: 54px;
}
.personal_nav_list .hover .p_zan_b {
	border-bottom:solid 1px #73859e;
	height:47px;
	line-height:47px;
	background:#73859e;
	margin:0px 0 0 2px;
	color:#fff;
	background: url("//img00.allinmd.cn/personal/guanzhu.png") no-repeat 18px 17px;
	padding-left: 54px;
}
.p_sc_b {  color:#73859e;
	float:left;
	background: url("//img00.allinmd.cn/personal/shoucang.png") no-repeat 18px 17px;
	padding-left: 54px;
}
.personal_nav_list .hover .p_sc_b {
	/* border-bottom:solid 1px #73859e; */
	height:46px;
	line-height:46px;
	background:#73859e;
	margin:0px 0 0 2px;
	color:#fff;
	background: url("//img00.allinmd.cn/personal/shoucangHover.png") no-repeat 18px 17px;
	padding-left: 54px;
}
.p_pl_b {
	padding-left:17px;color:#73859e;
	float:left;
}
.personal_nav_list .hover .p_pl_b {
	/* border-bottom:solid 1px #73859e; */
	height:47px;
	line-height:47px;
	background:#73859e;
	padding-left:17px;margin:0px 0 0 2px;
	color:#fff;
}
.personal_nav_list li:last-child{
	border-bottom:none;
}
.personal_nav_list .hover:last-child{
	border-bottom:solid 1px #73859e;
}
/*个人首页*/
.persanal_rz {
	width:673px;
	/* height:164px; */
	background:#6eadeb;
	padding:20px 20px 30px 20px;
	margin-bottom:20px;
}
.sf_rz_title {
	font-size:18px;
	color:#fefefe;
}
.sf_rz_text {
	font-size:15px;
	color:#fefefe;
	line-height:30px;
	margin:15px 0;
}
.rz_but {
	margin:20px 0;
	text-align:center;
}
.fenxiang_bg {
	float:left;
	margin-top:8px;
}


.ck_yw {
	float:right;
	background:url(//img00.allinmd.cn/personal/ck_yw.png) no-repeat;
	font-size:12px;
	color:#8db5d2;
	line-height:14px;
	padding-left:17px;margin-top:15px;
}
.list_text .expandOrShrink {
	color:#3d84c6;
	margin-left:20px;
}
.p_user_img {
	text-align:center;
	padding:0 0 20px 0;
}
.p_user_img img{
	border-radius:50%;
	width:110px;
	height:110px;
}
.p_user_name {
	font-size:24px;
	color:#3c4247;
	text-align:center;
	line-height:24px;
}
.p_user_name a{
	color:#3c4247;
}
.p_user_yy {
	text-align:center;
	font-size:13px;
	color:#808080;
	margin-top:5px;
}
.p_user_top {
	padding:20px 0 18px 0;
}
.p_user_center {
	border-top:solid 1px #ebedee;
	border-bottom:solid 1px #ebedee;
	/* margin-left:2px; */
	height:72px;
}
.p_user_gz {
	float:left;
	border-right:solid 1px #ebedee;
	height:72px;
	width:87px;
	text-align:center;
}
.p_user_fans {
	float:left;
	border-right:solid 1px #ebedee;
	width:87px;
	height:72px;
	text-align:center;
}
.p_user_dt {
	float:left;
	text-align:center;
	width:87px;
}
.p_user_num {
	float:left;
}
.p_user_num {
	color:#3c4247;
	font-size:28px;
	font-family:arial;
	width:87px;
	text-align:center;
	margin:15px 0 5px 0;
}
.p_user_num_28{
	font-size:28px;
}
.p_user_num_26{
	font-size:26px;
}
.p_user_num_20{
	font-size:20px;
}
.p_user_gz_text {
	font-size:12px;
	color:#808080;
}
.p_ws_zl {
	padding:20px 20px 0 20px;
}
.ws_you_zl {
	font-size:15px;
	color:#969696;
}
.ws_zl_jd {
	width:219px;
	height:21px;
	border:#cbd4da solid 1px;
	border-radius:15px;
	padding:1px;
	margin:13px 0;
}
.ws_zl_jd_bg {
	font-size:12px;
	color:#fff;
	background:#3d84c6;
	text-align:center;
	line-height:21px;
	border-radius:15px 0 0 15px;
	width:60%;
}
.add_zl {
	background:url(//img00.allinmd.cn/personal/add_bg.png) no-repeat;
	font-size:13px;
	color:#969696;
	line-height:19px;
	padding-left:30px;
	padding-bottom:15px;
}
.p_hf_bg {
	background:#e9e9ee;
	padding:14px 0;
	width:713px;
	margin:25px -20px 0 -18px;
	border-top:#d8d8dc solid 1px;
	position:relative;
	border-bottom:#d8d8dc solid 1px;
}
.p_hf_sj {
	background:url(//img00.allinmd.cn/personal/sj_bg.png) no-repeat;
	position:absolute;
	left:54px;
	top:-8px;
	z-index:2;
	width:16px;
	height:8px;
}
.p_comment_xl_l {
	float:left;
	margin-left:37px;
}
.p_comment_xl_l img {
	border-radius: 50px;
}
.p_comment_xl_r {
	width:80%;
	margin: 7px 0 0 20px;
	float:left;
}
.p_comment_xl_r input {
	height: 33px;
	line-height: 33px;
	font-size: 13px;
	color: #b5b4b4;
	padding-left: 5px;
	width: 100%;
	border: #e1e3e4 solid 1px;
}
.p_comment_xl_r textarea {
	height: 100px;
	line-height: 23px;
	font-size: 13px;
	color: #b5b4b4;
	padding-left: 5px;
	width: 100%;
	margin-top: 5px;
	border: #e1e3e4 solid 1px;
}
.p_content_centerTop20 .ev-F2P{
	border-top: 1px solid #e1e3e4;
    background-color: #fff;
}
.p_content_centerTop20 .p_content_list{
	width: 715px;
	margin-left: 1px;
}
.p_content_center .p_content_list .ev-F2P{
	border-left: solid 1px #e1e3e4;
	border-right: solid 1px #e1e3e4;
	background: #fff;
}
.p_hf_content .p_content_list li {
	padding: 30px 20px;
	border-bottom: solid 1px #e1e3e4;
	background:#f7f7fc;
	width:673px;
	margin:0 -22px 0 -18px;
}
.p_hf_content .p_content_list li .p_cont_list_l img {
	border-radius: 50px;
}
.p_hf_content .p_content_list .fenxiang_bg li {
	list-style: none;
	float: left;
	margin:0;
	color: #B4B4B4;
	font-size: 14px;
	padding: 0;
	border: none;
	background:none;
	width:auto;
}
/* .v_all_more_text { //注销原因：已提取
	padding:0 20px; 
	border-bottom: solid 1px #e1e3e4;
	background:#f7f7fc;
	width:673px;
	margin:0 -22px 0 -18px;
	height:55px;
} */
.ck_more_v_all {
	width: 100px;
	margin: 0 auto;
	font-size: 13px;
	color: #666666;
	height: 55px;
	line-height: 55px;
}
.ck_more_v_all span{
	float:right;
	width:9px;
	height:10px;
	margin-top:25px;
	background: url(//img00.allinmd.cn/detail/xiala_v_all.png) right center no-repeat;
}
.you_tg {
	background:url(//img00.allinmd.cn/personal/tg_bg.png) left center no-repeat;
	font-size:13px;
	color:#969696;
	margin-top:10px;
	line-height:13px;
	padding-left:25px;
}
.video_c_bf {
	margin: 15px 0 10px 0;
}
.video_c_cz {
	float: left;
}
.video_c_cz .photo_bg {
	float: left;
	background: url(//img00.allinmd.cn/detail/photo.png) no-repeat 10px center;
	height: 28px;
	font-size: 12px;
	color: #969696;
	line-height: 28px;
	padding-left: 37px;
	width: 63px;
}
.video_c_cz .at_bg {
	float: left;
	background: url(//img00.allinmd.cn/detail/at.png) no-repeat left center;
	height: 28px;
	font-size: 12px;
	color: #969696;
	line-height: 28px;
	padding-left: 27px;
}
/*.video_c_but {
	float: right;
}*/
.qx_but, .fb_but {
	float: left;
	margin-left: 10px;
}
.add_photo_hover {
	width: 100.95%;
	height: auto;
	border: #e1e3e4 solid 1px;
	border-top: none;
	background: #fafaff;
}
.add_photo_hover ul {
	position: relative;
}
.hn_add {
	position: absolute;
	right: 8px;
	bottom: 8px;
	z-index: 3;
	font-size: 12px;
	color: #969696;
}
.add_photo_hover li {
	padding: 5px;
	float: left;
}
.add_photo_hover .add_photo_img {
	position: relative;
	height: 50px;
}
.add_photo_hover .add_photo_img img {
	border: #e1e3e4 1px solid;
}
.add_photo_hover .add_photo_img .c_close img {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
	border: none;
}
.add_photo {
	width: 99.8%;
	height: auto;
	border: #e1e3e4 solid 1px;
	border-top: none;
	background:#fff;
}
.add_photo ul {
	position: relative;
}
.add_photo li {
	padding: 5px;
	float: left;
}
.add_photo .add_photo_img {
	position: relative;
	height: 50px;
}
.add_photo .add_photo_img img {
	border: #e1e3e4 1px solid;
}
.add_photo .add_photo_img .c_close img {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
	border: none;
}
.tx_title {
	float: left;
	font-size: 12px;
	color: #969696;
	padding-left: 5px;
	line-height: 30px;
}
.tx_who_look_hover {
	/* width:100.95%; */
	height: auto;
	border: #e1e3e4 solid 1px;
	border-top: none;
	background: #fafaff;
	position:relative;
}
.tx_text {
	float: left;
	font-size: 12px;
	color: #666666;
	padding-left: 10px;
	line-height: 30px;
}
.tx_num {
	float: right;
	font-size: 12px;
	color: #969696;
	padding-left: 5px;
	line-height: 30px;
}
.tx_who_look {
	/* width:100.95%; */
	height: auto;
	border: #e1e3e4 solid 1px;
	border-top: none;
	background:#fff;
}
.video_c_cz_hover {
	float: left;
}
.video_c_cz_hover .photo_bg {
	float: left;
	background: url(//img00.allinmd.cn/detail/photo_active.png) no-repeat 10px center;
	height: 28px;
	font-size: 12px;
	color: #3d84c6;
	line-height: 28px;
	padding-left: 37px;
	width: 63px;
}
.video_c_cz_hover .at_bg {
	float: left;
	background: url(//img00.allinmd.cn/detail/at_active.png) no-repeat left center;
	height: 28px;
	font-size: 12px;
	color: #3d84c6;
	line-height: 28px;
	padding-left: 27px;
}
.tx_text input {
	border:none;
	line-height:30px;
	height:30px;
	font-size: 12px;
	color: #666666;
	background: #fafaff;
}
.at_personal_name {
	width:100%;
	height:auto;
	background:#fff;
	position:absolute;
	left:0;
	/*top:31px;*/
	border-left:#e1e3e4 solid 1px;
	border-right:#e1e3e4 solid 1px;
	z-index:3;
	margin-left:-1px;
}
.at_personal_name li {
	height:auto;
	padding:12px 0;
	border-bottom:#e1e3e4 solid 1px;
}
.tx_who_look_hover .at_personal_name .hover{
	height:auto;
	padding:12px 0;
	border-bottom:#3d84c6 solid 1px;
	background:#3d84c6;
	margin:0;
}
.at_user_img{
	float:left;
	margin:0 10px 0 25px;
}
.at_user_img img{
	width:40px;
	height:40px;
	border-radius: 50px;
}
.at_user_name{
	font-size: 14px;
	color: #666;
	margin-top:10px;
}
.at_user_name span{
	margin-right:10px;
}
.tx_who_look_hover .at_personal_name .hover .at_user_name{
	color:#fff;
}
.at_search{
	width:125px;
	margin:0 auto;
}
.at_search{
	background: url(//img00.allinmd.cn/personal/at_none.png) no-repeat left center;
	font-size:14px;
	color:#969696;
	line-height:36px;
	padding-left:25px;
	height:36px;
}












.personal_zf_mr,.perdonal_zf_hover,.personal_zf_active,.personal_zf_qx_hover,.personal_hf_mr,.personal_hf_hover,.personal_hf_active,.personal_sc_mr,.personal_sc_hover,.personal_sc_active,.personal_sc_qx_hover,.personal_zan_mr,.personal_zan_hover,.personal_zan_active,.personal_zan_qx_hover,.personal_delete_mr,.personal_delete_hover,.personal_delete_active,.personal_bj_mr,.personal_bj_hover,.personal_bj_active,.personal_zd_mr,.personal_zd_hover,.personal_zd_active,.personal_zd_qx_hover,.zl_bj_mr,.zl_bj_hover,.bj_delete_mr,.zl_delete_hover{background:url(//img10.allinmd.cn/common/icon/png/each-other.png) no-repeat 0 0; float:left;}
.personal_zf_mr{height:20px;width:20px;background-position:0 0;}
.perdonal_zf_hover{height:20px;width:20px;background-position:0 -20px;}
.personal_zf_active{height:20px;width:20px;background-position:0 -40px;}
.personal_zf_qx_hover{height:20px;width:20px;background-position:0 -60px;}
.personal_hf_mr{height:20px;width:20px;background-position:-20px 0;}
.personal_hf_hover{height:20px;width:20px;background-position:-20px -20px;}
.personal_hf_active{height:20px;width:20px;background-position:-20px -40px;}
.personal_sc_mr{height:20px;width:20px;background-position:-40px 0; margin-top:2px;}
.personal_sc_hover{height:20px;width:20px;background-position:-40px -20px; margin-top:2px;}
.personal_sc_active{height:20px;width:20px;background-position:-40px -40px; margin-top:2px;}
.personal_sc_qx_hover{height:20px;width:20px;background-position:-40px -60px; margin-top:2px;}
.personal_zan_mr{height:20px;width:20px;background-position:-60px 0;}
.personal_zan_hover{height:20px;width:20px;background-position:-60px -20px;}
.personal_zan_active{height:20px;width:20px;background-position:-60px -40px;}
.personal_zan_qx_hover{height:20px;width:20px;background-position:-60px -60px;}
.personal_delete_mr{height:20px;width:20px;background-position:-80px 0;}
.personal_delete_hover{height:20px;width:20px;background-position:-80px -20px;}
.personal_delete_active{height:20px;width:20px;background-position:-80px -40px;}
.personal_bj_mr{height:20px;width:20px;background-position:-100px 0;}
.personal_bj_hover{height:20px;width:20px;background-position:-100px -20px;}
.personal_bj_active{height:20px;width:20px;background-position:-100px -40px;}
.personal_zd_mr{height:20px;width:20px;background-position:-120px 0;}
.personal_zd_hover{height:20px;width:20px;background-position:-120px -20px;}
.personal_zd_active{height:20px;width:20px;background-position:-120px -40px;}
.personal_zd_qx_hover{height:20px;width:20px;background-position:-120px -60px;}
.zl_bj_mr{height:20px;width:20px;background-position:-140px 0;}
.zl_bj_hover{height:20px;width:20px;background-position:-140px -20px;}
.bj_delete_mr{height:20px;width:20px;background-position:-160px 0;}
.zl_delete_hover{height:20px;width:20px;background-position:-160px -20px;}
.personal_num{
	float:left;
	line-height:15px;
}
.fenxiang_bg li{
	padding:0;
	border:0;
	float:left;
	color: #969696;
	vertical-align: middle;
	padding: 0 15px 0 0 !important;
}
.personal_home_mr_right,.personal_hf_mr_right,.personal_topic_mr_right,.personal_case_mr_right,
.personal_video_mr_right,.personal_doc_mr_right,.personal_zf_mr_right,.personal_sc_mr_right,
.personal_home_hover_right,.personal_hf_hover_right,.personal_sc_hover_right,
.personal_video_hover_right,.personal_case_hover_right,.personal_topic_hover_right,
.personal_doc_hover_right,.personal_zf_hover_right,.personal_xg_mr_right,
.personal_at_mr_right ,.personal_zan_mr_right ,.personal_tl_mr_right ,.personal_at_hover_right ,
.personal_zan_hover_right ,.personal_tl_hover_right
{background:url(//img10.allinmd.cn/common/icon/png/verticle-center-icons.png) no-repeat 0 0;
float:left; margin:16px 0 0 22px;}
.personal_nav_list .personal_home_mr_right{width:19px;height:18px;background-position:-1px -42px;}
.personal_nav_list .personal_hf_mr_right{width:20px;height:18px;background-position:-40px -42px;}
.personal_nav_list .personal_topic_mr_right{width:20px;height:18px;background-position:-220px -42px;}
.personal_nav_list .personal_case_mr_right{width:20px;height:18px;background-position:-200px -42px;}
.personal_nav_list .personal_video_mr_right{width:20px;height:18px;background-position:-160px -42px;}
.personal_nav_list .personal_doc_mr_right{width:20px;height:18px;background-position:-240px -42px;}
.personal_nav_list .personal_zf_mr_right{width:20px;height:18px;background-position:-260px -42px;}
.personal_nav_list .personal_sc_mr_right{width:20px;height:18px;background-position:-80px -42px;}
.personal_nav_list .hover .personal_home_mr_right{width:20px;height:18px;background-position:-320px -42px;}
.personal_nav_list .hover .personal_hf_mr_right{width:20px;height:18px;background-position:-360px -42px;}
.personal_nav_list .hover .personal_sc_mr_right{width:20px;height:18px;background-position:-400px -42px;}
.personal_nav_list .hover .personal_video_mr_right{width:20px;height:18px;background-position:-480px -42px;}
.personal_nav_list .hover .personal_case_mr_right{width:20px;height:18px;background-position:-520px -42px;}
.personal_nav_list .hover .personal_topic_mr_right{width:20px;height:18px;background-position:-540px -42px;}
.personal_nav_list .hover .personal_doc_mr_right{width:20px;height:18px;background-position:-560px -42px;}
.personal_nav_list .hover .personal_zf_mr_right{width:20px;height:18px;background-position:-580px -42px;}
.personal_nav_list .personal_xg_mr_right{width:20px;height:18px;background-position:-280px -42px;}
.personal_nav_list .hover .personal_xg_mr_right{width:20px;height:18px;background-position:-600px -42px;}
.personal_nav_list .personal_at_mr_right {width:20px;height:18px;background-position:-20px -42px;}
.personal_nav_list .personal_zan_mr_right {width:20px;height:18px;background-position:-60px -42px;}
.personal_nav_list .personal_tl_mr_right {width:20px;height:18px;background-position:-100px -42px;margin:16px 0 0 18px;}
.personal_nav_list .hover .personal_at_mr_right {width:20px;height:18px;background-position:-340px -42px;}
.personal_nav_list .hover .personal_zan_mr_right {width:20px;height:18px;background-position:-380px -42px;}
.personal_nav_list .hover .personal_tl_mr_right {width:20px;height:18px;background-position:-420px -42px;margin:16px 0 0 18px;}


.no_dongtai{
	text-align:center;
	height:170px;
	line-height:170px;
	font-size:16px;
	color:#333;
}
.p_l_t_author{
	height:16px;
	line-height:16px;
	font-size:12px;
	color:#fff;
	background:#73859e;
	padding:0 5px;
	float:left;
}
.p_xg_title{
	float:left;
	font-size: 16px;
	color: #3d84c6;
	margin-right:10px;
	line-height:16px;
	margin-bottom:10px;
}


.p_checkbox_active{
	background:url(//img00.allinmd.cn/personal/check_active.png) no-repeat left center;
}

.p_c_search{
	border-bottom: solid 1px #e1e3e4;
}
.p_c_search_l{
	float:left;
}
.p_c_search_r{
	float:right;
	margin:24px 20px 0 0;
}
.p_c_search_l .list_top_search {
border: solid 1px #e1e3e4;
border-radius: 15px;
float: right;
height: 30px;
line-height: 30px;
margin: 15px 0 15px 20px;
position: relative;
width: 187px;
}
.p_c_search_l .list_top_search input {
border: none;
border-radius: 15px;
color: #b4b4b4;
float: left;
font-size: 12px;
height: 30px;
line-height: 30px;
padding-left: 13px;
width: 147px;
}
.p_c_search_l .list_top_search_but{
	float:left;
	margin-top:8px;
}
.p_c_search_l .p_c_search_r input{
	height:15px; vertical-align:bottom; margin:-1px 5px 3px 0;
}
.p_c_search_l .p_c_search_r span{
	color:#808080;
	font-size:12px;
}
.p_c_tx_none{
	text-align:center;
	font-size:16px;
	color:#333;
	line-height:70px;
}
.p_b_user img{
	width:109px;
	height:109px;
}
.p_b_user .vip img{
	width:28px;
	height:28px;
}

.p_b_user a:link img{
	border:4px solid #85c8f3;
	border-radius:50%;
}
.p_b_user a:hover img{
	border:4px solid #fff;
	filter:alpha(opacity=35); /*IE滤镜，透明度50%*/
	box-shadow:0px 0px 16px #fff;
}
.p_b_user a:visited,.p_b_user a:visited img{
	border:4px solid #fff;
	color:white;
}

.p_user_img .ev-vip{
	position: absolute;
	right: 0;
	bottom:20px;
}
.p_user_img .ev-vip img{
	width:28px;
	height:28px;
}
.p_user_img{
	width: 110px;
	height: 110px;
	margin: 0 auto;
	position: relative;
}









.more_hospital_cont{
	height:47px;
	background:url(//img00.allinmd.cn/personal/more_hospital.png) no-repeat 20px center;
	padding-left:55px;
	line-height:47px;
	color:#73859e;
	font-size:16px;
}
.more_hospital_cont:hover{
	background:url(//img00.allinmd.cn/personal/more_hospital_hover.png) no-repeat 20px center;
	color:#fff;
}
.more_hospital{
	height:47px;
	background:url(//img00.allinmd.cn/personal/more_hospital_jt.png) no-repeat 240px center;
	cursor:pointer;
}
.more_hospital:hover{
	background:#73859e url(//img00.allinmd.cn/personal/more_hospital_jt_hover.png) no-repeat 240px center;
}
.more_hospital a{
	color:#73859e;
}

.personal_home_img_ads .personal_ads>img{
	width:146px;
	height:146px;
}
.list_title .list_title_name{
	text-decoration:underline;
	color:#909090;
}





/* 验证邮箱提示 */
.test_mail{
	width:983px;
	border:solid 1px #ffb786;
	background:#fefad8;
	line-height:44px;
	padding:10px 0 10px 15px;
	margin-bottom:20px;
}
.test_mail_content{
	font-size:14px;
	line-height:24px;
	color:#333;
	float:left;
	width:914px;

}
.test_mail_content .text_mailSpan{
	width:16px;
	height:14px;
	float:left;
	margin:6px 8px 0 0;
	background:url(//img00.allinmd.cn/personal/tishi_mail.png) no-repeat left 5px;
}
.test_mail_close{
    cursor: pointer;
    float: right;
    margin: 5px 14px 0 0;
    background: url(//img00.allinmd.cn/personal/mail_test_close.png);
    width: 15px;
    height: 15px;
}
.test_mail .test_mail_content a{
	display:inline-block;
	margin:0 8px;
	color:#0b83e0;
}

/* 视频病例PK 提示 */
.videoPK_ts{
	width:603px;
	height:68px;
	line-height:68px;
	background:#6eadeb;
	padding:0 20px 0 90px;
	margin:0 0 20px 2px;
}
.vPK_text,.vPK_but{
	float:left;
	font-size:18px;
	color:#fff;
}
.vPK_text{
	
}
.vPK_but{
	width:110px;
	height:38px;
	line-height:38px;
	text-align:center;
	background:#ffb535;
	border-radius:3px;
	margin-top:15px;
	cursor:pointer;
}
.vPK_close{
	float:right;
	margin-top:28px;
}




/* pk个人首页banner */
.personal_pk{
	margin-bottom:20px;
	position:relative;
}
.personal_pk_close{
	width:14px;
	height:14px;
	position:absolute;
	right:10px;
	top:10px;
	z-index:2;
	cursor:pointer;
}

.personalTipsWXDialog .smileFlag{
	display: inline-block;
    float: left;
    margin-left: 11px;
    margin-top: 5px;
    margin-right: 5px;
    background: url(//img00.allinmd.cn/personal/smile.png);
    width: 15px;
    height: 15px;
}

.personalTipsWXDialog .closeFlag{
	position: absolute;
    right: 8px;
    background: url(//img00.allinmd.cn/personal/x-weixin-tips.png);
    top: 14px;
    width: 9px;
    height: 9px;
}


