#content{width:100%;}
.cont_center{width:1000px;margin:0 auto;}
.require{background:url(//img00.allinmd.cn/column/videoPK_v2/requirement.png) no-repeat center 50px;overflow: hidden;}
.require ul{font-size:16px;line-height:34px;color:#333;margin-top:160px;}
.require ul li span:nth-child(1){display:block;float:left;width:25px;}
.require ul li span:nth-child(2){display:block;margin-left:25px;}
.ranges{background:url(//img00.allinmd.cn/column/videoPK_v2/ranges.png) no-repeat center 50px;overflow: hidden;}
.range_hint{width:581px;height:48px;background: url(//img00.allinmd.cn/column/videoPK_v2/corner.png) no-repeat;line-height:48px;text-align: center;margin:140px auto 0;font-size:16px;}
.term{overflow: hidden;height:550px;transition: height 2s;}
.term_left{float: left;width:445px;}
.term_right{float: right;width:450px;}
.term dl{font-size:16px;color:#333;line-height:33px;margin-top:50px;}
.term dl dt{color:#0b83e0;}
.term dl dd span:nth-child(1),.term dl dt span:nth-child(1){float:left;width:35px;}
.term dl dd span:nth-child(2),.term dl dt span:nth-child(2){display: block;margin-left:35px;}
.examples {background:url(//img00.allinmd.cn/column/videoPK_v2/examples.png) no-repeat center 75px;overflow: hidden;}
.examBox{margin-top:170px;background: #fff;border:1px solid #e7e7ec;margin-bottom:60px;}
.exam_first{padding:48px 0;overflow: hidden;border-bottom:1px solid #e3e5e6;margin:0 28px;}
.exam_first_left{float: left;max-width:690px;}
.exam_first_right{float: right;margin-left:15px;}
.exam_first_right a{display: block;}
.exam_first_right img{display: block;border:1px solid #e7e7ec;width:227px;height:152px;}
.exam_first h4 a{font-size: 16px;color:#333;display: block;}
.exam_first ul{overflow: hidden;margin-top:20px;}
.exam_first ul li{float: left;font-size: 12px;color: #969696;padding:0 20px;}
.exam_first ul li:nth-child(1){padding-left:0;}
.exam_first ul li:nth-child(2){background:url(//img00.allinmd.cn/column/videoPK_v2/dotted.png) no-repeat left center;}
.exam_first ul li:nth-child(3){background:url(//img00.allinmd.cn/column/videoPK_v2/dotted.png) no-repeat left center;}
.exam_first ul li:nth-child(4){float:right;}
.exam_first p {font-size:14px;line-height:23px;color:#696969;margin-top:20px;}
#gd_btn_box{height:80px;line-height:80px;}
.gd_btn{width:110px;margin:10px auto;color:#0b83e0;font-size: 20px;background: url(//img00.allinmd.cn/column/videoPK_v2/jt_more.png) no-repeat right center;cursor: pointer;}