#conten{width:100%;}
.con_center{width:1000px;margin:0 auto;}
.purpose {background:url(//img00.allinmd.cn/column/videoPK_v2/purpose.png) no-repeat center 50px;overflow: hidden;}
.purpose p{font-size:16px;line-height:34px;text-indent: 32px;color:#333333;}
.stria_back{height:8px;background:url(//img00.allinmd.cn/column/videoPK_v2/stria_back.png);margin-top: 30px}
.qualif{background:url(//img00.allinmd.cn/column/videoPK_v2/qualif.png) no-repeat center 75px;overflow: hidden;}
.qualif ol{margin-top:145px;line-height:34px;}
.qualif ol li{font-size:16px;color:#333;}
.rules{background:url(//img00.allinmd.cn/column/videoPK_v2/rules.png) no-repeat center 75px;overflow: hidden;}
.rule_first{margin-top:160px;line-height:34px;}
.rule_second,.rule_third,.rule_fourth{margin-top:50px;line-height:34px;}
.rule_first h3,.rule_second h3,.rule_third h3,.rule_fourth h3{font-size:20px;color:#485066;font-weight:bolder;}
.rule_first p,.rule_second p,.rule_third p,.rule_fourth p{font-size: 16px;color:#333;}
.v2_vd_pingwei{background:url(//img00.allinmd.cn/column/videoPK_v2/judges.png) no-repeat center 75px;overflow: hidden;}
#v2_ev_tabBtn{overflow:hidden;width:100%;}
.v2_production_cont_list_nav {
    background: #f6f7f9;
    border-bottom: solid 1px #e1e3e4;
    height: 50px;
    line-height: 50px;
    margin-top: 170px
}
.v2_production_cont_list_nav li {
    border-right: #e1e3e4 solid 1px;
    color: #666;
    float: left;
    font-size: 16px;
    text-align: center;
    width: 12.39%;
    cursor: pointer
}
.v2_production_cont_list_nav li .on {
    background: url(//img00.allinmd.cn/column/videoPK_v2/list_cont_top_active.png) right center no-repeat #fff;
    border: none;
    height: 51px;
    width: 122px;
    color:#0b83e0;
}
.v2_vd_pingwei .pw_top li{
    float:left;
    font-family:microsoft yahei;
    font-size:16px;
    text-align:center;
    width:121px;
    line-height:50px;
    background:#f6f7f9;
    border:1px solid #e1e3e4;
    border-right:0px;
}
.v2_vd_pingwei .pw_top li div{
    color:#627288;
    border:1px solid #ffffff;
    width:119px;
    display:block;
}
.v2_vd_pingwei .pw_top .active{
    border-bottom:1px solid #ffffff;
}
.v2_vd_pingwei .pw_top .hover div{
    border-top:none;
}
.v2_vd_pingwei .pw_top .ts{
    width:143px;
    border-right:1px solid #e1e3e4;
}
.v2_vd_pingwei .pw_top .ts a{
    width:142px;
    border-left:0px;
}
.v2_vd_pingwei .ev_tadCont_shuang{ 
    border:1px solid #e1e3e4;
    font-family:microsoft yahei;
    font-size:15px;
    border-top:none;
    color:#333333;
}
.v2_vd_pingwei .ev_tadCont_shuang .td_bs{
    background:#fff;
}
.v2_vd_pingwei .ev_tadCont a{
    color:#333333;
}
.ev_tadCont .ev_tadCont_shuang .td_left_name{
    padding-left:33px;
    width:85px;
}
.ev_tadCont .ev_tadCont_shuang .td_right_name{
    padding-left:33px;
    border-left:16px solid #ffffff;
}
.ev_tadCont .ev_tadCont_shuang .td_left_zhicheng{
    text-align:center;
    padding:10px 0;
}
.v2_vd_pingwei .ev_tadCont_shuang tr {
    height:46px;
    background:#f6f7f9;
}
.v2_vd_pingwei .ev_tadCont_shuang tr .td_ts{
    font-size:16px;
    padding-left:33px;
    color:#333333;
}
.v2_vd_pingwei .ev_tadCont_dan{ 
    width:999px;
    border:1px solid #e1e3e4;
    font-family:microsoft yahei;
    font-size:15px;
    border-top:0px;
    color:#333333;
}
.v2_vd_pingwei .td_dan_name{
    padding-left:48px;
}
.v2_vd_pingwei .ev_tadCont_dan tr {
    height:46px;
    background:#f6f7f9;
}
.v2_vd_pingwei .ev_tadCont_dan tr .td_ts{
    font-size:16px;
    padding-left:48px;
    color:#333333;
}
.v2_vd_pingwei .ev_tadCont_dan .td_bs{
    background:#fff;
}
.criterion{background:url(//img00.allinmd.cn/column/videoPK_v2/title_criterion.png) no-repeat center 75px;overflow: hidden;}
.cri_title{margin-top:160px;}
.criterion dl{margin-top:45px;line-height:34px;}
.criterion dl dt{font-size:20px;color:#485066;font-weight:bold;}
.criterion dl dd{font-size:16px;color:#333;}
.desandcopy{background:url(//img00.allinmd.cn/column/videoPK_v2/desandcopy.png) no-repeat center 75px;overflow: hidden;}
.desandcopy div{font-size:16px;color:#333;line-height:34px;}









