#banner {
    width: 100%;
    height: 500px;
    background: url(//img00.allinmd.cn/column/videoPK_v2/banner_2q.png) no-repeat center;
}

.share_box {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 500px;
}

.share {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.share span {
    float: left;
    font-size: 18px;
    color: #040404;
    line-height: 34px;
}

.share a {
    float: left;
}

.share a img {
    display: block;
    margin-right: 10px
}

.naverBox{
    height: 68px;
}
#naver {
    width: 100%;
    z-index: 10;
    background: #fff;
}

.naver_lists {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 68px;
}

.naver_lists li {
    float: left;
}

.naver_lists .nav_homgpage a {
    color: white;
    background: #485066;
}

.naver_lists li a {
    font-size: 18px;
    padding: 24px 30px;
    color: #5b5b5b;
    display: block;
}

.naver_lists .nav_apply {
    position: absolute;
    right: 7px;
    top: 0;
    width: 160px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    background: #f34b4b;
}

.naver_lists .nav_apply a {
    display: block;
    color: #fff;
    font-size: 26px;
    padding: 0;
}

.naver_lists .nav_apply div {
    width: 174px;
    height: 8px;
    background: url(//img00.allinmd.cn/column/videoPK_v2/nav_bm.png) no-repeat;
    position: absolute;
    left: -7px;
    top: -8px;
}

#content {
    width: 100%;
}

.dirctory {
    position: fixed;
    right: 20px;
    top: 25%;
    background: url(//img00.allinmd.cn/column/videoPK_v2/nav_line.png) repeat-y;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.aside_title {
    position: fixed;
    right: 20px;
    top: 40%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.ev-suspend .active{
    background:#4a5c88;
    color:#fff
}
.dirctory a,.aside_title a {
    display: block;
    width: 136px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 18px;
    color: #333;
    background: #f9f9fd;
    border: 1px solid #dbdbde;
    margin-top: 8px;
}

.clearfix {
    clear: both;
}
.clear:after {
    height: 0;
    overflow: hidden;
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
}

#code_2D {
    position: fixed;
    right: 20px;
    top: 25%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#code_2D img {
    display: block;
}

/*评分提醒*/
.score_reminder_mask{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0,0.7);
    z-index:11;
}
.score_reminder{
    background:#fff;
    width:450px;
    position: absolute;
    top: 400px;
    left:50%;
    margin-left:-225px;
}
.score_reminder h3{
    padding-top:58px;
    font-size:16px;
    font-weight:normal;
    color:#222;
    text-align:center;
}
.score_reminder p{
    padding-top:25px;
    font-size:16px;
    color:#555;
    text-align:center;
}
.score_reminder .btn_box{
    padding:50px 0 30px;
    text-align:center;
}
.btn_box .btn_ensure{
    display:inline-block;
    margin-right:10px;
    width:106px;
    height:36px;
    text-align:center;
    font-size:15px;
    color:#fff;
    background:#2899e6;
    border-radius:100px;
    cursor: pointer;
}
.btn_box .btn_cancel{
    display:inline-block;
    width:106px;
    height:36px;
    text-align:center;
    font-size:15px;
    color:#aaa;
    cursor: pointer;
}

