@charset "utf-8";

/*公共样式*/
.fs_font_b{ font-weight: bold; }
.fs_font_s{ font-size: 18px; }
.font_yahei{font-family: microsoft yahei;}
.mar_b{margin-bottom: 20px;}
.mar_bp{ margin-bottom: 25px; }
.mar_bp01{ margin-bottom: 28px; }
.text_l{ text-align: left; }
.text_r{ text-align: right; }
.font-c{ color: #999;font-size: 16px;line-height: 16px; }
/*12.31修改*/
.fellowship_main .fl_l{ float: left;}
.fellowship_main .fl_r{ float: right;}
/*内容公用大板块样式*/
.nass_main{ width: 100%; height: auto; }
.nass_main_con{ width: 1000px; margin: 0 auto; }
.bg_w{  background: #fff; }
/*项目首页开始*/
/*12.31修改，banner加固定高度*/
.fs_nass_banner img{display: block;}
/*12.31修改*/

/*fellowship 二期修改 5.12*/
.fs_nass_nav{ width: 100%; height: 68px; line-height: 68px; background: #f7f7f9; }

.fs_nass_nav_main{ width: 1000px; margin: 0 auto;position: relative; }
.fs_nass_nav_main ul{ width: 100%; height: auto; }
/*fellowship 二期修改 5.12*/
.fs_nass_nav_main ul li{ width: 150px; float: left; text-align: center;position: relative;}

.fs_nass_nav_main ul li a{ width: 100%; display: block; color: #333; font-size: 20px; }
.fs_nass_nav_main ul li a:hover{ background: #0b8ef3; color: #fff;}
.fs_nass_nav_main ul li a.cur{ background: #0b8ef3; color: #fff;}
/*fellowship 二期修改 5.12*/
.fs_nass_nav_main .fs_nassSign{
    font-size: 20px;
    font-family: "microsoft yahei";
    color: #fff;
    background: url("//img00.allinmd.cn/fellow/shangchuan.png") no-repeat;
    height: 68px;
    width: 200px;
    text-align: center;
    position: absolute;
    top:-14px;
    right: 0;
    z-index: 2;
}

.fs_old_review{ width: 100%; height: auto;position: absolute; right: 0; top: 68px; z-index: 3;}
.fs_old_review ol li{ width: 100%; height: auto;    box-shadow: 0 0 3px rgba(0,0,0,.2);border: 1px solid rgba(0,0,0,.1);}
.fs_old_review ol li a{ width: 100%; display: block; line-height: 50px;  font-size: 16px; color: #73859e; }
.fs_old_review ol li a:hover{ background:#73859e; color: #fff;  }
.fs_old_review ol li a.cur{ background:#73859e; color: #fff;  }

/*补充样式*/
.fs_cont{ width: 1000px; margin:30px auto;}

/*12.29修改，增加背景色是白色*/
.fellowship_main{ background:#fff;/*#eef3f8;*/padding-bottom: 40px;}



/*banner补充样式*/
.banner_channel .banner_channel_num {
    border: 1px solid #e3e3e8;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}
.banner_channel_num li:last-child {
    border-right: none;
}
.banner_channel .banner_channel_num li {
    width: 228px;
    border-right: dashed 1px #e0e0e0;
    color: #969696;
    font-size: 12px;
    padding-left: 20px;
    background: #fff;
    float: left;
}

.fellow_no_login {
    width: 1000px;
    height: auto;
    border: solid #e1e1e1 1px;
    border-bottom: none;
    padding: 130px 0;
    text-align: center;
}
.f_no_text {
    color: #666;
    font-size: 20px;
    font-size: microsoft yahei;
    margin-bottom: 30px;
}
.f_no_but {
    background: url(//img00.allinmd.cn/fellow/xuan_school_bg.png) no-repeat;
    width: 242px;
    height: 55px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin: 0 auto;
}
.f_no_but a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

/*01.07增加样式*/
#meeting .nopb{padding-bottom:0;}

