@charset "utf-8";
.font_big{ font-size: 18px; color: #333; }
.clearFloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearFloat{zoom:1}
.clearFloat_box{width:973px;overflow: hidden;position:relative;}

/**
  *NASS-index
  *增加的内容样式
**/
/*01.05修改*/
.fs_cont_l .fs_pos{ position: relative; width: 662px;height:302px; }
.fs_cont_l .fs_pos a img{ width: 660px;height:295px; }
.fs_cont_l_ads .fs_cor_bg{ position: absolute; left: 24px; top: 24px; width: 100px; height: 60px; text-align: center;font-size: 20px;  font-weight: normal; color: #fff; }
.fs_cont_l_ads .now_org{ background:url(/images/img10/v3/fellowship/starting.png) no-repeat;}
.fs_cont_l_ads .start_gre{ background:url(/images/img10/v3/fellowship/noStart.png) no-repeat; }
.fs_cont_l_ads .end_gry{ background:url(/images/img10/v3/fellowship/end.png) no-repeat;}

.fs_cor{ width: auto; display: inline-block;*display:inline; *max-width: 155px; margin: 0 auto; line-height: 48px; color: #fff; text-align: center;}
.fs_cor_clock{ width: 23px; height: 23px;background: url(//img00.allinmd.cn/fellow/fs_v2/fs-clock.png) no-repeat; float: left; margin-right:6px;margin-top: 14px; }
.fs_cor_w{ width: auto; float: left; }

/*2017-01-06新版fellowship修改*/
.fs_cont_r .myapp{ width: 230px; height: 40px; background: #2899e6; line-height: 40px; font-size: 18px; text-align: center; font-weight: normal; margin: 0 auto;margin-bottom: 20px;border-radius: 25px;}
.fs_cont_l ul{
    box-sizing: border-box;
    background-color: #f9fbfd;
}
.fs_cont_l ul:after{
    content: "";
    display:block;
    clear: both;
}
.fs_cont_l ul li{
    border-bottom:1px solid #e8edf0;
    font-size: 17px;
    color: #aaa;
    float: left;
    width: 177px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
}
.fs_cont_l .activeLi{
    border-top: 2px solid #3598DB;
    color:#3598DB;
    background-color: #fff;
    border-bottom:none;
    cursor: default;
}

/*2017-01-06新版fellowship修改结束*/

/*01.05修改*/
.fs_cont_r .myapp a{ color: #fff; text-decoration: none;display: block;width: 100%; }

/*内容块*/
/*12.31更改*/
.fs_nass_main{ width: 100%; height: auto; font-family: microsoft yahei;}
/*简介*/
.fs_nass_syn{ width: 100%; height: auto; }
.fs_nass_syn_top{ width: 100%; height: auto;padding:50px 0 27px 0; border-bottom: 1px solid #d8d8d8;  }
.fs_nass_syn_top .nass_title{ width: 1000px; margin: 0 auto;  font-size: 30px;text-align: center;color: #000;position: relative;    line-height: 31px;}
/*01.07修改*/
.fs_nass_syn_top .nass_title .al-fsSchoolNameBox{
    position: absolute;
    bottom: -42px;
    width: 100%;
    text-align: center;
}
.fs_nass_syn_top .nass_title .al-fsBgText{
    font-size:15px;
    background-color:#fff;
 }
.fs_nass_syn_top .nass_title .bg_e{
    position: absolute;
    font-size:15px;
    bottom:-42px;
    background-color:#fff;
    left:50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.fs_nass_syn_top .nass_title .bg_e:before,.fs_nass_syn_top .nass_title .al-fsBgText:before{
    content:"/";
    padding-right:15px;
}
.fs_nass_syn_top .nass_title .bg_e:after,.fs_nass_syn_top .nass_title .al-fsBgText:after{
    content:"/";
    padding-left:15px;
}
/*02 09修改*/
.fs_nass_syn_top .nass_title .sign{
    background-color: #f7f7f9;
}



.fs_nass_syn_down{width: 100%;height: auto;margin: 0 auto;}
.fs_nass_syn_d_main{ width: 1000px; margin: 25px auto 42px; font-size: 18px; line-height: 36px; color: #74727a; }
/*报名*/
.gery{ background: #f7f7f9; }
.fs_nass_syn_down .fs_sign_con{ width: 1000px; margin:48px auto 0; }

/*01.05修改项目首页底部的间距*/
.fs_nass_syn_down .fs_spc{ width: 1000px; margin:41px auto 0;}
.fs_nass_syn_down .word_n{padding-bottom:8px;}

.fs_sign_list{ width: 428px; height: auto; padding:0 0 50px 0; float: left;margin-left: 66px; }
/*.fellowship_main .no_p{ padding:0; }*/
.fs_sign_con .fs_sign_conMain{
    margin-left: -140px;
}
.fs_sign_list .list_pic{ width: 60px; height: 67px; float: left; background: url(//img00.allinmd.cn/fellow/fs_v2/sign_list01.png) no-repeat; background-size: 100%; }
.fs_sign_list .tu02{background: url(//img00.allinmd.cn/fellow/fs_v2/sign_list02.png) no-repeat; }
.fs_sign_list .tu03{background: url(//img00.allinmd.cn/fellow/fs_v2/sign_list03.png) no-repeat; }
.fs_sign_list .tu04{background: url(//img00.allinmd.cn/fellow/fs_v2/sign_list04.png) no-repeat; }
.fs_sign_list .tu05{background: url(//img00.allinmd.cn/fellow/fs_v2/sign_list05.png) no-repeat; }
.fs_sign_list .tu06{background: url(//img00.allinmd.cn/fellow/fs_v2/sign_list06.png) no-repeat; }
.fs_sign_list .tu07{background: url(//img00.allinmd.cn/fellow/fs_v2/sign_list07.png) no-repeat; }
.fs_sign_list .tu08{background: url(//img00.allinmd.cn/fellow/fs_v2/sign_list08.png) no-repeat; }
.fs_list_word{ width: 334px; float: right; font-size: 16px; line-height: 26px; color: #000;padding-top: 7px; }
/*选拔*/
.fs_choose_con{margin: 35px auto 66px; background: url(//img00.allinmd.cn/fellow/fs_v2/line.png) no-repeat center 0px;background-size: 6px 96%}
.fs_choose_con ul{ width: 100%; height: auto; }
.fs_choose_con ul li{ width: 100%;height: auto;margin-bottom: 48px;padding-top: 25px; }
.fs_choose_l{ width: 466px; height: auto;padding-top:21px; }
.fs_choose_floor{ height: auto; line-height: 41px; background: #f7f7f9; border: 1px solid #dbdbdb;padding: 0 12px; position: relative; text-align: center;}
.fs_choose_floor .floor_w{ font-size: 16px; color: #363636; font-weight: normal; margin: 0 auto;}
/*三角在右侧*/
.fs_choose_floor .sj{ width: 6px; height: 12px; background: url(//img00.allinmd.cn/fellow/fs_v2/sj_r.png) no-repeat; background-size: 100%; position: absolute; right: -6px; top: 16px; }
.fs_choose_floor .dian{ width:29px; height: 33px; background: url(//img00.allinmd.cn/fellow/fs_v2/dian.png) no-repeat; background-size: 100%; position: absolute; right: -50px; top:6px; }
.fs_choose_floor .dian.orange{
    background: url(//img00.allinmd.cn/fellow/fs_v2/dianHover.png) no-repeat;
}
/*三角在左侧*/
.fs_choose_floor .sj_l{ width: 6px; height: 12px; background: url(//img00.allinmd.cn/fellow/fs_v2/sj_l.png) no-repeat; background-size: 100%; position: absolute; left: -6px; top: 16px; }
.fs_choose_floor .dian_l{ width:29px; height: 33px; background: url(//img00.allinmd.cn/fellow/fs_v2/dian.png) no-repeat; background-size: 100%; position: absolute; left: -50px; top:6px; }
.fs_choose_r{ width: 465px; font-size: 16px; line-height: 26px;color: #555; }
.fs_nass_main .pb{padding-bottom: 45px;}

/*报销说明*/

.fs_rei_top{ width:100%; height: auto;padding: 45px 0 42px; margin: 0 auto; overflow: hidden;}
.fs_rei_top div{ width: 109px; height: 125px; float: left; margin-right: 113px; background-image: url(//img00.allinmd.cn/fellow/fs_v2/rei01.png); background-repeat: no-repeat;background-size: 100%;  }
.fs_rei_top .rei02{ background-image: url(//img00.allinmd.cn/fellow/fs_v2/rei02.png); }
.fs_rei_top .rei03{ background-image: url(//img00.allinmd.cn/fellow/fs_v2/rei03.png); }
.fs_rei_top .rei04{ background-image: url(//img00.allinmd.cn/fellow/fs_v2/rei04.png); }
.fs_rei_top .rei05{ background-image: url(//img00.allinmd.cn/fellow/fs_v2/rei05.png); }

/*修改虚线的循环*/
/*.fs_rei_down{ width: 100%; background: url(//img00.allinmd.cn/fellow/fs_v2/line_01.png) no-repeat left 15px;padding-bottom: 20px; }*/
.fs_rei_bg{ width: 100%; height: auto; background: url(//img00.allinmd.cn/fellow/fs_v2/line_index.png) repeat-y;position: relative; }
.fs_rei_bg01{ background: url(//img00.allinmd.cn/fellow/fs_v2/line_index.png) no-repeat left 15px;}
.fs_mask01{ width: 30px; height:15px; background: #f7f7f9; position: absolute; left: 0; top: 0; }
.fs_mask02{ width: 30px; height:80%; background: #f7f7f9; position: absolute; left: 0; bottom: 0; }
.fs_mask03{height:15px; background: #fff; }
.fs_mask04{height: 59%;background: #fff;bottom: -24px;}


.fs_rei_lie{ width: 100%; height: auto; background: url(//img00.allinmd.cn/fellow/fs_v2/line_02.png) no-repeat left 15px;padding:0 0 22px 40px; }
.fs_rei_lie .rei_l_top{ width: 100%; height: auto; font-size:18px; line-height: 30px;color: #036eb8; }
.fs_rei_lie .rei_l .rei_bg{ width: 20px; height: 24px;background-image: url(//img00.allinmd.cn/fellow/fs_v2/sma01.png); background-size: 100%; background-repeat: no-repeat; margin-top: 4px;}
.fs_rei_lie .rei_l .bg02{background-image: url(//img00.allinmd.cn/fellow/fs_v2/sma02.png); }
.fs_rei_lie .rei_l .bg03{background-image: url(//img00.allinmd.cn/fellow/fs_v2/sma03.png); }
.fs_rei_lie .rei_l .bg04{background-image: url(//img00.allinmd.cn/fellow/fs_v2/sma04.png); }
.fs_rei_lie .rei_l .bg05{background-image: url(//img00.allinmd.cn/fellow/fs_v2/sma05.png); }
.fs_rei_lie .rei_l .rei_w{ width: 925px;padding-left: 11px;line-height: 30px; font-size: 18px;}
.fs_rei_lie .rei_l ul li{ line-height: 30px; color: #555; }
.fs_nass_main .blue{ color: #0770b9;}
/*常见问题*/
.lie_n{ width: 100%; height: auto; background: url(//img00.allinmd.cn/fellow/fs_v2/line_02.png) no-repeat left 49px;padding:0 0 22px 40px; }
.fs_nass_syn_top .nass_title .que{ background: #fff url(//img00.allinmd.cn/fellow/fs_v2/nass_t05.png) no-repeat;width: 76px;height: 15px;position: absolute;bottom: -36px;left: 46.5%; /*z-index: 100;*/}
.fs_rei_list{ width: 100%; height: auto;margin-bottom:4px; }
.fs_rei_list .rei_lbg{ width:21px; height: 20px; background-image: url(//img00.allinmd.cn/fellow/fs_v2/que.png); background-size: 100%; background-repeat: no-repeat; margin-top:7px; }
.fs_rei_list .ans{ width:21px; height: 20px; background-image: url(//img00.allinmd.cn/fellow/fs_v2/ans.png); background-size: 100%; background-repeat: no-repeat; margin-top: 7px; }
.fs_rei_down01{ width: 100%;padding-bottom: 20px; position: relative; }
.mar_b01{padding-bottom: 37px;}
.mar_b02{padding-bottom: 0;}

/*下载中心*/
.fs_nass_syn_top .nass_title .dow{ background: #f7f7f9  url(//img00.allinmd.cn/fellow/fs_v2/nass_t06.png) no-repeat;width: 141px;height: 14px;position: absolute;bottom: -34px;left: 43.5%;}

.fs_sign_con .que_l{ width: 541px;color: #555; line-height: 36px;}
.fs_sign_con .que_l .word{padding: 30px 0 26px; }

/*01.05修改样式*/
.fs_sign_con .que_l ul li{width:100%;}
.fs_sign_con .down_link{line-height: 41px;}

.fs_sign_con .que_r div{ width: 234px; height: 241px; background: url(//img00.allinmd.cn/fellow/fs_v2/dol.png) no-repeat; display: block; margin-bottom: 32px; }
/*项目首页结束*/
/*学校列表页*/
.fs_item_logo{height: auto; background:url(//img00.allinmd.cn/fellow/fs_v2/item_logo.png) no-repeat;padding-left: 510px; min-height: 490px; }
.fs_item_logo .item_w{ line-height: 36px;padding: 29px 0 27px;  color: #727272; }
.fs_item_logo .now_sign{ width: 208px; height: auto; text-align: center; color: #fff;  background: #036eb8;}
/*12.31增加项目首页报名已结束的按钮*/
.fs_item_logo .end_sign{ width: 208px; height: auto; text-align: center; color: #fff; background-color: #b4b4b4;line-height: 50px; font-size: 24px;  }
.fs_item_logo .now_sign a,.end_sign a{ color: #fff; font-weight: normal; font-size: 24px; display: block;line-height: 50px; }


/*项目进修中心*/
.fs_nass_main .school_list{ width: 100%; height: auto; }
.fs_nass_main .school_list li{ width: 483px; margin-bottom: 30px; border: 1px solid #dbdbdb; background: #f5f5f8; float: left; margin-right: 30px;position: relative; }
.fs_nass_main .sch_l{width:70px;height:100%;border-right: 1px solid  #dbdbdb;float:left;position: absolute;top:0;left:0;}
.fs_nass_main .sch_l img{
    width:47px;
    height:34px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}
.fs_nass_main .sch_r{margin-left:88px;color: #333;padding:20px 20px 0 0;}
.fs_nass_main .sch_r .item_name_sg{padding-bottom:18px;line-height:24px;font-size:18px; }
.fs_nass_main .sch_r .item_name_sg .studyDuration{
    padding-left:40px;
}
.fs_nass_main .sch_r .item_name_doub{padding:9px 0 6px 0;line-height:1;font-size:16px; }
.fs_nass_main .school_list li.no_m{ margin-right: 0; }
/*学校列表页结束*/
/*我的报名页面开始*/
.fs_cont .fs_mystudy{ width: 100%; height: auto; border: 1px solid #f4f4f4;box-shadow: 0px 0px 5px #d8d8d8;}
.fs_shadow{ background: url(//img00.allinmd.cn/fellow/fs_v2/nass_shadow.png) repeat-x;  width: 1004px; height: 3px; margin: 0 auto;}
.fs_mystudy .mys_top{ padding-left: 20px; border-bottom: 1px solid #d0d2d4; font-size: 14px; color: #909090; line-height: 58px;}
.fellowship_content .fellow_no_login{ border: 0; width: 100%; }
.f_no_but a{ text-shadow: 1px 1px 3px rgba(0,0,0,.5); }

/*申请项目板块*/
.fs_app_main{ padding-bottom: 50px; }
.fs_app_pro{ width: 100%; height: auto; }
.f_nass_sub{ width:100%; height: auto; margin-top: 50px; border: 1px solid #dbdbdd; }
.f_nass_sub .f_app_ul{border-bottom: 1px solid #dbdbdd;padding: 1px; background: #fff; }
.f_nass_sub .f_app_ul li{ background: #efefef; text-align: center; line-height: 40px; font-size: 14px; font-family:" SimSun"; color: #696969; }
.f_app_ul .app_item{ float: left; width: 504px; }
.f_app_ul .app_tim{ float: left; width: 158px; }
.f_app_ul .app_state{ float: left; width: 336px; }

.f_nass_sub .f_app_ol{padding: 1px; background: #fff; }
/*01.05修改*/
.f_nass_sub .f_app_ol li{ list-style: none; background:none; text-align: center;font-size: 14px; font-family:" SimSun"; color: #696969;padding: 16px 0 10px;position: relative;min-width: 80px; margin: 0 auto;}
.f_app_ol .app_item{ float: left;width: 504px;max-width:504px; }
.f_app_ol .app_tim{ float: left;width: 158px;max-width:158px; }
.f_app_ol .app_state{ float: left;width: 336px;max-width:336px;}

.f_app_ol li .li_all{ display: inline-block;margin: 0 auto; }
.f_app_ol li .li_all .item_y{ padding: 0 10px; line-height: 20px;  background: #439ce0; color: #fff; text-align: center;float: left; margin-right: 10px;display: inline-block; }
.f_app_ol li .li_all .item_w{padding-left:10px;line-height: 20px;  float: left; color: #333;display: inline-block;}
.f_app_ol li .li_all .grayText{color:#969696;}
.fs_z_btn{ width: 26px; height: 25px; float: right;position: absolute; right: 59px; top:15px;}
/*展开时显示的内容板块*/
.f_sub_down{ height: auto; padding: 20px 0 0;border-top: 1px solid #dbdbdd;}
.fs_rereq{ width: 420px; border: 1px dashed #cdcdcc; background: #f4f4f4; height: 104px; padding: 29px 20px 0 28px; float: left; margin: 0 0 20px 20px;position: relative;}
.fs_rereq:hover{ background:#fffef0;  }
.fs_rereq .rer_up{ width: 100%; }
.fs_rereq .rer_up .bt{ font-size: 16px; color: #2a2929; float: left; max-width: 365px; }
.fs_rereq .rer_up .per_btn a{ display: block; padding: 0 13px; line-height: 25px; background: #439ce0; border-radius: 3px; color: #fff; text-align: center; float: right; }
.fs_rereq .rer_d{ padding-top: 9px; line-height: 24px; font-size: 14px; color: #696969; }
.fs_rereq .rer_up  .per_d a{ float: right; font-size: 12px; color: #409ce0; padding-right:10px;  }
.fs_rereq .rer_up .bt span{ font-size: 12px; color: #909090;display: inline-block; padding-left: 10px; font-weight:normal;}

/*灰色*/
.f_sub_down .rer_grey01{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.f_sub_down .rer_grey{ width: 100%; height: 100%; position: absolute; top: 0; left:0 ;  background: rgba(255,255,255,.8);	}

/*12.30修改*/
.f_sub_tjbtn{ margin:0 auto;padding: 30px 0; border-top: 1px solid #dbdbdd;  width: 100%;position: relative;}
/*.f_sub_tjbtn a{*/
/*width: 220px; height: 55px;cursor: pointer;font-family: "微软雅黑"; background: #439ce0; text-align: center; line-height: 55px; font-size: 24px;color:#fff; border-radius: 3px;margin: 0 auto;display: block;*/
/*}*/
.fs_app_main .f_sub_tjbtn .f_sub_tjbtnLeft,.fs_app_main .f_sub_tjbtn .f_sub_tjbtnLeftHover{ width: 220px; height: 55px;cursor: pointer;font-family: "微软雅黑"; background: #439ce0; text-align: center; line-height: 55px; font-size: 24px;color:#7dbcea; border-radius: 3px;float: left;margin-left: 269px;}
.fs_app_main .f_sub_tjbtn .f_sub_tjbtnRight,.fs_app_main  .f_sub_tjbtn .f_sub_tjbtnRightHover{
    width: 220px; height: 55px;cursor: pointer;font-family: "微软雅黑"; background: #ffb538; text-align: center; line-height: 55px; font-size: 24px;color:#ffd386; border-radius: 3px;float: right;margin-right: 269px;
}
.fs_app_main .f_sub_tjbtn .f_sub_tjbtnLeftHover,.fs_app_main  .f_sub_tjbtn .f_sub_tjbtnRightHover{
    color:#fff;
}
.fs_app_main .f_sub_tjbtn .gray{ color: #88c2eb; cursor: default;}
.fs_app_main .f_sub_tjbtn .tjz{ background:url(//img00.allinmd.cn/fellow/submit.gif) no-repeat; /*position: absolute; right: 120px; top:30px;*/padding-left: 94px;width: 126px;text-align: left; }
/*.f_sub_tjbtn a:hover{color: #fff;}*/
/*对勾*/
.fs_duig{ width: 30px; height: 30px; background: url(//img00.allinmd.cn/fellow/fs_v2/duig.png) no-repeat; position: absolute; right: 0; bottom: 0; }
.f_sub_down .sub_blue{background: aliceblue; }

/*各种状态*/
.f_nass_sub .sub_no{ padding: 0; border: 0; }
.f_sub_state{margin: 0 20px; padding: 10px 0; border-top: 1px solid #dbdbdd;}
.f_sub_sup{ width: 16px; height: 16px; background: url(//img00.allinmd.cn/fellow/fs_v2/fs_tanh.png) no-repeat; float: left;    margin-top: 4px; }
.f_sub_state .dg{ width: 16px; height: 16px; background: url(//img00.allinmd.cn/fellow/fs_v2/fs_yes.png) no-repeat; float: left;    margin-top: 4px; }
.f_sub_state_word{float: left; width:930px;padding-left: 10px; font-size:12px; color: #969696; line-height: 24px;font-family:" SimSun";}
/*简历预览文字样式*/
.f_sub_bottom{
    margin: 0 20px;
    border-top: 1px solid #dbdbdb;
    text-align: center;
    font-size: 14px;
    font-family: "microsoft yahei";
    line-height: 40px;
}
.f_sub_bottom a{
    color: #439ce0;
    background: url("//img00.allinmd.cn/fellow/youkouhao.png") no-repeat right 5px;
    padding-right: 12px;
}
/*我的报名页面结束*/

/*推荐信页面开始*/
.fellowship_main .fs_bod{ box-shadow: none; border: 1px solid #dbdbdb;overflow: hidden; }
.fellowship_main .fs_nobod{ border: 0; border-top: 1px solid #dbdbdb;margin-top: 20px; }
#fel_tjx.gray {
    color: #88c2eb;
    background: #409ce0;
}
/*推荐信页面结束*/

/*aos项目学校清单*/
.fs_nass_syn_top .nass_title .aos{ background: #fff url(//img00.allinmd.cn/fellow/fs_v2/aos01.png) no-repeat;width: 108px;height:17px;position: absolute;bottom: -37px;left: 44.5%;}
.fs_nass_syn_d_main .aos{height: auto; background:url(//img00.allinmd.cn/fellow/fs_v2/aos_logo.jpg) no-repeat;padding-left: 510px; min-height: 490px; }

/*AAhks项目学校清单*/
.fs_nass_main .fs_nass_syn_top .nass_title .aahks{ background: #fff url(//img00.allinmd.cn/fellow/fs_v2/ahk.png) no-repeat;width: 397px;height:17px;position: absolute;bottom: -37px;left: 30%;/* z-index: 100;*/}
.fs_nass_syn_d_main .aahks{height: auto; background:url(//img00.allinmd.cn/fellow/fs_v2/aahks_logo.jpg) no-repeat;padding-left: 510px; min-height: 490px; }

/*12.30补充样式*/
.banner-inner ul li img{ display: block;width: 1000px; height:300px;}

/*fellowship 二期 添加 学员分享 页*/
/*发布分享*/
.fellowship_main .fs_nass_share{
    width: 998px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #f7f7f9;
    height: 62px;
    border: 1px solid #ebebeb;
}
.fellowship_main .fs_nass_share .fs_nass_shareMain{
    height: 61px;
    border-top: 1px solid #fff;
    margin: 0 20px;
    line-height: 61px;
    font-family: "microsoft yahei";
}
.fs_nass_share .fs_nass_shareMain p{
    font-size: 24px;
    color: #363636;
    float: left;
}
.fs_nass_share .fs_nass_shareMain a{
    float: right;
    width: 115px;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
    background-color: #3d9eeb;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
/*学员列表*/
.fellowship_main .fs_nass_list{
    width: 1000px;
    margin: 0 auto;
}
.fellowship_main .fs_nass_list .fs_nass_listMain{
    padding: 26px 20px;
    margin-top: 20px;
    background-color: #f7f7f9;
}
.fs_nass_listMain .fsListMainTop .fsListMainLef{
    float: left;
    width: 90px;
    height: 90px;
}
.fsListMainTop .fsListMainLef a,.fsListMainTop .fsListMainLef a img{
    display: block;
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50%;
}
.fs_nass_listMain .fsListMainTop .fsListMainRig{
    float: left;
    padding-top: 20px;
    margin-left: 20px;
}

.fsListMainRig div a {
    display: inline-block;
}
.fsListMainRig .lisName{
    font-size: 16px;
    font-family: "microsoft yahei";
    color: #363636;
    line-height: 16px;
    vertical-align: middle;
}
.fsListMainRig .listBtn{
    font-size: 12px;
    font-family: Arial, "宋体";
    color: #0b8ef3;
    padding: 0 4px;
    line-height: 18px;
    border: 1px solid #0b8ef3;
    border-radius: 3px;
    text-align: center;
    margin-left: 20px;
    display: inline-block;
}
.fsListMainRig p{
    font-size: 14px;
    font-family: "microsoft yahei";
    line-height: 14px;
    color: #969696;
    margin-top: 17px;
}
.fsListMainRig p span{
    margin-left: 16px;
}
.fs_nass_listMain dl{
    margin-top: 20px;
    font-family: "microsoft yahei";
}
.fs_nass_listMain dt a{
    float: left;
    font-size: 18px;
    line-height: 18px;
    color: #363636;
}
.fs_nass_listMain dt span{
    float: right;
    font-size: 15px;
    color: #808080;
    line-height: 15px;
    margin-top: 3px;
}
.fs_nass_listMain dd{
    font-size: 15px;
    line-height: 24px;
    margin-top: 14px;
    color: #969696;
}
.fs_nass_listMain ul{
    margin:16px 0 0 -14px;
    position: relative;
}
.fs_nass_listMain li{
    float: left;
    margin-left: 14px;
}
.fs_nass_listMain li a img{
    width: 125px;
    height: 125px;
}
.fs_nass_listMain .positionLef{
    position: absolute;
    left: 0;
    top:60px;
    z-index: 2;
}
.fs_nass_listMain .positionRig{
    position: absolute;
    right: 14px;
    top:60px;
    z-index: 2;
}
/*没有分享内容*/
.fellowship_main .fs_nass_listNone{
    width: 1000px;
    margin: 0 auto;
    background: #f7f7f9 url("//img00.allinmd.cn/fellow/fs_v2/shareNone.png") no-repeat center 64px;
    margin-top: 20px;font-family: "microsoft yahei";
    padding-bottom: 54px;
}
.fellowship_main .fs_nass_listNone p{
    font-size: 15px;
    text-align: center;
    color: #808080;
}
.fellowship_main .fs_nass_listNone .nass_listNoneTop{
    font-size: 18px;
    padding-top: 394px;
    padding-bottom: 8px;
}
.fellowship_main .fs_nass_listNone .nass_listNoneBtn{
    font-size: 24px;
    line-height: 50px;
    width: 210px;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    background-color: #0a83e0;
    margin-top: 20px;

}
.fellowship_main .fs_nass_listNone .nass_listNoneBtn div{
    color: #fff;
    cursor: pointer;
}


/*进修中心列表UI*/
.studyTimeStaff{
    color:#808080;
    line-height:24px;
    font-size:16px;
    padding-bottom:15px;
}
.studyBeginTime{
    display: inline-block;
    margin-right:45px;
}