@charset "utf-8";
/* CSS Document */

.document2{ width:656px; height:476px;border:5px solid #000; background-color:#ccc; box-shadow:3px 3px 10px #333;position:absolute;left:535px; top:95px;transition-property:width,height,left; transition-duration:0.5s; -webkit-transition-property:width,height,left; -webkit-transition-duration:0.5s;}
.document2-move{width:299px; height:197px; left:50px;}

/** curr */
.video3{width:300px; height:207px; border:10px solid #1d1d1d; border-bottom:none; background-color:#1d1d1d; position:absolute;}
.document3{ width:656px; height:476px;border:10px solid #1d1d1d; background-color:#1d1d1d;  position:absolute;}
.overlay{ position:absolute; left:0; top:0; width:100%; height:100%; background-color:#ccc; left:1150px; display:none;}


/* .video_bg{background:url(bg.jpg);width:646px;height:476px; border:10px solid #1d1d1d;}
.video_bg img{padding-left: 30%;padding-top: 30%;} */