@charset "utf-8";
/* CSS Document */




.annual_meeting_header{
	background:url(//img.caos-china.org/annual_meeting/header.jpg) no-repeat center;
	height:200px;
}
.annual_meeting_header div{
	width:1000px;
	margin:0 auto;
}
.am_navi{
	background:url(//img.caos-china.org/annual_meeting/navi_bg.jpg) repeat-x;
	height:56px;
	width:100%;
	position:relative;
}
.am_nav{
	width:1000px;
	margin:0 auto;
}
.am_nav li{
	float:left;
	width:80px;
	text-align:center;
	line-height:56px;
	font-size:14px;
	color:#fff;
	font-family:"宋体";
	
}
.cd_js_title_green{
	font-family:microsoft yahei;
	font-size:16px;
	color:#47b5b1;
	margin-top:15px;
	line-height:16px;
}
.cd_jiudian_table{
	margin-top:8px;
}
.xinxi_map{
	margin:20px 0;
}
.lx_fs01{
	font-family:microsoft yahei;
	font-size:16px;
	color:#333;
	margin:12px 0;
}
.lx_fs01_pointer{
	background:url(//img.caos-china.org/annual_meeting/pointer_bg_left.png) no-repeat left 11px;
	padding-left:12px;
	font-size:13px;
	color:#666;
	margin-top:1px;
	line-height:30px;
}
.cd_ads_right01{
	margin-top:60px;
}
.cd_ads_right02{
	margin-top: 47px;
}
.cd_ads_right03{
	margin-top: 12px;
}
.am_nav li a{
	color:#FFF;
	text-decoration:none;	
	display:block;
	width:100%;
	height:100%;
}
.am_nav .on{
	background:#94cecc;
	height:56px;
	line-height:56px;
	color:#000;
}
.am_nav .on a{
	color:#000;
	text-decoration:none;	
}
.navi_yy{
	position:absolute;
	left:0;
	bottom:-10px;
	z-index:5;
	background:url(//img.caos-china.org/annual_meeting/header_yy.png) repeat-x;
	height:10px;
	width:100%;
}
.annual_meeting{
	background:#f7f7f7;
	padding-bottom:60px;
	
}
.annual_meeting_content{
	width:1000px;
	margin:0 auto;
}
.cookis li{
	float:left;
	color:#3f4550;
	font-size:12px;
	line-height:52px;
	height:52px;
	/*margin-bottom:30px;*/
}
.cookis li a{
	text-decoration:none;
	color:#3f4550;	
}
.cookis_jt{
	background:url(//img.caos-china.org/annual_meeting/cookis_jt.png) no-repeat center;
	height:52px;
	width:20px;
}
.buzou{
	padding-bottom:50px;
	margin-top:30px;
}
.am_content{
	border:solid 1px #dbdbdd;
	width:938px;
	height:auto;
	background:#fff;
	padding:30px;
}
.am_c_title{
	font-size:18px;
	color:#218d89;
	margin-bottom:15px;
}
.am_c_line{
	border-bottom:solid 1px #e1e1e1;
	height:1px;
}
.am_c_name{
	font-size:16px;
	color:#000000;
	padding:28px 0 11px 0;
}
.am_c_vip{
	font-size:14px;
	color:#666;
	margin-bottom:25px;
}
.am_jf_radio,.am_jf_cont,.am_price,.am_jj{
	float:left;
	
}
.am_jj{
	width:780px;	
}
.am_jf_radio{
	margin-top:25px;
}
.am_jf_cont{
	width:860px;
	overflow:hidden;
	margin-left:20px;
	border:solid 1px #dbdbdd;
	position:relative;
	margin-bottom:30px;
	padding:20px;
	background:#fbfbfb;
}
.am_tj{
	position:absolute;
	right:0;
	top:0;
	z-index:5;
	background:url(//img.caos-china.org/annual_meeting/tuijie_biao.png) no-repeat;
	width:42px;
	height:44px;
}
.am_price{
	font-size:16px;
	padding:0 15px 0 0;
	color:#fc733c;
}
.am_hf{
	color:#333333;
	font-size:14px;
	margin:0 0 0 0;
}
.am_yh{
	font-size:12px;
	color:#808080;
	margin-top:10px;
}
.am_jf_hover{
	border:solid 1px #94cecc !important;
}
.next_but{
	text-align:center;
}
.next{
	cursor:pointer;	
}
.am_ws_line{
	background:url(//img.caos-china.org/annual_meeting/line_n.png) repeat-x center;
	width:610px;
	float:left;
	height:20px;
}
.am_ws_text{
	float:left;
	font-size:14px;
	float:left;
	color:#218d89;
	margin-right:10px;
}
.xinxi_cont{
	margin-left:190px;
	margin-bottom:10px;
}
.am_ws{
	margin:25px 0 15px 0;
}
.xx_left{
	float:left;
	width:85px;
	text-align:right;
	line-height:40px;
	margin-right:15px;
	font-size:14px;
	color:#333;
}
.xx_right{
	float:left;
	height:40px;
	line-height:40px;
}
.xx_right div {
	float: left;
	margin-right: 15px;
}
.xx_radio input {
	height: 13px;
	vertical-align: text-top;
	margin-top: 0;
	margin-right: 5px;
}
.xx_input{
	position:relative;	
}
.xx_input input{
	border:solid 1px #cccccc;
	width:248px;
	height:38px;
	line-height:38px;
	border-radius: 3px;
	font-size:12px;
	color:#333333;
	padding-left:10px;
}

.xx_input_s input{
	border:solid 1px #cccccc;
	width:113px;
	height:38px;
	line-height:38px;
	border-radius: 3px;
	float:left;
	margin-right:-5px !important;
	padding-left:10px;
	font-size:12px;
	color:#333333;
}
.xx_error{
	width:auto;
	height:23px;
	border:solid 1px #ffb786;
	background:#fffbd9 url(//img.caos-china.org/annual_meeting/jg_biao.png) no-repeat 10px center;
	float:left;
	margin-top:8px;
	font-size:12px;
	color:#333;
	padding:0 30px;
	line-height:23px;
	display:none;
}
.xx_input_error input{
	border:solid 1px #e64638;
}
.xx_margin{
	margin-bottom:20px;
	height: 13px;
	vertical-align: text-top;
	margin-top: 0;
	margin-right: 5px;
}
.weixin_bz{
	color:#c5c5c5;
	font-size:12px;
	line-height:38px;
	margin-left:15px;
}
.qr_next_but div{
	float:left;
}
.qr_next_but{
	margin-left:270px;
	margin-top:20px;
}
.qr_next_but a{
	color:#0278cf;
	text-decoration:none;
	margin-left:10px;
	line-height:45px;
}
.provinces select{
	width:103px;
	margin-right:10px;
	border: solid 1px #cccccc;
	height: 40px;
	line-height: 38px;
	border-radius: 3px;
	font-size: 12px;
	color: #333333;
	float:left;	
}
.go_to_order{
	float:right;
	margin-right:5px;
}	




























/*尾部*/
.meeting_us{
	float: left;
	width: 290px;
	margin-right:57px;
}

/* .title {
	background: url(//img.caos-china.org/footer/line.jpg) repeat-x left bottom;
	height: 28px;
	font-size: 18px;
	color: #fff;
	margin-bottom: 12px;
} */
.meeting_us li {
	line-height: 26px;
	color: #fff;
	letter-spacing: 0.3px;
}

















/*年会注册*/
.meeting_reg{
	width:998px;
	height:auto;
	border:solid 1px #dbdbdd;
	background:#fff;
}
.padding_top{
	padding-top:20px;
}
.reg_meeting_img{
	margin:0 10px 25px 10px;
}
.m_cont{
	margin-left:360PX;
}
.m_reg_user{
	font-size:14px;
	margin-bottom:6px;
	color:#333;
}
.m_reg_text{
	float:left;
	
}
.m_reg_input{
	margin-bottom:10px;
}
.m_reg_text input{
	border:solid 1px #cccccc;
	width:268px;
	padding-left:10px;
	height:38px;
	line-height:38px;
	border-radius: 3px;
}
.m_reg_error{
	font-size:12px;
	color:#969696;
	line-height:38px;
	float:left;
	margin-left:10px;
	display:none
}
.m_reg_error a,.go_reg a{
	color:#47b5b1;
	text-decoration:none;
}
.m_reg_password{
	margin-bottom:25px;
}
.m_jz_password,.m_wj_password{
	float:left;
	color:#666;
	font-size:12px;
}
.m_jz_password{
	margin-right:160px;
}
.m_jz_password input{
	height: 13px;
	vertical-align: text-top;
	margin-top: 0;
	margin-right: 5px;
}
.go_reg{
	color:#969696;
	font-size:12px;
	width:278px;
	text-align:center;
	margin:10px 0 30px 0;
}
.bh {
	padding: 20px 30px 20px 30px;
}
.bh_text {
	color: #bbb;
	margin-bottom: 5px;
}
.bh_num {
	font-size: 14px;
	float: left;
}
.qr_table{
	margin-bottom:30px;
}
.qr_table td {
	border: #dbdbdb solid 1px;
}
.qr_table table {
	border-collapse: collapse;
}

.tatle_title{
	font-size:16px;
	color:#000000;
	padding-left:30px;
}
.tatle_title a{
	font-size:12px;
	color:#0278cf;
	text-decoration:none;
	margin-left:15px;
}
.tatle_zhifu{
	color:#333333;
	font-size:14px;
	padding:20px 30px;
	height:22px;
	overflow:hidden;
}
.tatle_zhifu input{
	height: 23px;
	vertical-align: text-top;
	margin-top: 0;
	margin-right: 10px;
}
.qrdd_but{
	text-align:right;
}
.yf_num{
	font-size:14px;
	color:#666;
	text-align:right;
	margin-bottom:15px;
}
.yf_num span{
	color:#ff8d48;
	font-size:22px;
}
.meeting_reg_but{
	margin-bottom:15px;
}
.meeting_reg_but_caos{
	margin-bottom:40px;
	font-size: 12px;
	color: #969696;
	line-height: 38px;
}
.meeting_go_register{
	margin-bottom:40px;
	padding-left:84px;
	font-size: 12px;
	color: #969696;
	line-height: 38px;	
}
.meeting_go_register a{
	color: #47b5b1;
	text-decoration: none;	
}
.reg_meeting_img{
	font-size:16px;
	color:#333;
	text-align:center;
}
.zhifu_info{
	color: #333333;
	font-size: 14px;
	padding: 20px 30px;

}
.payMode{
	color:#333333;
	font-size:14px;
	padding:20px 30px;
	overflow:hidden;	
}

















/*确认信息*/
.select_box {
	float: left;
	color: #444;
	position: relative;
	cursor: pointer;
	width: 258px;
	height: 38px;
	font-size: 12px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.select_txt {
	display: inline-block;
	padding-left: 10px;
	line-height: 40px;
	cursor: text;
	overflow: hidden;
	border: none;
	width: 247px;
	height: 38px;
	background: none;
}
.tishi_r {
	width: auto;
	text-align: left;
	margin-left: 13px;
	font-size: 12px;
	color: #c5c5c5;
	display: none;
}
.error_warning {
	width: 180px;
	height: 26px;
	border: solid 1px #ffb786;
	background: #fffbd9;
	margin: 6px 0 0 10px;
	line-height: 26px;
	font-size: 12px;
	color: #333;
	display: none;
}
.warning {
	background: url(//img.caos-china.org/reg/warning.jpg) no-repeat 10px center;
	padding-left: 33px;
}
.selet_open {
	display: inline-block;
	position: absolute;
	right: 11px;
	top: 17px;
	width: 11px;
	height: 6px;
	background: url(//img.caos-china.org/reg/xiala.jpg) no-repeat;
}
.option {
	width: 258px;
	position: absolute;
	top: 37px;
	left: -1px;
	z-index: 2;
	overflow: hidden;
	display: none;
	background: #fff;
	border: solid 1px #cccccc;
}
.option a {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding: 0 10px;
	width: 100%;
	background: #fff;
	color: #666666;
	cursor:pointer;
}
.option a:hover {
	background:#f2f2f2;
}

















/*微信支付*/
.am_pay_order{
	background:url(//img.caos-china.org/annual_meeting/dui.jpg) no-repeat left center;
	height:25px;
	line-height:25px;
	padding-left:35px;
	font-size:16px;
	color:#000000;
}
.am_order_num{
	margin:10px 0 0 0;
}
.am_order_num span{
	font-size:14px;
	color:#ec8705;
}
.am_order_num a{
	color:#0278cf;
	text-decoration:none;
	font-size:12px;
}
.am_order_text{
	font-size:14px;
	color:#666666;
	margin:0 0 20px 0;
}
.am_wx_pay{
	font-size:16px;
	color:#218d89;
	margin-bottom:25px;
}
.am_wx_ewm{
	text-align:center;
	margin-bottom:25px;
}
.am_other_pay{
	font-size:12px;
	text-align:center;
}
.am_other_pay a{
	text-decoration:none;
	color:#0278cf;	
}
#select_other,.pay_style,#paySelect,.bank_pay,.ali_pay,#save_pay_mode{
	display:none;	
}




















/*线下付款*/
.sk_xinxi{
	width:879px;
	height:112px;
	border:solid 1px #dbdbdd;
	background:#f7f7f7;
	padding:30px;
}
.sk_xinxi_left,.sk_xinxi_right{
	float:left;
}
.sk_xinxi_left{
	width:270px;
	border-right:solid 1px #dbdbdd;
	height:auto;
}
.sk_xx_title{
	font-size:14px;
	color:#333;
}
.sk_xx_li{
	margin-top:5px;
}
.sk_xx_li li{
	line-height:24px;
	font-size:12px;
	color:#666666;
}
.bank_li{
	margin:-10px 0 20px 30px;
	display:none;
}
.bank_li li{
	line-height:24px;
	font-size:12px;
	color:#666666;
}
.sk_xinxi_right{
	margin-top:20px;
	margin-left:60px;
}
.wc_but div{
	float:left;
}
.wc_but{
	margin-top:30px;
}
.xs_pay{
	margin-left:10px;
	line-height:45px;
	
}
.xs_pay a{
	text-decoration:none;
	color:#0278cf;	
}
.pay_success_border{
	width:879px;
	height:auto;
	border:solid 1px #dbdbdd;
	background:#f7f7f7;
	padding:25px 20px;
	margin-bottom:30px;
}
.zfb_div div{
	float:left;
}
.zfb_div{
	float:left;
	margin-right:20px;
}
.radio_btn{
	margin:15px 10px 0 0;	
}
.alipayBtn{
	width: 150px;
	height: 45px;
	border: none;
	padding: 0;	
	cursor:pointer;
	background:url(//img.caos-china.org/annual_meeting/lj_fk.png) no-repeat;	
}
.gotoPlay{
	width: 70px;
	height: 28px;
	border: none;
	padding: 0;	
	cursor:pointer;
	background:url(//img.caos-china.org/annual_meeting/pay.png) no-repeat;	
}
.alipayNewBtn{
	width: 150px;
	height: 45px;
	border: none;
	padding: 0;	
	cursor:pointer;
	background:url(//img.caos-china.org/annual_meeting/cx_jf.jpg) no-repeat;	
}









/*支付失败*/
.pay_false{
	width:290px;
	margin:65px auto;
}
.cry_img{
	float:left;
	width:70px;
}
.false_text{
	float:left;
}
.false_submit{
	font-size:16px;
	color:#000000;
}
.jc_wl{
	color:#666666;
	font-size:14px;
	margin:7px 0 25px 0;
}
.pay_false02{
	width:390px;
	margin:65px auto;
}
.pay_false03{
	width:440px;
	margin:65px auto;
}
/*支付成功*/
.pay_success02{
	width:390px;
	margin:65px auto;
}
.success_text{
	float:left;
}
.success_submit{
	background:url(//img.caos-china.org/annual_meeting/dui.jpg) no-repeat left center;
	height:25px;
	line-height:25px;
	padding-left:35px;
	font-size:16px;
	color:#000000;
}


/*报名成功*/
.am_c_title div{
	float:left;
	line-height:28px;
	margin-bottom:10px;
	margin-right:20px;
}
.tatle_zhifu span{
	font-size:12px;
	color:#333333;
	margin-right:20px;
}
.bm_margin{
	padding:20px 0;
	
}
.bm_margin li{
	color:#333 !important;
}














/*年会注册*/
.am_content_reg{
	border: solid 1px #dbdbdd;
	width: 998px;
	height: auto;
	background: #fff;
}
.caos_reg_left,.caos_reg_right{
	float:left;
}
.caos_reg_left{
	width:860px;
	background:url(//img.caos-china.org/annual_meeting/d_kh.jpg) no-repeat right;
	height:134px;
}
.caos_reg_right{
	float:left;
	width:138px;
	text-align:center;
}
.caos_reg_text{
	padding:35px 0 0 25px;
	font-size:24px;
	color:#1f8480;
	margin-bottom:15px;
}
.white_xx{
	color:#969696;
	font-size:14px;
	padding-left:25px;
}
.y_reg{
	padding:35px 0 10px 0;
}
.am_mail_reg{
	border: solid 1px #dbdbdd;
	width: 948px;
	border-top:none;
	height: 69px;
	background: #ededef;
	border-bottom:none;
	background:url(//img.caos-china.org/annual_meeting/jt_nh.png) no-repeat bottom;
	line-height:69px;
	padding:0 25px;
}
.am_mail_reg_l{
	float:left;
	font-size:20px;
	color:#333333;
}
.am_mail_reg_r{
	float:right;
	font-size:16px;
	color:#0278cf;
	cursor:pointer;
}
.border_none{
	border-top:none !important;
}
.reg_btn_am{
	margin-left:150px;
}
.mail_login_reg{
	color:#c5c5c5;
	font-size:12px;
	margin-left:10px;
	float:left;
	display:none;
}
.mail_login_reg a{
	color:#0278cf;
	text-decoration:none;
}
.mail_login_reg img{
	margin-top:6px;
}












/*确认订单 编辑页面*/
.tatle_title span{
	display:inline-block;
	float:left;
}
.bh_num input{
	width:250px;
	line-height:23px;
	padding-left:10px;
	border:solid 1px #cccccc;
}

.bh_num select{
	width:250px;
	height:23px;
	line-height:23px;
	padding-left:10px;
	border:solid 1px #cccccc;
}
.company textarea{
	width:485px;
	height:auto;
	line-height:23px;
	padding:0 10px;
	border:solid 1px #cccccc;
}
/*.tatle_zhifu li{
	margin-left:22px;
}*/
.tatle_zhifu .sk_xx_li{
	margin-top:15px;
	margin-left:25px;
}
.invoiceInfo{
	padding-top:22px;
	padding-bottom:20px;
}
.tatle_zhifu .money,.tatle_zhifu .caos_money{
	color: #333333;
	font-size: 14px;
	margin:0;	
}
.mail_input_fp span{
	display:block;
	width:50px;
	text-align:right;
	float:left;
	line-height:28px;
	font-size:12px;
	margin-right:20px;
	color:#969696;
}
.mail_input_fp{
	
}
.mail_input_fp input{
	width:308px;
	float:left;
	height:28px;
	line-height:28px;
	padding-left:10px;
	margin-bottom:10px;
	border:solid 1px #dbdbdd;
}
.error input{
	border-color:#e64638;
}
.display_pf{
	background:#f7f7f7;
}
.mail_input_fp select{
	float:left;
	width:95px;
	margin-right:17px;
	line-height:23px;
	height:23px;
	margin-bottom:10px;
	color:#666666;
}
.address_fp,.fp_enter{
	margin-left:70px;
}
.fp_enter div{
	float:left;
	margin-right:15px;
	line-height:28px;
	color:#0278cf;
}
.tatle_zhifu a{
	color:#0278cf;
	text-decoration:none;
	font-size:12px;
}
.fptt{
	margin-left:20px;
	font-size:12px;
	color:#bbbbbb !important;
}
.xz_class{
	width:420px;
	margin:0 auto;
}
.xz_class .an_btn{
	text-align:left;
	margin:40px 0 15px 0;
}
.xz_class li{
	margin-bottom:15px;
	margin-right:25px;
	float:left;
	
}
.tatle_zhifu_xk input {
	height:14px;
	vertical-align: text-top;
	margin-top: 0;
	margin-right: 10px;
}
.tatle_zhifu_xk{
	font-size:14px;
	color:#333333;
}
.enter_qd_but{
	text-align:center;
	margin-top:45px;
}
.invCancel,#invSaveBtn01,#invCancel02,#invSaveBtn02,#makeSureOrder,#regSubmit,#send_validCode,#msPayType,#loginBtn{
	cursor:pointer;	
}
.invoiceshow,.caosMember,.checkedInv{
	display:none;	
}









/*预约提示*/
.yuyue_margin{
	margin:15px 0 20px 0;
}
.tatle_yuyue{
	font-size: 16px;
	color: #000000;
}
.tatle_yuyue02{
	font-size: 12px;
	color: #000000;
}
.yuyue_caozuo{
	color:#999;
	margin-left:20px;
}
.add_dl input{
	height: 13px;
	vertical-align: text-top;
	margin-top: 0;
	margin-right: 5px;
	margin-left:20px;
}
.tatle_yuyue03{
	font-size: 12px;
	color: #000000;
	margin-left:40px;
}
.caozuo_margin{
	margin-left:40px;
}
.enter_yy_but{
	text-align:center;
}































/*首页*/
.am_floor01{
	padding:35px 0 20px 0;
}
.am_floor01_left{
	float:left;
	width:675px;
	position:relative;
}
.am_floor01_right{
	float:left;
	margin-left:20px;
}
.am_banner{
	width:675px;
	height:300px;
	overflow:hidden;
	position:relative;	
}
.am_ul{
	width:2000px;
	position:absolute;
	left:0;
	top:0;	
}
.am_ul li{
	float:left;
	width:675px;
	height:300px;	
}
.tm_div{
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
	background:#000;
	width:675px;
	height:35px;
	line-height:35px;
	
	position:absolute;
	bottom:0;
	left:0;
	z-index:5;
}
.tm_div_text{
	font-size:14px;
	color:#fff;
	position:absolute;
	bottom:0;
	left:0;
	z-index:7;
	padding-left:20px;
	width:645px;
	height:35px;
	line-height:35px;
	padding-right:10px;
}
.tm_text{
	float:left;
}
.tm_pointer{
	float:right;
}
.tm_pointer li{
	float:left;
	margin-right:10px;
	margin-top:15px;
	width:8px;
	height:8px;
	background:url(//img.caos-china.org/annual_meeting/pointer_link.png)no-repeat;	
	cursor:pointer;
}
.tm_pointer .active{
	background:url(//img.caos-china.org/annual_meeting/pointer_hover.png)no-repeat;		
}

.important_day{
	width:303px;
	height:183px;
	border:#dfdede solid 1px;
	background:#fff;
}
.im_title{
	height:48px;
	line-height:48px;
	border-bottom:#dfdede solid 1px;
	background:url(//img.caos-china.org/annual_meeting/important_time.jpg) no-repeat 20px center;
	font-size:18px;
	color:#000;
	padding-left:55px;
}
.im_cont{
	padding-left:20px;
	font-size:13px;
	color:#47b5b1;
	line-height:28px;
	margin-top:12px;
}
.im_cont span{
	color:#666666;
	display: inline-block;
	width: 78px;
}
.ch_reg{
	margin:20px 0 0 0;
}
.am_floor02_left{
	float:left;
	width:673px;
	height:241px;
	border:#dfdede solid 1px;
	background:#fff;
}
.am_floor02_right{
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	width:303px;
	height:241px;
	border:#dfdede solid 1px;
	background:#fff;
}
.meeting_js_title{
	height:48px;
	line-height:48px;
	border-bottom:#dfdede solid 1px;
	background:url(//img.caos-china.org/annual_meeting/meeting_js.jpg) no-repeat 20px center;
	font-size:18px;
	color:#000;
	padding-left:55px;
}
.dh_js_title{
	float:left;
}
.dh_js_more{
	float:right;
	font-size:12px;
	color:#3f4550;
	background:url(//img.caos-china.org/annual_meeting/jt_bg.png) no-repeat 35px center;
	padding-right:45px;
}
.meeting_js_cont{
	font-size:12px;
	color:#666;
	margin-top:11px;
	padding: 0 20px;
	height: 150px;
	overflow: hidden;
}
.meeting_js_cont .p1{
	line-height:25px !important;
	margin-bottom:0 !important;
}
.meeting_js_cont li{
	line-height:28px;
	margin:0 20px;
	text-indent:24px;
	
}
.news_center{
	height:48px;
	line-height:48px;
	border-bottom:#dfdede solid 1px;
	background:url(//img.caos-china.org/annual_meeting/news_center.jpg) no-repeat 20px center;
	font-size:18px;
	color:#000;
	padding-left:55px;
}
.news_center_cont{
	margin-top:10px;
}
.news_content_text{
	float:left;
	width:207px;
	line-height:28px;
	background:url(//img.caos-china.org/annual_meeting/pointer_bg.png) no-repeat 20px center;
	padding:0 0 0 30px;
}
.news_content_text a{
	text-decoration:none;
	color:#666;	
}
.news_time{
	float:left;
	color:#999999;
	line-height:28px;
}
.am_floor03{
	width:998px;
	height:304px;
	border:#dfdede solid 1px;
	background:#fff;
}
.zj_jieshao{
	height:48px;
	line-height:48px;
	background:url(//img.caos-china.org/annual_meeting/zj_jieshao.jpg) no-repeat 20px center;
	font-size:18px;
	color:#000;
	padding-left:55px;
}
.d_content{
	position:relative;	
}
.d_left{
	position: absolute;
	left: -13px;
    top: 40px;
	z-index: 4;	
}
.d_right{
	position: absolute;
	right: -13px;
	top: 40px;
	z-index: 4;	
}
.d_ul{
	margin-left:24px;
	margin-top:10px;
	width:950px;
	height:229px;
	overflow:hidden;
	position: relative;
}
.zj_js_cont{
	position:absolute;
	left:0;
	top:0;	
}
.zj_js_cont li{
	width:190px;
	text-align:center;
	float:left;
}
.zj_img{
	width:190px;
	height:180px;	
}
.zj_img img{
	border:#dfdfdf solid 1px;
	padding:1px;
	width:176px;
	height:176px;
}
.zj_name{
	margin:7px 0 2px 0;
	font-size:12px;
	color:#000;
}
.am_floor04_title{
	font-size:18px;
	line-height:55px;
	color:#000;
}
.am_floor04 li{
	margin:0 8px 12px 0;
	height:52px;
	float:left;
}















/*会场介绍*/
.meeting_js{
	background: #ededef;
	padding-top: 30px;
}
.meeting_js_left{
	float:left;
	
	width:165px;
	height:244px;
	text-align:center;
	position:relative;
}
.meeting_js_left ul{
	position:absolute;
	left:0;
	top:0;
	background:url(//img.caos-china.org/annual_meeting/js_left_bg.png) no-repeat;	
}
.meeting_js_left li{
	height:60px;
	width:165px;
	line-height:60px;
	font-size:14px;
	color:#333333;
}
.meeting_js_left li a{
	color:#333333;
	text-decoration:none;
	display: inline-block;
    width: 100%;
    height: 100%;
}
.on_js{
	background:#47b5b1;
	margin:1px;
	width:163px !important; 
}
.meeting_js_left .on_js a{
	color:#fff !important;
	text-decoration:none;
}
.meeting_js_right{
	float:left;
	margin-left:8px;
	
}
.m_js_top{
	width:713px;
	padding:30px 56px 75px;
	
	border:#dbdbdd solid 1px;
	border-bottom:none;
	background:#fff;
}
.m_js_bottom{
	background:url(//img.caos-china.org/annual_meeting/js_right_bg.png) no-repeat bottom;
	width:827px;
	height:5px;
}
.m_js_title{
	font-size:22px;
	text-align:center;
	color:#1e150e;
	font-weight:bold;
	margin:30px 0;
}
.ty_zj_top{
	width:962px;
	border:#dbdbdd solid 1px;
	border-bottom:none;
	background:#fff;
	padding:0 18px;
}
.ty_zj_bottom{
	background:url(//img.caos-china.org/annual_meeting/zj_bg.png) no-repeat bottom;
	width:1000px;
	height:5px;
}
.ty_zj_title{
	background:url(//img.caos-china.org/annual_meeting/zj_jieshao.jpg) no-repeat left center;
	height:60px;
	line-height:60px;
	padding-left:40px;
	border-bottom:#dbdbdd solid 1px;
	font-size:22px;
	color:#333;
	margin-bottom:29px;
}
.ty_zj_cont li{
	width:164px;
	margin-right:35px;
	text-align:center;
	float:left;
	height:234px;
}
.ty_img{
	background:url(//img.caos-china.org/annual_meeting/zj_img_bg.png) no-repeat;
	width:164px;
	height:158px;
	padding-top:6px;
}
.ty_img img{
	width:150px;
	height:150px;	
}
.ty_name{
	font-size:12px;
	color:#333;
	margin:5px 0 2px 0; 
}
.ty_hospital{
	font-size:12px;
	color:#666;
}
.ty_zj{
	padding-bottom:26px;
}










/*日程*/
.m_content_v2 {
	width: 1004px;
	margin: 0 auto;
	position: relative;
}
.rc_left_v2 {
	width: 176px;
	padding-right: 29px;
	position: absolute;
	left: 0px;
	top: 0;
}
.rc_right_v2 {
	float: right;
	margin-bottom: 20px;
	width: 795px;
}
.rc_title_v2 {
	border-top: solid 1px #e1e1e1;
}
.rc_l_content_v2 {
	width: 174px;
	height: auto;
	border: solid 1px #e1e1e1;
	border-top: none;
}
.rc_l_content_v2 li {
	/*height: 50px;*/
	line-height: 50px;
	font-size: 14px;
	font-family: microsoft yahei;
	border-bottom: solid 1px #e1e1e1;
	background: #fff;
	padding-left: 8px;
}
.rc_l_content_v2 a {
	color: #333333;
	text-decoration: none;
}
.jc_bg a {
	color: #333;
	text-decoration: none;
	padding-left: 20px;
	background: url(//img00.allinmd.cn/conference/4/meeting_content/jt_link.jpg) no-repeat left center;
}
.rc_r_content_v2 {
	margin: 30px 0 0 0;
}
.rc_r_content_v2 table {
	border-collapse: collapse;
	font-size: 13px;
	color: #5f6060;
	font-family: "Microsoft Yahei";
}
.rc_r_content_v2 td {
	border: #e3e1e1 solid 1px;
	color: #555;
	line-height: 25px;
	text-align: center;
}
.rc_time {
	background: url(//img00.allinmd.cn/conference/time_bg_s.png) no-repeat left center;
	color: #555;
	font-size: 20px;
	font-family: microsoft yahei;
	float: left;
	width: 170px;
	margin-left: 180px;
	padding-left: 20px;
}
.rc_address {
	background: url(//img00.allinmd.cn/conference/address.png) no-repeat left center;
	color: #555;
	font-size: 20px;
	font-family: microsoft yahei;
	float: left;
	padding-left: 20px;
}



.rc_time_v2 {
    background: url(//img00.allinmd.cn/conference/time_bg_s.png) no-repeat left center;
    color: #555;
    font-size: 20px;
    width: 170px;
    padding-left: 20px;
    margin: 0 auto;
    float: none;
}
.rc_address_v2 {

    color: #555;
    font-size: 20px;
    padding-left: 20px;
    display: table;
    margin: 0 auto;
    float: none;
}
.rc_address_v2:before{
    content: '';
    background: url(//img00.allinmd.cn/conference/address.png) no-repeat;
    width: 12px;
    height: 18px;
    display: inline-block;
    vertical-align: inherit;
    padding-left: 10px;
}


.live a {
	/*background: url(//img00.allinmd.cn/conference/4/meeting_content/live_but.png) no-repeat right center;
	padding-right: 25px;
	color: #266ba2;
	font-weight: bold;*/
}
.rc_on{
	background:#47b5b1 !important;
	
}
.rc_on a{
	color: #fff;
	text-decoration:none;
	padding-left: 20px;
	background: url(//img.caos-china.org/annual_meeting/jt_rc.png) no-repeat left center;
}














/*新闻动态*/
.news_dt{
	padding:50px;
	width:898px;
}
.news_dt_left{
	width:574px;
	float:left;
}
.news_dt_right{
	float:right;
}
.news_dt_cont li{
	margin-bottom:13px;
}
.news_dt_text{
	float: left;
	width: 464px;
	line-height: 28px;
	background: url(//img.caos-china.org/annual_meeting/news_pointer.png) no-repeat 0 center;
	padding: 0 0 0 15px;
	color:#333333;
	font-size:14px;
}
.news_dt_time{
	font-size:14px;
	color:#666666;
}
.news_dt_text a{
	color:#333333;
	text-decoration:none;
}
.news_dt_title{
	font-size:16px;
	color:#333333;
}
.news_dt_ewm{
	margin:15px 0 0 10px;
}










/*总日程*/
.all_rc{
	width: 998px !important;
	height: auto;
	border: solid 1px #dbdbdd;
	border-bottom: none;
	background:#fff;
	position:relative;
}
.all_rc_title{
	font-size:22px;
	color:#333333;
	background:#fff url(//img.caos-china.org/annual_meeting/rc_bg.jpg) no-repeat left center;
	line-height:57px;
	padding-left:24px;
	margin:0 20px;
	border-bottom: solid 1px #dbdbdd;
	
}
.all_rc_cont{
	margin-top:26px;
	margin-left:8px;
	padding-bottom:16px;
}
.all_rc_cont li{
	margin:0 0 12px 9px;
	float:left;
	height:52px;
}
.all_rc_cont02{
	margin-top:26px;
	margin-left:8px;
	padding-bottom:16px;
}
.all_rc_cont02 li{

	margin:0 0 0 17px;
	float:left;
}









/*常见问题*/
.qustion_top{
	position: absolute;
	background:#FFF;
	width: 990px;
	margin:30px 0 35px 0;
	padding-left:8px;
	padding-bottom:18px;
	border-bottom:#dfdede solid 1px;
}
.anwser_text li{
	vertical-align: bottom;
}
.qustion_top li{
	width:184px;
	height:50px;
	display:inline-block;
	text-align:center;
	line-height:50px;
	border:#dfdede solid 1px;
	margin-left:6px;
	color:#7b909e;
	font-size:15px;
	margin-bottom:12px;
	cursor:pointer;
}
.qustion_top li a{
	color:#7b909e;
	text-decoration:none;
	width:100%;
	display:inline-block;
}
.question_on{
	background:#47b5b1;
	border:#2ea7a3 solid 1px;
	color:#fff !important;
}
.question_on a{
	color:#fff !important;
	text-decoration:none;
}
.question_text{
	font-size:18px;
	color:#333333;
	margin-left:20px;
	margin-bottom:10px;
}
.anwser_text{
	font-size:13px;
	color:#666;
	line-height:30px;
	padding:0 20px 35px 20px;
}












/*订单详情*/
.dd_xq{
	padding:10px 0;
	float:left;
}
.tatle_title{
	line-height:25px;
}
.dy_qrh{
	float:right;
	margin-right:10px;
	margin-top:22px;
}
.dy_qrh div{
	margin-right:20px;
	float:left;
}
.tatle_kc {
	font-size: 14px;
	color: #000000;
	padding-left: 30px;
}
.tatle_kc12{
	font-size: 12px;
	color: #000000;
	padding-left: 30px;
}
.wc_xx_li{
	padding:30px;
}
.wc_xx_li li {
	line-height: 24px;
	font-size: 12px;
	color: #333;
}
.dy_qrh{
	line-height:28px;
}
.dy_qrh a{
	color:#0178d4;
	text-decoration:none;
}








/*大会招商*/
.m_js_top_pmt {
	width: 785px;
	padding: 0 20px 30px  20px;
	border: #dbdbdd solid 1px;
	border-bottom: none;
	background: #fff;
}
.m_js_top_pmt .m_js_img{
	padding-bottom:29px;
}
.p1 {
	color: #666;
	font-size: 13px;
	text-indent: 26px;
	margin-bottom: 20px;
	line-height: 20px;
}
.p2 {
	font-size: 13px;
	color: #666;
	line-height: 25px;
}
.standard_title {
	color: #1e150e;
	font-size: 22px;
	text-align: center;
	margin-bottom:25px;
}







/*会议组织机构*/
.jg_name{
	font-size:0;
}
.jg_title{
	font-size:15px;
	color:#333;
	margin-top:25px;
	font-weight:bold;
}
.jg_name li{
	display:inline-block;
	color:#555;
	margin:13px 0 0 0;
	font-size:13px;
	
	width:95px;
}
.big_fenlei{
	font-size:20px;
	color:#1e150e;
	font-weight:bold;
	margin:30px 0 0px 0;
}





/*创建问题*/
.anwser_red{
	font-size:16px;
	color:#ff0000;
}
.anwser_text table {
	border-collapse: collapse;
	font-size: 16px;
	color: #333;
}
.anwser_text td {
	border: #e3e1e1 solid 1px;
}
.anwser_green{
	font-size:16px;
	color:#47b5b1;
	margin:8px 0 0 0;
}
.anwser_b_text{
	font-size:16px;
	color:#666666;
	margin-left:20px;
	line-height:33px;
}
.anwser_hotel {
	font-size: 13px;
	color: #666;
	line-height: 33px;
	padding: 0 20px 0 20px;
}










/*场地介绍*/
.m_js_top_cd{
	width: 785px;
	padding: 0px 20px 75px;
	border: #dbdbdd solid 1px;
	border-bottom: none;
	background: #fff;
}
.cd_js_title{
	font-size:18px;
	color:#333;
	margin-top:25px;
	
}
.cd_js_cont_left{
	float:left;
	width:290px;
}
.cd_js_cont_left01{
	float:left;
	width:370px;
}
.cd_js_cont_right{
	float:right;
	clear:right;
}
.cd_text01{
	font-size:13px;
	color:#666;
	line-height:24px;
	margin-top:10px;
}
.cd_jiudian_table table {
	border-collapse: collapse;
	font-size: 13px;
	color: #5f6060;
	font-family: "Microsoft Yahei";
}
.cd_jiudian_table td {
	border: #e3e1e1 solid 1px;
	color: #5f6060;
	font-family: "Microsoft Yahei";
}
.cd_text01 a{
	color:#3c85ff;
	text-decoration:none;
}
.cd_table_top{
	font-size:16px; font-family:microsoft yahei; color:#555; font-weight:bold;
}
.cd_table_td{
	font-size:13px; font-family:microsoft yahei; color:#555;
}
.cd_js_cont_right img{
	/*border:solid #dfdfdf 4px;*/
	margin-top:13px;
}
.cd_text02{
	font-size:16px;
	color:#47b5b1;
	margin-top:15px;
}
.cd_text_margin{
	font-size:13px;
	color:#666;
	line-height:24px;
}
.cd_text03{
	font-size:16px;
	color:#333333;
	margin-top:12px;
}
.cd_text04 {
	margin-top:5px;
}
.cd_text04 li{
	background:url(//img.caos-china.org/annual_meeting/cd_pointer.jpg) no-repeat left center;
	line-height:30px;
	font-size:13px;
	color:#666;
	padding-left:15px;
}





















/*支付成功-预约成功*/
.ps_class_left{
	float:left;
	width:90px;
	text-align:center;
	font-size:14px;
	color:#333333;
}
.ps_class_right{
	float:left;
	background:url(//img.caos-china.org/annual_meeting/time_z.jpg) repeat-y left center;
	width:780px;
	height:auto;
	position:relative;
	padding-left:60px;
	padding-bottom:70px;
}
.ps_class_pointer{
	background:url(//img.caos-china.org/annual_meeting/pointer.png) no-repeat;
	width:20px;
	height:25px;
	position:absolute;
	left:0;
	top:0;
	z-index:5;
}
.ps_class_name li{
	background:url(//img.caos-china.org/annual_meeting/class_bg.jpg) no-repeat;
	width:220px;
	height:62px;
	float:left;
	margin:0 30px 30px 0;
	
}
.ps_name_right,.ps_name_left{
	float:left;
}
.ps_name_left{
	width:90px;
	text-align:center;
	font-size:26px;
	color:#ffffff;
}
.ps_name_left div{
	margin-top:6px;
}
.ps_name_left span{
	font-size:12px;
	color:#fff;
}
.ps_name_right{
	width:130px;
	text-align:center;
	font-size:26px;
	line-height:62px;
	color:#41a6a2;
}
.ps_class_name .on{
	background:url(//img.caos-china.org/annual_meeting/dui_bg.png) no-repeat;
	width:220px;
	height:62px;
	line-height:62px;
	text-align:center;
	float:left;
	margin:0 30px 30px 0;
	font-size:26px;
	color:#ffffff;
}
.no_num_on{
	background:url(//img.caos-china.org/annual_meeting/time_bg_class.png) no-repeat !important;
	width:220px;
	height:62px;
	line-height:62px;
	text-align:center;
	float:left;
	margin:0 30px 30px 0;
	font-size:26px;
	color:#ffffff;
}
.ps_class_name .hover{
	background:url(//img.caos-china.org/annual_meeting/class_bg.jpg) no-repeat;
	width:220px;
	height:62px;
	float:left;
	margin:0 30px 30px 0;
	position:relative;
}
.ps_class_hover{
	position:absolute;
	left:0;
	top:0;
	z-index:5;
}
.no_num_hover{
	background:url(//img.caos-china.org/annual_meeting/class_bg.jpg) no-repeat;
	width:220px;
	height:62px;
	float:left;
	margin:0 30px 30px 0;
	position:relative;
}
.no_num_class_hover{
	position:absolute;
	left:0;
	top:0;
	z-index:5;
}
.yy_fc{
	/*position:fixed;
	bottom:0;
	left:0;
	z-index:10;
	width:100%;*/
}
.ps_class_bottom{
	width:100%;
	background:#000;
	filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
	-moz-opacity:0.7; /*Firefox私有，透明度50%*/
	opacity:0.7;/*其他，透明度50%*/
	height:80px;
	position:fixed;
	bottom:0;
	left:0;
	z-index:10;
	
}
.yy_content{
	width:1000px;
	margin:0 auto;
	height:80px;
	position:fixed;
	bottom:0;
	left:23%;
	z-index:10;
	

}
.ps_class_bottom_left,.ps_class_bottom_center{
	float:left;
}
.ps_class_bottom_right{
	float:right;
	margin-right:20px;
	margin-top:20px;
}
.ps_class_bottom_left{
	width:175px;
	line-height:80px;
	color:#ffffff;
	font-size:16px;
	margin-left:20px;
}
.one_line{
	line-height:80px;
	color:#ffffff;
	font-size:16px;
}
.one_line02 span{
	margin-right:15px;
}
.one_line02{
	font-size:14px;
	color:#fff;
	padding-top:15px;
	float:left;
	margin-right:55px;
}
.ps_class_bottom_center02{
	width:640px;
	height:80px;
	float:left;
	margin-left:10px;
}
















/*我的订单*/
.my_order_table{
	margin-top:15px;
	color:#bbbbbb;
}
.my_order_table_a{
	margin:10px 0 15px 0;
}
.my_order_table_a a{
	color:#0178d4;
	text-decoration:none;
}
.my_order_text{
	width:428px;
	height:26px;
	float:right;
	text-align:right;
	line-height:26px;
	border:solid 1px #dbdbdd;
	background:#fffbd9;
	font-size:12px;
	color:#666;
	border-top:none;
	margin-right:3px;
}






/*注册首页*/
.meeting_reg_index{
	padding:25px 0 30px;
}
.meeting_reg_t_l{
	float:left;
	width:665px;
	text-align:right;
	font-size:30px;
	color:#333333;
	line-height:30px;
	margin-left:50px
}
.meeting_reg_t_right{
	float:left;
	width:230px;
	text-align:right;
	margin-right:50px;
	display:none;
}
.meeting_reg_t_right div{
	float:right;
	margin-left:8px;
	font-size:14px;
	color:#3f4550;
}
/*#logout{
	color:#000;	
}*/
.meeting_reg_c{
	margin-left:2px;
}
.meeting_reg_c li{
	margin-left:73px;
	background:url(//img.caos-china.org/annual_meeting/index_sf.jpg) no-repeat;
	width:235px;
	height:299px;
	margin-top:32px;
	float:left;
	position:relative;
}
.tuijian{
	position:absolute;
	top:0;
	right:0;	
}
#ws_select{
	margin:0 auto;
	background:url(//img.caos-china.org/annual_meeting/index_sf.jpg) no-repeat;
	width:235px;
	height:299px;
	margin-top:32px;
}
#tu_select{
	margin:0 auto;
	background:url(//img.caos-china.org/annual_meeting/index_sf.jpg) no-repeat;
	width:235px;
	height:299px;
	margin-top:32px;
}
.tu_name{
	font-size:36px;
	color:#fff;
	line-height:36px;
	text-align:center;
	padding-top: 49px;
	padding-bottom: 96px;
}
#tu_select .tu_content{
	width:110px;
}
.m_r_cs{
	width:508px;
	margin:0 auto;
	margin-top:29px;
}

.m_r_cs .identity{
	float:left;
}
.ws_status,.tu_status{
	display:none;	
}
.meeting_reg_c_monkey{
	font-size:21.45px;
	color:#fff;
	line-height:28px;
	text-align:center;
	padding-top: 30px;
	padding-bottom: 96px;
}
.meeting_reg_c_monkey span{
	font-size:18.38px;
	color:#fff;
}
.meeting_reg_c_monkey_num{
	font-size:36.76px;
}
.meeting_r_sm{
	font-size:14px;
	line-height:20px;
	color:#666;
	margin-bottom:30px;
}
.meeting_r_sm div{
	width: 150px;
	height:40px;
	text-align: center;
	margin: 0 auto;	
}
.meeting_r_but{
	text-align:center;
}
.meeting_reg_b{
	margin:0 50px;
}
.meeting_reg_b01{
	font-size:18px;
	color:#333;
	margin-top:25px;
}
.meeting_reg_b02{
	font-size:16px;
	color:#666;
	line-height:24px;
	margin:15px 0 0 0;
}
.meeting_reg_b03{
	background:url(//img.caos-china.org/annual_meeting/more_reg_bg.jpg) no-repeat right center;
	height:20px;
	font-size:14px;
	padding-right:20px;
	color:#3c85ff;

}
.meeting_reg_b04{

	font-size:24px;
	color:#333;
	margin:30px 50px 0 50px;
}
.meeting_reg_b04 a{
	color:#bf0d50;
	text-decoration:none;
}
.meeting_reg_b04 span{
	font-size:16px;
}
.meeting_reg_b03 a,.meeting_reg_t_right a{
	color:#3c85ff;
	text-decoration:none;
}
.an_btn a{
	color:#1491ec;
	text-decoration:none;
}












/*参会邀请函*/
.meeting_yqh{
	text-align:center;
	margin:0 0 40px 0;
}
.yqh_marign{
	margin-left:20px;
}





/*注册须知*/
.reg_xz{
	padding-bottom:80px;
}
.reg_xz_text{
	margin:25px 0 10px 20px;
	font-size:16px;
	color:#47b5b1;
}
.reg_xz_cont{
	font-size: 13px;
	color: #666;
	line-height: 30px;
	padding: 0 20px 0px 20px;
}
.reg_xz_cont table {
	border-collapse: collapse;
	font-size:13px;
	color: #666;
}
.reg_xz_cont td {
	border: #e3e1e1 solid 1px;
}
.reg_table{
	font-size:16px;
	color:#333;
}
.reg_xz_cont span{
	color:#ff0000;
}
.meeting_js_xz{
	background: #ededef;
}





















/*大会招商*/
.standard {
	background: #ededef;
	width: 100%;
	height: auto;
	padding: 1px 0 58px 0;
}
.standard_content {
	width: 898px;
	margin: 0 auto;
	height: auto;
	border: solid 1px #dbdbdd;
	border-bottom: none;
	background: #fff url(//img.caos-china.org/family/bg_b.jpg) repeat-x bottom;
	padding: 30px 50px 45px 50px;
}
.standard_title {
	color: #1e150e;
	font-size: 22px;
	text-align: center;
	margin-bottom: 25px;
}
.down_zl {
	margin-top:10px;
	color: #666;
	text-decoration: none;
	font-size: 14px;
}
.down_zl a {
	color: #0278cf;
	text-decoration: none;
	font-size: 14px;
}
.dh_js_more a{
	color:#3f4550;
	text-decoration:none;
}
.phone_img_yqh{
	color: #666;
	margin-top: 25px;
	font-size: 14px;
}
















/*厂商确认订单编辑*/
.bj_error{
	background: #fefad8 url(//img.caos-china.org/personal/warning.jpg) no-repeat 10px center;
	padding: 0 10px 0 30px;
	border: solid 1px #e64638;
	height: 23px;
	line-height: 23px;
	width: 220px;
	font-size: 12px;
	margin-top:10px;
}
.lx_address_page select{
	float:left;
	width:78px;
	width:78px;
	height:23px;
	line-height:23px;
	margin-right:9px;
}

.lx_address select{
	float:left;
	width:78px;
	height:23px;
	line-height:23px;
	margin-right:13px;
}
.lx_margin{
	margin:0 !important;
}
.lx_margin_top{
	margin-top:10px;
}
.lx_margin_left{
	margin-left:13px;
}



















/*修改课程*/
.am_order_text_xg{
	font-size:16px;
	color:#000;
	margin-bottom:20px;
}
.xiugai_line{
	border-bottom:solid 1px #e1e1e1;
	margin-bottom:15px;
}



.float_but{
	float:left;
	
}
.qx_order{
	margin-top:100px;
	margin-left:180px;
}
.margin_qx{
	margin-right:20px;
}



.lj_bm_text{
	font-size:18px;
	color:#000;
	text-align:center;
	margin-top:80px;
}
.lj_bm_but{
	text-align:center;
	margin:30px 0 100px 0;
}
/* .login_caos{
	margin-top: 20px;
	font-size: 24px;
	line-height:40px;
	text-align: left;
	font-weight: bold;
	display:none;
}
.login_caos a{
	 color:#3c85ff;
	 text-decoration: none;
 } */
.login_con{
/*	display:none;
	width:236px;
	height:50px;
	margin: 55px auto 45px;
	background:#47b5b1;
	border-radius: 4px;
	line-height:50px;
	font-size: 18px;
	text-align: center;
	*/

	margin-top: 20px;
	font-size: 24px;
	line-height:40px;
	text-align: left;
	font-weight: bold;
	display:none;

}
.login_con a{
	/*text-decoration: none;
	color:#fff;
	display:inline-block;
	width:100%;
	height: 100%;*/
	color:#3c85ff;
	text-decoration: none;
}
.cookis{
	position:relative;
}
.hasLogin{
	position:absolute;
	right:0;
	top:20px;
	display: none;
}
.hasLogin a{
	text-decoration: none;
	color:#0278cf
}
.hasLogin div{
	float:right;
}
#myOrderHref{
	color:#000;
}
