@charset "utf-8";
/* CSS Document */




.introduction{
	background:#ededef;
	width:100%;
	height:auto;
	padding:1px 0 58px 0;
}
.introduction_content{
	width:820px;
	margin:0 auto;
	height:auto;
}
.introduction_title{
	color:#1e150e;
	font-size:22px;
	text-align:center;
	margin-bottom:20px;
}
.introduction_text{
	line-height:20px;
	font-size:13px;
	color:#666;
	text-indent:26px;
	margin-bottom:20px;
}


.hz_img{
	float:left; margin:0px 30px 20px 0px;
	width:153px;
	height:194px;
	border:solid 1px #dfdfdf;
	padding:3px 0 0 3px;
}
.hz_img span{
	font-size:14px;
	color:#666;
	text-align:center;
	line-height:42px;
	display:block;
}
.p1{
	color:#333;
	font-size:13px;
	text-indent:26px;
	margin-bottom:20px;
	line-height:20px;
}
.p2{
	float:right;
	color:#666;
	font-size:14px !important;
	line-height:20px;
	clear:right;
}
