@charset "utf-8";
/* CSS Document */

.module-familar {
	padding-bottom: 18px;
}
.module-familar .p_cont_r_top {
	background: url(//modules.allinmd.cn/familiar/images/content_r_top.png) no-repeat;
	width: 267px;
	height: 2px;
}
.module-familar .p_cont_r_center {
	/* background: url(//modules.allinmd.cn/familiar/images/content_r_center.png) repeat-y;
	width: 267px;
	height: auto; */
}
.module-familar .p_cont_r_bottom {
	background: url(//modules.allinmd.cn/familiar/images/content_r_bottom.png) no-repeat;
	width: 267px;
	height: 5px;
}
.module-familar .p_c_title {
	border-bottom: solid 1px #e1e3e4;
	line-height: 55px;
	font-size: 18px;
	color: #333;
	padding-left: 20px;
}
.module-familar .other_personal li {
	padding:30px 20px 0 20px;
}
.module-familar .other_personal li:first-child{
	padding-top:20px;
}
.module-familar .other_personal li:last-child{
	padding-bottom:20px;
}
.module-familar .other_img img {
	width:50px;
	height:50px;
	border-radius:50%;
}
.module-familar .other_img {
	float:left;
}
.module-familar .other_jj {
	width:120px;
	float:left;
	margin:0 0 0 10px;
}
.module-familar .other_name {
	font-size: 15px;
	color: #333;
	line-height:15px;
}
.module-familar .other_name a{
	color: #333;
}
.module-familar .other_yy {
	color:#808080;
	width:100px;
    font-size: 13px;
	height: 35px;
	overflow: hidden;
	line-height: 18px;
	margin-top:6px;
	margin-bottom:-7px;
}
.module-familar .other_but {
	float:left;
	margin-top:15px;
}

.module-familar .p_c_title_l{
	float:left;
}
.module-familar .p_c_title_r{
	float:right;
	color:#969696;
	font-size:12px;
	font-family:"宋体";
	margin-right:20px;
	height:55px;
	padding-left:15px;
}
/* .module-familar .p_c_title_r a:link,.module-familar .p_c_title_r a:visited{
	color:#969696;
	text-decoration:none;
	background: url(//modules.allinmd.cn/familiar/images/shuxin.png) no-repeat left center;
	padding-left: 15px;
	display:block;
}
.module-familar .p_c_title_r a:hover,.module-familar .p_c_title_r a:active{
	color:#3d84c6;
	text-decoration:none;
	background: url(//modules.allinmd.cn/familiar/images/shuxin_hover.png) no-repeat left center;
	padding-left: 15px;
	display:block;
} */
.module-familar .p_c_title_r .rs_people_icon,.module-familar .p_c_title_r .rs_people_text{
	float:left;
}
.module-familar .p_c_title_r a:link .rs_people_icon ,.module-familar .p_c_title_r a:visited .rs_people_icon{
	background: url(//modules.allinmd.cn/familiar/images/shuxin.png) no-repeat left center;
	/* padding-left: 5px; */
	display:inline-block;
	height: 13px;
	width: 13px;
	margin-top: 20px;
	margin-right:3px;
	
}
.module-familar .p_c_title_r a:hover .rs_people_icon,.module-familar .p_c_title_r a:active .rs_people_icon{
	background: url(//modules.allinmd.cn/familiar/images/shuxin_hover.png) no-repeat left center;
	/* padding-left: 5px; */
	display:inline-block;
	height: 13px;
	width: 13px;
	margin-top: 20px;
	margin-right:3px;
}
.module-familar .p_c_title_r a:link .rs_people_text,.module-familar .p_c_title_r a:visited .rs_people_text{
	color:#969696;
	text-decoration:none;
}
.module-familar .p_c_title_r a:hover .rs_people_text,.module-familar .p_c_title_r a:active .rs_people_text{
	color:#3d84c6;
	text-decoration:none;
}