@charset "UTF-8";
//公共方法模块调用
@import "../../modules/common-modules";
//公共变量引用
@import "../../variables/_allinmdV3-variables";
//公共组件引用
@import "../../components/_iconsModule"; //小图标
@import "../../components/_buttonModule"; //按钮组件
@import "../../components/_message_rightSideBar";
@import "../../components/_shareBoxModule";
@import "../../components/_indexAdDelivery";
.al-mainIndex {
    width: 100%;
    //padding-bottom:180px;
}

.al-indexInner {
    width: 1000px;
    margin: 20px auto;
    //overflow: hidden;
}

.al-indexInner:after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
}

//轮播banner
.al-indexCarouselBanner {
    height:274px;
    width:708px;
    position: relative;
    border: 1px solid $outerBorderColor;
}

.al-indexMainContent {
    float: left;
    width: 710px;
    margin-right: 20px
}

.swiper-slide {
    img {
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
}

.al-pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.swiper-pagination-switch {
    //behavior: url("/js/third-party/pie/pie.htc");
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #fff;
    margin: 0 5px;
    opacity: 0.5;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
}

.swiper-active-switch {
    background: #fff;
    opacity:1;
}
.swiper-button-prev{
    background:url(//img10.allinmd.cn/v3/common/icon/left_banner.png) no-repeat;
    width:27px;
    height:46px;
    position:absolute;
    left:30px;
    top:115px;
    z-index:6;
    cursor:pointer;
    display:none;
}
.swiper-button-next{
    background:url(//img10.allinmd.cn/v3/common/icon/right_banner.png) no-repeat;
    width:27px;
    height:46px;
    position:absolute;
    right:30px;
    top:115px;
    z-index:6;
    cursor:pointer;
    display:none;
}

//个性推荐
.al-recommendLinks {
    border: 1px solid $outerBorderColor;
    margin: 20px 0;
    background-color: #fff;
    text-align: center;
    padding: 12px 0 18px 19px;
    @include clearfix();
    .al-recommendLinksWrap {
        /*display: inline-block;*/
        width: 24.5%;
        float: left;
        margin-bottom: 12px;
    }
    .al-recommendLinkItem {
        display: inline-block;
        //margin: 0 30px;
        width: 98px;
        height: 91px;
        margin: 0 auto;
        cursor: pointer;
        text-align: center;
        position: relative;
        &:hover{
            figcaption{
                color: #2899e6;
            }
        }
        img {
            width: 98px;
            height: 70px;
            vertical-align: top;
        }
        .al-newNumTips {
            right: 5px;
            top: 3px;
        }
    }

    figcaption {
        margin-top: 8px;
        color: #909090;
        font-size: 15px;

    }
}

@import "../../components/_contentModule"; //主内容区域
.al-indexSidebar {
    width: 270px;
    float: left;
}

.module-index-login-area {
    margin-bottom: 20px;
}

//全部动态
.al-allActive {
    //margin-top: 20px;
    background-color: #fff;
    overflow: hidden;
    width: 268px;
    border: 1px solid #e4e9ed;
    .al-allActiveTitle {
        font-size: 18px;
        color: #333333;
        padding: 15px 20px;
        border-bottom: 1px solid $innerBorderColor;
        //span {
        //    float: right;
        //    color: #a1a9ba;
        //    font-size: 14px;
        //    i {
        //        margin-right: 3px;
        //        width: 24px;
        //        height: 20px;
        //        display: inline-block;
        //        vertical-align: middle;
        //        background: transparent url('//img10.allinmd.cn/v3/common/icon/active_update.png') center center no-repeat;
        //    }
        //}
    }
    .al-checkFirendCircle{
        display:block;
        margin:20px auto;
        width:230px;
        height:40px;        
        //behavior:url('/js/third-party/pie/pie.htc');
        position: relative;
        border-radius:20px;
        background:#2899e6;
        text-align:center;
        line-height: 40px;
        font-size: 18px;
        color:#fff;
        display:none;
        &:hover{
            background:#52a9e4;
        }
        &:active{
            background:#0e81cf;
        }
    }
    .al-activeItem {
        padding: 0 20px;
        margin: 20px 0;
        p {
            color: #626f8c;
            font-size: 13px;
        }
        .al-activeItemAuthor {
            margin-right: 8px;
            color: #626f8c;
            font-family: '宋体';
            &:hover{
                color: #2899e6;
            }
        }
        .al-activeItemTime {
            float: right;
            font-family: '宋体';
            color:#909090;
        }
        .al-activeItemName {
            font-style: normal;
            color:#909090;
            font-family: '宋体';
        }
        .al-activeItemLink {
            color: #666666;
            margin: 10px 0;
            display: inline-block;
            line-height: 1.5;
            font-size: 15px;
            &:hover{
                color: #3598db;
            }
        }

    }
}
.userMsg{
    a{
        display: block;
    }
}

//登录——错误提示
.al-loginErrorPanel {
    //behavior: url("/js/third-party/pie/pie.htc");
    position: absolute;
    text-align: left;
    top: 0;
    left: -340px;
    color: #666;
    font-size: 12px;
    width: 305px;
    z-index: 70;
    border-radius: 3px;
    box-shadow: 0 1px 2px #444;
    background-color: #fff;
    padding: 0 35px;
    box-sizing: border-box;
    &:after {
        content: "";
        @include triangle(15px,
        #fff,
        right);
        position: absolute;
        top: 50%;
        right: -14px;
        margin-top: -7.5px;
    }
    .error-title {
        color: red;
        height: 40px;
        line-height: 40px;
        margin-left: 3px;
        background: #fff;
        border-bottom: 1px solid #e1e3e4;
    }
    li {
        margin: 10px 0;
    }
}

.al-inputError {
    .al-loginUser,
    .al-loginPwd {
        border: 1px solid #e24a4a;
        box-shadow: 0 0 6px #e24a4a;
        border-radius: 5px;
        position: relative;
    }
}

//不喜欢
.dislikeDialog{
    width:308px;
    height:50px;
    position:absolute;
    z-index:5;
    right:-45px;
    bottom:-64px;
    text-align: center;
    background:#fff;
    border-radius:3px;
    box-shadow:0 0 4px #ccc;
    ////behavior:url("/js/third-party/pie/pie.htc");

    img{
        width:18px;
        height:9px;
        display:block;
        position:absolute;
        top:-9px;
        right:48px;
    }
    span.des{
        width:250px;
        height:50px;
        line-height:50px;
        font-size: 17px;
        color:#808080;
        display:inline-block;
        text-align:center;
        margin:0;
        font-family: "microsoft yahei";
    }
    span.dislikeBtn{
        width:52px;
        height:30px;
        line-height:30px;
        margin:0;
        display:inline-block;
        background:#3598db;
        font-size:15px;
        color:#fff;
        position:relative;
        right:5px;
        top:-2px;
        cursor: pointer;
        border-radius:20px;
        //behavior:url(/js/third-party/pie/pie.htc);
        font-family: "微软雅黑";
    }
}
