.cont_purpose, .cont_qualif, .cont_judges, .cont_desandcopy, .cont_examples, .cont_require, .cont_ranges, .cont_criterion {
    padding-bottom: 0.2rem;
}

.cont_intro_center, .cont_age_center, .cont_awa_center, .foot_center, .cont_purpose_center, .cont_qualif_center, .cont_rules_center, .cont_judges_center, .cont_desandcopy_center, .cont_examples_center, .cont_require_center, .cont_ranges_center, .cont_criterion_center {
    margin: 0 0.1rem;
    overflow: hidden
}

.cont_intro_center img, .title_agenda, .title_awa, .title_purpose, .title_qualif, .title_rules, .title_judges, .title_examples, .title_criterion {
    display: block;
    width: 0.65rem;
    height: 0.37rem;
    margin: 0.25rem auto 0;
}

.title_desandcopy {
    display: block;
    width: 1.45rem;
    height: 0.37rem;
    margin: 0.25rem auto 0;
}

.title_require {
    display: block;
    width: 0.97rem;
    height: 0.37rem;
    margin: 0.25rem auto 0;
}

.title_ranges {
    display: block;
    width: 0.82rem;
    height: 0.37rem;
    margin: 0.25rem auto 0;
}

.cont_intro_center p, .cont_purpose_center p, .cont_desandcopy_center p, .cont_require_center p, .cont_ranges_center p, .cont_criterion_center p {
    font-size: 0.14rem;
    line-height: 0.25rem;
    padding-top: 0.2rem;
    word-break: break-all;
}

.cont_purpose_center p, .cont_desandcopy_center p, .cont_criterion_center p {
    text-indent: 0.28rem;
}

.cont_intro_center a {
    display: block;
    width: 1.1rem;
    height: 0.33rem;
    line-height: 0.33rem;
    text-align: center;
    color: #fff;
    font-size: 0.13rem;
    margin: 0.225rem auto;
    background: #4e5f85;
    border-radius: 30px;
}

.cont_age {
    background: #fff;
}

.process {
    display: block;
    width: 3rem;
    height: 0.88rem;
    margin: 0.2rem auto 0.49rem;
}

.bonus {
    padding: 0.2rem 0 0;
    overflow: hidden
}

.bonus_left {
    display: block;
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.1rem;
}

.bonus_right {
    overflow: hidden;
}

.bonus_right h2, .cont_rules_center_lists h3 {
    font-size: 0.13rem;
    color: #333;
    line-height: 0.25rem;
}

.bonus_right p {
    font-size: 0.13rem;
    line-height: 0.25rem;
    overflow: hidden;
}

.bonus_right p span {
    display: block;
    float: left;
    word-break: break-all;
}

.bonus_right p span:nth-child(1) {
    width: 7%;
}

.bonus_right p span:nth-child(2) {
    width: 93%;
}

.sp_version {
    padding: 0.2rem 0.1rem;
    color: #c17567;
    border-top: 1px dashed #a8b0bc;
    font-size: 0.12rem;
    line-height: 0.2rem;
    overflow: hidden;
}

.sp_version span {
    display: block;
    float: left;
    word-break: break-all;
}

.sp_version span:nth-child(1) {
    width: 20%;
}

.sp_version span:nth-child(2) {
    width: 80%;
}

#foot {
    background: #fff;
    font-size: 0.15rem;
    color: #333;
    margin-bottom: 0.4rem;
}

.foot_center li {
    margin: 0.15rem 0;
}

.foot_center li img {
    width: 0.6rem;
    height: 0.36rem;
}

.foot_center a {
    color: #0b83e0;
}

/*----active_detail--------*/
.border_image {
    background: url(/images/img50/column/videoPK_v2/border_back.png);
    width: 100%;
    height: 4px;
}

.cont_qualif_center ul, .cont_desandcopy_center ul, .cont_require_center ul, .cont_criterion_center dl {
    font-size: 0.14rem;
    line-height: 0.25rem;
    padding-top: 0.2rem;
}

.cont_qualif_center ul li, .cont_desandcopy_center ul li, .cont_require_center ul li {
    overflow: hidden;
}

.cont_qualif_center ul li span, .cont_desandcopy_center ul li span, .cont_require_center ul li span {
    display: block;
    float: left;
}

.cont_qualif_center ul li span:nth-child(1), .cont_desandcopy_center ul li span:nth-child(1), .cont_require_center ul li span:nth-child(1) {
    width: 7%;
}

.cont_qualif_center ul li span:nth-child(2), .cont_desandcopy_center ul li span:nth-child(2), .cont_require_center ul li span:nth-child(2) {
    width: 93%;
}

.cont_rules_center_lists h3 {
    padding-top: 0.2rem;
}

.cont_rules_center_lists p {
    font-size: 0.13rem;
    line-height: 0.25rem;
    overflow: hidden;
}

.cont_rules_center_lists p span {
    display: block;
    float: left;
}

.cont_rules_center_lists p span:nth-child(1) {
    width: 7%;
}

.cont_rules_center_lists p span:nth-child(2) {
    width: 93%;
}

.cont_criterion_center dl {
    font-size: 0.13rem;
}

.cont_criterion_center dl dt {
    font-weight: bold;
}

.expert_nav {
    background: #fff;
    padding: 0 0.2rem;
    margin: 0.2rem auto 0;
    overflow: hidden;
    height: 0.7rem;
    border-top: 1px solid #ccc;
}

.expert_nav li {
    width: 25%;
    float: left;
    line-height: 0.35rem;
    font-size: 0.13rem;
    color: #627288;
    text-align: center;
}

.expert_nav div.new {
    /*    background: #0b8ef3;*/
    color: #0b8ef3;
    /*    border-radius: 5px;*/
}

.expert_nav a.lj_n {
    padding: 0 1.25em;
}

.expert_list_cont {
    border-bottom: 1px solid #ccc;
}

.expert_list_cont .have {
    padding-left: 0.2rem;
    font-size: 0.11rem;
    line-height: 0.3rem;
}

ul.zj_list {
    overflow: hidden;
    height: auto;
    background: #fff;
    margin: 0 auto;
}

ul.zj_list li {
    overflow: hidden;
    width: 100%;
    padding: 0.06rem 0;
    line-height: 0.5rem;
}

ul.zj_list li a {
    display: block;
    color: #444;
}

ul.zj_list li h3 {
    width: 30%;
    font-size: 0.13rem;
    font-weight: normal;
    float: left;
    text-indent: 0.2rem;
}

ul.zj_list li div {
    width: 70%;
    float: left;
    line-height: 0.25rem;
    font-size: 0.13rem;
}

ul.zj_list li.new {
    background: #f5f5fa;
}

.expert_list_cont .more {
    background: #fff url(/images/img50/column/videoPK_v2/down.png) no-repeat right center;
    background-size: 16%;
    display: block;
    font-size: 0.15rem;
    width: 25%;
    color: #727272;
    margin: 0 auto;
}

.close_more {
    background: #fff url(/images/img50/column/videoPK_v2/up.png) no-repeat right center !important;
    background-size: 16% !important;
}

.expert_list_m {
    background: #fff;
    padding: 0.15rem 0;
    margin: 10px auto;
}

.content_main h2.copy {
    width: 42.9%;
}

/*----active_model--------*/
.cont_examples_center_video {
    padding-top: 0.2rem;
    overflow: hidden;
}

.cont_examples_center_video a {
    display: block;
}

.cont_examples_center_video_left {
    float: left;
    position: relative;
    margin-right: 0.13rem;
}

.cont_examples_center_video_left img {
    display: block;
    width: 1.05rem;
    line-height: 0.7rem;
    border: 1px solid #ccc;
}

.cont_examples_center_video_left .time {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0.35rem;
    line-height: 0.15rem;
    background: #776c5a;
    opacity: 0.5;
    color: #fff;
    font-size: 0.05rem;
    text-align: center;
}

.cont_examples_center_video_right {
    overflow: hidden
}

.cont_examples_center_video_right ul {
    overflow: hidden;
    margin-top: 0.15rem;
}

.cont_examples_center_video_right ul li {
    float: left;
    color: #969696;
    font-size: 0.11rem;
    text-indent: 0.15rem;
    margin-right: 0.25rem
}

.cont_examples_name {
    background: url(/images/img50/column/videoPK_v2/people.png) no-repeat center left;
    background-size: 0.1rem 0.1rem;
}

.cont_examples_number {
    background: url(/images/img50/column/videoPK_v2/play.png) no-repeat center left;
    background-size: 0.1rem 0.1rem;
}

.nameBox {
    font-size: 0.14rem;
    line-height: 0.2rem;
    color: #333;
}

.cont_ranges {
    height: 9.98rem;
    overflow: hidden;
    transition: height 1s;
}

.cont_ranges_center dl {
    padding-top: 0.2rem;
    font-size: 0.13rem;
    line-height: 0.25rem;
}

.cont_ranges_center dl dt {
    color: #0c8ef3;
}

.cont_ranges_center dl dd {
    overflow: hidden;
}

.cont_ranges_center dl dd span {
    display: block;
    float: left;
}

.cont_ranges_center dl dd span:nth-child(1) {
    width: 11%;
}

.cont_ranges_center dl dd span:nth-child(2) {
    width: 89%;
}

.showMore {
    width: 100%;
}

.showMore div {
    width: 0.6rem;
    font-size: 0.14rem;
    color: #0c8ef3;
    padding-right: 0.2rem;
    background: url(/images/img50/column/videoPK_v2/blueDown.png) no-repeat right center;
    background-size: 0.1rem 0.06rem;
    margin: 0 auto;
    height: 0.67rem;
    line-height: 0.67rem;
}

/*��ҳ-��ѡ���UI*/
.primaryResultWorkBox > li {
    border-bottom: 1px solid #E7ECF0;
    padding: 0.15rem;
}

.primaryResultWorkBox li:after {
    content: '';
    display: table;
    clear: both;
}

.primaryResultWorkContent {
    float: left;
    width: 65%;
    margin-right: 5%;
}

.primaryResultWorkContent a {
    display: block;
    word-break: break-all;
    font-size: 0.15rem;
    line-height: 0.2rem;
    color: #222;
}

.primaryResultWorkContent .workType {
    border: 1px solid #63B4EB;
    color: #63B4EB;
    border-radius: 0.03rem;
    font-size: 0.11rem;
    display: inline-block;
    width: 0.28rem;
    text-align: center;
    height: 0.15rem;
    line-height: 0.15rem;
    vertical-align: top;
    margin: 0.01rem 0.05rem 0 0;
}

.workAuthorInfo {
    margin: 0.09rem 0;
    font-size: 0.11rem;
    color: #909090;
}

.workAuthorInfo span:nth-child(1) {
    padding-right: 0.09rem;
    font-size: 0.12rem;
    color: #777;
}

.primaryResultWorkVideo {
    position: relative;
    float: right;
    width: 30%;
}

.primaryResultWorkVideo a {
    display: block;
    width: 0.9rem;
    height: 0.6rem;
    padding-top: 5px;
}

.primaryResultWorkVideo img {
    display: block;
    width: 100%;
    height: 100%;
}

.primaryResultWorkVideo span {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0.45rem;
    height: 0.13rem;
    background: url(/images/img50/column/videoPK_v2/works_time_opa.png);
    line-height: 0.15rem;
    text-align: center;
    font-size: 0.08rem;
    color: #fff;
}

.primaryResultWorkBox ul {
    margin-top: 0.12rem;
}

.primaryResult_score li {
    float: left;
    padding-left: 0.165rem;
    margin-right: 0.2rem;
    color: #969696;
    font-size: 0.11rem;
}

.primaryResult_score li:nth-child(1) {
    margin-top: -0.05rem;
    padding-left: 0;
}

.primaryResultWorkBox .totalScoreBox {
    font-size: 0.11rem;
    color: #909090;
}

.primaryResultWorkBox .totalScoreBox span {
    color: #FF9224;
    font-size: 0.17rem;
}
.primaryResultWorkBox .totalScoreBox i {
    color: #FF9224;
}

.casePK_play_i {
    background: url(/images/img50/pages/default/default_watch.png) no-repeat left center;
    background-size: 0.15rem 0.1rem;
}

.casePK_support_i {
    background: url(/images/img50/pages/index/icon_commentLikeNum.png) no-repeat left center;
    background-size: 0.11rem 0.11rem;
}