/*css reset*/
.pkResult{
    background: #fff;
}
.resultTag{
    overflow: hidden;
    margin:0.213rem 0 0.73rem 0.053rem;
    padding-top: 0.533rem;
}
.resultTag li{
    padding: 0 0.6rem;
    height: 0.73rem;
    line-height: 0.73rem;
    font-size: 0.37rem;
    color: #777;
    border: solid 1px #d5d9e2;
    border-radius:9999999px ;
    float: left;
    margin-left:0.32rem ;
}
.resultTag li.active{
    border: solid 1px #d5d9e2;
    background:#2899e6 ;
    color: #fff;
}
.resultType:before{
    content: '';
    background: url("/images/img50/column/videoPK_v2/leftBg.png") no-repeat;
    width: 0.213rem;
    height: 0.173rem;
    display: inline-block;
    background-size: contain;
    margin-right: 0.093rem;
}
.resultType:after{
    content: '';
    background: url("/images/img50/column/videoPK_v2/rightBg.png") no-repeat;
    width: 0.213rem;
    height: 0.173rem;
    display: inline-block;
    background-size: contain;
    margin-left: 0.093rem;
}
.resultType{
    font-size:0.4266rem;
    color:#515c74;
    text-align: center;
    margin-bottom: 0.53rem;
}
.resultFirstCont,.resultSecondCont,.resultThirdCont{
    position: relative;
}
.resultFirstCont ul,.resultSecondCont ul,.resultThirdCont ul{
    border-top:solid 1px #e4e9ed ;
    padding: 1rem 0.3333rem 0;
}
.resultFirstCont li,.resultSecondCont li,.resultThirdCont li{
    border-bottom:solid 1px #e4e9ed ;
    margin: 0.533rem 0 0 0;
    padding-bottom: 0.533rem;
}
.resultFirstCont li:first-child,.resultSecondCont li:first-child,.resultThirdCont li:first-child{
    margin-top: 0;
}
.resultFirstCont li:last-child,.resultSecondCont li:last-child,.resultThirdCont li:last-child{
    border: none;
    padding-bottom: 0;
}
.resultSecondCont,.resultThirdCont{
    margin-top: 0.8rem;
}
.resultThirdCont{
    padding-bottom: 0.533rem;
}
.resultFirst{
    position: absolute;
    left:0.386rem;
    top:-0.1333rem;
    z-index:2;
    width:2.066rem;
    height: 0.61rem;
}
.resultCont aside{
    display: inline-block;
    vertical-align: top;
}
.resultCont .text{
    width: 5.866rem;
}
.text p:first-child{
    font-size: 0.4533rem;
    color: #222;
    line-height: 0.64rem;
}
.resultCont .img{
    position: relative;
    width:2.8933rem ;
    height: 1.9333rem;
}
.resultCont .img img{
    width: 100%;
}
.resultCont .img i{
    display: inline-block;
    width: 0.76rem;
    height: 0.76rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.38rem;
    margin-top: -0.38rem;
    background: url("//img50.allinmd.cn/pages/index/videoPlay_btn.png") no-repeat;
    background-size: contain;
}
.resultCont .img span {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width:1.84rem;
    height: 0.4rem;
    background: url(/images/img50/column/videoPK_v2/works_time_opa.png) no-repeat;
    background-size: cover;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.24rem;
    color: #fff;
}
.resultCont .text p:nth-child(2){
    margin: 0.2666rem 0 0.2rem;
}
.resultCont .text p:nth-child(2) span:first-child{
    font-size: 0.29333rem;
    color:#909090;
    margin-right: 0.466rem;
    line-height:0.29333rem ;

}
.resultCont .text p:nth-child(2) span:first-child i{
    background: url("/images/img50/column/videoPK_v2/user.png") no-repeat;
    background-size: contain;
    width: 0.29333rem;
    height:0.29333rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.1066rem;
}
.resultCont .text p:nth-child(2) span:last-child{
    font-size: 0.29333rem;
    color:#909090;
    line-height:0.29333rem ;
}
.resultCont .text p:nth-child(2) span:last-child i{
    background: url("/images/img50/column/videoPK_v2/address.png") no-repeat;
    background-size: contain;
    width: 0.24rem;
    height:0.29333rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.1066rem;
}
.resultCont .text p:nth-child(3){
    font-size: 0.29333rem;
    color:#909090;
    line-height:0.29333rem ;
    margin-bottom: 0.2rem;
}
.resultCont .text p:nth-child(3) span{
    margin-left: 0.2rem;
}
.achievement p{
    font-size: 0.29333rem;
    color: #555;
    display: inline-block;
}
.achievement p:first-child span{
    font-size: 0.45333rem;
    color: #ff9224;
    margin-right: 0.4rem;
}
.achievement p:last-child span{
    font-size: 0.45333rem;
    color: #5c73ab;
}